<ya-instance-page>
  <ya-instance-toolbar>
    <ng-template ya-instance-toolbar-label>
      <ya-page-icon-button routerLink=".." [queryParams]="{ c: yamcs.context }" icon="arrow_back" />
      Update view
    </ng-template>
  </ya-instance-toolbar>

  <ya-form-content>
    <form [formGroup]="form" novalidate autocomplete="off">
      <ya-field label="Name" hint="(required)">
        <input type="text" formControlName="name" />
      </ya-field>

      <ya-field-divider />

      <h4>Bands</h4>
      <app-band-multi-select formControlName="bands" />
    </form>

    <p>&nbsp;</p>
    <ya-toolbar appearance="bottom">
      <ya-button routerLink=".." [queryParams]="{ c: yamcs.context }">Cancel</ya-button>
      <ya-button
        appearance="primary"
        (click)="onConfirm()"
        [disabled]="!(dirty$ | async) || !form.valid">
        SAVE CHANGES
      </ya-button>
    </ya-toolbar>
  </ya-form-content>
</ya-instance-page>
