<div class="panel-content">
  <p>&nbsp;</p>
  <table style="padding-left: 60px; margin: 0 auto; padding-top: 100px">
    <tr>
      <td style="vertical-align: top">
        <h2>Server unavailable</h2>
        <p>Yamcs appears to be down.</p>
        <p>&nbsp;</p>
        <p>
          <ya-button appearance="primary" (click)="reload()">RELOAD</ya-button>
        </p>
      </td>
      <td style="padding-left: 15em; padding-right: 5em">
        <app-oops />
      </td>
    </tr>
  </table>
</div>
