@if (activity$ | async; as activity) {
  <div class="panel-content">
    <dl class="dl-horizontal no-lead">
      <dt>Activity ID</dt>
      <dd>{{ activity.id }}</dd>
      <dt>Status</dt>
      <dd>{{ activity.status }}</dd>
      <dt>Started</dt>
      <dd>{{ activity.start | datetime }}</dd>
      <dt>Finished</dt>
      <dd>
        {{ (activity.stop | datetime) ?? "-" }}
        @if (activity.stop) {
          ({{ activity.stop | deltaWith: activity.start }})
        }
      </dd>
      <dt>User</dt>
      <dd>{{ activity.startedBy }}</dd>
    </dl>
    <div class="section-divider">
      <mat-divider />
    </div>
    <dl class="dl-horizontal">
      <dt>Activity type</dt>
      <dd>{{ activity.type }}</dd>
      <dt>Arguments</dt>
      <dd></dd>
      @for (kv of activity.args | keyvalue; track kv) {
        <dt>&nbsp;&nbsp;{{ kv.key }}</dt>
        <dd>{{ kv.value }}</dd>
      }
    </dl>
  </div>
}
