a.subitem {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

a.subitem.mat-mdc-list-item {
  height: 32px;
}

:host:focus {
  outline: none;
}

::ng-deep .item-icon {
  padding-right: 16px;
}

::ng-deep .item-icon.material-icons {
  font-size: 18px !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px;
  text-align: center;
}

::ng-deep .mat-mdc-nav-list {
  padding: 4px 0;
}

.mat-mdc-list-item:hover, .mat-mdc-list-item:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.mat-mdc-list-item.link-active,
.mat-mdc-list-item.link-active:hover,
.mat-mdc-list-item.link-active:focus {
  background-color: #009e87 !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  flex-direction: row;
}

::ng-deep .mdc-list-item.mdc-list-item--with-one-line {
  height: 40px;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
  color: #fff !important;
  font-size: 12px;
}
