.nav-item-group {
  color: rgba(0, 0, 0, .654);
  position: relative;
}

.nav-item-group.active {
  background-color: rgba(0, 0, 0, .04);
}

.arrow {
  position: absolute;
  top: 12px;
  left: 0;
}

.item-icon {
  padding-right: 16px;
}

.item-icon.svg-icon {
  height: 18px;
  width: 18px;
  padding-left: 3px;
}

.item-icon.material-icons {
  font-size: 18px !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px;
  text-align: center;
}

.nav-item-group-items {
  margin-right: 20px;
  border-radius: 4px;
  /* Prevent glitch during animation */
  overflow: hidden;
}
