<span #top></span>
@if (breadcrumb$ | async; as breadcrumb) {
  @if (breadcrumb.length) {
    <div class="filter-bar">
      <ya-breadcrumb-trail>
        <ya-breadcrumb icon="account_tree" [action]="true" (click)="changeSystem('')" />
        @for (item of breadcrumb; track item) {
          <ya-breadcrumb [action]="true" (click)="changeSystem(item.system)" [label]="item.name" />
        }
      </ya-breadcrumb-trail>
    </div>
  }
}
<div class="filter-bar">
  <ya-search-filter
    #searchFilter
    [formControl]="filterControl"
    placeholder="Search by name"
    icon="search"
    (onArrowDown)="selectNext()"
    (onArrowUp)="selectPrevious()"
    (onEnter)="applySelection()" />
  <ya-column-chooser #columnChooser [columns]="columns" preferenceKey="sendCommand" />
</div>
@if (dataSource) {
  <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell *cdkCellDef="let item" class="primary-td">
        @if (item.system) {
          <mat-icon class="icon12" style="vertical-align: middle">folder</mat-icon>
          <a href="" (click)="selectRow(item)">{{ item.name | filename }}/</a>
        }
        @if (item.command) {
          <mat-icon class="icon12" style="vertical-align: middle">rss_feed</mat-icon>
          <a href="" (click)="selectRow(item)">
            @if (!system) {
              <ya-highlight [text]="item.command.qualifiedName" [term]="filterControl.value" />
            }
            @if (system) {
              <ya-highlight
                [text]="item.command.qualifiedName | slice: system!.length + 1"
                [term]="filterControl.value" />
            }
          </a>
        }
      </td>
    </ng-container>
    <ng-container cdkColumnDef="shortDescription">
      <th mat-header-cell *cdkHeaderCellDef>Description</th>
      <td mat-cell *cdkCellDef="let item" class="wrap200">
        @if (item.system) {
          {{ item.system.shortDescription || "-" }}
        }
        @if (item.command) {
          @if (item.command.shortDescription; as desc) {
            <ya-highlight [text]="desc" [term]="filterControl.value" />
          } @else {
            -
          }
        }
      </td>
    </ng-container>
    <ng-container cdkColumnDef="significance">
      <th mat-header-cell *cdkHeaderCellDef>Significance</th>
      <td mat-cell *cdkCellDef="let item">
        @if (item.command?.effectiveSignificance; as significance) {
          <app-significance-level [level]="significance.consequenceLevel" />
        } @else {
          -
        }
      </td>
    </ng-container>
    @for (aliasColumn of aliasColumns$ | async; track aliasColumn) {
      <ng-container [matColumnDef]="aliasColumn.id">
        <th mat-header-cell *matHeaderCellDef>
          {{ aliasColumn.label }}
        </th>
        <td mat-cell *matCellDef="let item">
          @if (item.command | alias: aliasColumn.id; as name) {
            <ya-highlight [text]="name" [term]="filterControl.value" />
          } @else {
            -
          }
        </td>
      </ng-container>
    }
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="expand"></th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnChooser.displayedColumns$ | async"
      [class.selected]="selection.isSelected(row)"></tr>
  </table>
}

<mat-paginator
  [pageSize]="pageSize"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
  [length]="dataSource.totalSize$ | async" />
