.ya-data-table:not(.no-frame),
.ya-data-table.mat-mdc-table:not(.no-frame) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ya-data-table tr.mat-mdc-header-row,
.ya-data-table tr.mat-mdc-footer-row {
  height: auto;
}

.ya-data-table tr.mat-mdc-row {
  height: auto;
  background: #fff;
}

.ya-data-table:not(.nohover) tr.mat-mdc-row:hover td {
  background: #fafafa;
}

.ya-data-table td.mat-mdc-cell,
.ya-data-table th.mat-mdc-header-cell {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, .654);
  padding: 4px 8px 4px 0;
}

.ya-data-table td.mat-mdc-footer-cell {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, .654);
  padding: 10px 10px 8px 0;
}

.ya-data-table td.vdiv,
.ya-data-table th.vdiv {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ya-data-table td.mono,
.ya-data-table th.mono,
.mono {
  font-family: 'Roboto Mono', monospace;
}

.ya-data-table th.mat-mdc-header-cell,
.ya-data-table td.mat-mdc-footer-cell {
  padding-right: 8px;
  white-space: nowrap;
}

.ya-data-table th.mat-mdc-header-cell {
  background-color: var(--y-background-color);
  color: #707070;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ya-data-table td.mat-mdc-footer-cell {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ya-data-table td.mat-mdc-cell {
  min-width: 0;
  max-width: none;
  white-space: nowrap;
  -webkit-font-smoothing: auto;
}

.ya-data-table.expand,
.ya-data-table .expand {
  width: 100%;
}

.ya-data-table td.mat-mdc-cell.wrap {
  white-space: normal;
  word-break: break-word;
}

.ya-data-table td.mat-mdc-cell.wrap200 {
  min-width: 200px;
  white-space: normal;
  word-break: break-word;
}

.ya-data-table td.mat-mdc-cell.wrap400 {
  min-width: 400px;
  white-space: normal;
  word-break: break-word;
}

.ya-data-table mat-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.ya-data-table .selected td {
  background-color: rgba(0, 158, 135, 0.15) !important;
}

.ya-data-table .mat-mdc-button {
  line-height: 16px;
  min-width: 0;
}

.ya-data-table .mat-mdc-button.icon {
  padding: 0;
  width: 30px;
}

.ya-data-table a,
.ya-link a,
a.ya-link {
  color: #009e87;
  text-decoration: underline;
  display: inline-block;
}

.ya-data-table .mat-mdc-row:hover a:not(.secundary) {
  text-decoration: underline;
}

.ya-data-table a:hover,
.ya-link a:hover,
a.ya-link:hover {
  text-decoration: underline;
}

.ya-data-table td.checkbox,
.ya-data-table th.checkbox {
  width: 1px;
  text-align: left;
}

.ya-data-table td.status,
.ya-data-table th.status,
.ya-data-table td.iconcol,
.ya-data-table th.iconcol {
  width: 1px;
  text-align: left;
}

.ya-data-table td.status .material-icons,
.ya-data-table th.status .material-icons {
  vertical-align: middle;
}

.ya-data-table td:first-child,
.ya-data-table th:first-child {
  padding-left: 8px !important;
}

.ya-data-table td:last-child,
.ya-data-table th:last-child {
  padding-right: 8px !important;
}

.ya-data-table td.checkbox+td,
.ya-data-table th.checkbox+th,
.ya-data-table td.status+td,
.ya-data-table th.status+th {
  padding-left: 4px;
}

.ya-data-table td:not(:first-child),
.ya-data-table th:not(:first-child) {
  padding-left: 24px;
}

.ya-data-table.no-frame th.mat-mdc-header-cell {
  border-top: none;
}

.table-status {
  font-family: Roboto, sans-serif;
}

.table-actions {
  font-family: Roboto, sans-serif;
  display: flex;
}

.table-actions ya-button {
  margin-left: 7px;
}

@media print {
  .ya-data-table {
    width: auto !important;
  }

  .ya-data-table td.mat-mdc-cell,
  .ya-data-table th.mat-mdc-header-cell,
  .ya-data-table td.mat-mdc-footer-cell {
    padding: 0 7px 0 0;
    width: auto !important;
  }
}
