@use '@angular/material' as mat;

@include mat.core();

$ya-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($ya-theme);

  --mat-app-background-color: #ffffff;
  --mat-sidenav-container-shape: 0;
  --mat-list-active-indicator-shape: 0;
  --mat-table-row-item-outline-color: rgba(0, 0, 0, 0.12);
  --mat-divider-color: rgba(0, 0, 0, 0.12);

  --mat-text-button-state-layer-color: #009e87;
  --mdc-text-button-label-text-color: #009e87;
  --mdc-icon-button-icon-color: #009e87;
  --mdc-outlined-button-label-text-color: #009e87;
  --mdc-outlined-button-label-text-color: #009e87;

  --mat-menu-container-color: #fff;
  --mat-menu-divider-top-spacing: 0px;
  --mat-menu-divider-bottom-spacing: 0px;
  --mat-menu-item-label-text-weight: 400;

  --mdc-tab-indicator-active-indicator-color: #009e87;
  --mat-tab-header-active-focus-indicator-color: #009e87;
  --mat-tab-header-active-focus-label-text-color: #009e87;
  --mat-tab-header-active-hover-indicator-color: #009e87;
  --mat-tab-header-active-hover-label-text-color: #009e87;
  --mat-tab-header-active-ripple-color: #009e87;
  --mat-tab-header-active-label-text-color: #009e87;
  --mat-tab-header-divider-color: rgba(0, 0, 0, 0.12);
  --mat-tab-header-inactive-ripple-color: #009e87;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);

  --mdc-dialog-container-shape: 10px;
  --mat-dialog-container-elevation-shadow: 0px 11px 15px -7px rgba(0, 0, 0, .2), 0px 24px 38px 3px rgba(0, 0, 0, .14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
  --mat-dialog-actions-padding: 16px 24px;
  --mat-dialog-content-padding: 20px 24px;
  --mat-dialog-with-actions-content-padding: 20px 24px 0;
  --mat-dialog-headline-padding: 6px 24px 13px;
  --mdc-dialog-subhead-line-height: 1rem;
  --mdc-dialog-subhead-size: 1rem;
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ya-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
@include mat.color-variants-backwards-compatibility($ya-theme);
