@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(roboto/Roboto-Thin.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(roboto/Roboto-ThinItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(roboto/Roboto-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(roboto/Roboto-LightItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(roboto/Roboto-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(roboto/Roboto-RegularItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(roboto/Roboto-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(roboto/Roboto-MediumItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(roboto/Roboto-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(roboto/Roboto-BoldItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(roboto/Roboto-Black.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(roboto/Roboto-BlackItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(roboto/RobotoMono-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url(roboto/RobotoMono-Bold.woff2) format("woff2");
}
