html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  letter-spacing: .0178571429em;
}

/* Disable dashed border in menus etc. Only FF does this */
::-moz-focus-inner {
  border: 0;
}

body {
  background-color: var(--y-background-color);
  /* Without this FF font are too crispy */
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.icon12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
}

.material-icons.icon14 {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
}

.material-icons.icon16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.material-icons.icon18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.material-icons.icon24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.material-icons.icon32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}

.material-icons.icon36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}

.material-icons.icon48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.mat-mdc-slide-toggle {
  line-height: 24px !important;
}

.dialog-full-size {
  max-width: none !important;
}

.dialog-full-size .mat-mdc-dialog-surface {
  padding: 24px;
  border-radius: 0 !important;
}

.dialog-force-no-scrollbar .mat-mdc-tab-body-content {
  overflow-y: hidden !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  padding: 24px;
}

.form-content {
  padding: 24px;
  max-width: 600px;
}

.form-content mat-toolbar {
  background-color: var(--y-background-color);
  font-size: 12px;
  padding: 0;
}

dd,
dt,
.small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.654);
}

dt {
  font-weight: bold;
}

.ya-link a .material-icons,
a.ya-link .material-icons {
  text-decoration: none !important;
}

a.ya-link.ya-header-link {
  color: inherit;
}

.ya-menu .mat-mdc-menu-item {
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  padding: 0 8px;
  min-height: 24px;
}

.ya-menu .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text,
.ya-menu .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 12px;
}

.ya-menu .mat-mdc-menu-item .material-icons {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
  margin-right: 3px;
  font-weight: 600;
}

.ya-menu.mat-mdc-menu-panel {
  min-height: 24px;
}

.ng-invalid:not(.ng-pristine)>.date-time-input>input,
.ng-invalid:not(.ng-pristine)>.binary-input>input,
input.ng-invalid:not(.ng-pristine),
.ng-invalid:not(.ng-pristine)>.duration-input>input {
  border-color: crimson !important;
}

.ya-autocomplete .mat-mdc-option {
  height: auto;
  line-height: 16px;
  font-size: 12px;
  min-height: 24px;
}

.block-title {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 0;
  padding-top: 1em;
  margin: 0;
}

.block {
  font-weight: normal;
  font-size: 12px;
}

.down {
  color: lightgrey;
}

.success {
  color: #00c752;
}

.warning,
.WATCH td,
.WARNING td {
  color: orange !important;
}

.alert,
.ERROR td,
.DISTRESS td,
.CRITICAL td,
.SEVERE td {
  color: crimson !important;
}

.badge {
  position: relative;
  color: #ffffff;
  background-color: #ff4081;
  border-radius: 50%;
  padding: 4px 5px;
  font-family: "Roboto";
}

.hide,
.noDisplay {
  display: none;
}

.section-divider {
  padding-top: 12px;
  padding-bottom: 12px;
}

.section-divider.half-break {
  padding-top: 12px;
  padding-bottom: 6px;
}

.mat-toolbar.top {
  min-height: 48px;
}

.mat-toolbar.top .mat-toolbar-row {
  height: 48px;
  font-weight: 400;
}

.mat-toolbar.top .mat-mdc-button {
  text-transform: uppercase;
  padding: 0 16px;
}

.mat-toolbar.top .mat-mdc-button.icon {
  min-width: unset;
}

.mat-toolbar.top .mat-mdc-button.icon>mat-icon {
  margin-right: 0;
}

.mat-mdc-tab-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-mdc-tab-nav-bar.secondary .mat-mdc-tab-link,
.mat-mdc-tab-group.secondary .mat-mdc-tab {
  height: 36px;
  min-width: 0;
  font-size: 13px;
  text-transform: uppercase;
}

.filter-bar {
  height: 24px;
  margin-bottom: 12px;
  display: flex;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--y-accent);
}

.action-bar {
  padding-top: 16px;
}

.mat-mdc-dialog-content .hint {
  font-size: 12px;
}

.mat-mdc-tab-nav-bar.small-tabs .mat-mdc-tab-link,
.mat-mdc-tab-group.small-tabs .mat-mdc-tab {
  height: 28px;
  min-width: 0;
  font-size: 13px;
  font-weight: normal;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action {
  color: whitesmoke !important;
}

.action-bar ya-button,
.mat-mdc-dialog-actions ya-button:not(:last-child),
.filter-bar>.date-time-input,
.filter-bar>ya-button,
.filter-bar>ya-select,
.filter-bar>ya-multi-select,
.filter-bar .search-input {
  margin-right: 7px;
}

.filter-bar ya-button.no-margin {
  margin-right: 0;
}

.mat-mdc-paginator {
  background-color: inherit !important;
}

.mat-mdc-button-toggle-focus-overlay {
  display: none;
}

.blink {
  animation: yblink 1s linear infinite;
}

@keyframes yblink {
  50% {
    opacity: 0;
  }
}

.spin {
  animation: yspin 2s infinite linear;
}

hr.half-break {
  visibility: hidden;
  line-height: 0.5em;
}

h2 {
  font: 500 20px / 32px Roboto, sans-serif;
  letter-spacing: .0125em;
  margin: 0 0 16px;
}

h3 {
  font: 400 16px / 28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 16px;
}

h4 {
  font: 400 16px / 24px Roboto, sans-serif;
  letter-spacing: .03125em;
  margin: 0 0 16px;
}

p {
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: .0178571429em;
}

.elevation-z1 {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

/*
 * This style will be ignored in PrintZone.
 * (because it does not apply the general CSS)
 */
.print-only {
  display: none;
}

@keyframes yspin {
  0% {
    -webkit-transform: rotate(0deg) scaleX(-1);
    transform: rotate(0deg) scaleX(-1);
  }

  100% {
    -webkit-transform: rotate(359deg) scaleX(-1);
    transform: rotate(359deg) scaleX(-1);
  }
}

@media print {

  .mat-drawer,
  .mat-toolbar,
  .filter-bar {
    display: none !important;
  }

  .page-content,
  .mat-sidenav-container {
    position: static !important;
  }

  .mat-drawer-content {
    margin: 0 !important;
  }

  .panel-content {
    padding: 0;
  }

  * {
    overflow: visible !important;
  }
}
