a {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: #000;
}

a:hover {
  color: #1b61b9;
}

a:hover .link-content {
  text-decoration: underline;
}
