<app-message-bar #messageBar></app-message-bar>

<mat-sidenav-container class="mat-typography"
                       [class.message-bar-visible]="messageBar.show$ | async">
  <mat-sidenav mode="side" [opened]="sidebar$ | async" [disableClose]="true">
    <mat-toolbar class="top module-title" (click)="searchInput.focus()" style="cursor: text">
      <mat-toolbar-row style="cursor: text">
        <mat-icon style="cursor: text">search</mat-icon>
        <input #searchInput
               type="text"
               class="search-input"
               placeholder="Search parameter"
               autocomplete="off"
               spellcheck="false"
               [formControl]="searchControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto
                          class="ya-autocomplete"
                          panelWidth="400px"
                          (optionSelected)="onSearchSelect($event)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.qualifiedName">
            {{ option.qualifiedName }}
          </mat-option>
        </mat-autocomplete>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list dense>
      <app-sidebar-nav-item routerLink="/instance"
                            [queryParams]="{c: yamcs.context}">
        <mat-icon class="item-icon">home</mat-icon>
        Home
      </app-sidebar-nav-item>
      <app-sidebar-nav-item routerLink="/links"
                            [queryParams]="{c: yamcs.context}"
                            *ngIf="showLinksItem()">
        <mat-icon class="item-icon">swap_horiz</mat-icon>
        Links
      </app-sidebar-nav-item>
      <app-sidebar-nav-group *ngIf="telemetryItems"
                             label="Telemetry" icon="speed"
                             [active]="telemetryActive"
                             [expanded]="telemetryExpanded"
                             (toggle)="toggleTelemetryGroup()">
        <app-sidebar-nav-item *ngFor="let item of telemetryItems"
                              [routerLink]="'/telemetry/'+ item.path"
                              [queryParams]="{c: yamcs.context}"
                              [exact]="item.path === ''"
                              [subitem]="true">
          {{ item.label }}
        </app-sidebar-nav-item>
      </app-sidebar-nav-group>

      <app-sidebar-nav-item *ngIf="showEventsItem()"
                            routerLink="/events"
                            [queryParams]="{c: yamcs.context}">
        <mat-icon class="item-icon">event_note</mat-icon>
        Events
      </app-sidebar-nav-item>

      <app-sidebar-nav-item *ngIf="showAlarmsItem()"
                            routerLink="/alarms"
                            [queryParams]="{c: yamcs.context}">
        <mat-icon class="item-icon">notification_important</mat-icon>
        Alarms
      </app-sidebar-nav-item>

      <app-sidebar-nav-group *ngIf="commandingItems"
                             label="Commanding" icon="rss_feed"
                             [active]="commandingActive"
                             [expanded]="commandingExpanded"
                             (toggle)="toggleCommandingGroup()">
        <app-sidebar-nav-item *ngFor="let item of commandingItems"
                              [routerLink]="'/commanding/' + item.path"
                              [queryParams]="{c: yamcs.context}"
                              [exact]="item.path === ''"
                              [subitem]="true">
          {{ item.label }}
        </app-sidebar-nav-item>
      </app-sidebar-nav-group>

      <app-sidebar-nav-item *ngIf="config.features.cfdp"
                            routerLink="/cfdp"
                            [queryParams]="{c: yamcs.context}">
        <mat-icon class="item-icon">file_copy</mat-icon>
        CFDP File Transfer
      </app-sidebar-nav-item>

      <app-sidebar-nav-group *ngIf="mdbItems"
                             label="Mission Database" icon="style"
                             [active]="mdbActive"
                             [expanded]="mdbExpanded"
                             (toggle)="toggleMdbGroup()">
        <app-sidebar-nav-item *ngFor="let item of mdbItems"
                              [routerLink]="'/mdb/' + item.path"
                              [queryParams]="{c: yamcs.context}"
                              [exact]="item.path === ''"
                              [subitem]="true">
          {{ item.label }}
        </app-sidebar-nav-item>
      </app-sidebar-nav-group>

      <app-sidebar-nav-group *ngIf="archiveItems"
                             label="Archive" icon="storage"
                             [active]="archiveActive"
                             [expanded]="archiveExpanded"
                             (toggle)="toggleArchiveGroup()">
        <app-sidebar-nav-item *ngFor="let item of archiveItems"
                              [routerLink]="'/archive/' + item.path"
                              [queryParams]="{c: yamcs.context}"
                              [exact]="item.path === ''"
                              [subitem]="true">
          {{ item.label }}
        </app-sidebar-nav-item>
      </app-sidebar-nav-group>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
