mat-sidenav-container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}

mat-sidenav-container.message-bar-visible {
  top: 96px;
  /* 48 + 48 */
}

mat-sidenav {
  width: 250px;
  background-color: #181818;
}

mat-toolbar {
  background-color: #181818;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: content-box;
  color: #d3d3d3;
  font-weight: 300;
  font-size: 14px;
}

.mat-toolbar .mat-icon {
  padding-right: 16px;
}

.search-input {
  font: inherit;
  line-height: 18px;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}

.search-input:focus {
  color: #009e87;
}

.mat-divider.extra {
  border-top-color: rgba(255, 255, 255, 0.1);
  margin-top: 1em;
  margin-top: 2em;
}
