mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  box-sizing: content-box;
}

mat-toolbar-row {
  padding-left: 24px;
}

.drop-down {
  border-left: 1px solid #d3d3d3;
  min-width: 0;
  padding: 0 8px;
}

.hide {
  visibility: hidden;
}

.toolbar-text {
  font-size: 12px;
}
