<mat-toolbar class="top">
  <mat-toolbar-row>
    <ng-content></ng-content>

    <span style="flex: 1 1 auto"></span>

    <ng-container *ngIf="hasDetailPane">
      <button mat-button color="primary" *ngIf="!(showDetailPane$ | async)" (click)="showDetailPane(true)">
        SHOW INFO PANEL
      </button>
      <button mat-button color="primary" *ngIf="showDetailPane$ | async" (click)="showDetailPane(false)">
        HIDE INFO PANEL
      </button>
    </ng-container>

    <ng-container *ngIf="processor$ | async as processor">
      <ng-container *ngIf="connected$ | async">
        <ng-container *ngIf="connectionInfo$ | async as connectionInfo">
          <button mat-button *ngIf="processor.replay && processor.replayState === 'RUNNING'"
                  (menuOpened)="switchProcessorMenuOpened()"
                  color="primary"
                  (click)="pauseReplay()">
            <mat-icon>pause</mat-icon>
            PAUSE REPLAY
          </button>

          <button mat-button *ngIf="processor.replay && (processor.replayState !== 'RUNNING')"
                  (menuOpened)="switchProcessorMenuOpened()"
                  color="primary"
                  (click)="resumeReplay()">
            <mat-icon>play_arrow</mat-icon>
            PLAY
          </button>

          <button mat-button color="primary" [matMenuTriggerFor]="processorMenu"
                  (menuOpened)="switchProcessorMenuOpened()"
                  [style.fontStyle]="processor.replayState === 'PAUSED' ? 'italic' : 'normal'"
                  matTooltip="Processor Time. Click for more actions">
            <ng-container *ngIf="time$ | async as time">
              <mat-icon>{{ processor.replayState === 'PAUSED' ? 'timer' : 'schedule' }}</mat-icon>
              {{ time | datetime }}
            </ng-container>
            <mat-icon>more_vert</mat-icon>
          </button>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-menu #processorMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <ng-container *ngIf="processor$ | async as processor">
        <button mat-menu-item (click)="startReplay()" *ngIf="!processor.replay">
          <mat-icon>replay</mat-icon>
          Replay from date
        </button>
        <ng-container *ngIf="processor.replay">
          <button mat-menu-item (click)="changeSpeed('1x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 1">check</mat-icon> 1x (original speed)
          </button>
          <button mat-menu-item (click)="changeSpeed('2x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 2">check</mat-icon> 2x
          </button>
          <button mat-menu-item (click)="changeSpeed('4x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 4">check</mat-icon> 4x
          </button>
          <button mat-menu-item (click)="changeSpeed('8x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 8">check</mat-icon> 8x
          </button>
          <button mat-menu-item (click)="changeSpeed('16x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 16">check</mat-icon> 16x
          </button>
          <button mat-menu-item (click)="changeSpeed('afap')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.type !== 'AFAP'">check</mat-icon> As Fast As Possible
          </button>
        </ng-container>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngFor="let otherProcessor of allProcessors$ | async"
                (click)="switchProcessor(otherProcessor)">
          <mat-icon [class.hide]="processor.name !== otherProcessor.name">check</mat-icon>
          {{ otherProcessor.name }}
        </button>
        <ng-container *ngIf="processor.replay">
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="leaveAndCloseReplay()" [disabled]="processor.protected">
            <mat-icon>exit_to_app</mat-icon>
            Leave &amp; close replay
          </button>
        </ng-container>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
