.text-action {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: #000;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  font-size: 12px;
}

.text-action:hover {
  color: #009e87;
}

:host.active .text-action {
  color: #009e87;
}

:host.active .action-content {
  color: #009e87;
  margin-bottom: -2px;
  border-bottom: 2px solid #009e87;
}

:host.disabled .text-action {
  cursor: not-allowed;
}

:host.disabled .text-action {
  color: #aaa;
}

:host.disabled .action-content {
  color: #aaa;
}

:host.padding .text-action {
  padding-left: 6px;
  padding-right: 6px;
}

.icon14 {
  vertical-align: middle;
}
