@if (command(); as command) {
  <p>
    Constraints are evaluated after the command is released from the assigned queue. The following
    is an indication of the current constraint state.
  </p>
  <table yaDataTable>
    <tr>
      <th class="expand">Constraint</th>
      <th>Timeout</th>
      <th>Live evaluation</th>
    </tr>
    @for (constraint of constraints(); track constraint) {
      <tr>
        <td><app-expression [expression]="constraint.expression" [relto]="relto()" /></td>
        <td style="white-space: nowrap">{{ (constraint.timeout | millisDuration) || "-" }}</td>
        <td style="white-space: nowrap">
          @if (isDisableConstraintChecking()) {
            <span class="evaluation disabled">disabled</span>
          } @else if (expr.result() === true) {
            <span class="evaluation valid">satisfied</span>
          } @else if (expr.result() === false) {
            <span class="evaluation invalid">not satisfied</span>
          }
          <app-live-expression
            #expr
            [expression]="constraint.expression"
            [style.display]="'none'" />
        </td>
      </tr>
    }
  </table>

  @if (showCommandOptions()) {
    <br />
    <ya-slide-toggle [formControl]="disableConstraintCheckingControl">
      Disable constraint checking
    </ya-slide-toggle>
  }
}
