<app-instance-page>
  <app-instance-toolbar>Send a command</app-instance-toolbar>

  <app-send-command-wizard-step step="2" />

  <div class="form-content">
    @if (command$ | async; as command) {
      <dl class="dl-horizontal no-lead no-trail">
        <dt>Command</dt>
        <dd>{{ command.qualifiedName | shortName }}</dd>
        <dt>System</dt>
        <dd>{{ (command.qualifiedName | spaceSystemName) || "-" }}</dd>
        @for (alias of command.alias; track alias) {
          <dt>{{ alias.namespace }}</dt>
          <dd>{{ alias.name }}</dd>
        }
        @if (command.longDescription || command.shortDescription) {
          @if (command.longDescription) {
            <dt>Description</dt>
            <dd>
              <app-markdown [text]="command.longDescription" />
            </dd>
          }
          @if (!command.longDescription) {
            <dt>Description</dt>
            <dd>
              {{ command.shortDescription || "-" }}
            </dd>
          }
        }
        <dt>Significance</dt>
        <dd>
          @if (command?.effectiveSignificance; as significance) {
            <app-significance-level [level]="significance.consequenceLevel" />
            &nbsp;&nbsp;{{ significance.reasonForWarning }}
          } @else {
            -
          }
        </dd>
      </dl>
    }

    @if (!(cleared$ | async)) {
      <ya-warning-message>You're not cleared to send this command</ya-warning-message>
    }

    @if (command$ | async; as command) {
      @if (command.constraint) {
        <p>&nbsp;</p>
        <h3>Constraints</h3>
        <table yaDataTable>
          <tr>
            <th>Constraint</th>
            <th>Timeout</th>
            <th>Live Evaluation</th>
          </tr>
          @for (constraint of command.constraint; track constraint) {
            <tr>
              <td>{{ constraint.expression }}</td>
              <td>{{ constraint.timeout || "-" }}</td>
              <td>
                @if ((expr.result$ | async) === true) {
                  <span class="evaluation valid">satisfied</span>
                }
                @if ((expr.result$ | async) === false) {
                  <span class="evaluation invalid">not satisfied</span>
                }
                <app-live-expression
                  #expr
                  [expression]="constraint.expression"
                  [style.display]="'none'" />
              </td>
            </tr>
          }
        </table>
      }
    }

    @if (commandForm.hasArguments$ | async) {
      <p>&nbsp;</p>
      <h3>Arguments</h3>
    }
    <app-command-form
      #commandForm
      [command]="command$ | async"
      [templateProvider]="templateProvider$ | async" />
    <p>&nbsp;</p>
    <mat-toolbar>
      <ya-button (click)="goBack()">Cancel</ya-button>
      <span style="flex: 1 1 auto"></span>
      @if (config.twoStageCommanding) {
        <mat-slide-toggle [formControl]="armControl" color="primary">Arm</mat-slide-toggle>
        <div style="width: 20px"></div>
      }
      <ya-button
        appearance="primary"
        icon="send"
        [disabled]="
          (config.twoStageCommanding && !armControl.value) ||
          !(cleared$ | async) ||
          !commandForm.form.valid
        "
        (click)="sendCommand()">
        Send
      </ya-button>
      @if (showSchedule()) {
        &nbsp;
        <ya-icon-action
          [matMenuTriggerFor]="
            (config.twoStageCommanding && !armControl.value) ||
            !(cleared$ | async) ||
            !commandForm.form.valid
              ? null
              : sendMenu
          "
          icon="arrow_drop_down"
          [padding]="false"
          [disabled]="
            (config.twoStageCommanding && !armControl.value) ||
            !(cleared$ | async) ||
            !commandForm.form.valid
          "
          style="line-height: 12px" />
        <mat-menu #sendMenu="matMenu" class="ya-menu" [overlapTrigger]="false">
          <button mat-menu-item (click)="sendCommand()">Send now</button>
          <button mat-menu-item (click)="openScheduleCommandDialog()">Send later...</button>
        </mat-menu>
      }
    </mat-toolbar>
  </div>
</app-instance-page>
