@if (ack) {
  @switch (ack.status) {
    @case ("SCHEDULED") {
      <mat-icon [matTooltip]="ack.name! + ': Scheduled'" class="icon16 scheduled">
        schedule
      </mat-icon>
    }
    @case ("OK") {
      <mat-icon [matTooltip]="ack.name! + ': OK'" class="icon16 ok">check_circle_outline</mat-icon>
    }
    @case ("PENDING") {
      <mat-icon [matTooltip]="ack.name! + ': PENDING'" class="icon16 pending">lens</mat-icon>
    }
    @case ("CANCELLED") {
      <mat-icon [matTooltip]="ack.name! + ': CANCELLED'" class="icon16 cancelled">block</mat-icon>
    }
    @case ("DISABLED") {
      <mat-icon [matTooltip]="ack.name! + ': DISABLED'" class="icon16 disabled">block</mat-icon>
    }
    @case ("TIMEOUT") {
      <mat-icon [matTooltip]="ack.name! + ': TIMEOUT'" class="icon16 timeout">
        highlight_off
      </mat-icon>
    }
    @default {
      <mat-icon
        [matTooltip]="ack.name! + ': ' + ack.status! + ' (' + ack.message! + ')'"
        class="icon16 failed">
        highlight_off
      </mat-icon>
    }
  }
} @else {
  <mat-icon [matTooltip]="'Unknown'" class="icon16 no-ack">lens</mat-icon>
}
