<app-admin-page>
  <app-admin-toolbar>
    Users &nbsp;&nbsp;&nbsp;
    <ya-page-button routerLink="create" icon="add_circle_outline">Create user</ya-page-button>
  </app-admin-toolbar>

  <div class="panel-content">
    <div class="filter-bar">
      <ya-search-filter [formControl]="filterControl" placeholder="Filter users" />
    </div>
    <mat-tab-group animationDuration="0ms" class="secondary" [mat-stretch-tabs]="false">
      <mat-tab>
        <ng-template mat-tab-label>ACTIVE ({{ activeUserCount$ | async }})</ng-template>
        <br />
        <app-users-table
          [users]="activeUsers$ | async"
          [filter]="filterValue$ | async"
          (deleteUser)="deleteUser($event)" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>SUPERUSERS ({{ superUserCount$ | async }})</ng-template>
        <br />
        <app-users-table
          [users]="superUsers$ | async"
          [filter]="filterValue$ | async"
          (deleteUser)="deleteUser($event)" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>INTERNAL ({{ internalUserCount$ | async }})</ng-template>
        <br />
        <app-users-table
          [users]="internalUsers$ | async"
          [filter]="filterValue$ | async"
          (deleteUser)="deleteUser($event)" />
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>BLOCKED ({{ blockedUserCount$ | async }})</ng-template>
        <br />
        <app-users-table
          [users]="blockedUsers$ | async"
          [filter]="filterValue$ | async"
          (deleteUser)="deleteUser($event)" />
      </mat-tab>
    </mat-tab-group>
  </div>
</app-admin-page>
