<div class="label">
  <div class="meta" [class.error]="err.invalid$ | async">
    @if (type.minChars !== undefined || type.maxChars !== undefined) {
      <div class="item">
        chars:
        <ya-interval [left]="type.minChars" [right]="type.maxChars" [singleValueIfEqual]="true" />
      </div>
    }
    @if (type.unitSet) {
      <div class="item">
        {{ type.unitSet | units }}
      </div>
    }
    <div class="item">{{ type.engType }}</div>
  </div>

  {{ label }}
  @if (description) {
    <ya-help>
      {{ description }}
    </ya-help>
  }

  <ya-errors #err [controlName]="controlName" />

  <input [formControl]="formControl" type="text" autocomplete="off" />
</div>
