<h2 mat-dialog-title>Select instance</h2>

<mat-dialog-content>
  <mat-selection-list #selectionList>
    <ng-container *ngIf="instances$ | async as instances">
      <mat-list-option *ngFor="let instance of instances"
                       [value]="instance.name">
        {{ instance.name }}
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="ya-button" mat-dialog-close>CANCEL</button>

  <button class="ya-button primary"
          (click)="applySelection()">
    SELECT
  </button>
</mat-dialog-actions>
