.table-status {
  background-color: #f7f7f7;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 6px;
}

.table-status .message-zone {
  float: right;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-right: 6px;
}

.ya-data-table td.mat-mdc-cell.message {
  white-space: pre-wrap;
}
