<ng-container *ngIf="spaceSystem$ | async as spaceSystem">
  <table yaDataTable *ngIf="spaceSystem.history; else empty">
    <tr>
      <th>Version</th>
      <th>Date</th>
      <th>Message</th>
      <th>Author</th>
    </tr>
    <tr *ngFor="let history of spaceSystem.history">
      <td>{{ history.version }}</td>
      <td width="1" style="white-space: nowrap">{{ history.date }}</td>
      <td style="white-space: pre">{{ history.message }}</td>
      <td>{{ history.author }}</td>
    </tr>
  </table>
  <ng-template #empty>
    <app-empty-message>
      Empty changelog.
    </app-empty-message>
  </ng-template>
</ng-container>
