<mat-toolbar class="top">
  <mat-toolbar-row>
    <a mat-icon-button routerLink=".." color="primary">
      <mat-icon>arrow_back</mat-icon>
    </a> Create an instance
  </mat-toolbar-row>
</mat-toolbar>

<app-create-instance-wizard-step step="2"></app-create-instance-wizard-step>

<div *ngIf="template$ | async as template" class="form-content ya-form mat-typography">
  <form [formGroup]="form" novalidate>
    <label>
      Instance name<br>
      <input formControlName="name" type="text">
    </label>
    <ng-container *ngIf="template.variables">
      <label *ngFor="let v of template.variables">
        {{ v.description || v.name }}<br>
        <input [formControlName]="v.name" type="text">
      </label>
    </ng-container>
  </form>
  <p>&nbsp;</p>
  <div class="action-bar">
    <button class="ya-button" routerLink="/">CANCEL</button>
    <button class="ya-button primary" type="submit" (click)="onConfirm()"
            [disabled]="!form.valid">CREATE</button>
  </div>
</div>
