<app-message-bar #messageBar></app-message-bar>

<mat-toolbar class="top">
  <mat-toolbar-row>
    Instances
    &nbsp;&nbsp;&nbsp;
    <a mat-button
       color="primary"
       routerLink="create-instance"
       *ngIf="mayCreateInstances()">
      <mat-icon>add</mat-icon>
      CREATE INSTANCE
    </a>
    <a mat-button
       color="primary"
       *ngIf="mayControlServices()"
       [disabled]="!isGroupStartEnabled()"
       (click)="startSelectedInstances()">
      <mat-icon>play_arrow</mat-icon>
      START
    </a>
    <a mat-button
       color="primary"
       *ngIf="mayControlServices()"
       [disabled]="!isGroupStopEnabled()"
       (click)="stopSelectedInstances()">
      <mat-icon>stop</mat-icon>
      STOP
    </a>
    <a mat-button
       color="primary"
       *ngIf="mayControlServices()"
       [disabled]="!isGroupRestartEnabled()"
       (click)="restartSelectedInstances()">
      <mat-icon>sync_problem</mat-icon>
      RESTART
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="panel-content">
  <div class="filter-bar">
    <app-search-filter [formControl]="filterControl"
                       placeholder="Filter instances">
    </app-search-filter>
  </div>
  <table mat-table
         [dataSource]="dataSource"
         class="ya-data-table"
         style="width: 100%"
         matSort
         matSortActive="name"
         matSortDirection="asc"
         matSortDisableClear>

    <ng-container cdkColumnDef="select">
      <th mat-header-cell *cdkHeaderCellDef class="checkbox">
        <input type="checkbox" (change)="$event ? masterToggle() : null"
               [checked]="selection.hasValue() && isAllSelected()">
      </th>
      <td mat-cell *cdkCellDef="let row" class="checkbox">
        <input type="checkbox" (click)="$event.stopPropagation()"
               (change)="$event ? selection.toggle(row) : null"
               [checked]="selection.isSelected(row)">
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="status"></th>
      <td mat-cell *matCellDef="let row" class="status">
        <mat-icon *ngIf="row.state === 'INITIALIZED'"
                  class="warning"
                  [matTooltip]="row.state">
          adjust
        </mat-icon>
        <mat-icon *ngIf="row.state === 'RUNNING'"
                  class="success"
                  [matTooltip]="row.state">
          check_circle
        </mat-icon>
        <mat-icon *ngIf="row.state === 'FAILED'"
                  class="alert"
                  [matTooltip]="row.state">
          highlight_off
        </mat-icon>
        <mat-icon *ngIf="row.state === 'OFFLINE'"
                  class="down"
                  [matTooltip]="row.state">
          lens
        </mat-icon>
        <mat-icon *ngIf="row.state === 'INITIALIZING' || row.state === 'STARTING' || row.state === 'STOPPING'"
                  class="spin"
                  [matTooltip]="row.state">
          cached
        </mat-icon>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef mat-sort-header style="width: 300px">Instance</th>
      <td mat-cell *cdkCellDef="let row">
        <a *ngIf="row.state !== 'OFFLINE'"
           routerLink="/instance"
           [queryParams]="{instance: row.name, processor: (row.processors ? row.processors[0].name : null)}"
           (click)="$event.stopPropagation()">
          {{ row.name }}
        </a>
        <span *ngIf="row.state === 'OFFLINE'">{{ row.name }}</span>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="processor">
      <th mat-header-cell *cdkHeaderCellDef mat-sort-header style="width: 200px">Default Processor</th>
      <td mat-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.processors">{{ row.processors[0].name }}</ng-container>
        <ng-container *ngIf="!row.processors">-</ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="labels">
      <th mat-header-cell *cdkHeaderCellDef mat-sort-header style="width: 200px">Labels</th>
      <td mat-cell *cdkCellDef="let row">
        <app-labels [dict]="row.labels"></app-labels>
        <ng-container *ngIf="!row.labels">-</ng-container>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="state">
      <th mat-header-cell *cdkHeaderCellDef mat-sort-header style="width: 200px">State</th>
      <td mat-cell *cdkCellDef="let row">
        {{ row.state }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let instance">
        <mat-menu #instanceMenu="matMenu" overlapTrigger="false" class="ya-menu">
          <button mat-menu-item
                  (click)="startInstance(instance)"
                  [disabled]="instance.state !== 'OFFLINE'">
            Start
          </button>
          <button mat-menu-item
                  (click)="stopInstance(instance)"
                  [disabled]="instance.state === 'OFFLINE'">
            Stop
          </button>
          <button mat-menu-item
                  (click)="restartInstance(instance)"
                  [disabled]="instance.state === 'OFFLINE'">
            Restart
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="instanceMenu"
                (click)="$event.stopPropagation()"
                class="icon"
                *ngIf="mayControlServices()">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *cdkRowDef="let row; columns: displayedColumns;"
        [class.selected]="selection.isSelected(row)"
        (click)="toggleOne(row)"></tr>
  </table>

  <mat-paginator [pageSize]="100"
                 [hidePageSize]="true"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
