.error-message {
  color: red;
  text-align: left;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5787b1;
}

.console {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px;
}

.console img {
  width: 100%;
  height: 100%;
}

.login-panel {
  position: absolute;
  top: 0;
  right: 200px;
  bottom: 0;
  width: 500px;
  background-color: rgba(255, 255, 255, 1);
}

.logo {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.login-form {
  padding-left: 64px;
  padding-right: 64px;
}
