html, body {
  margin: 0;
  padding: 0;
}

.material-icons.icon12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
}
.material-icons.icon16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}
.material-icons.icon18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.material-icons.icon24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.material-icons.icon32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}
.material-icons.icon36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}
.material-icons.icon48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  padding: 24px;
}

.ya-data-table mat-header-row {
  min-height: 0;
}

.ya-data-table mat-row:hover {
  background: #fafafa;
}

.ya-data-table mat-row {
  min-height: 0;
}

.ya-data-table mat-cell {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, .654);
  padding: 7px 0 8px 0;
}

.ya-data-table mat-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.ya-data-table .mat-button, .ya-data-table .mat-stroked-button {
  line-height: 16px;
  min-width: 0;
}

.ya-data-table a {
  color: #000;
  text-decoration: none;
}

.ya-data-table mat-row:hover a {
  text-decoration: underline;
}

.ya-data-table a:hover {
  color: #000080;
}
