.table-status {
  background-color: #f2f2f2;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 6px;
  margin-bottom: 12px;
}

.table-footer {
  background-color: #f2f2f2;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
