<app-admin-page>
  <app-admin-toolbar> Leap seconds </app-admin-toolbar>

  <div class="panel-content">
    <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Valid period (at 0h UTC)</th>
        <td mat-cell *matCellDef="let range">
          {{ range.start | date: "y-MM-dd" }} &ndash;
          {{ range.stop | date: "y-MM-dd" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="leap-seconds">
        <th mat-header-cell *matHeaderCellDef>Leap seconds</th>
        <td mat-cell *matCellDef="let range">{{ range.leapSeconds }}</td>
      </ng-container>

      <ng-container matColumnDef="tai-utc">
        <th mat-header-cell *matHeaderCellDef>TAI - UTC</th>
        <td mat-cell *matCellDef="let range">{{ range.taiDifference }} s</td>
      </ng-container>

      <ng-container matColumnDef="utc-tai">
        <th mat-header-cell *matHeaderCellDef>UTC - TAI</th>
        <td mat-cell *matCellDef="let range">{{ -range.taiDifference }} s</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="expand"></th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</app-admin-page>
