<h2 mat-dialog-title>Add members</h2>

<mat-dialog-content>
  <div class="filter-bar">
    <ya-search-filter [formControl]="filterControl" placeholder="Filter users" />
  </div>
  @if (dataSource) {
    <table mat-table [dataSource]="dataSource" class="ya-data-table" style="width: 100%">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="checkbox"></th>
        <td mat-cell *matCellDef="let row" class="checkbox">
          <input
            type="checkbox"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" />
        </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef width="1">Type</th>
        <td mat-cell *matCellDef="let member">
          @if (member.user) {
            <mat-icon matTooltip="User" style="vertical-align: middle">person</mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Member</th>
        <td mat-cell *matCellDef="let member">
          {{ member.label }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [class.selected]="selection.isSelected(row)"
        (click)="toggleOne(row)"></tr>
    </table>
  }
  @if (!dataSource.data.length) {
    <ya-empty-message>No rows to display</ya-empty-message>
  }

  <mat-paginator [pageSize]="10" [hidePageSize]="true" [showFirstLastButtons]="false" />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="save()" [disabled]="selection.isEmpty()">ADD</ya-button>
</mat-dialog-actions>
