<app-instance-page *ngIf="algorithm$ | async as algorithm">
  <app-instance-toolbar>
    <ng-container *ngIf="(algorithm.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/algorithms"
         [queryParams]="{instance: instance.name, filter: spaceSystemName}"
         class="ya-link ya-header-link">
        {{ spaceSystemName }}
      </a>/{{ algorithm.qualifiedName | shortName }}
    </ng-container>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-algorithm-detail [instance]="instance"
                          [algorithm]="algorithm"
                          [readonly]="true">
    </app-algorithm-detail>
  </div>
</app-instance-page>
