<app-instance-page *ngIf="algorithm$ | async as algorithm">
  <app-instance-toolbar>
    <ng-container *ngFor="let alias of algorithm.alias">
      <ng-container *ngIf="algorithm.qualifiedName.startsWith(alias.namespace)">
        <a routerLink="/mdb/algorithms"
            [queryParams]="{instance: instance.name, filter: alias.namespace}"
            class="ya-link ya-header-link">
          {{ alias.namespace }}
        </a>/{{ alias.name }}
      </ng-container>
    </ng-container>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-algorithm-detail [instance]="instance"
                          [algorithm]="algorithm"
                          [readonly]="true">
    </app-algorithm-detail>
  </div>
</app-instance-page>
