<app-instance-page>
  <app-instance-toolbar>
    CFDP File Transfer
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button
            color="primary"
            (click)="uploadFile()">
      <mat-icon>cloud_upload</mat-icon>
      UPLOAD FILE
    </button>
    <button mat-icon-button
            color="primary"
            (click)="refresh()"
            matTooltip="Refresh data">
      <mat-icon>refresh</mat-icon>
    </button>
  </app-instance-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="./ongoing-transfers"
       routerLinkActive #rla="routerLinkActive"
       [queryParams]="{instance: instance}"
       [active]="rla.isActive">
      ONGOING
      <ng-container *ngIf="ongoingCount$ | async as count">({{ count }})</ng-container>
    </a>

    <a mat-tab-link
       routerLink="./failed-transfers"
       routerLinkActive #rlb="routerLinkActive"
       [queryParams]="{instance: instance}"
       [active]="rlb.isActive">
      FAILED
      <ng-container *ngIf="failedCount$ | async as count">({{ count }})</ng-container>
    </a>

    <a mat-tab-link
       routerLink="./successful-transfers"
       routerLinkActive #rlc="routerLinkActive"
       [queryParams]="{instance: instance}"
       [active]="rlc.isActive">
      SUCCESSFUL
      <ng-container *ngIf="successfulCount$ | async as count">({{ count }})</ng-container>
    </a>
  </nav>

  <div class="outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
</app-instance-page>
