::ng-deep .mat-dialog-container {
  border-radius: 0;
  position: relative;
}

table.ya-data-table {
  width: 100%;
}

.ya-data-table td {
  border: none;
}

.local-selector {
  position: relative;
  height: calc(50% - 32px);
}

.remote-selector {
  position: relative;
  height: calc(50% - 32px);
}

.footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  left: 0;
  right: 0;
  border-top: 1px solid #d3d3d3;
}

.bucket-table-wrapper {
  position: absolute;
  overflow: auto;
  border: 1px solid #d3d3d3;
  top: 68px;
  /* 24 + 32 + 12 */
  bottom: 1em;
  left: 0;
  width: 250px;
}

.bucket-table-wrapper table {
  cursor: pointer;
}

.object-table-wrapper {
  position: absolute;
  overflow: auto;
  border: 1px solid #d3d3d3;
  top: 68px;
  bottom: 1em;
  right: 0;
  left: calc(250px + 1em);
}

label.table-caption {
  margin: 0;
}
