<div class="container">
    <h1 class="page-header"> {{vm.title}}</h1>
    <p>&nbsp;</p>
    <div class="panel panel-default">
        <div class="panel-heading">  
            <div class="pull-left"> 
                <br/>
                  <ul class="list-group">
                        <li><button class="btn btn-default" ng-click="vm.show='global'">Global Services</button></li>
                        <li><button class="btn btn-default" ng-click="vm.show='local'">Instance Services</button></li>
                  </ul>    
            </div> 
     
        </div>
            <div class="panel-body">
                <div ng-if="vm.show=='global'" class="container-fluid pull-right" style="width:60%;">
                    <h2>Global services</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>State</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="g_service in vm.global_services">
                                <th>{{$index}}</th>
                                <td>{{g_service.state}}</td>
                                <td>{{g_service.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="vm.show=='local'" class="container-fluid pull-right" style="width:60%;">
                            <h2>List of services</h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Instance</th>
                                        <th>State</th>
                                        <th>Name</th>
                                        <th>switch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="service in vm.services">
                                        <th>{{$index}}</th> 
                                        <td>{{service.instance}}</td>   
                                        <td>{{service.state}}</td>
                                        <td>{{service.name}}</td>
                                        <td>
                                            <button class="btn btn-primary" ng-click="vm.sendPatch(service)">
                                                <span ng-if="service.state == 'RUNNING'"> OFF </span>
                                                <span ng-if="service.state != 'RUNNING'"> ON </span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                          
                </div>   
            </div> 
    </div>    
</div>