@if (database$ | async; as database) {
  <app-admin-page>
    <app-admin-toolbar>
      <ng-template app-admin-toolbar-label>
        <ya-page-icon-button routerLink="/admin/databases" icon="account_tree" />
        <mat-icon class="icon14 sep">navigate_next</mat-icon>
        <a class="ya-link ya-header-link" [routerLink]="['/admin/databases', database.name]">
          {{ database.name }}
        </a>
        @if (object$ | async; as obj) {
          <mat-icon class="icon14 sep">navigate_next</mat-icon>
          @if (obj.type === "table") {
            <a
              class="ya-link ya-header-link"
              [routerLink]="['/admin/databases', database.name, 'tables']">
              Tables
            </a>
          }
          @if (obj.type === "stream") {
            <a
              class="ya-link ya-header-link"
              [routerLink]="['/admin/databases', database.name, 'streams']">
              Streams
            </a>
          }
          <mat-icon class="icon14 sep">navigate_next</mat-icon>
          {{ obj.name }}
        }
      </ng-template>
    </app-admin-toolbar>

    <ya-page-tabs>
      @if (!(object$ | async)) {
        <a
          [routerLink]="['/admin/databases', database.name, 'tables']"
          routerLinkActive
          #rla="routerLinkActive"
          [class.active]="rla.isActive">
          Tables
        </a>
        <a
          [routerLink]="['/admin/databases', database.name, 'streams']"
          routerLinkActive
          #rlb="routerLinkActive"
          [class.active]="rlb.isActive">
          Streams
        </a>
        @if (database.name !== "_global") {
          <a
            [routerLink]="['/admin/databases', database.name, 'parameter-archive']"
            routerLinkActive
            #rlc="routerLinkActive"
            [class.active]="rlc.isActive">
            Parameter archive
          </a>
        }
      }
      @if (object$ | async; as obj) {
        @if (obj.type === "table") {
          <a
            [routerLink]="['/admin/databases', database.name, 'tables', obj.name, 'info']"
            routerLinkActive
            #rla1="routerLinkActive"
            [class.active]="rla1.isActive">
            Info
          </a>
          <a
            [routerLink]="['/admin/databases', database.name, 'tables', obj.name, 'data']"
            routerLinkActive
            #rla2="routerLinkActive"
            [class.active]="rla2.isActive">
            Data
          </a>
          <a
            [routerLink]="['/admin/databases', database.name, 'tables', obj.name, 'script']"
            routerLinkActive
            #rla3="routerLinkActive"
            [class.active]="rla3.isActive">
            Script
          </a>
        }
        @if (obj.type === "stream") {
          <a
            [routerLink]="['/admin/databases', database.name, 'streams', obj.name, 'columns']"
            routerLinkActive
            #rlb1="routerLinkActive"
            [class.active]="rlb1.isActive">
            Columns
          </a>
          <a
            [routerLink]="['/admin/databases', database.name, 'streams', obj.name, 'data']"
            routerLinkActive
            #rlb2="routerLinkActive"
            [class.active]="rlb2.isActive">
            Data
          </a>
          <a
            [routerLink]="['/admin/databases', database.name, 'streams', obj.name, 'script']"
            routerLinkActive
            #rlb3="routerLinkActive"
            [class.active]="rlb3.isActive">
            Script
          </a>
        }
      }
    </ya-page-tabs>

    <div class="outlet-wrapper">
      <router-outlet />
    </div>
  </app-admin-page>
}
