@if (formConfigured$ | async) {
  <ya-form [formGroup]="form">
    <ya-stepper>
      <ya-stepper-step label="General" [expanded]="true">
        <ya-field label="Label" hint="(required)">
          <input type="text" formControlName="name" style="width: 100%" />
        </ya-field>

        <ya-field label="Description" hint="(optional)">
          <textarea formControlName="description" rows="3"></textarea>
        </ya-field>

        <app-parameter-states-styles [form]="form" />
      </ya-stepper-step>

      <ya-stepper-step label="Value mapping" [expanded]="true">
        @if (valueMappings.length) {
          <table class="mappings" formArrayName="valueMappings">
            <tr>
              <th>Type</th>
              <th>
                Condition
                <span class="hint">(required)</span>
              </th>
              <th></th>
              <th>Label</th>
              <th>Color</th>
              <th style="width: 99%"></th>
            </tr>
            @for (mapping of valueMappings.controls; track mapping; let i = $index) {
              <tr [formGroupName]="i">
                <td>
                  <input #type type="hidden" formControlName="type" />
                  {{ mapping.value["type"] | titlecase }}
                </td>
                <td>
                  @if (type.value === "value") {
                    <input
                      type="text"
                      placeholder="value"
                      formControlName="value"
                      style="width: 164px" />
                  } @else if (type.value === "range") {
                    <input
                      type="number"
                      placeholder="start"
                      formControlName="start"
                      style="display: inline-block; width: 80px; margin-right: 4px" />
                    <input
                      type="number"
                      placeholder="end"
                      formControlName="end"
                      style="display: inline-block; width: 80px" />
                  }
                </td>
                <td>→</td>
                <td>
                  <input
                    type="text"
                    style="width: 140px"
                    placeholder="(optional)"
                    formControlName="label" />
                </td>
                <td>
                  <ya-color-input formControlName="color" label="auto" />
                </td>
                <td style="text-align: right">
                  <ya-icon-action
                    icon="arrow_drop_up"
                    matTooltip="Move up"
                    [disabled]="i === 0"
                    (click)="moveUp(i)" />
                  <ya-icon-action
                    icon="arrow_drop_down"
                    matTooltip="Move down"
                    [disabled]="i >= valueMappings.controls.length - 1"
                    (click)="moveDown(i)" />
                  <ya-icon-action
                    icon="delete_outline"
                    matTooltip="Remove mapping"
                    (click)="removeMapping(i)" />
                </td>
              </tr>
            }
          </table>
          <br />
        }
        <ya-button icon="add_circle" (click)="addValueMapping()">Add value mapping</ya-button>
        &nbsp;
        <ya-button icon="add_circle" (click)="addRangeMapping()">Add range mapping</ya-button>
      </ya-stepper-step>
    </ya-stepper>
  </ya-form>
}
