<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-toolbar>
      <mat-toolbar-row>
        Displays
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-container *ngIf="displayInfo$ | async as displayInfo">
      <table yaSimpleTable class="mat-typography">
        <tr *ngFor="let folder of displayInfo.folder">
          <td>
            <mat-icon class="icon16">folder</mat-icon>
          </td>
          <td>
            {{ folder.filename }}/
          </td>
        </tr>
        <tr class="action-item no-select"
            *ngFor="let file of displayInfo.file"
            (click)="openDisplay(file.filename)">
          <td>
            <mat-icon class="icon16">widgets</mat-icon>
          </td>
          <td>
            {{ file.filename }}
          </td>
        </tr>
      </table>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-button>realtime</button>
        <span *ngIf="time$ | async as time">
          {{ time.currentTimeUTC }}
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="layout-wrapper">
      <div #displayContainer></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
