<app-monitor-toolbar header="Displays">
  <app-toolbar-actions>
    <button mat-button color="primary">
      <mat-icon>save</mat-icon>
      Save Layout
    </button>

    <mat-menu #arrangeMenu="matMenu">
      <button mat-menu-item>Tile Displays</button>
      <button mat-menu-item>Cascade Displays</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="arrangeMenu" color="primary">
      Arrange
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </app-toolbar-actions>
</app-monitor-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <ng-container *ngIf="displayInfo$ | async as displayInfo">
      <table yaSimpleTable class="mat-typography">
        <tr *ngFor="let folder of displayInfo.folder">
          <td>
            <mat-icon class="icon16">folder</mat-icon>
          </td>
          <td>
            {{ folder.filename }}/
          </td>
        </tr>
        <tr class="action-item no-select"
            *ngFor="let file of displayInfo.file"
            (click)="openDisplay(file.filename)">
          <td>
            <mat-icon class="icon16">widgets</mat-icon>
          </td>
          <td>
            {{ file.filename }}
          </td>
        </tr>
      </table>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <div #displayContainer></div>
  </mat-sidenav-content>
</mat-sidenav-container>
