<app-monitor-page>
  <app-monitor-toolbar>
    Events

    <button mat-button color="primary">
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>
    <button mat-button color="primary">
      Columns
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </app-monitor-toolbar>

  <mat-table [dataSource]="dataSource" class="ya-data-table">
    <ng-container cdkColumnDef="severity">
      <mat-header-cell *cdkHeaderCellDef fxFlex="50px"></mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="50px">
        <app-severity [severity]="row.severity"></app-severity>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="message">
      <mat-header-cell *cdkHeaderCellDef>Message</mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="white-space: pre">{{ row.message }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="type">
      <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Type</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="150px">
        {{ row.type }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="source">
      <mat-header-cell *cdkHeaderCellDef fxFlex="150px">Source</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="150px">
        {{ row.source }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="gentime">
      <mat-header-cell *cdkHeaderCellDef fxFlex="160px">Generation Time</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="160px">
        {{ row.generationTimeUTC }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="rectime">
      <mat-header-cell *cdkHeaderCellDef fxFlex="160px">Reception Time</mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxFlex="160px">
        {{ row.receptionTimeUTC }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="seqNumber">
      <mat-header-cell *cdkHeaderCellDef>Sequence Number</mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        {{ row.seqNumber }}
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="row.severity"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.getEventCount()"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[25, 50, 100]">
  </mat-paginator>
</app-monitor-page>
