<app-admin-page *ngIf="group$ | async as group">
  <app-admin-toolbar>
    Edit Group: {{ group.name }}
  </app-admin-toolbar>

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate autocomplete="off">
      <label>
        Name<br>
        <input formControlName="name" type="text">
      </label>
      <br>
      <label>
        Description
        <textarea formControlName="description" rows="5"></textarea>
      </label>
    </form>
    <p>&nbsp;</p>
    <button mat-stroked-button (click)="showAddMembersDialog()">
      <mat-icon>add_circle_outline</mat-icon>
      Add members
    </button>

    <p>&nbsp;</p>
    <table yaDataTable style="width: 100%" *ngIf="memberItems$ | async as memberItems">
      <tr>
        <th width="1">Type</th>
        <th>Member</th>
        <th></th>
      </tr>
      <tr *ngIf="!memberItems.length">
        <td colspan="3">No rows to display</td>
      </tr>
      <tr *ngFor="let item of memberItems">
        <td>
          <mat-icon matTooltip="User" style="vertical-align: middle">person</mat-icon>
        </td>
        <td>{{ item.label }}</td>
        <td style="text-align: right">
          <ya-text-action icon="delete" (click)="deleteItem(item)">DELETE</ya-text-action>
        </td>
      </tr>
    </table>

    <p>&nbsp;</p>
    <div class="action-bar">
      <button class="ya-button" (click)="location.back()">Cancel</button>
      <button type="submit" (click)="onConfirm()"
              class="ya-button primary"
              [disabled]="!(dirty$ | async) || !form.valid">SAVE CHANGES</button>
    </div>
  </div>
</app-admin-page>
