yamcs-api/.classpath
yamcs-api/.project
yamcs-api/.settings/
yamcs-api/bin/
yamcs-api/target/
yamcs-core/.classpath
yamcs-core/.project
yamcs-core/.settings/
yamcs-core/lib/
yamcs-core/src/main/java/org/yamcs/YamcsVersion.java
yamcs-core/target/
yamcs-web/.classpath
yamcs-web/.project
yamcs-web/.settings/
yamcs-web/bin/
yamcs-web/target/
yamcs-xtce/.classpath
yamcs-xtce/.project
yamcs-xtce/.settings/
yamcs-xtce/bin/
yamcs-xtce/target/
live
make-live-devel.sh
doc/yamcs-manual.fo
doc/yamcs-manual.pdf
server.lock
