#Eclipse
.classpath
.project
.settings/
bin/

#Intellij
.idea/
*.iml

target/
yamcs-core/lib/
yamcs-core/src/main/java/org/yamcs/YamcsVersion.java
make-live-devel.sh
live
doc/yamcs-manual.fo
doc/yamcs-manual.pdf
server.lock
