#Eclipse
.classpath
.project
.settings/
bin/

#Intellij
.idea/
*.iml

target/
yamcs-core/lib/
live
doc/yamcs-manual.fo
doc/yamcs-manual.pdf
server.lock
make-live-devel-local.sh
*.xtce.consistency_date
*.xtce.serialized
*.log

