<app-admin-page>
  <app-admin-toolbar>
    <ya-page-icon-button routerLink=".." icon="arrow_back" />
    Create service account
  </app-admin-toolbar>

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate>
      <ya-field label="Service account name" hint="(required)">
        <input formControlName="name" type="text" />
      </ya-field>

      <h2 style="margin-top: 32px">Scopes</h2>
      <ya-field label="Impersonation">
        <label style="color: gray; font-weight: 400">
          <input type="checkbox" [disabled]="true" [checked]="true" />
          Grant permission to access the API on behalf of any user in the system.
        </label>
      </ya-field>
    </form>

    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button (click)="location.back()">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-admin-page>
