<app-admin-page>
  <app-admin-toolbar>
    <ya-page-icon-button routerLink=".." icon="arrow_back" />
    Create service account
  </app-admin-toolbar>

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate>
      <label>
        Service account name
        <span class="hint">(required)</span>
        <br />
        <input formControlName="name" type="text" />
      </label>

      <h2 style="margin-top: 32px">Scopes</h2>
      <label>
        <input type="checkbox" [disabled]="true" [checked]="true" />
        Impersonation
        <br />
        <span class="hint">
          Grants permission to access the API on behalf of any user in the system.
        </span>
      </label>
    </form>

    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button (click)="location.back()">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-admin-page>
