@switch (level) {
  @case ("WATCH") {
    <ng-container *ngTemplateOutlet="img; context: { level: 'watch', tooltip: 'Watch' }" />
  }
  @case ("WARNING") {
    <ng-container *ngTemplateOutlet="img; context: { level: 'warning', tooltip: 'Warning' }" />
  }
  @case ("DISTRESS") {
    <ng-container *ngTemplateOutlet="img; context: { level: 'distress', tooltip: 'Distress' }" />
  }
  @case ("CRITICAL") {
    <ng-container *ngTemplateOutlet="img; context: { level: 'critical', tooltip: 'Critical' }" />
  }
  @case ("SEVERE") {
    <ng-container *ngTemplateOutlet="img; context: { level: 'severe', tooltip: 'Severe' }" />
  }
  @default {
    <ng-container *ngTemplateOutlet="img; context: { level: 'none' }" />
  }
}

<ng-template #img let-level="level" let-tooltip="tooltip">
  <svg
    width="29"
    height="5"
    viewBox="0 0 58 10"
    [ngClass]="level"
    [class.grayscale]="grayscale"
    [matTooltip]="tooltip">
    <rect x="0" width="10" height="10" class="r1" />
    <rect x="12" width="10" height="10" class="r2" />
    <rect x="24" width="10" height="10" class="r3" />
    <rect x="36" width="10" height="10" class="r4" />
    <rect x="48" width="10" height="10" class="r5" />
  </svg>
</ng-template>
