@switch (level) {
  @case ("WATCH") {
    <div class="watch" [class.grayscale]="grayscale"></div>
  }
  @case ("WARNING") {
    <div class="warning" [class.grayscale]="grayscale"></div>
  }
  @case ("DISTRESS") {
    <div class="distress" [class.grayscale]="grayscale"></div>
  }
  @case ("CRITICAL") {
    <div class="critical" [class.grayscale]="grayscale"></div>
  }
  @case ("SEVERE") {
    <div class="severe" [class.grayscale]="grayscale"></div>
  }
  @default {
    <div class="none" [class.grayscale]="grayscale"></div>
  }
}
