<div style="display: flex">
  <div class="bands-from">
    <table
      mat-table
      [dataSource]="availableDataSource"
      class="ya-data-table no-frame"
      style="width: 100%">
      <ng-container cdkColumnDef="name">
        <th mat-header-cell *cdkHeaderCellDef>Available</th>
        <td mat-cell *cdkCellDef="let item">
          @if (item.name) {
            {{ item.name }}
          } @else {
            <i>(no name)</i>
          }
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *cdkRowDef="let row; columns: displayedColumns"
        [class.selected]="isLeftSelected(row)"
        (click)="selectBand(row)"></tr>
    </table>
  </div>

  <div class="shared-actions">
    <ya-button [rightAlign]="true" [disabled]="!isAnyLeftSelected()" (click)="moveRight()">
      Add
      <mat-icon class="icon12">chevron_right</mat-icon>
    </ya-button>
    <ya-button [disabled]="!isAnyRightSelected()" (click)="moveLeft()">
      <mat-icon class="icon12">chevron_left</mat-icon>
      Remove
    </ya-button>
  </div>

  <div class="bands-to">
    <table
      mat-table
      [dataSource]="selectedDataSource"
      class="ya-data-table no-frame"
      style="width: 100%">
      <ng-container cdkColumnDef="name">
        <th mat-header-cell *cdkHeaderCellDef>Selected</th>
        <td mat-cell *cdkCellDef="let item">
          @if (item.name) {
            {{ item.name }}
          } @else {
            <i>(no name)</i>
          }
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *cdkRowDef="let row; columns: displayedColumns"
        [class.selected]="isRightSelected(row)"
        (click)="selectBand(row)"></tr>
    </table>
  </div>
</div>
<div class="bottom-actions">
  <div style="flex: 1 1 auto"></div>
  <ya-icon-button
    [disabled]="!isAnyRightSelected()"
    (click)="moveDown()"
    icon="keyboard_arrow_down" />
  <ya-icon-button [disabled]="!isAnyRightSelected()" (click)="moveUp()" icon="keyboard_arrow_up" />
</div>
