.bands-from,
.bands-to {
  border: 1px solid #d3d3d3;
  flex: 1 1 0;
}

.bands-from th,
.bands-to th {
  text-align: center;
}

.bands-from td,
.bands-to td {
  cursor: pointer;
}

.bands-from table,
.bands-to table {
  border-left: none;
  border-right: none;
}

.bands-from th,
.bands-to th {
  border-top: none;
}

.bands-from tr:last-of-type td,
.bands-to tr:last-of-type {
  border-bottom: none;
}

div.shared-actions {
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  row-gap: 2px;
  margin: 1em;
}

div.bottom-actions {
  display: flex;
  column-gap: 2px;
  margin-top: 2px;
}
