<nav mat-tab-nav-bar class="secondary" [mat-stretch-tabs]="false" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLink="/commanding/clearances"
    routerLinkActive
    [routerLinkActiveOptions]="{ matrixParams: 'exact', paths: 'exact', queryParams: 'ignored' }"
    #rla="routerLinkActive"
    [active]="rla.isActive"
    [queryParams]="{ c: yamcs.context }">
    Clearances
  </a>
  <a
    mat-tab-link
    routerLink="/commanding/clearances/log"
    routerLinkActive
    #rlb="routerLinkActive"
    [active]="rlb.isActive"
    [queryParams]="{ c: yamcs.context }">
    Action log
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet />
</mat-tab-nav-panel>
