@if (dataSource) {
  <table
    mat-table
    [dataSource]="dataSource"
    class="ya-data-table expand"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user">
        <a [routerLink]="user.name">
          {{ user.name }}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Display name</th>
      <td mat-cell *matCellDef="let user">
        {{ user.displayName || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef>Groups</th>
      <td mat-cell *matCellDef="let user">
        @for (group of user.groups; track group; let isFirst = $first) {
          @if (!isFirst) {
            ,
          }
          {{ group.name }}
        }
        @if (!user.groups) {
          -
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="registered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registered</th>
      <td mat-cell *matCellDef="let user">{{ (user.creationTime | datetime) || "never" }}</td>
    </ng-container>
    <ng-container matColumnDef="lastLogin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Login</th>
      <td mat-cell *matCellDef="let user">{{ (user.lastLoginTime | datetime) || "never" }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="expand"></th>
      <td mat-cell *matCellDef="let user">
        <ya-more>
          <a mat-menu-item [routerLink]="[user.name, 'edit']"> Edit user </a>
          <button mat-menu-item (click)="deleteUser.next(user.name)">Delete user</button>
        </ya-more>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
}
@if (!dataSource.data.length) {
  <ya-empty-message> No rows to display </ya-empty-message>
}
