svg {
  display: inline-block;
}

.info .r1,
.info .r2,
.info .r3,
.info .r4,
.info .r5 {
  fill: #ccc;
}

.watch .r1 {
  fill: #ff8c00;
}

.watch .r2,
.watch .r3,
.watch .r4,
.watch .r5 {
  fill: #ccc;
}

.warning .r1,
.warning .r2 {
  fill: #ff8c00;
}

.warning .r3,
.warning .r4,
.warning .r5 {
  fill: #ccc;
}

.distress .r1,
.distress .r2,
.distress .r3 {
  fill: #f00;
}

.distress .r4,
.distress .r5 {
  fill: #ccc;
}

.critical .r1,
.critical .r2,
.critical .r3,
.critical .r4 {
  fill: #f00;
}

.critical .r5 {
  fill: #ccc;
}

.severe .r1,
.severe .r2,
.severe .r3,
.severe .r4,
.severe .r5 {
  fill: #f00;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media print {
  svg {
    print-color-adjust: exact;
  }
}
