<div class="main" style="padding: 40px;">
  <uib-alert ng-repeat="msg in shell.messages" type="{{ msg.type }}" close="shell.closeMessage($index)">{{ msg.msg }}</uib-alert>
  <h1 class="page-header">Alarms</h1>
  <p>&nbsp;</p>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="/{{ yamcsInstance }}/alarms">
        <span class="glyphicon glyphicon-folder-open"></span> Active
      </a>
    </li>

    <li>
      <a href="/{{ yamcsInstance }}/alarms/archive">
        <span class="glyphicon glyphicon-folder-close"></span> Archived
      </a>
    </li>
  </ul>

  <br>
  <div class="container-fluid">
    <div class="row" ng-repeat-start="alarm in vm.alarms" style="border-top: 1px solid #333;">
      <div class="col-md-3">
        <strong><a href="/{{ yamcsInstance }}/mdb{{ alarm.triggerValue.id.name }}" class="subtle">{{ alarm.triggerValue.id.name | name }}</a> out of limits</strong><br>
        <small>{{ alarm.triggerValue.id.name | spaceSystem }}</small>
      </div>

      <div class="col-md-3">
        <small>Violations: {{ alarm.violations }}</small>
      </div>

      <div class="col-md-5">
        <span ng-if="!alarm.acknowledgeInfo"><small>Unacknowledged</small></span>
      </div>

      <div class="col-md-1 text-right">
        <small>{{ (alarm.triggerValue.generationTimeUTC | parseUTC).fromNow() }}</small>
      </div>
    </div>

    <div class="row" ng-repeat-end>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <dl class="dl-horizontal">
          <dt>Activation Level</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.triggerLevel }}.png" uib-tooltip="{{ alarm.triggerValue.monitoringResult | monitoringValue }}">
            <small>
              Reached {{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
              with {{ alarm.triggerValue | stringValue }}<span ng-bind-html="alarm.triggerValue.rangeCondition | lohi"></span>
            </small>
          </dd>

          <dt>Highest Level</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.mostSevereLevel }}.png" uib-tooltip="{{ alarm.mostSevereValue.monitoringResult | monitoringValue }}">
            <small>
              Reached {{ alarm.mostSevereValue.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
              with {{ alarm.mostSevereValue | stringValue }}<span ng-bind-html="alarm.mostSevereValue.rangeCondition | lohi"></span>
            </small>
          </dd>

          <dt>Current Value</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.currentLevel }}.png" uib-tooltip="{{ alarm.currentValue.monitoringResult | monitoringValue }}">
            <small>
              <strong>{{ alarm.currentValue | stringValue }}</strong><span ng-bind-html="alarm.currentValue.rangeCondition | lohi"></span>
              &ndash; {{ alarm.currentValue.generationTimeUTC | parseUTC | formatDate:'pretty_short':true }}
            </small>
          </dd>
        </dl>
      </div>
      <div class="col-md-6">
        <blockquote ng-if="alarm.acknowledgeInfo" style="font-size: small">
          <span class="glyphicon glyphicon-comment" style="color: #ccc;"></span>
          {{ alarm.acknowledgeInfo.acknowledgeMessage | nvl:'(without comment)' }}
          <footer>Acknowledged <span ng-if="alarm.acknowledgeInfo.acknowledgedBy != 'anonymous'">by {{ alarm.acknowledgeInfo.acknowledgedBy }}</span> {{ alarm.acknowledgeInfo.acknowledgeTimeUTC | parseUTC | formatDate:'pretty_short':true }}</footer>
        </blockquote>
        <button ng-if="!alarm.acknowledgeInfo" class="btn btn-default btn-sm" type="button" ng-click="vm.openAcknowledge(alarm)">Acknowledge</button>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="acknowledgeAlarmModal.html">
    <div class="modal-header">
        <h3 class="modal-title">
          Acknowledge {{ alarm.triggerValue.id.name }} out of limits {{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty_short':true }}
        </h3>
    </div>
    <div class="modal-body">
      <form>
        <textarea ng-model="form.comment" class="form-control" placeholder="Comment"></textarea>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="ok()">Acknowledge</button>
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
