.frame {
  display: inline-block;
  width: 412px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  margin-top: 50px
}

.frame .header {
  border-bottom: 1px solid #d3d3d3;
  height: 64px;
  line-height: 64px;
  padding-left: 24px;
  position: relative;
  text-align: left;
  font-size: large;
}

.frame .body {
  padding: 24px;
  text-align: left;
}
