mat-sidenav-container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

mat-sidenav {
  width: 250px;
  background-color: #fafafa;
  border-right: 1px solid #d3d3d3;
}

mat-toolbar {
  background-color: #fafafa;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: content-box;
  /*color: rgba(0, 0, 0, .654);*/
  color: #d3d3d3;
  font-weight: 300;
  font-size: 14px;
}

.mat-toolbar .mat-icon {
  padding-right: 16px;
}

.nav-item-group {
  color: rgba(0, 0, 0, .654);
}

.nav-item-group.active {
  background-color: rgba(0, 0, 0, .04);
}

.nav-item-group-items {
  margin-right: 20px;
}

.item-icon {
  padding-right: 16px;
}

.nav-item-group-items {
  border-radius: 4px;
}

.search-input {
  font: inherit;
  line-height: 18px;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}

.search-input:focus {
  color: #1b61b9;
}
