.message-bar {
  background-color: #ff4100 !important;
  color: #fff !important;
  overflow: hidden;
  position: relative;
}

.mat-toolbar-row {
  height: 48px;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4100;
  height: 48px;
  line-height: 48px;
}
