.text-action {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  color: #000;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.text-action:hover {
  color: #1b61b9;
}

:host.active .text-action {
  color: #1b61b9;
}

:host.active .action-content {
  color: #1b61b9;
  margin-bottom: -2px;
  border-bottom: 2px solid #1b61b9;
}

:host.disabled .text-action {
  cursor: not-allowed;
}

:host.disabled .text-action {
  color: #aaa;
}

:host.disabled .action-content {
  color: #aaa;
}
