<mdb-pane active-pane="{{ vm.info.qualifiedName|spaceSystem }}" title="{{ vm.info.name }}">

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal">
          <dt>Qualified&nbsp;Name</dt>
          <dd>{{ vm.info.qualifiedName }}</dd>

          <dt>Aliases</dt>
          <dd>
            <table class="table table-condensed small" style="margin-bottom: 0;">
              <tr ng-repeat="id in vm.info.alias">
                <td style="border: none; white-space: nowrap" width="1"><span class="label label-default">{{ id.namespace }}</span></td>
                <td style="border: none;">{{ id.name }}</td>
              </tr>
            </table>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="btn-toolbar" role="toolbar" style="padding-bottom: 0.5em;">
          <div class="btn-group btn-group-xs pull-right" role="group">
            <!--button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'15m'">15m</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'30m'" >30m</button-->
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1h'">1h</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'5h'">5h</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1d'">1d</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1w'">1w</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1m'">1m</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'3m'">3m</button>
          </div>
        </div>

        <div plot ng-if="vm.info.type.engType == 'float' || vm.info.type.engType == 'integer'"
          pinfo="vm.info"
          para="vm.para"
          plotmode="plotmode"
          style="width: 100%">
        </div>
      </div>

      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Datasource</dt>
          <dd>{{ vm.info.dataSource|capitalize }}</dd>

          <dt>Description</dt>
          <dd>{{ vm.info.shortDescription | nvl:'-' }}</dd>
        </dl>

        <hr>

        <dl class="dl-horizontal">
          <dt>Eng. Type</dt>
          <dd>
            {{ vm.info.type.engType|capitalize }}
            <span ng-if="vm.info.type.engType == 'enumeration'" class="glyphicon glyphicon-list" style="cursor: pointer;" ng-click="vm.openEnumValuesModal()"></span>
          </dd>

          <dt>Latest Value</dt>
          <dd ng-if="vm.para">
            {{ vm.para | stringValue }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}
          </dd>
          <dd ng-if="!vm.para">-</dd>

          <dt>Generated</dt>
          <dd>{{ vm.para.generationTimeUTC | nvl:'-' }}</dd>

          <dt>Monitoring</dt>
          <dd>
            <img ng-if="vm.para.monitoringResult" ng-src="/_static/app/alarms/images/level{{ vm.para.monitoringResult | monitoringLevel }}.png" uib-tooltip="{{ vm.para.monitoringResult | monitoringValue }}">
            {{ vm.para.monitoringResult | monitoringValue | nvl:'-' }}
          </dd>
        </dl>

        <hr>

        <dl class="dl-horizontal">
          <dt>Raw Type</dt>
          <dd>{{ vm.info.type.dataEncoding.type | capitalize }}</dd>

          <dt>Size In Bits</dt>
          <dd>{{ vm.info.type.dataEncoding.sizeInBits | nvl:'-' }}</dd>

          <dt>Byte Order</dt>
          <dd ng-if="vm.info.type.dataEncoding.littleEndian">Little Endian</dd>
          <dd ng-if="!vm.info.type.dataEncoding.littleEndian">Big Endian</dd>

          <dt>Encoding</dt>
          <dd>{{ vm.info.type.dataEncoding.encoding }}</dd>

          <dt>Calibrator</dt>
          <dd>{{ vm.info.type.dataEncoding.calibrator | nvl:'-' }}</dd>
        </dl>

        <hr>

        <dl class="dl-horizontal" ng-if="vm.info.type.engType == 'float' || vm.info.type.engType == 'integer'">

          <dt>High Limits</dt>
          <dd>
            <span ng-if="vm.info.severe | has:'maxInclusive'">
              Severe: {{ vm.info.severe.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.critical | has:'maxInclusive'">
              Critical: {{ vm.info.critical.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.distress | has:'maxInclusive'">
              Distress: {{ vm.info.distress.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.warning | has:'maxInclusive'">
              Warning: {{ vm.info.warning.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.watch | has:'maxInclusive'">
              Watch: {{ vm.info.watch.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="!(vm.info.watch|has:'maxInclusive') && !(vm.info.warning|has:'maxInclusive') && !(vm.info.distress|has:'maxInclusive') && !(vm.info.critical|has:'maxInclusive') && !(vm.info.severe|has:'maxInclusive')">-</span>
          </dd>

          <dt>Low Limits</dt>
          <dd>
            <span ng-if="vm.info.watch | has:'minInclusive'">
              Watch: {{ vm.info.watch.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.warning | has:'minInclusive'">
              Warning: {{ vm.info.warning.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.distress | has:'minInclusive'">
              Distress: {{ vm.info.distress.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.critical | has:'minInclusive'">
              Critical: {{ vm.info.critical.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="vm.info.severe | has:'minInclusive'">
              Severe: {{ vm.info.severe.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
            </span>
            <span ng-if="!(vm.info.watch|has:'minInclusive') && !(vm.info.warning|has:'minInclusive') && !(vm.info.distress|has:'minInclusive') && !(vm.info.critical|has:'minInclusive') && !(vm.info.severe|has:'minInclusive')">-</span>
          </dd>
        </dl>

      </div>

      <!--div class="col-md-8">
        <div class="btn-toolbar" role="toolbar" style="padding-bottom: 0.5em;">
          <div class="btn-group btn-group-xs pull-right" role="group">
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1h'">1h</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'5h'">5h</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1d'">1d</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1w'">1w</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'1m'">1m</button>
            <button type="button" class="btn btn-default" ng-model="plotmode" uib-btn-radio="'3m'">3m</button>
          </div>
        </div>

        <div plot ng-if="vm.info.type.engType == 'float' || vm.info.type.engType == 'integer'"
          pinfo="vm.info"
          para="vm.para"
          plotmode="plotmode"
          style="width: 100%">
        </div>
      </div-->

    </div>

    <!--div class="latest-values">
      <div class="inline-header">Latest Value Updates</div>
      <table>
        <tr>
          <th>abc</th>
          <th>def</th>
        </tr>
        {% for val in latest_values %}
          <tr>
            <td>{{ val }}a</td>
            <td>{{ val }}b</td>
          </tr>
        {% endfor %}
      </table>
    </div-->
  </div>
</mdb-pane>

<script type="text/ng-template" id="enumValuesModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 class="modal-title">List of Values</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped table-condensed">
      <tr ng-repeat="v in info.type.enumValue">
        <th>{{ v.value }}</th>
        <td>{{ v.label}} </td>
      </tr>
    </table>
  </div>
</script>
