.extra-bar-container {
  padding: 12px;
  border-bottom: 1.1px solid rgba(0, 0, 0, 0.08);
}

.extra-bar {
  height: 24px;
  line-height: 24px;
}

.separator {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

table.logs {
  line-height: 12px;
}

table.logs td {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.654);
  vertical-align: top;
}

table.logs td.time {
  opacity: 0.8;
}

table.logs tr.service td {
  font-weight: bold;
}

table.logs td.message {
  white-space: pre-wrap;
}
