<div class="container-fluid" ng-controller="MDBTemplateController as templateVm">
  <div ng-if="!standalone" class="sidebar" style="width: 230px;">
    <ul class="nav nav-sidebar">
      <li ng-class="{active: activePane == 'overview'}"><a href="/{{ yamcsInstance }}/mdb">Overview</a></li>
      <li ng-class="{
            active: (activePane == ss.qualifiedName) || (ss.qualifiedName == '/yamcs' && (activePane | startsWith:'/yamcs'))
          }" ng-repeat="ss in templateVm.mdb.flatSpaceSystems | orderBy:'qualifiedName'">
        <a href="/{{ yamcsInstance }}/mdb{{ ss.qualifiedName }}/parameters">{{ ss.qualifiedName }}</a>
      </li>
    </ul>
  </div>
  <div class="main" ng-class="{ 'with-sidebar': !standalone }">
    <uib-alert ng-repeat="msg in shell.messages" type="{{ msg.type }}" close="shell.closeMessage($index)">{{ msg.msg }}</uib-alert>
    <ng-transclude></ng-transclude>
  </div>
</div>
