<h2 mat-dialog-title>Change password of {{ user.name }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="ya-form">
    <label>
      Password
      <br />
      <input type="password" formControlName="password" />
    </label>
    <br />
    <label>
      Password confirmation
      <br />
      <input type="password" formControlName="passwordConfirmation" />
    </label>
  </form>
  @if (form.errors?.passwordMismatch) {
    <p>Confirmation does not match password</p>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button
    appearance="primary"
    mat-dialog-close
    (click)="changePassword()"
    [disabled]="!form.valid">
    OK
  </ya-button>
</mat-dialog-actions>
