<ng-container *ngIf="instance$ | async as instance">
  <app-mdb-page *ngIf="command$ | async as command">
    <app-mdb-toolbar>
      <a mat-icon-button routerLink=".." [queryParams]="{instance: instance.name}" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </a> {{ command.qualifiedName }}
    </app-mdb-toolbar>

    <div class="panel-content">
      <app-command-detail [instance]="instance"
                          [command]="command">
      </app-command-detail>
    </div>
  </app-mdb-page>
</ng-container>
