<dl *ngIf="offset" class="dl-horizontal no-lead no-trail">
  <dt>Entry</dt>
  <dd>
    {{ parameter.qualifiedName | shortName }}{{ offset }}
  </dd>

  <dt>Space System</dt>
  <dd>
    <ng-container *ngIf="(parameter.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/telemetry/parameters"
         [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
         class="ya-link">
        {{ spaceSystemName }}
      </a>
    </ng-container>
  </dd>

  <dt>Type</dt>
  <dd>
    <span class="mono" *ngIf="(entry$ | async).type?.engType as engType; else dash">
      {{ engType }}
    </span>
  </dd>

  <dt>Description</dt>
  <dd>
    <ng-container *ngIf="entry$ | async as entry; else dash">
      {{ entry.longDescription || entry.shortDescription || '-' }}
    </ng-container>
  </dd>

  <dt>Source</dt>
  <dd>{{ (parameter.dataSource | titlecase) || '-' }}</dd>
</dl>

<dl class="dl-horizontal no-trail" [class.no-lead]="!offset">
  <ng-container *ngIf="offset">
    <dt>Host Parameter</dt>
    <dd>
      <a [routerLink]="['/telemetry/parameters', parameter.qualifiedName]"
         [queryParams]="{c: yamcs.context}"
         class="ya-link">
        {{ parameter.qualifiedName | shortName }}
      </a>
    </dd>
  </ng-container>

  <ng-container *ngIf="!offset">
    <dt>Parameter</dt>
    <dd>{{ parameter.qualifiedName | shortName }}</dd>
  </ng-container>

  <ng-container *ngIf="!offset">
    <dt>Space System</dt>
    <dd>
      <ng-container *ngIf="(parameter.qualifiedName | spaceSystemName) as spaceSystemName">
        <a routerLink="/telemetry/parameters"
           [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
           class="ya-link">
          {{ spaceSystemName }}
        </a>
      </ng-container>
    </dd>
  </ng-container>

  <ng-container *ngFor="let alias of parameter.alias">
    <dt>{{ alias.namespace }}</dt>
    <dd>{{ alias.name }}</dd>
  </ng-container>

  <dt>Type</dt>
  <dd>
    <span class="mono" *ngIf="parameter.type?.engType as engType; else dash">
      {{ engType }}
    </span>
  </dd>

  <dt>Description</dt>
  <dd>{{ parameter.longDescription || parameter.shortDescription || '-' }}</dd>

  <ng-container *ngIf="!offset">
    <dt>Source</dt>
    <dd>{{ (parameter.dataSource | titlecase) || '-' }}</dd>
  </ng-container>
</dl>

<p>&nbsp;</p>
<h3>Current value</h3>
<ng-container *ngIf="pval?.engValue as value">
  <ng-container [ngSwitch]="value.type">
    <table *ngSwitchCase="'AGGREGATE'" yaDataTable>
      <tr>
        <th>Member</th>
        <th>Type</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let name of value.aggregateValue!.name; index as i">
        <ng-container *ngIf="((offset || '') + '.' + name) as memberOffset">
          <td>
            <a [routerLink]="['/telemetry/parameters', parameter.qualifiedName + memberOffset]"
              [queryParams]="{c: yamcs.context}">{{ name }}</a>
          </td>
          <td>
            <span class="mono" *ngIf="(parameter | entryForOffset:memberOffset)?.type?.engType as engType; else dash">
              {{ engType }}
            </span>
          </td>
          <td>{{ (parameter | entryForOffset:memberOffset)?.shortDescription || '-' }}</td>
          <td>{{ value.aggregateValue!.value[i] | value }}</td>
        </ng-container>
      </tr>
    </table>
    <table *ngSwitchCase="'ARRAY'" yaDataTable>
      <tr>
        <th>Index</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let element of value.arrayValue!; index as i">
        <td>
          <a [routerLink]="['/telemetry/parameters', parameter.qualifiedName + (offset || '') + '[' + i + ']']"
             [queryParams]="{c: yamcs.context}">{{ i }}</a>
        </td>
        <td>{{ element | value }}</td>
      </tr>
    </table>
    <span class="pval" *ngSwitchDefault>
      <app-expirable [pval]="pval" style="white-space: nowrap">
        <ng-container *ngIf="pval.monitoringResult">
          <app-alarm-level [level]="pval.monitoringResult"></app-alarm-level>&nbsp;
        </ng-container>
        {{ value | value }}
        <span *ngIf="parameter.type?.unitSet">{{ parameter.type?.unitSet | units }}</span>
      </app-expirable>
    </span>
    <br>
    <div class="meter-size-constrainer">
      <ng-container *ngIf="pval.alarmRange">
        <app-severity-meter [pval]="pval"></app-severity-meter>
      </ng-container>
      <br>
      <span class="subtext">
        Generation time: {{ pval.generationTime | datetime }}<br>
        Raw value: {{ (pval.rawValue | value) || '-' }}<br>
      </span>
    </div>
  </ng-container>
</ng-container>
<span *ngIf="!(pval?.engValue)" style="white-space: nowrap">---</span>

<ng-template #dash>-</ng-template>
