<table mat-table
       *ngIf="dataSource"
       class="ya-data-table expand"
       [dataSource]="dataSource">

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef>Severity</th>
    <td mat-cell *matCellDef="let pval">
      <app-alarm-level *ngIf="pval.monitoringResult" [level]="pval.monitoringResult"></app-alarm-level>
      <span *ngIf="!pval.monitoringResult">-</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="generationTime">
    <th mat-header-cell *matHeaderCellDef>Generation Time</th>
    <td mat-cell *matCellDef="let pval">{{ (pval.generationTime | datetime) || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="receptionTime">
    <th mat-header-cell *matHeaderCellDef>Reception Time</th>
    <td mat-cell *matCellDef="let pval">{{ (pval.acquisitionTime | datetime) || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="rawValue">
    <th mat-header-cell *matHeaderCellDef>Raw</th>
    <td mat-cell *matCellDef="let pval" class="wrap200">{{ (pval.rawValue | value) || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="engValue">
    <th mat-header-cell *matHeaderCellDef>Eng</th>
    <td mat-cell *matCellDef="let pval" class="wrap200">{{ (pval.engValue | value) || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="rangeCondition">
    <th mat-header-cell *matHeaderCellDef>Range Condition</th>
    <td mat-cell *matCellDef="let pval">{{ pval.rangeCondition || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="acquisitionStatus">
    <th mat-header-cell *matHeaderCellDef>Acquisition Status</th>
    <td mat-cell *matCellDef="let pval">{{ pval.acquisitionStatus || '-' }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="expand"></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
