<dl class="dl-horizontal no-lead no-trail">
  <dt>Parameter</dt>
  <dd>{{ parameter.qualifiedName | shortName }}</dd>

  <dt>Space System</dt>
  <dd>
    <ng-container *ngIf="(parameter.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/parameters"
         [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
         class="ya-link">
        {{ spaceSystemName }}
      </a>
    </ng-container>
  </dd>

  <ng-container *ngFor="let alias of parameter.alias">
    <dt>{{ alias.namespace }}</dt>
    <dd>{{ alias.name }}</dd>
  </ng-container>

  <dt>Description</dt>
  <dd>{{ parameter.longDescription || parameter.shortDescription || '-' }}</dd>

  <dt>Type</dt>
  <dd style="font-family: monospace">{{ parameter.type?.engType || '-' }}</dd>

  <dt>Source</dt>
  <dd>{{ (parameter.dataSource | titlecase) || '-' }}</dd>
</dl>

<ng-container *ngIf="parameter.usedBy?.algorithm || parameter.usedBy?.container">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Used By</h4>
  <table yaDataTable>
    <tr>
      <th>Type</th>
      <th>Ref</th>
    </tr>
    <tr *ngFor="let algorithm of parameter.usedBy?.algorithm">
      <td>Algorithm</td>
      <td>
        <a [routerLink]="['/mdb/algorithms/', algorithm.qualifiedName]"
           [queryParams]="{c: yamcs.context}">
          {{ algorithm.qualifiedName }}
        </a>
      </td>
    </tr>
    <tr *ngFor="let container of parameter.usedBy?.container">
      <td>Container</td>
      <td>
        <a [routerLink]="['/mdb/containers/', container.qualifiedName]"
           [queryParams]="{c: yamcs.context}">
          {{ container.qualifiedName }}
        </a>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
</ng-container>

<ng-container *ngIf="parameter.type?.dataEncoding">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Data Encoding</h4>
  <dl class="dl-horizontal no-trail">
    <dt>Size in Bits</dt>
    <dd>{{ parameter.type?.dataEncoding?.sizeInBits | nvl:'-' }}</dd>
    <ng-container *ngIf="parameter.type?.dataEncoding?.littleEndian !== undefined">
      <dt>Byte Order</dt>
      <dd>
        <ng-container *ngIf="parameter.type?.dataEncoding?.littleEndian !== undefined">
          {{ parameter.type?.dataEncoding?.littleEndian ? 'Little Endian' : 'Big Endian' }}
        </ng-container>
        <ng-container *ngIf="parameter.type?.dataEncoding?.littleEndian === undefined">
          -
        </ng-container>
      </dd>
    </ng-container>
    <dt>Encoding</dt>
    <dd>{{ parameter.type?.dataEncoding?.encoding || '-' }}</dd>
  </dl>
</ng-container>

<ng-container *ngIf="parameter.type?.engType === 'integer' || parameter.type?.engType === 'float'">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Calibration</h4>
  <app-parameter-calibration [parameter]="parameter"></app-parameter-calibration>
  <p>&nbsp;</p>
</ng-container>

<ng-container *ngIf="parameter.type?.engType === 'enumeration'">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Enumeration</h4>
  <table yaDataTable *ngIf="parameter.type?.engType === 'enumeration'">
    <tr>
      <th width="100">Value</th>
      <th width="100">Label</th>
      <th width="200">Alarm Level (default)</th>
    </tr>
    <tr *ngFor="let enumValue of parameter.type?.enumValue">
      <td style="white-space: nowrap">{{ enumValue.value }}</td>
      <td style="white-space: nowrap">{{ enumValue.label }}</td>
      <td>
        <ng-container *ngIf="getDefaultAlarmLevel(parameter, enumValue) as level">
          <app-alarm-level [level]="level" [grayscale]="true"></app-alarm-level>
          {{ level }}
        </ng-container>
        <span *ngIf="!getDefaultAlarmLevel(parameter, enumValue)">-</span>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
</ng-container>

<ng-container *ngIf="parameter.type?.engType === 'integer' || parameter.type?.engType === 'float'">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Alarm Levels</h4>
  <table yaDataTable *ngIf="parameter.type?.defaultAlarm?.staticAlarmRange as ranges; else noLevels">
    <tr>
      <th>Alarm Level (default)</th>
      <th>Range</th>
    </tr>
    <tr *ngFor="let range of ranges">
      <td>
        <app-alarm-level [level]="range.level" [grayscale]="true"></app-alarm-level>
        {{ range.level }}
      </td>
      <td>
        <app-interval *ngIf="(range.minInclusive !== undefined
                          || range.minExclusive !== undefined
                          || range.maxInclusive !== undefined
                          || range.maxExclusive !== undefined); else dash"
                      [left]="range.minInclusive | nvl:range.minExclusive"
                      [right]="range.maxInclusive | nvl:range.maxExclusive"
                      [leftInclusive]="range.minInclusive !== undefined"
                      [rightInclusive]="range.maxInclusive !== undefined">
        </app-interval>
        <ng-template #dash>-</ng-template>
      </td>
    </tr>
  </table>
  <ng-template #noLevels>None</ng-template>
  <p>&nbsp;</p>
</ng-container>

<ng-container *ngIf="parameter.type?.engType === 'time'">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>
  <h4>Time Info</h4>
  <dl class="dl-horizontal">
    <ng-container *ngIf="parameter.type?.absoluteTimeInfo.epoch">
      <dt>Epoch</dt>
      <dd>{{ parameter.type?.absoluteTimeInfo.epoch }}</dd>
    </ng-container>
    <ng-container *ngIf="parameter.type?.absoluteTimeInfo.offsetFrom">
      <dt>Offset from</dt>
      <dd>
        <a [routerLink]="['/mdb/parameters/', parameter.type?.absoluteTimeInfo.offsetFrom.qualifiedName]"
           [queryParams]="{c: yamcs.context}"
           class="ya-link">
          {{ parameter.type?.absoluteTimeInfo.offsetFrom.qualifiedName }}
        </a>
      </dd>
    </ng-container>
    <ng-container *ngIf="parameter.type?.absoluteTimeInfo.offset !== undefined">
      <dt>Offset</dt>
      <dd>{{ parameter.type?.absoluteTimeInfo.offset }}</dd>
    </ng-container>
    <ng-container *ngIf="parameter.type?.absoluteTimeInfo.scale !== undefined">
      <dt>Scale</dt>
      <dd>{{ parameter.type?.absoluteTimeInfo.scale }}</dd>
    </ng-container>
    <ng-container *ngIf="parameter.type?.absoluteTimeInfo.initialValue !== undefined">
      <dt>Initial Value</dt>
      <dd>{{ parameter.type?.absoluteTimeInfo.initialValue }}</dd>
    </ng-container>
  </dl>
</ng-container>

<ng-container *ngIf="parameter.type?.engType === 'aggregate'">
  <div class="section-divider">
    <mat-divider></mat-divider>
  </div>

  <h4>Members</h4>
  <table yaDataTable>
    <tr>
      <th>Member</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let member of parameter.type?.member">
      <td>{{ member.name }}</td>
      <td>{{ member.type?.engType || '-' }}</td>
    </tr>
  </table>
</ng-container>
