<app-instance-page *ngIf="parameter$ | async as parameter">
  <app-instance-toolbar>
    <ng-container *ngIf="(parameter.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/parameters"
         [queryParams]="{instance: instance.name, filter: spaceSystemName}"
         class="ya-link ya-header-link">
        {{ spaceSystemName }}
      </a>/{{ parameter.qualifiedName | shortName }}
    </ng-container>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-parameter-detail [instance]="instance"
                          [parameter]="parameter">
    </app-parameter-detail>
  </div>
</app-instance-page>
