<table yaDataTable
       *ngIf="parameter.type?.dataEncoding?.defaultCalibrator || parameter.type?.dataEncoding?.contextCalibrator; else noCalibrator">
  <tr>
    <th width="200">Calibrator</th>
    <th width="100">Type</th>
    <th width="200">Definition</th>
  </tr>
  <tr *ngIf="parameter.type?.dataEncoding?.defaultCalibrator as defaultCalibrator">
    <td>default</td>
    <td>{{ defaultCalibrator.type }}</td>
    <td [ngSwitch]="defaultCalibrator.type">
      <span *ngSwitchCase="'POLYNOMIAL'"
            [innerHTML]="defaultCalibrator.polynomialCalibrator.coefficient | polynomial">
      </span>
      <span *ngSwitchCase="'SPLINE'">
        {{ defaultCalibrator.splineCalibrator.point.length }} points
      </span>
      <span *ngSwitchCase="'JAVA_EXPRESSION'">
        {{ defaultCalibrator.javaExpressionCalibrator.formula }}
      </span>
      <span *ngSwitchDefault>-</span>
    </td>
  </tr>
  <ng-container *ngIf="parameter.type?.dataEncoding?.contextCalibrator as contextCalibrators">
    <tr *ngFor="let contextCalibrator of contextCalibrators">
      <td>
        <ng-container *ngFor="let comparison of contextCalibrator.comparison">
          <a [routerLink]="['/mdb/parameters/', comparison.parameter.qualifiedName]"
             [queryParams]="{instance: instance}">{{ comparison.parameter.qualifiedName }}</a>
          {{ comparison.operator | operator }}
          {{ comparison.value }}
        </ng-container>
      </td>
      <td>{{ contextCalibrator.calibrator.type }}</td>
      <td [ngSwitch]="contextCalibrator.calibrator.type">
        <span *ngSwitchCase="'POLYNOMIAL'"
              [innerHTML]="contextCalibrator.calibrator.polynomialCalibrator.coefficient | polynomial">
        </span>
        <span *ngSwitchCase="'SPLINE'">
          {{ contextCalibrator.calibrator.splineCalibrator.point.length }} points
        </span>
        <span *ngSwitchCase="'JAVA_EXPRESSION'">
          {{ contextCalibrator.calibrator.javaExpressionCalibrator.formula }}
        </span>
        <span *ngSwitchDefault>-</span>
      </td>
    </tr>
  </ng-container>
</table>
<ng-template #noCalibrator>None</ng-template>
