<ng-container *ngIf="table$ | async as table">
  <ya-detail-pane>
    <ng-container *ngIf="selectedRecord$ | async as selectedRecord; else noSelection">
      <ya-detail-toolbar>
        Record
      </ya-detail-toolbar>
      <div style="padding: 0 16px">
        <app-record [table]="table"
                    [record]="selectedRecord" />
      </div>
    </ng-container>
    <ng-template #noSelection>
      <ya-detail-toolbar>
        Select a record
      </ya-detail-toolbar>
    </ng-template>
  </ya-detail-pane>
  <div class="data-table-wrapper">
    <div class="panel-content">
      <ng-container *ngIf="records$ | async as records; else nodata">
        <table yaDataTable *ngIf="records.length; else nodata">
          <tr>
            <th *ngFor="let column of table.keyColumn">{{ column.name }}</th>
            <th *ngFor="let column of table.valueColumn">{{ column.name }}</th>
          </tr>
          <tr *ngFor="let record of records"
              [ngClass]="{selected: (record === (selectedRecord$ | async))}"
              (click)="selectRecord(record)">
            <td *ngFor="let column of table.keyColumn">
              {{ (record.column | columnValue:column.name | value) || '-' }}
            </td>
            <td *ngFor="let column of table.valueColumn"
                [class.mono]="column.type === 'BINARY'">
              {{ (record.column | columnValue:column.name | value) || '-' }}
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #nodata>
  <ya-empty-message>
    Empty table.
  </ya-empty-message>
</ng-template>
