<div class="main" style="padding: 40px;">
  <uib-alert ng-repeat="msg in shell.messages" type="{{ msg.type }}" close="shell.closeMessage($index)">{{ msg.msg }}</uib-alert>

  <uib-alert ng-if="vm.stats.unreadCount == 1" type="info">
    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
    1 more event since you loaded this page.
    <a class="alert-link" href="#" ng-click="vm.reloadData()">Reload?</a>
  </uib-alert>
  <uib-alert ng-if="vm.stats.unreadCount > 1" type="info">
    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
    {{ vm.stats.unreadCount }} more events since you loaded this page.
    <a class="alert-link" href="#" ng-click="vm.reloadData()">Reload?</a>
  </uib-alert>

  <div>
    <div class="pull-right" style="margin-left: 10px;">
      <div class="form-group form-group-sm" style="margin-bottom: 0; margin-top: -10px;">
        <div class="input-group input-group-sm" style="width: 200px">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" style="width: 200px;" ng-model="vm.searchText" placeholder="Search...">
          <span ng-if="vm.searchText" class="search-clear glyphicon glyphicon-remove-circle" ng-click="vm.searchText = ''"></span>
        </div>
      </div>
    </div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group" style="margin-top: -10px;">
        <button type="button" class="btn btn-default btn-sm" ng-model="vm.severityToggles.info" uib-btn-checkbox>
          <span class="glyphicon" ng-class="{
            'glyphicon-ok-circle': vm.severityToggles.info,
            'glyphicon-remove-circle': !vm.severityToggles.info
          }"></span>
          Info
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-model="vm.severityToggles.warning" uib-btn-checkbox>
          <span class="glyphicon" ng-class="{
            'glyphicon-ok-circle': vm.severityToggles.warning,
            'glyphicon-remove-circle': !vm.severityToggles.warning
          }"></span>
          Warning
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-model="vm.severityToggles.error" uib-btn-checkbox>
          <span class="glyphicon" ng-class="{
            'glyphicon-ok-circle': vm.severityToggles.error,
            'glyphicon-remove-circle': !vm.severityToggles.error
          }"></span>
          Error
        </button>
      </div>
    </div>
    <h1 class="page-header">Events</h1>
  </div>

  <table class="table table-condensed" infinite-scroll="loadMoreEvents()" infinite-scroll-distance="0" infinite-scroll-disabled="ctx.loadingMoreData">
    <tr>
      <th width="1"></th>
      <th>Message</th>
      <th>Source</th>
      <th>Type</th>
      <th>Generated</th>
    </tr>

    <tr ng-repeat="event in vm.events | filter:vm.filterTable | orderBy:'-generationTime'">
      <td style="text-align: center;">
        <span ng-if="event.severity == 'INFO'" class="label label-info">Info</span>
        <span ng-if="event.severity == 'WARNING'" class="label label-warning">Warning</span>
        <span ng-if="event.severity == 'ERROR'" class="label label-danger">Error</span>
      </td>

      <td>
        <span ng-bind-html="event.message | nl2br"></span>
      </td>

      <td>
        {{ event.source }}
      </td>

      <td>
        {{ event.type }}
      </td>

      <td>
        {{ event.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
      </td>
    </tr>
  </table>
  <p ng-show="ctx.loadingMoreData">Loading more events...</p>
</div>
