<h2 mat-dialog-title>Create display</h2>

<mat-dialog-content>
  @if (page === 1) {
    <form [formGroup]="typeForm" class="ya-form">
      <label>
        Type
        <select formControlName="type">
          <option value="par">Parameter Table</option>
        </select>
      </label>
    </form>
  }

  @if (page === 2) {
    <form [formGroup]="filenameForm" class="ya-form">
      <label [class.invalid]="filenameForm.get('name')?.invalid">
        Name
        <input #filename type="text" formControlName="name" />
        @if (filenameForm.get("name")?.invalid) {
          <span class="error-message">
            File name must end with
            <code>.par</code>
          </span>
        }
      </label>
      <br />
      <label>
        Path
        <input type="text" formControlName="path" />
      </label>
    </form>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  @if (page === 1) {
    <ya-button (click)="selectType()" [disabled]="!typeForm.valid">NEXT »</ya-button>
  }
  @if (page === 2) {
    <ya-button appearance="primary" (click)="save()" [disabled]="!filenameForm.valid">
      SAVE
    </ya-button>
  }
</mat-dialog-actions>
