<h2 mat-dialog-title>Create display</h2>

<mat-dialog-content>
  @if (page === 1) {
    <ya-form [formGroup]="typeForm">
      <ya-field label="Type">
        <ya-select formControlName="type">
          <ya-option id="par" label="Parameter Table" />
        </ya-select>
      </ya-field>
    </ya-form>
  }

  @if (page === 2) {
    <ya-form [formGroup]="filenameForm">
      <ya-field label="Name" [class.invalid]="filenameForm.get('name')?.invalid">
        <input #filename type="text" formControlName="name" />
        @if (filenameForm.get("name")?.invalid) {
          <span class="error-message">
            File name must end with
            <code>.par</code>
          </span>
        }
      </ya-field>

      <ya-field label="Path">
        <input type="text" formControlName="path" />
      </ya-field>
    </ya-form>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  @if (page === 1) {
    <ya-button (click)="selectType()" [disabled]="!typeForm.valid">NEXT »</ya-button>
  }
  @if (page === 2) {
    <ya-button appearance="primary" (click)="save()" [disabled]="!filenameForm.valid">
      SAVE
    </ya-button>
  }
</mat-dialog-actions>
