<div #shell
     class="shell"
     [class.focused]="focused$ | async"
     (focus)="onFocus()"
     (focusout)="onFocusOut()"
     tabindex="0"
     contenteditable="true"
     spellcheck="false"
     (paste)="onPaste($event)">
  <div #top class="top"></div>
  <ya-dots *ngIf="!(ready$ | async)" color="#3f0" />
  <pre *ngIf="ready$ | async">
    <code>
      <span class="preserved"><ng-container *ngFor="let line of lines$ | async">{{ line }}<br></ng-container></span>
      {{ prompt$ | async }}
      <span class="preserved" [innerHTML]="commandLineHTML$ | async"></span>
      </code>
  </pre>
  <div #bottom class="bottom"></div>
</div>
