<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      Yamcs
    </a>
    <button mat-button *ngIf="instance$ | async as instance">
      <span class="selected-instance">{{ instance.name }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <span style="flex: 1 1 auto"></span>
    <ng-container *ngIf="instance$ | async as instance">
      <a mat-button routerLink="monitor/displays" [queryParams]="{instance: instance.name}">
        <mat-icon>dashboard</mat-icon>
        Monitor
      </a>
      <a mat-button routerLink="mdb" [queryParams]="{instance: instance.name}">
        <mat-icon>book</mat-icon>
        MDB
      </a>
      <a mat-button routerLink="system/dashboard" [queryParams]="{instance: instance.name}">
        <mat-icon>memory</mat-icon>
        System
      </a>
    </ng-container>

    <mat-menu #appMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item>
        <mat-icon>brightness_3</mat-icon>
        Dark Mode
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
