<mat-sidenav-container class="mat-typography">
  <mat-sidenav mode="side" opened="true">
    <a routerLink="/">Home</a> / {{ (instance$ | async).name }}<br><br>

    <mat-nav-list dense>
      <h3 matSubheader>Processors</h3>
      <a mat-list-item routerLink="/monitor">realtime</a>

      <h3 matSubheader>System</h3>
      <a mat-list-item routerLink="links">Links</a>
      <a mat-list-item routerLink="services">Services</a>
      <a mat-list-item>Active Users</a>
      <a mat-list-item>Events</a>

      <h3 matSubheader>MDB</h3>
      <a mat-list-item routerLink="mdb/overview">Overview</a>
      <a mat-list-item routerLink="mdb/parameters">Parameters</a>
      <a mat-list-item routerLink="mdb/commands">Commands</a>

      <h3 matSubheader>Schema</h3>
      <a mat-list-item>Overview</a>
      <a mat-list-item routerLink="schema/tables">Tables</a>
      <a mat-list-item routerLink="schema/streams">Streams</a>
      <a mat-list-item>Shell</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
