<ng-container *ngIf="instance$ | async as instance">
  <app-mdb-page *ngIf="spaceSystem$ | async as spaceSystem">
    <app-mdb-toolbar>
      <a mat-icon-button routerLink=".." [queryParams]="{instance: instance.name}" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </a> {{ qualifiedName }}
    </app-mdb-toolbar>

    <nav mat-tab-nav-bar>
      <a mat-tab-link
         routerLink="parameters"
         routerLinkActive #rlb="routerLinkActive"
         [active]="rlb.isActive"
         [queryParams]="{instance: instance.name}">
        <app-tab-detail-icon *ngIf="isDetailPageOf('parameters')"></app-tab-detail-icon>
        Parameters
      </a>

      <a mat-tab-link
         routerLink="containers"
         routerLinkActive #rlc="routerLinkActive"
         [active]="rlc.isActive"
         [queryParams]="{instance: instance.name}">
        <app-tab-detail-icon *ngIf="isDetailPageOf('containers')"></app-tab-detail-icon>
        Containers
      </a>

      <a mat-tab-link
         routerLink="commands"
         routerLinkActive #rld="routerLinkActive"
         [active]="rld.isActive"
         [queryParams]="{instance: instance.name}">
        <app-tab-detail-icon *ngIf="isDetailPageOf('commands')"></app-tab-detail-icon>
        Commands
      </a>

      <a mat-tab-link
         routerLink="algorithms"
         routerLinkActive #rle="routerLinkActive"
         [active]="rle.isActive"
         [queryParams]="{instance: instance.name}">
        <app-tab-detail-icon *ngIf="isDetailPageOf('algorithms')"></app-tab-detail-icon>
        Algorithms
      </a>

      <a mat-tab-link
         routerLink="changelog"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [queryParams]="{instance: instance.name}">
        Changelog
      </a>
    </nav>

    <div class="tab-content-wrapper">
      <div class="scrollpane">
        <div class="panel-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </app-mdb-page>
</ng-container>
