<div class="label">
  {{ label }}
  <ya-help *ngIf="description">
    {{ description }}
  </ya-help>

  <ya-errors #err [controlName]="name" />

  <div class="meta" [class.error]="err.invalid$ | async">
    <div class="item">{{ engType$ | async }}</div>
  </div>

  <div class="entries" [formArrayName]="name">
    <ng-container *ngFor="let control of formArray.controls; index as i">
      <ng-container [ngSwitch]="type.elementType.engType">

        <app-aggregate-argument *ngSwitchCase="'aggregate'"
                                [name]="name"
                                [type]="type.elementType"
                                [index]="i"
                                [dimensions]="ownDimensions"
                                [initialValue]="entryInitialValues[i]" />

        <app-binary-argument *ngSwitchCase="'binary'"
                             [name]="name"
                             [type]="type.elementType"
                             [index]="i"
                             [dimensions]="ownDimensions"
                             [formControlName]="i" />

        <app-boolean-argument *ngSwitchCase="'boolean'"
                              [name]="name"
                              [type]="type.elementType"
                              [index]="i"
                              [dimensions]="ownDimensions"
                              [formControlName]="i" />

        <app-enumeration-argument *ngSwitchCase="'enumeration'"
                                  [name]="name"
                                  [type]="type.elementType"
                                  [index]="i"
                                  [dimensions]="ownDimensions"
                                  [formControlName]="i" />

        <app-float-argument *ngSwitchCase="'float'"
                            [name]="name"
                            [type]="type.elementType"
                            [index]="i"
                            [dimensions]="ownDimensions"
                            [formControlName]="i" />

        <app-integer-argument *ngSwitchCase="'integer'"
                              [name]="name"
                              [type]="type.elementType"
                              [index]="i"
                              [dimensions]="ownDimensions"
                              [formControlName]="i" />

        <app-string-argument *ngSwitchCase="'string'"
                             [name]="name"
                             [type]="type.elementType"
                             [index]="i"
                             [dimensions]="ownDimensions"
                             [formControlName]="i" />

        <app-time-argument *ngSwitchCase="'time'"
                           [name]="name"
                           [type]="type.elementType"
                           [index]="i"
                           [dimensions]="ownDimensions"
                           [formControlName]="i" />

        <app-array-argument *ngSwitchCase="type.elementType.engType.endsWith('[]') ? type.elementType.engType : ''"
                            [name]="i"
                            [type]="type.elementType"
                            [index]="i"
                            [dimensions]="ownDimensions"
                            [initialValue]="entryInitialValues[i]" />
      </ng-container>

      <br>
    </ng-container>
  </div>
</div>
