<dl class="dl-horizontal no-lead">
  <dt>Command</dt>
  <dd>{{ command.qualifiedName | shortName }}</dd>

  <dt>System</dt>
  <dd>
    @if (command.qualifiedName | spaceSystemName; as spaceSystemName) {
      <a
        routerLink="/mdb/commands"
        [queryParams]="{ c: yamcs.context, filter: spaceSystemName }"
        class="ya-link">
        {{ spaceSystemName }}
      </a>
    }
  </dd>

  @for (alias of command.alias; track alias) {
    <dt>{{ alias.namespace }}</dt>
    <dd>{{ alias.name }}</dd>
  }

  <dt>Short description</dt>
  <dd>{{ command.shortDescription || "-" }}</dd>

  <dt>Long description</dt>
  <dd>
    @if (command.longDescription) {
      <app-markdown [text]="command.longDescription" />
    } @else {
      -
    }
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Base command</dt>
  @if (command.baseCommand) {
    <dd>
      <a
        [routerLink]="['/mdb/commands/', command.baseCommand.qualifiedName]"
        [queryParams]="{ c: yamcs.context }"
        class="ya-link">
        {{ command.baseCommand.qualifiedName }}
      </a>
    </dd>
  } @else {
    <dd>-</dd>
  }

  <dt>Abstract</dt>
  <dd>{{ command.abstract ? "Yes" : "No" }}</dd>

  <dt>Significance</dt>
  @if (command.significance) {
    <dd>
      <app-significance-level [level]="command.significance.consequenceLevel" />
      {{ command.significance.reasonForWarning }}
    </dd>
  } @else {
    <dd>-</dd>
  }

  <dt>Argument assignments</dt>
  @if (command.argumentAssignment) {
    <dd>
      @for (assignment of command.argumentAssignment; track assignment) {
        {{ assignment.name }} = {{ assignment.value }}
        <br />
      }
    </dd>
  } @else {
    <dd>-</dd>
  }

  <dt>Arguments</dt>
  @if (command.argument) {
    <dd>
      <table yaDataTable>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Signed</th>
          <th>Encoding</th>
          <th>Size in bits</th>
          <th>Byte order</th>
          <th>Range</th>
          <th>Initial value</th>
        </tr>
        @for (argument of command.argument; track argument) {
          <tr>
            <td>{{ argument.name || "-" }}</td>
            <td>{{ argument.description || "-" }}</td>
            <td>
              @if (argument.type.engType === "enumeration") {
                <span (click)="showEnum(argument)" matTooltip="Show enum states" class="enum">
                  {{ argument.type.engType }}
                </span>
              }
              @if (argument.type.engType !== "enumeration") {
                {{ argument.type.engType || "-" }}
              }
            </td>
            <td>{{ argument.type.signed ?? "-" }}</td>
            <td>{{ argument.type.dataEncoding.encoding || "-" }}</td>
            <td>{{ argument.type.dataEncoding.sizeInBits | nvl: "-" }}</td>
            <td>
              {{ argument.type.dataEncoding.littleEndian ? "Little Endian" : "Big Endian" }}
            </td>
            <td>
              @if (argument.type.rangeMin || argument.type.rangeMax) {
                <ya-interval [left]="argument.type.rangeMin" [right]="argument.type.rangeMax" />
              } @else {
                -
              }
            </td>
            <td>{{ argument.initialValue || "-" }}</td>
          </tr>
        }
      </table>
    </dd>
  } @else {
    <dd>-</dd>
  }
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Constraints</dt>
  @if (command.constraint) {
    <dd>
      <table yaDataTable>
        <tr>
          <th>Constraint</th>
          <th>Timeout</th>
        </tr>
        @for (constraint of command.constraint; track constraint) {
          <tr>
            <td>{{ constraint.expression }}</td>
            <td>{{ constraint.timeout || "-" }}</td>
          </tr>
        }
      </table>
    </dd>
  } @else {
    <dd>-</dd>
  }
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Verifiers</dt>
  <dd>
    @if (command.verifier?.length) {
      <table yaDataTable>
        <tr>
          <th>Stage</th>
          <th>Type</th>
          <th>Ref</th>
          <th>Check window</th>
          <th>Relative to</th>
          <th>On success</th>
          <th>On fail</th>
          <th>On timeout</th>
        </tr>
        @for (verifier of command.verifier; track verifier) {
          <tr>
            <td>{{ verifier.stage }}</td>
            <td>
              @if (verifier.algorithm) {
                Algorithm
              }
              @if (verifier.container) {
                Container
              }
              @if (verifier.expression) {
                Expression
              }
            </td>
            <td>
              @if (verifier.algorithm) {
                <a
                  [routerLink]="['/mdb/algorithms/', verifier.algorithm.qualifiedName]"
                  [queryParams]="{ c: yamcs.context }">
                  {{ verifier.algorithm.qualifiedName }}
                </a>
              }
              @if (verifier.container) {
                <a
                  [routerLink]="['/mdb/containers/', verifier.container.qualifiedName]"
                  [queryParams]="{ c: yamcs.context }">
                  {{ verifier.container.qualifiedName }}
                </a>
              }
              @if (verifier.expression) {
                {{ verifier.expression }}
              }
            </td>
            <td>
              [{{ verifier.checkWindow.timeToStartChecking || "0" }},{{
                verifier.checkWindow.timeToStopChecking || "0"
              }}]
            </td>
            <td>{{ verifier.checkWindow.relativeTo }}</td>
            <td>{{ verifier.onSuccess || "-" }}</td>
            <td>{{ verifier.onFail || "-" }}</td>
            <td>{{ verifier.onTimeout || "-" }}</td>
          </tr>
        }
      </table>
    } @else {
      -
    }
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Sequence entries</dt>
  <dd>
    @if (command.commandContainer?.entry) {
      <table yaDataTable>
        <tr>
          <th>Type</th>
          <th>Ref</th>
          <th>Size in bits</th>
          <th>Location in bits</th>
          <th>Reference location</th>
        </tr>
        @for (entry of command.commandContainer?.entry; track entry) {
          <tr>
            @if (entry.argument) {
              <td>Argument</td>
              <td>{{ entry.argument.name }}</td>
              <td>{{ entry.argument.type.dataEncoding.sizeInBits }}</td>
            } @else if (entry.parameter) {
              <td>Parameter</td>
              <td>
                <a
                  [routerLink]="['/mdb/parameters/', entry.parameter.qualifiedName]"
                  [queryParams]="{ c: yamcs.context }"
                  class="ya-link">
                  {{ entry.parameter.qualifiedName }}
                </a>
              </td>
              <td>{{ entry.parameter.type?.dataEncoding?.sizeInBits ?? "-" }}</td>
            } @else if (entry.fixedValue) {
              <td>Fixed value</td>
              <td>{{ entry.fixedValue.name }}: 0x{{ entry.fixedValue.hexValue }}</td>
              <td>{{ entry.fixedValue.sizeInBits }}</td>
            } @else if (entry.indirectParameterRef) {
              <td>Indirect parameter</td>
              <td>
                <a
                  [routerLink]="[
                    '/mdb/parameters/',
                    entry.indirectParameterRef.parameter.qualifiedName,
                  ]"
                  [queryParams]="{ c: yamcs.context }"
                  class="ya-link">
                  {{ entry.indirectParameterRef.parameter.qualifiedName }}
                  @if (entry.indirectParameterRef.aliasNamespace; as namespace) {
                    ({{ namespace }})
                  }
                </a>
              </td>
              <td>-</td>
            }
            <td>{{ entry.locationInBits }}</td>
            <td>{{ entry.referenceLocation }}</td>
          </tr>
        }
      </table>
    } @else {
      <span>-</span>
    }
  </dd>
</dl>
