@if (option(); as option) {
  <ya-field [label]="option.name" [hint]="option.required ? undefined : '(optional)'">
    <div class="meta" [class.error]="err.invalid$ | async">
      <div class="item">string</div>
    </div>

    @if (option.description?.length) {
      <ya-help>
        @for (description of option.description; track description) {
          <p>{{ description }}</p>
        }
      </ya-help>
    }
    <ya-errors #err [controlName]="option.name" />
    <input [formControl]="formControl" type="text" autocomplete="off" />
  </ya-field>
}
