<a mat-tab-link class="no-hover-effect" (click)="toggle()">
  <mat-icon>search</mat-icon>
</a>
@if (expanded()) {
  <input
    #searchInput
    class="ya-input"
    type="text"
    placeholder="Search parameter"
    autocomplete="off"
    spellcheck="false"
    [formControl]="searchControl"
    [matAutocomplete]="auto" />
  <mat-autocomplete
    #auto
    class="ya-autocomplete"
    panelWidth="400px"
    (optionSelected)="onSearchSelect($event)">
    @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option | memberPath">
        {{ option | memberPath }}
      </mat-option>
    }
  </mat-autocomplete>
}
