@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('LiberationSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
