mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--y-background-color);
  box-sizing: content-box;
}

mat-toolbar-row {
  padding-left: 24px;
}

.hide {
  visibility: hidden;
}

.toolbar-text {
  font-size: 12px;
}
