.meta {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.meta .item {
  flex: none;
  background-color: #eee;
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  color: rgba(0, 0, 0, .654);
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 10px;
}

.meta.error .item {
  background-color: crimson;
  color: white;
}

.members,
.entries {
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.meta .item.menu:hover {
  background-color: #009e97;
  color: white;
  cursor: pointer;
}
