<dl class="dl-horizontal no-lead">
  <dt>Container</dt>
  <dd>{{ container.qualifiedName | shortName }}</dd>

  <dt>System</dt>
  <dd>
    <ng-container *ngIf="(container.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/containers"
         [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
         class="ya-link">
        {{ spaceSystemName }}
      </a>
    </ng-container>
  </dd>

  <ng-container *ngFor="let alias of container.alias">
    <dt>{{ alias.namespace }}</dt>
    <dd>{{ alias.name }}</dd>
  </ng-container>

  <dt>Short Description</dt>
  <dd>{{ container.shortDescription || '-' }}</dd>

  <dt>Long Description</dt>
  <dd>
    <ng-container *ngIf="container.longDescription; else dash">
      <app-markdown [text]="container.longDescription" />
    </ng-container>
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Max Interval</dt>
  <dd>
    <span *ngIf="container.maxInterval">{{ container.maxInterval | duration }}</span>
    <span *ngIf="!container.maxInterval">-</span>
  </dd>

  <dt>Base Container</dt>
  <dd>
    <a *ngIf="container.baseContainer"
       [routerLink]="['/mdb/containers/', container.baseContainer.qualifiedName]"
       [queryParams]="{c: yamcs.context}"
       class="ya-link">
      {{ container.baseContainer.qualifiedName || '-' }}
    </a>
    <span *ngIf="!container.baseContainer">-</span>
  </dd>

  <dt>Restriction Criteria</dt>
  <dd>
    {{ container.restrictionCriteriaExpression || '-' }}
  </dd>

  <dt>Archive Partition</dt>
  <dd>
    <mat-icon *ngIf="container.archivePartition"
              class="icon14" style="vertical-align: middle">check</mat-icon>
    <mat-icon *ngIf="!container.archivePartition"
              class="icon14" style="vertical-align: middle">close</mat-icon>
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Sequence Entries</dt>
  <dd>
    <table *ngIf="container.entry" yaDataTable>
      <tr>
        <th>Type</th>
        <th>Ref</th>
        <th>Size in bits</th>
        <th>Location in Bits</th>
        <th>Reference Location</th>
      </tr>
      <tr *ngFor="let entry of container.entry">
        <ng-container *ngIf="entry.parameter">
          <td>Parameter</td>
          <td>
            <a [routerLink]="['/mdb/parameters/', entry.parameter!.qualifiedName]"
               [queryParams]="{c: yamcs.context}"
               class="ya-link">
              {{ entry.parameter.qualifiedName }}
            </a>
          </td>
          <td>{{ entry.parameter.type.dataEncoding?.sizeInBits ?? '-' }}</td>
        </ng-container>
        <ng-container *ngIf="entry.container">
          <td>Container</td>
          <td>{{ entry.container.qualifiedName }}</td>
          <td>{{ entry.container.sizeInBits ?? '-' }}</td>
        </ng-container>
        <td>{{ entry.locationInBits }}</td>
        <td>{{ entry.referenceLocation }}</td>
      </tr>
    </table>
    <span *ngIf="!container.entry">-</span>
  </dd>
</dl>

<ng-template #dash>-</ng-template>
