@if (group$ | async; as group) {
  <app-admin-page>
    <app-admin-toolbar>Edit Group: {{ group.name }}</app-admin-toolbar>
    <div class="form-content ya-form">
      <form [formGroup]="form" novalidate autocomplete="off">
        <label>
          Name
          <br />
          <input formControlName="name" type="text" />
        </label>
        <br />
        <label>
          Description
          <textarea formControlName="description" rows="5"></textarea>
        </label>
      </form>
      <p>&nbsp;</p>
      <ya-button (click)="showAddMembersDialog()" icon="add_circle_outline">Add members</ya-button>
      <p>&nbsp;</p>
      @if (memberItems$ | async; as memberItems) {
        <table yaDataTable style="width: 100%">
          <tr>
            <th width="1">Type</th>
            <th>Member</th>
            <th></th>
          </tr>
          @if (!memberItems.length) {
            <tr>
              <td colspan="3">No rows to display</td>
            </tr>
          }
          @for (item of memberItems; track item) {
            <tr>
              <td>
                <mat-icon matTooltip="User" style="vertical-align: middle">person</mat-icon>
              </td>
              <td>{{ item.label }}</td>
              <td style="text-align: right">
                <ya-text-action icon="delete" (click)="deleteItem(item)">DELETE</ya-text-action>
              </td>
            </tr>
          }
        </table>
      }
      <p>&nbsp;</p>
      <div class="action-bar">
        <ya-button (click)="location.back()">Cancel</ya-button>
        <ya-button
          appearance="primary"
          (click)="onConfirm()"
          [disabled]="!(dirty$ | async) || !form.valid">
          SAVE CHANGES
        </ya-button>
      </div>
    </div>
  </app-admin-page>
}
