<app-system-page *ngIf="stream$ | async as stream">
  <app-system-toolbar *ngIf="instance$ | async as instance">
    <a mat-icon-button routerLink=".." [queryParams]="{instance: instance.name}" color="primary">
      <mat-icon>arrow_back</mat-icon>
    </a> Streams / {{ stream.name }}
  </app-system-toolbar>

  <mat-tab-group>
    <mat-tab label="Columns">
      <table yaTable>
        <tr>
          <th width="150">Column</th>
          <th>Type</th>
        </tr>
        <tr *ngFor="let column of stream.column">
          <td>{{ column.name }}</td>
          <td>{{ column.type }}</td>
        </tr>
      </table>
    </mat-tab>

    <mat-tab label="Script">
      <code [innerHTML]="formatSQL(stream.script)"></code>
    </mat-tab>
  </mat-tab-group>
</app-system-page>
