<mat-sidenav-container class="mat-typography">
  <mat-sidenav mode="side" opened="true">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon>memory</mat-icon>
        System
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list dense *ngIf="instance$ | async as instance">
      <a mat-list-item
         routerLink="links"
         [queryParams]="{instance: instance.name}">Links</a>
      <a mat-list-item
         routerLink="services"
         [queryParams]="{instance: instance.name}">Services</a>
      <a mat-list-item
         routerLink="clients"
         [queryParams]="{instance: instance.name}">Clients</a>

      <h3 matSubheader>Schema</h3>
      <a mat-list-item>Overview</a>
      <a mat-list-item
         routerLink="schema/tables"
         [queryParams]="{instance: instance.name}">Tables</a>
      <a mat-list-item
         routerLink="schema/streams"
         [queryParams]="{instance: instance.name}">Streams</a>
      <a mat-list-item>Shell</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
