<mat-sidenav-container class="mat-typography">
  <mat-sidenav mode="side" opened="true">
    {{ (instance$ | async).name }}<br><br>

    <mat-nav-list dense>
      <a mat-list-item routerLink="links">Links</a>
      <a mat-list-item routerLink="services">Services</a>
      <a mat-list-item routerLink="clients">Clients</a>
      <a mat-list-item>Events</a>

      <h3 matSubheader>Schema</h3>
      <a mat-list-item>Overview</a>
      <a mat-list-item routerLink="schema/tables">Tables</a>
      <a mat-list-item routerLink="schema/streams">Streams</a>
      <a mat-list-item>Shell</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
