mat-tab-group {
  height: 100%;
  position: relative;
}

.data-table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.data-detail {
  background-color: #fafafa;
  float: right;
  height: 100%;
  width: 450px;
  overflow: auto;
  border-left: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.data-table-wrapper th, .data-table-wrapper td {
  white-space: nowrap;
}

.data-table-wrapper tr.selected td {
  background: #fafafa;
}

.data-table-wrapper tr:hover td {
  background: #ffffd6;
  cursor: pointer;
}
