* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

::ng-deep .line {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
}

::ng-deep .line .cnt {
  color: #777;
}

::ng-deep .line .hl, ::ng-deep .line .hl.selected {
  background-color: #aec5d9;
  color: #000000;
}

::ng-deep .line .selected {
  background-color: #5787b1;
  color: white;
}

::ng-deep .line .ascii {
  color: #777;
  margin-left: 0.5em;
}
