<ya-message-bar #messageBar />

<app-appbase-toolbar>
  <ng-template app-appbase-toolbar-label>
    <ya-page-icon-button routerLink=".." icon="arrow_back" />
    Create an instance
  </ng-template>
</app-appbase-toolbar>

<app-create-instance-wizard-step step="2" />

@if (template$ | async; as template) {
  <ya-form-content>
    <form [formGroup]="form" novalidate>
      <ya-field label="Instance name">
        <input formControlName="name" type="text" />
      </ya-field>

      @for (v of template?.variables; track v) {
        @if (v.choices) {
          <ya-field [label]="v.label || v.name">
            @if (v.help) {
              <ya-help [dialogTitle]="v.label || v.name">
                <div [innerHTML]="v.help"></div>
              </ya-help>
            }
            <ya-select [formControlName]="v.name">
              @for (choice of v.choices; track choice) {
                <ya-option [id]="choice" [label]="choice" />
              }
            </ya-select>
          </ya-field>
        } @else {
          <ya-field [label]="v.label || v.name">
            @if (v.help) {
              <ya-help [dialogTitle]="v.label || v.name">
                <div [innerHTML]="v.help"></div>
              </ya-help>
            }
            <input [formControlName]="v.name" type="text" />
          </ya-field>
        }
      }
    </form>

    <p>&nbsp;</p>
    <ya-toolbar appearance="bottom">
      <ya-button routerLink="/">CANCEL</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </ya-toolbar>
  </ya-form-content>
}
