<ya-message-bar #messageBar />

<mat-toolbar class="top">
  <mat-toolbar-row>
    <a mat-icon-button routerLink=".." color="primary">
      <mat-icon>arrow_back</mat-icon>
    </a>
    Create an instance
  </mat-toolbar-row>
</mat-toolbar>

<app-create-instance-wizard-step step="2" />

@if (template$ | async; as template) {
  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate>
      <label>
        Instance name<br />
        <input formControlName="name" type="text" />
      </label>
      @for (v of template?.variables; track v) {
        <br />
        @if (v.choices) {
          <label>
            {{ v.label || v.name }}
            @if (v.help) {
              <ya-help [dialogTitle]="v.label || v.name">
                <div [innerHTML]="v.help"></div>
              </ya-help>
            }
            <select [formControlName]="v.name">
              @for (choice of v.choices; track choice) {
                <option [value]="choice">{{ choice }}</option>
              }
            </select>
          </label>
        }
        @if (!v.choices) {
          <label>
            {{ v.label || v.name }}
            @if (v.help) {
              <ya-help [dialogTitle]="v.label || v.name">
                <div [innerHTML]="v.help"></div>
              </ya-help>
            }
            <br />
            <input [formControlName]="v.name" type="text" />
          </label>
        }
      }
    </form>
    <p>&nbsp;</p>
    <div class="action-bar">
      <button class="ya-button" routerLink="/">CANCEL</button>
      <button
        class="ya-button primary"
        type="submit"
        (click)="onConfirm()"
        [disabled]="!form.valid">
        CREATE
      </button>
    </div>
  </div>
}
