<h2 mat-dialog-title>Start manual activity</h2>

<mat-dialog-content>
  <p class="hint">
    Use this dialog to start a
    <em>manual</em>
    activity. This is an activity whose execution status is not managed by Yamcs, but directly by
    the user.
  </p>
  <form [formGroup]="form" class="ya-form" novalidate autocomplete="off">
    <div class="label">
      Name
      <span class="hint">(required)</span>
      <br />
      <input type="text" formControlName="name" />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">START</ya-button>
</mat-dialog-actions>
