.timeline-container {
  line-height: 0;
  border-top: 1px solid #d1d5da;
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
}

.info {
  position: absolute;
  bottom: 35px;
  right: 0;
  padding: 0 16px;
  opacity: 0.75;
  font-size: small;
}
