<ya-message-bar #messageBar />

<mat-sidenav-container
  #pageContainer
  [class.fullscreen]="fullScreenMode$ | async"
  [class.zen]="zenMode$ | async"
  [class.message-bar-visible]="messageBar.show$ | async">
  <mat-sidenav mode="side" [opened]="!(zenMode$ | async)" [disableClose]="true">
    <div class="sidenav-content">
      <mat-toolbar class="top module-title" (click)="searchInput.focus()" style="cursor: text">
        <mat-toolbar-row style="cursor: text">
          <mat-icon style="cursor: text">search</mat-icon>
          <input
            #searchInput
            type="text"
            class="search-input"
            placeholder="Search parameter"
            autocomplete="off"
            spellcheck="false"
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            (document:keydown)="handleKeydown($event)" />
          <mat-autocomplete
            #auto
            class="ya-autocomplete"
            panelWidth="400px"
            (optionSelected)="onSearchSelect($event)">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option | memberPath">
                {{ option | memberPath }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-nav-list dense>
        <ya-sidebar-nav-item routerLink="/instance" [queryParams]="{ c: yamcs.context }">
          <mat-icon class="item-icon">home</mat-icon>
          Home
        </ya-sidebar-nav-item>
        @if (showLinksItem()) {
          <ya-sidebar-nav-item routerLink="/links" [queryParams]="{ c: yamcs.context }">
            <mat-icon class="item-icon">swap_horiz</mat-icon>
            Links
          </ya-sidebar-nav-item>
        }
        @if (telemetryItems.length) {
          <ya-sidebar-nav-group
            label="Telemetry"
            icon="speed"
            [active]="telemetryActive"
            [expanded]="telemetryExpanded"
            (toggle)="toggleTelemetryGroup()">
            @for (item of telemetryItems; track item) {
              <ya-sidebar-nav-item
                [routerLink]="'/telemetry/' + item.path"
                [queryParams]="{ c: yamcs.context }"
                [exact]="item.path === ''"
                [subitem]="true">
                {{ item.label }}
              </ya-sidebar-nav-item>
            }
          </ya-sidebar-nav-group>
        }

        @if (showAlgorithmsItem()) {
          <ya-sidebar-nav-item routerLink="/algorithms" [queryParams]="{ c: yamcs.context }">
            <mat-icon class="item-icon">transform</mat-icon>
            Algorithms
          </ya-sidebar-nav-item>
        }

        @if (showEventsItem()) {
          <ya-sidebar-nav-item routerLink="/events" [queryParams]="{ c: yamcs.context }">
            <mat-icon class="item-icon">event_note</mat-icon>
            Events
          </ya-sidebar-nav-item>
        }

        @if (showAlarmsItem()) {
          @if ((connectionInfo$ | async)?.processor?.hasAlarms) {
            <app-alarm-label />
          } @else {
            <ya-sidebar-nav-item routerLink="/alarms" [queryParams]="{ c: yamcs.context }">
              <mat-icon class="item-icon">notifications_none</mat-icon>
              Alarms
            </ya-sidebar-nav-item>
          }
        }

        @if (commandingItems.length) {
          <ya-sidebar-nav-group
            label="Commanding"
            icon="rss_feed"
            [active]="commandingActive"
            [expanded]="commandingExpanded"
            (toggle)="toggleCommandingGroup()">
            @for (item of commandingItems; track item) {
              <ya-sidebar-nav-item
                [routerLink]="'/commanding/' + item.path"
                [queryParams]="{ c: yamcs.context }"
                [exact]="item.path === ''"
                [subitem]="true">
                {{ item.label }}
              </ya-sidebar-nav-item>
            }
          </ya-sidebar-nav-group>
        }

        @if (
          ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "file-transfer") &&
          showFileTransferItem()
        ) {
          <ya-sidebar-nav-item routerLink="/file-transfer" [queryParams]="{ c: yamcs.context }">
            <mat-icon class="item-icon">file_copy</mat-icon>
            File transfer
          </ya-sidebar-nav-item>
        }

        @if (proceduresItems.length) {
          <ya-sidebar-nav-group
            label="Procedures"
            icon="playlist_play"
            [active]="proceduresActive"
            [expanded]="proceduresExpanded"
            (toggle)="toggleProceduresGroup()">
            @for (item of proceduresItems; track item) {
              <ya-sidebar-nav-item
                [routerLink]="'/procedures/' + item.path"
                [queryParams]="{ c: yamcs.context }"
                [exact]="item.path === ''"
                [subitem]="true">
                {{ item.label }}
              </ya-sidebar-nav-item>
            }
          </ya-sidebar-nav-group>
        }

        @if ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "timeline") {
          @if (timelineItems.length) {
            <ya-sidebar-nav-group
              label="Timeline"
              icon="view_timeline"
              [active]="timelineActive"
              [expanded]="timelineExpanded"
              (toggle)="toggleTimelineGroup()">
              @for (item of timelineItems; track item) {
                <ya-sidebar-nav-item
                  [routerLink]="'/timeline/' + item.path"
                  [queryParams]="{ c: yamcs.context }"
                  [exact]="item.path === ''"
                  [subitem]="true">
                  {{ item.label }}
                </ya-sidebar-nav-item>
              }
            </ya-sidebar-nav-group>
          }
        }

        @if (
          showActivitiesItem() &&
          ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "activities")
        ) {
          <app-activities-label />
        }

        @if (mdbItems.length) {
          <ya-sidebar-nav-group
            label="Mission database"
            icon="auto_stories"
            [active]="mdbActive"
            [expanded]="mdbExpanded"
            (toggle)="toggleMdbGroup()">
            @for (item of mdbItems; track item) {
              <ya-sidebar-nav-item
                [routerLink]="'/mdb/' + item.path"
                [queryParams]="{ c: yamcs.context }"
                [exact]="item.path === ''"
                [subitem]="true">
                {{ item.label }}
              </ya-sidebar-nav-item>
            }
          </ya-sidebar-nav-group>
        }

        @if (showArchiveBrowserItem()) {
          <ya-sidebar-nav-item routerLink="/archive" [queryParams]="{ c: yamcs.context }">
            <mat-icon class="item-icon">inventory_2</mat-icon>
            Archive browser
          </ya-sidebar-nav-item>
        }

        @if (extraItems.length) {
          <mat-divider class="extra" />
          @for (item of extraItems; track item) {
            <ya-sidebar-nav-item
              [routerLink]="'/' + item.path"
              [queryParams]="{ c: yamcs.context }"
              [exact]="item.path === ''">
              <mat-icon class="item-icon">{{ item.icon || "loupe" }}</mat-icon>
              {{ item.label }}
            </ya-sidebar-nav-item>
          }
        }
      </mat-nav-list>

      <div style="flex: 1 1 auto"></div>
      @if (config.logo) {
        <div class="navbar-logo">
          <img [src]="config.logo" />
        </div>
      }
    </div>
  </mat-sidenav>

  <mat-sidenav-content #pageContent>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
