<ya-message-bar #messageBar />

<div
  class="sidenav-container"
  [class.fullscreen]="fullScreenMode$ | async"
  [class.focus]="focusMode$ | async"
  [class.message-bar-visible]="messageBar.show$ | async">
  <div class="sidenav" (mouseenter)="sidenavHover.set(true)" (mouseleave)="sidenavHover.set(false)">
    <div class="sidenav-content">
      <ya-sidebar-nav-item
        activeWhen="/instance"
        routerLink="/instance"
        [queryParams]="{ c: yamcs.context }"
        icon="home"
        [mini]="collapseItem()"
        (click)="collapseSidebarIfMini()"
        label="Home" />

      @if (showLinksItem()) {
        <ya-sidebar-nav-item
          activeWhen="/links"
          routerLink="/links"
          [queryParams]="{ c: yamcs.context }"
          icon="swap_horiz"
          [mini]="collapseItem()"
          (click)="collapseSidebarIfMini()"
          label="Links" />
      }

      @if (telemetryItems.length) {
        <ya-sidebar-nav-group
          label="Telemetry"
          icon="speed"
          [active]="telemetryActive"
          [expanded]="telemetryExpanded"
          [mini]="collapseItem()"
          (toggle)="toggleTelemetryGroup()">
          @for (item of telemetryItems; track item) {
            <ya-sidebar-nav-item
              [activeWhen]="'/telemetry/' + (item.activeWhen ?? item.path)"
              [routerLink]="'/telemetry/' + item.path"
              [queryParams]="{ c: yamcs.context }"
              [exact]="item.path === ''"
              [subitem]="true"
              [mini]="collapseItem()"
              (click)="collapseSidebarIfMini()"
              [label]="item.label" />
          }
        </ya-sidebar-nav-group>
      }

      @if (showAlgorithmsItem()) {
        <ya-sidebar-nav-item
          activeWhen="/algorithms"
          routerLink="/algorithms"
          [queryParams]="{ c: yamcs.context }"
          icon="transform"
          [mini]="collapseItem()"
          (click)="collapseSidebarIfMini()"
          label="Algorithms" />
      }

      @if (showEventsItem()) {
        <ya-sidebar-nav-item
          activeWhen="/events"
          routerLink="/events"
          [queryParams]="{ c: yamcs.context }"
          icon="event_note"
          [mini]="collapseItem()"
          (click)="collapseSidebarIfMini()"
          label="Events" />
      }

      @if (showAlarmsItem()) {
        @if (
          (connectionInfo$ | async)?.processor?.hasAlarms ||
          ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "alarm-mirror")
        ) {
          <app-alarm-label [mini]="collapseItem()" />
        } @else {
          <ya-sidebar-nav-item
            activeWhen="/alarms"
            routerLink="/alarms"
            [queryParams]="{ c: yamcs.context }"
            icon="notifications_none"
            [mini]="collapseItem()"
            (click)="collapseSidebarIfMini()"
            label="Alarms" />
        }
      }

      @if (commandingItems.length) {
        <ya-sidebar-nav-group
          label="Commanding"
          icon="rss_feed"
          [active]="commandingActive"
          [expanded]="commandingExpanded"
          [mini]="collapseItem()"
          (toggle)="toggleCommandingGroup()">
          @for (item of commandingItems; track item) {
            <ya-sidebar-nav-item
              [activeWhen]="'/commanding/' + (item.activeWhen ?? item.path)"
              [routerLink]="'/commanding/' + item.path"
              [queryParams]="{ c: yamcs.context }"
              [exact]="item.path === ''"
              [subitem]="true"
              [mini]="collapseItem()"
              (click)="collapseSidebarIfMini()"
              [label]="item.label" />
          }
        </ya-sidebar-nav-group>
      }

      @if (
        ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "file-transfer") &&
        showFileTransferItem()
      ) {
        <ya-sidebar-nav-item
          activeWhen="/file-transfer"
          routerLink="/file-transfer"
          [queryParams]="{ c: yamcs.context }"
          icon="file_copy"
          [mini]="collapseItem()"
          (click)="collapseSidebarIfMini()"
          label="File transfer" />
      }

      @if (proceduresItems.length) {
        <ya-sidebar-nav-group
          label="Procedures"
          icon="playlist_play"
          [active]="proceduresActive"
          [expanded]="proceduresExpanded"
          [mini]="collapseItem()"
          (toggle)="toggleProceduresGroup()">
          @for (item of proceduresItems; track item) {
            <ya-sidebar-nav-item
              [activeWhen]="'/procedures/' + (item.activeWhen ?? item.path)"
              [routerLink]="'/procedures/' + item.path"
              [queryParams]="{ c: yamcs.context }"
              [exact]="item.path === ''"
              [subitem]="true"
              [mini]="collapseItem()"
              (click)="collapseSidebarIfMini()"
              [label]="item.label" />
          }
        </ya-sidebar-nav-group>
      }

      @if ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "timeline") {
        @if (timelineItems.length) {
          <ya-sidebar-nav-group
            label="Timeline"
            icon="view_timeline"
            [active]="timelineActive"
            [expanded]="timelineExpanded"
            [mini]="collapseItem()"
            (toggle)="toggleTimelineGroup()">
            @for (item of timelineItems; track item) {
              <ya-sidebar-nav-item
                [activeWhen]="'/timeline/' + (item.activeWhen ?? item.path)"
                [routerLink]="'/timeline/' + item.path"
                [queryParams]="{ c: yamcs.context }"
                [exact]="item.path === ''"
                [subitem]="true"
                [mini]="collapseItem()"
                (click)="collapseSidebarIfMini()"
                [label]="item.label" />
            }
          </ya-sidebar-nav-group>
        }
      }

      @if (
        showActivitiesItem() &&
        ((connectionInfo$ | async)?.instance?.capabilities | arrayContains: "activities")
      ) {
        <app-activities-label [mini]="collapseItem()" />
      }

      @if (mdbItems.length) {
        <ya-sidebar-nav-group
          label="Mission database"
          icon="auto_stories"
          [active]="mdbActive"
          [expanded]="mdbExpanded"
          [mini]="collapseItem()"
          (toggle)="toggleMdbGroup()">
          @for (item of mdbItems; track item) {
            <ya-sidebar-nav-item
              [activeWhen]="'/mdb/' + (item.activeWhen ?? item.path)"
              [routerLink]="'/mdb/' + item.path"
              [queryParams]="{ c: yamcs.context }"
              [exact]="item.path === ''"
              [subitem]="true"
              [mini]="collapseItem()"
              (click)="collapseSidebarIfMini()"
              [label]="item.label" />
          }
        </ya-sidebar-nav-group>
      }

      @if (showArchiveBrowserItem()) {
        <ya-sidebar-nav-item
          activeWhen="/archive"
          routerLink="/archive"
          [queryParams]="{ c: yamcs.context }"
          icon="inventory_2"
          [mini]="collapseItem()"
          (click)="collapseSidebarIfMini()"
          label="Archive browser" />
      }

      @if (extraItems.length) {
        <div class="item-divider"></div>

        @for (item of extraItems; track item) {
          <ya-sidebar-nav-item
            [activeWhen]="'/' + (item.activeWhen ?? item.path)"
            [routerLink]="'/' + item.path"
            [queryParams]="{ c: yamcs.context }"
            [icon]="item.icon || 'loupe'"
            [mini]="collapseItem()"
            (click)="collapseSidebarIfMini()"
            [label]="item.label" />
        }
      }

      <div style="flex: 1 1 auto"></div>
      @if (!collapseItem()) {
        <app-collapse-sidebar
          (click)="toggleCollapse()"
          [collapsed]="collapsed()"
          style="margin-top: 32px" />
        @if (config.logo) {
          <div class="navbar-logo">
            <img [src]="config.logo" />
          </div>
        }
      }
    </div>
  </div>
  <main #pageContent class="main">
    <router-outlet />
  </main>
</div>
