@if (stream$ | async; as stream) {
  <ya-panel>
    <h3>Columns</h3>
    <table yaDataTable class="expand">
      <tr>
        <th width="200">Column</th>
        <th>Type</th>
        <th class="expand"></th>
      </tr>
      @for (column of stream.columns; track column) {
        <tr>
          <td>{{ column.name }}</td>
          <td>{{ column.type }}</td>
          <td></td>
        </tr>
      }
    </table>
    <p>&nbsp;</p>
    <h3>Subscribers</h3>
    <table yaDataTable class="expand">
      <tr>
        <th>className&#64;hashCode</th>
        <th class="expand">Description</th>
      </tr>
      @for (subscriber of stream.subscribers; track subscriber) {
        <tr>
          <td>{{ subscriber.className }}&#64;{{ subscriber.hashCode }}</td>
          <td>{{ subscriber.description || "-" }}</td>
        </tr>
      }
    </table>
  </ya-panel>
}
