@if (dataSource) {
  <table mat-table class="ya-data-table expand" [dataSource]="dataSource">
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef>Severity</th>
      <td mat-cell *matCellDef="let alarm">
        <app-alarm-level [level]="alarm.severity" [grayscale]="true" />
      </td>
    </ng-container>
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef>Start</th>
      <td mat-cell *matCellDef="let alarm">{{ (alarm.triggerTime | datetime) || "-" }}</td>
    </ng-container>
    <ng-container matColumnDef="stop">
      <th mat-header-cell *matHeaderCellDef>Stop</th>
      <td mat-cell *matCellDef="let alarm">
        {{ (alarm.updateTime | datetime) || "-" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="triggerValue">
      <th mat-header-cell *matHeaderCellDef>Trip value</th>
      <td mat-cell *matCellDef="let alarm" class="wrap200">
        @if (alarm.parameterDetail; as parameterDetail) {
          {{ parameterDetail.triggerValue.engValue | value }}
          @if (parameterDetail.triggerValue.rangeCondition === "LOW") {
            <span>&#8595;</span>
          }
          @if (parameterDetail.triggerValue.rangeCondition === "HIGH") {
            <span>&#8593;</span>
          }
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let alarm">
        @if (alarm.updateTime) {
          {{ (durationFor(alarm) | duration) || "-" }}
        }
        @if (alarm.clearInfo?.clearedBy) {
          (cleared by {{ alarm.clearInfo?.clearedBy }})
          @if (alarm.clearInfo?.clearMessage) {
            <mat-icon [matTooltip]="alarm.clearInfo?.clearMessage">comment</mat-icon>
          }
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="violations">
      <th mat-header-cell *matHeaderCellDef style="text-align: right">Violations</th>
      <td mat-cell *matCellDef="let alarm" style="text-align: right">
        @if (alarm.violations) {
          {{ alarm.violations | number }}
          ({{ (alarm.violations / alarm.count) * 100 | number: "1.2-2" }}%)
        } @else {
          -
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="expand"></th>
      <td mat-cell *matCellDef="let row">
        <ya-text-action icon="show_chart" (click)="showChart(row)"> SHOW CHART </ya-text-action>
        <ya-text-action icon="view_headline" (click)="showData(row)"> SHOW DATA </ya-text-action>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
}
