<app-instance-page>
  <app-instance-toolbar>Alarms</app-instance-toolbar>

  <div class="table-wrapper">
    <div class="panel-content">
      <app-alarms-page-tabs />
      <form [formGroup]="filterForm" style="margin-top: 16px">
        <div class="filter-bar">
          <ya-select [options]="intervalOptions" icon="access_time" formControlName="interval" />
          @if (filterForm.value["interval"] === "CUSTOM") {
            <ya-date-time-input formControlName="customStart" />
            <ya-date-time-input formControlName="customStop" />
            <ya-button (click)="applyCustomDates()" [disabled]="filterForm.invalid">
              Apply
            </ya-button>
          }
          @if (filterForm.value["interval"] !== "CUSTOM") {
            <ya-button (click)="jumpToNow()">Jump to now</ya-button>
          }
        </div>
      </form>
      @if (dataSource) {
        <table mat-table class="ya-data-table expand" [dataSource]="dataSource">
          <ng-container matColumnDef="severity">
            <th mat-header-cell *matHeaderCellDef>Severity</th>
            <td mat-cell *matCellDef="let alarm">
              <app-alarm-level [level]="alarm.severity" [grayscale]="true" />
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Alarm type</th>
            <td mat-cell *matCellDef="let alarm">
              @if (alarm.type === "EVENT") {
                <mat-icon style="vertical-align: middle">event_note</mat-icon>
              }
              @if (alarm.type === "PARAMETER") {
                <mat-icon style="vertical-align: middle">toll</mat-icon>
              }
              {{ alarm.type || "-" | titlecase }}
            </td>
          </ng-container>
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef>Start</th>
            <td mat-cell *matCellDef="let alarm">{{ (alarm.triggerTime | datetime) || "-" }}</td>
          </ng-container>
          <ng-container matColumnDef="stop">
            <th mat-header-cell *matHeaderCellDef>Stop</th>
            <td mat-cell *matCellDef="let alarm">
              {{ (alarm.updateTime | datetime) || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="triggerValue">
            <th mat-header-cell *matHeaderCellDef>Trip value</th>
            <td mat-cell *matCellDef="let alarm" class="wrap200">
              @if (alarm.parameterDetail; as parameterDetail) {
                {{ parameterDetail.triggerValue.engValue | value }}
                @if (parameterDetail.triggerValue.rangeCondition === "LOW") {
                  <span>&#8595;</span>
                }
                @if (parameterDetail.triggerValue.rangeCondition === "HIGH") {
                  <span>&#8593;</span>
                }
              }
              @if (alarm.eventDetail; as eventDetail) {
                {{ eventDetail.triggerEvent.message || "-" }}
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="alarm">
            <th mat-header-cell *matHeaderCellDef>Alarm name</th>
            <td mat-cell *matCellDef="let alarm">
              @if (alarm.id.namespace && alarm.id.name) {
                @if (alarm.parameterDetail) {
                  <a
                    [routerLink]="
                      '/telemetry/parameters' + alarm.id.namespace + '/' + alarm.id.name
                    "
                    [queryParams]="{ c: yamcs.context }">
                    {{ alarm.id.namespace }}/{{ alarm.id.name }}
                  </a>
                } @else {
                  {{ alarm.id.namespace }}/{{ alarm.id.name }}
                }
              }
              @if (alarm.id.namespace && !alarm.id.name) {
                @if (alarm.parameterDetail) {
                  <a
                    [routerLink]="'/telemetry/parameters' + alarm.id.namespace"
                    [queryParams]="{ c: yamcs.context }">
                    {{ alarm.id.namespace }}
                  </a>
                } @else {
                  {{ alarm.id.namespace }}
                }
              }
              @if (!alarm.id.namespace && alarm.id.name) {
                @if (alarm.parameterDetail) {
                  <a
                    [routerLink]="'/telemetry/parameters' + alarm.id.name"
                    [queryParams]="{ c: yamcs.context }">
                    {{ alarm.id.name }}
                  </a>
                } @else {
                  {{ alarm.id.name }}
                }
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Duration</th>
            <td mat-cell *matCellDef="let alarm">
              @if (alarm.updateTime) {
                {{ (durationFor(alarm) | duration) || "-" }}
              }
              @if (alarm.clearInfo?.clearedBy) {
                (cleared by {{ alarm.clearInfo?.clearedBy }})
                @if (alarm.clearInfo?.clearMessage) {
                  <mat-icon [matTooltip]="alarm.clearInfo?.clearMessage">comment</mat-icon>
                }
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="violations">
            <th mat-header-cell *matHeaderCellDef style="text-align: right">Violations</th>
            <td mat-cell *matCellDef="let alarm" style="text-align: right">
              @if (alarm.violations) {
                {{ alarm.violations | number }}
                ({{ (alarm.violations / alarm.count) * 100 | number: "1.2-2" }}%)
              } @else {
                -
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="expand"></th>
            <td mat-cell *matCellDef="let row">
              @if (row.parameterDetail) {
                <ya-text-action icon="show_chart" (click)="showChart(row)">
                  SHOW CHART
                </ya-text-action>
              }
              @if (row.parameterDetail) {
                <ya-text-action icon="view_headline" (click)="showData(row)">
                  SHOW DATA
                </ya-text-action>
              }
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      }

      <mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <ya-button [disabled]="true">Load more</ya-button>
        <span style="flex: 1 1 auto"></span>
      </mat-toolbar>
    </div>
  </div>
</app-instance-page>
