<app-instance-page>
  <app-instance-toolbar>
    <ya-page-icon-button routerLink=".." [queryParams]="{ c: yamcs.context }" icon="arrow_back" />
    Create view
  </app-instance-toolbar>

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate autocomplete="off">
      <ya-field label="Name" hint="(required)">
        <input type="text" formControlName="name" />
      </ya-field>

      <ya-field-divider />

      <h4>Bands</h4>
      <app-band-multi-select formControlName="bands" />
    </form>
    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button routerLink=".." [queryParams]="{ c: yamcs.context }">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-instance-page>
