@if (item$ | async; as item) {
  <ya-instance-page>
    <ya-instance-toolbar label="Edit item" />

    <ya-form-content>
      <form [formGroup]="form" novalidate autocomplete="off">
        <ya-field label="Name" hint="(required)">
          <input type="text" formControlName="name" />
        </ya-field>

        <ya-field label="Tags">
          <ya-help dialogTitle="Tags">
            Tags allow to categorise items per band. Bands only show items for which one of the tags
            is matching.
          </ya-help>
          <ya-tag-select formControlName="tags" />
        </ya-field>

        <ya-field label="Duration">
          <ya-duration-input formControlName="duration" />
        </ya-field>

        <ya-field-divider />

        <ya-field label="Start">
          <ya-date-time-input formControlName="start" />
        </ya-field>

        <ya-field-divider />

        <h4>Styles</h4>
        <app-item-styles [form]="form" />
      </form>

      <p>&nbsp;</p>
      <ya-toolbar appearance="bottom">
        <ya-button (click)="location.back()">Cancel</ya-button>
        <ya-button
          appearance="primary"
          (click)="doOnConfirm()"
          [disabled]="!(dirty$ | async) || !form.valid">
          SAVE CHANGES
        </ya-button>
      </ya-toolbar>
    </ya-form-content>
  </ya-instance-page>
}
