<app-instance-page [noscroll]="true">
  <app-instance-toolbar>
    Timeline Chart &nbsp;&nbsp;&nbsp;

    @if (views$ | async; as views) {
      @if ((view$ | async) && mayControlTimeline()) {
        <ya-page-button [matMenuTriggerFor]="viewMenu" dropdown="true">
          {{ (view$ | async)?.name || "select view" }}
        </ya-page-button>
      }
      <mat-menu #viewMenu="matMenu" class="ya-menu">
        @for (view of views; track view) {
          <button mat-menu-item (click)="switchView(view)">
            {{ view.name }}
          </button>
        }
        <mat-divider />
        <a mat-menu-item routerLink="/timeline/views/create" [queryParams]="{ c: yamcs.context }">
          <mat-icon>add_circle_outline</mat-icon>
          Create view
        </a>
      </mat-menu>
    }

    @if (mayControlTimeline()) {
      @if (!(view$ | async)) {
        <ya-page-button
          routerLink="/timeline/views/create"
          [queryParams]="{ c: yamcs.context }"
          icon="add_circle_outline">
          Create view
        </ya-page-button>
      }
      @if (view$ | async; as view) {
        <ya-page-button (click)="openEditViewDialog(view)" icon="settings">
          Edit view
        </ya-page-button>
      }
      @if (view$ | async) {
        <ya-page-button [matMenuTriggerFor]="itemMenu" icon="add_circle_outline">
          Add item
        </ya-page-button>
      }
      <mat-menu #itemMenu="matMenu" class="ya-menu" [overlapTrigger]="false">
        <button
          mat-menu-item
          (click)="openCreateItemDialog('EVENT')"
          matTooltipShowDelay="1000"
          matTooltip="Events are items that simply appear on the timeline">
          Event item
        </button>
        <button
          mat-menu-item
          (click)="openCreateItemDialog('ACTIVITY')"
          matTooltipShowDelay="1000"
          matTooltip="Activities are like events, but in addition have an execution status">
          Activity item
        </button>
      </mat-menu>
      @if (view$ | async) {
        <ya-page-button (click)="saveSnapshot()" icon="photo_camera">Save snapshot</ya-page-button>
      }
    }
  </app-instance-toolbar>

  <div style="height: 24px; margin: 6px">
    <ya-button (click)="pageLeft()" icon="west" />
    <ya-button
      (mousedown)="toggleMove(-50)"
      (mouseup)="untoggleMove()"
      (mouseleave)="untoggleMove()"
      icon="chevron_left" />
    <ya-button
      (mousedown)="toggleMove(50)"
      (mouseup)="untoggleMove()"
      (mouseleave)="untoggleMove()"
      icon="chevron_right" />
    <ya-button (click)="pageRight()" icon="east" />
    &nbsp;
    <ya-button (click)="jumpToToday()" icon="today">Today</ya-button>
    <ya-button (click)="jumpToNow()" icon="my_location" />
    <ya-button (click)="openJumpToDialog()" icon="directions">Jump to...</ya-button>
    &nbsp;
    <ya-button (click)="zoomIn()" icon="add" />
    <ya-button (click)="zoomOut()" icon="remove" />
  </div>

  <div #container class="timeline-container"></div>

  <div class="info">
    @if (viewportRange$ | async; as viewportRange) {
      <span>
        {{ viewportRange?.start | datetime: false }} &ndash; {{ viewportRange?.stop | datetime }}
      </span>
    }
  </div>
</app-instance-page>
