.droparea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.droparea-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(27, 97, 185, 0.1);
  border: 1px solid rgba(27, 97, 185, 1);
  z-index: 10;
}

table {
  user-select: none;
}
