.plot-container {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}

.zoom-actions {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.zoom-actions-inner {
  display: inline-block;
  background-color: #fafafa;
}

.zoom-actions .mat-button {
  line-height: inherit;
  min-width: 0;
}

.no-data-message {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}

.plot-top-actions {
  height: 24px;
  line-height: 24px;
}

.separator {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
