<h2 mat-dialog-title>Export events</h2>

<mat-dialog-content>
  <ya-form [formGroup]="form">
    <ya-field label="Start">
      <ya-date-time-input formControlName="start" />
    </ya-field>

    <ya-field label="Stop">
      <ya-date-time-input formControlName="stop" />
    </ya-field>

    <ya-field label="Query">
      <ya-filter-textarea formControlName="filter" />
    </ya-field>

    <ya-field label="Severity">
      <ya-select formControlName="severity">
        <ya-option id="INFO" label="Info level" />
        <ya-option id="WATCH" label="Watch level" />
        <ya-option id="WARNING" label="Warning level" />
        <ya-option id="DISTRESS" label="Distress level" />
        <ya-option id="CRITICAL" label="Critical level" />
        <ya-option id="SEVERE" label="Severe level" />
      </ya-select>
    </ya-field>

    <ya-field label="Source">
      <ya-multi-select
        formControlName="source"
        [options]="data.sourceOptions"
        emptyOption="Any source" />
    </ya-field>

    <ya-field label="CSV column delimiter">
      <ya-select formControlName="delimiter">
        <ya-option id="COMMA" label="Comma" />
        <ya-option id="SEMICOLON" label="Semicolon" />
        <ya-option id="TAB" label="Tab" />
      </ya-select>
    </ya-field>
  </ya-form>

  @if (form.errors?.dateRange) {
    <ya-warning-message>Start date must be before stop date</ya-warning-message>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-download-button
    [link]="downloadURL$ | async"
    appearance="primary"
    (click)="closeDialog()"
    [disabled]="!form.valid">
    DOWNLOAD
  </ya-download-button>
</mat-dialog-actions>
