<mat-toolbar class="top">
  <mat-toolbar-row>
    <ng-content />

    <span style="flex: 1 1 auto"></span>

    <ng-container *ngIf="processor$ | async as processor">
      <ng-container *ngIf="connected$ | async">
        <ng-container *ngIf="connectionInfo$ | async as connectionInfo">
          <button mat-button *ngIf="processor.replay && processor.replayState === 'RUNNING'"
                  (menuOpened)="switchProcessorMenuOpened()"
                  color="primary"
                  (click)="pauseReplay()">
            <mat-icon>pause</mat-icon>
            PAUSE REPLAY
          </button>

          <button mat-button *ngIf="processor.replay && (processor.replayState !== 'RUNNING')"
                  (menuOpened)="switchProcessorMenuOpened()"
                  color="primary"
                  (click)="resumeReplay()">
            <mat-icon>play_arrow</mat-icon>
            PLAY
          </button>

          <ya-text-action class="processor-time"
                          [class.paused]="processor.replayState === 'PAUSED'"
                          matTooltip="Processor time. Click for more actions"
                          [matMenuTriggerFor]="processorMenu"
                          (menuOpened)="switchProcessorMenuOpened()">
            {{ (time$ | async) | datetime }} ▾
          </ya-text-action>

          <ya-icon-action class="more-menu" icon="menu"
                          [matMenuTriggerFor]="moreMenu" />

          <button mat-icon-button *ngIf="false">
            <mat-icon>more_vert</mat-icon>
          </button>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-menu #moreMenu="matMenu" class="ya-menu" overlapTrigger="false" xPosition="before" yPosition="below">
      <button *ngIf="!(zenMode$ | async)" mat-menu-item (click)="toggleZenMode()">
        Toggle zen mode
      </button>
      <button *ngIf="zenMode$ | async" mat-menu-item (click)="untoggleZenMode()">
        Untoggle zen mode
      </button>
    </mat-menu>

    <mat-menu #processorMenu="matMenu" class="ya-menu" overlapTrigger="false" xPosition="before" yPosition="below">
      <ng-container *ngIf="processor$ | async as processor">
        <button mat-menu-item (click)="startReplay()" *ngIf="!processor.replay">
          <mat-icon>replay</mat-icon>
          Replay from date
        </button>
        <ng-container *ngIf="processor.replay">
          <button mat-menu-item (click)="changeSpeed('1x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 1">check</mat-icon> 1x (original speed)
          </button>
          <button mat-menu-item (click)="changeSpeed('2x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 2">check</mat-icon> 2x
          </button>
          <button mat-menu-item (click)="changeSpeed('4x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 4">check</mat-icon> 4x
          </button>
          <button mat-menu-item (click)="changeSpeed('8x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 8">check</mat-icon> 8x
          </button>
          <button mat-menu-item (click)="changeSpeed('16x')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.param !== 16">check</mat-icon> 16x
          </button>
          <button mat-menu-item (click)="changeSpeed('afap')">
            <mat-icon [class.hide]="processor.replayRequest?.speed.type !== 'AFAP'">check</mat-icon> As fast as possible
          </button>
        </ng-container>
        <mat-divider />
        <button mat-menu-item *ngFor="let otherProcessor of allProcessors$ | async"
                (click)="switchProcessor(otherProcessor)">
          <mat-icon [class.hide]="processor.name !== otherProcessor.name">check</mat-icon>
          {{ otherProcessor.name }}
        </button>
        <ng-container *ngIf="processor.replay">
          <mat-divider />
          <button mat-menu-item (click)="leaveAndCloseReplay()" [disabled]="processor.protected">
            <mat-icon>exit_to_app</mat-icon>
            Leave &amp; close replay
          </button>
        </ng-container>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
