.filter-bar.query {
  height: unset;
}

.table-status {
  background-color: var(--y-background-color);
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 6px;
}

.table-status .message-zone {
  float: right;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-right: 6px;
}

.ya-data-table td.mat-mdc-cell.message {
  white-space: pre-wrap;
}

.WATCH td,
.WARNING td {
  color: var(--y-warning-color) !important;
}

.ERROR td,
.DISTRESS td,
.CRITICAL td,
.SEVERE td {
  color: var(--y-error-color) !important;
}
