<app-instance-page>
  <app-instance-toolbar>
    Events &nbsp;&nbsp;&nbsp;
    @if (mayWriteEvents()) {
      <button mat-button color="primary" (click)="createEvent()">
        <mat-icon>add_circle_outline</mat-icon>
        Create event
      </button>
    }

    @if (dataSource.streaming$ | async) {
      <button
        mat-button
        matTooltip="Pause streaming events"
        color="primary"
        (click)="stopStreaming()">
        <mat-icon>pause</mat-icon>
        Stop streaming
      </button>
    } @else {
      <button mat-button color="primary" (click)="startStreaming()">
        <mat-icon>play_arrow</mat-icon>
        Start streaming
      </button>
    }

    <button mat-icon-button matTooltip="Jump to now" color="primary" (click)="jumpToNow()">
      <mat-icon>refresh</mat-icon>
    </button>
  </app-instance-toolbar>

  @if (dataSource) {
    <div class="panel-content">
      <form [formGroup]="filterForm">
        <div class="filter-bar">
          <ya-search-filter formControlName="filter" placeholder="Filter by text search" />
          <ya-column-chooser #columnChooser [columns]="columns" preferenceKey="events" />
          <div style="flex: 1 1 auto"></div>
          <button class="ya-button primary" style="margin-right: 0" (click)="exportEvents()">
            <mat-icon>download</mat-icon>
            Export CSV
          </button>
        </div>
        <div class="filter-bar">
          <ya-select formControlName="severity">
            <ya-option id="INFO" label="Info level" />
            <ya-option id="WATCH" label="Watch level" />
            <ya-option id="WARNING" label="Warning level" />
            <ya-option id="DISTRESS" label="Distress level" />
            <ya-option id="CRITICAL" label="Critical level" />
            <ya-option id="SEVERE" label="Severe level" />
          </ya-select>
          <ya-multi-select
            [options]="sourceOptions$ | async"
            formControlName="source"
            emptyOption="Any source" />
          <ya-select icon="access_time" formControlName="interval">
            <ya-option id="PT1H" label="Last hour" />
            <ya-option id="PT6H" label="Last 6 hours" />
            <ya-option id="P1D" label="Last 24 hours" />
            <ya-option id="NO_LIMIT" label="No limit" />
            <ya-option id="CUSTOM" label="Custom" group="true" />
          </ya-select>
          @if (filterForm.value["interval"] === "CUSTOM") {
            <ya-date-time-input formControlName="customStart" />
            <ya-date-time-input formControlName="customStop" />
            <button (click)="applyCustomDates()" class="ya-button" [disabled]="filterForm.invalid">
              Apply
            </button>
          }
          @if (filterForm.value["interval"] !== "CUSTOM") {
            <button class="ya-button" (click)="jumpToNow()">Jump to now</button>
          }
          @if (dataSource.loading$ | async) {
            <ya-dots />
          }
          @if (dataSource.streaming$ | async) {
            <div style="text-align: right; flex: 1 1 150px">
              Listening for events
              <ya-dots fontSize="16px" color="#1b61b9" />
            </div>
          }
        </div>
      </form>
      <div class="table-status">
        @switch (appliedInterval) {
          @case ("PT1H") {
            <span>
              Showing events from
              <b>the last hour</b>
              ending at
              <b>{{ validStop | datetime }}</b>
              (Mission Time)
            </span>
          }
          @case ("PT6H") {
            <span>
              Showing events from
              <b>the last 6 hours</b>
              ending at
              <b>{{ validStop | datetime }}</b>
              (Mission Time)
            </span>
          }
          @case ("P1D") {
            <span>
              Showing events from
              <b>the last 24 hours</b>
              ending at
              <b>{{ validStop | datetime }}</b>
              (Mission Time)
            </span>
          }
          @case ("NO_LIMIT") {
            <span>
              Showing events from
              <b>all time</b>
            </span>
          }
          @case ("CUSTOM") {
            <span>
              Showing events from
              <b>{{ validStart | datetime }}</b>
              to
              <b>{{ validStop | datetime }}</b>
              (Mission Time)
            </span>
          }
        }
      </div>
      <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
        <ng-container cdkColumnDef="severity">
          <th mat-header-cell *cdkHeaderCellDef>Severity</th>
          <td mat-cell *cdkCellDef="let row">
            <app-event-severity [severity]="row.severity" />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="message">
          <th mat-header-cell *cdkHeaderCellDef>Message</th>
          <td mat-cell *cdkCellDef="let row" class="mono message expand">
            <app-event-message [message]="row.message" [highlight]="filterForm.value.filter" />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="type">
          <th mat-header-cell *cdkHeaderCellDef>Type</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.type || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="source">
          <th mat-header-cell *cdkHeaderCellDef>Source</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.source || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="gentime">
          <th mat-header-cell *cdkHeaderCellDef>Generation Time</th>
          <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
            {{ (row.generationTime | datetime) || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="rectime">
          <th mat-header-cell *cdkHeaderCellDef>Reception Time</th>
          <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
            {{ (row.receptionTime | datetime) || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="seqNumber">
          <th mat-header-cell *cdkHeaderCellDef>Sequence Number</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.seqNumber ?? "-" }}
          </td>
        </ng-container>
        @for (extraColumn of extraColumns; track extraColumn) {
          <ng-container [cdkColumnDef]="extraColumn.id">
            <th mat-header-cell *cdkHeaderCellDef>{{ extraColumn.label }}</th>
            <td mat-cell *cdkCellDef="let row">
              @if (row.extra) {
                {{ row.extra[extraColumn.id] ?? "-" }}
              } @else {
                -
              }
            </td>
          </ng-container>
        }
        <tr mat-header-row *cdkHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
        <tr
          mat-row
          *cdkRowDef="let row; columns: columnChooser.displayedColumns$ | async"
          [ngClass]="row.severity"></tr>
      </table>
      <mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <button [disabled]="!dataSource.hasMore()" class="ya-button" (click)="loadMoreData()">
          Load More
        </button>
        <span style="flex: 1 1 auto"></span>
      </mat-toolbar>
    </div>
  }
</app-instance-page>
