<app-instance-page>
  <app-instance-toolbar>
    Events &nbsp;&nbsp;&nbsp;
    @if (mayWriteEvents()) {
      <ya-page-button (click)="createEvent()" icon="add_circle_outline">
        Create event
      </ya-page-button>
    }

    @if (dataSource.streaming$ | async) {
      <ya-page-button matTooltip="Pause streaming events" (click)="stopStreaming()" icon="pause">
        Stop streaming
      </ya-page-button>
    } @else {
      <ya-page-button (click)="startStreaming()" icon="play_arrow">Start streaming</ya-page-button>
    }

    <ya-page-icon-button matTooltip="Jump to now" (click)="jumpToNow()" icon="refresh" />
  </app-instance-toolbar>

  @if (dataSource) {
    <div class="panel-content">
      <app-events-page-tabs>
        <ya-button
          appearance="text"
          icon="clear"
          (click)="clearQuery()"
          [disabled]="!isClearQueryEnabled()">
          Clear query
        </ya-button>
        <ya-button appearance="text" icon="save" (click)="openSaveQueryDialog()">
          Save query
        </ya-button>
      </app-events-page-tabs>
      <form [formGroup]="filterForm">
        <div class="filter-bar query" style="margin-top: 16px">
          <ya-select icon="access_time" formControlName="interval">
            <ya-option id="PT1H" label="Last hour" />
            <ya-option id="PT6H" label="Last 6 hours" />
            <ya-option id="P1D" label="Last 24 hours" />
            <ya-option id="NO_LIMIT" label="No limit" />
            <ya-option id="CUSTOM" label="Custom" group="true" />
          </ya-select>
          @if (filterForm.value["interval"] === "CUSTOM") {
            <ya-date-time-input formControlName="customStart" />
            <ya-date-time-input formControlName="customStop" />
            <ya-button (click)="applyCustomDates()" [disabled]="filterForm.invalid">
              Apply
            </ya-button>
          }
          <ya-search-filter2
            #searchFilter
            formControlName="filter"
            placeholder="Search events"
            style="flex: 1 1 auto; margin-right: 7px"
            [completions]="completions"
            [expanded]="multilineControl.value"
            (typedValue)="parseQuery($event)" />
          <ya-select formControlName="severity">
            <ya-option id="INFO" label="Info level" />
            <ya-option id="WATCH" label="Watch level" />
            <ya-option id="WARNING" label="Warning level" />
            <ya-option id="DISTRESS" label="Distress level" />
            <ya-option id="CRITICAL" label="Critical level" />
            <ya-option id="SEVERE" label="Severe level" />
          </ya-select>
          <ya-multi-select
            [options]="sourceOptions$ | async"
            formControlName="source"
            emptyOption="Any source" />
          @if (filterForm.value["interval"] !== "CUSTOM") {
            <ya-button (click)="jumpToNow()">Jump to now</ya-button>
          }
          <mat-slide-toggle [disableRipple]="true" [formControl]="multilineControl">
            Multiline
          </mat-slide-toggle>
        </div>
      </form>
      <div class="table-actions">
        <div>
          @switch (appliedInterval) {
            @case ("PT1H") {
              <span>
                Showing events from
                <b>the last hour</b>
                ending at
                <b>{{ validStop | datetime }}</b>
                (Mission Time)
              </span>
            }
            @case ("PT6H") {
              <span>
                Showing events from
                <b>the last 6 hours</b>
                ending at
                <b>{{ validStop | datetime }}</b>
                (Mission Time)
              </span>
            }
            @case ("P1D") {
              <span>
                Showing events from
                <b>the last 24 hours</b>
                ending at
                <b>{{ validStop | datetime }}</b>
                (Mission Time)
              </span>
            }
            @case ("NO_LIMIT") {
              <span>
                Showing events from
                <b>all time</b>
              </span>
            }
            @case ("CUSTOM") {
              <span>
                Showing events from
                <b>{{ validStart | datetime }}</b>
                to
                <b>{{ validStop | datetime }}</b>
                (Mission Time)
              </span>
            }
          }
        </div>
        <div style="flex: 1 1 auto"></div>
        @if (dataSource.loading$ | async) {
          <ya-dots />
        }
        @if (dataSource.streaming$ | async) {
          <div style="text-align: right; flex: 1 1 150px">
            Listening for events
            <ya-dots fontSize="16px" />
          </div>
        }
        <ya-button appearance="text" icon="download" (click)="exportEvents()">Export CSV</ya-button>

        <ya-column-chooser
          #columnChooser
          [columns]="columns"
          preferenceKey="events"
          appearance="text"
          icon="view_columns" />
      </div>

      @if (searchFilter.dirty()) {
        <ya-table-top>
          The search filter has changed.
          @if (!(searchFilter.errorState$ | async)) {
            &nbsp;
            <a href class="ya-link" (click)="searchFilter.doSearch(); $event.preventDefault()">
              Apply filter
            </a>
            .
          }
        </ya-table-top>
      }
      <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
        <ng-container cdkColumnDef="severity">
          <th mat-header-cell *cdkHeaderCellDef>Severity</th>
          <td mat-cell *cdkCellDef="let row">
            <app-event-severity [severity]="row.severity" />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="message">
          <th mat-header-cell *cdkHeaderCellDef>Message</th>
          <td mat-cell *cdkCellDef="let row" class="mono message expand">
            <app-event-message [message]="row.message" [highlight]="filterForm.value.filter" />
          </td>
        </ng-container>
        <ng-container cdkColumnDef="type">
          <th mat-header-cell *cdkHeaderCellDef>Type</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.type || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="source">
          <th mat-header-cell *cdkHeaderCellDef>Source</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.source || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="gentime">
          <th mat-header-cell *cdkHeaderCellDef>Generation time</th>
          <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
            {{ (row.generationTime | datetime) || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="rectime">
          <th mat-header-cell *cdkHeaderCellDef>Reception time</th>
          <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
            {{ (row.receptionTime | datetime) || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="seqNumber">
          <th mat-header-cell *cdkHeaderCellDef>Sequence number</th>
          <td mat-cell *cdkCellDef="let row">
            {{ row.seqNumber ?? "-" }}
          </td>
        </ng-container>
        @for (extraColumn of extraColumns; track extraColumn) {
          <ng-container [cdkColumnDef]="extraColumn.id">
            <th mat-header-cell *cdkHeaderCellDef>
              {{ extraColumn.label }}
            </th>
            <td mat-cell *cdkCellDef="let row">
              @if (row.extra) {
                {{ row.extra[extraColumn.id] ?? "-" }}
              } @else {
                -
              }
            </td>
          </ng-container>
        }
        <tr mat-header-row *cdkHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
        <tr
          mat-row
          *cdkRowDef="let row; columns: columnChooser.displayedColumns$ | async"
          [ngClass]="row.severity"></tr>
      </table>

      <mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <ya-button [disabled]="!dataSource.hasMore()" (click)="loadMoreData()">Load more</ya-button>
        <span style="flex: 1 1 auto"></span>
      </mat-toolbar>
    </div>
  }
</app-instance-page>
