<app-instance-page>
  <app-instance-toolbar>
    Events
    &nbsp;&nbsp;&nbsp;
    <button mat-button
            *ngIf="mayWriteEvents()"
            color="primary"
            (click)="createEvent()">
      <mat-icon>add_circle_outline</mat-icon>
      Create event
    </button>

    <button *ngIf="!(dataSource.streaming$ | async)"
            mat-button
            color="primary"
            (click)="startStreaming()">
      <mat-icon>play_arrow</mat-icon>
      Start streaming
    </button>

    <button *ngIf="dataSource.streaming$ | async"
            mat-button
            matTooltip="Pause streaming events"
            color="primary"
            (click)="stopStreaming()">
      <mat-icon>pause</mat-icon>
      Stop streaming
    </button>

    <button mat-icon-button
            matTooltip="Jump to now"
            color="primary"
            (click)="jumpToNow()">
      <mat-icon>refresh</mat-icon>
    </button>
  </app-instance-toolbar>

  <div class="panel-content" *ngIf="dataSource">
    <form [formGroup]="filterForm">
      <div class="filter-bar">
        <ya-search-filter formControlName="filter"
                          placeholder="Filter by text search" />
        <ya-column-chooser #columnChooser
                           [columns]="columns"
                           preferenceKey="events" />

        <div style="flex: 1 1 auto"></div>

        <button class="ya-button primary" style="margin-right: 0" (click)="exportEvents()">
          <mat-icon>download</mat-icon>
          Export CSV
        </button>
      </div>
      <div class="filter-bar">
        <ya-select [options]="severityOptions" formControlName="severity" />
        <ya-multi-select [options]="sourceOptions$ | async"
                         formControlName="source"
                         emptyOption="Any source" />
        <ya-select #intervalSelect
                   [options]="intervalOptions"
                   icon="access_time"
                   formControlName="interval" />
        <ng-container *ngIf="filterForm.value['interval'] === 'CUSTOM'">
          <ya-date-time-input formControlName="customStart" />
          <ya-date-time-input formControlName="customStop" />
          <button (click)="applyCustomDates()"
                  class="ya-button"
                  [disabled]="filterForm.invalid">Apply</button>
        </ng-container>
        <ng-container *ngIf="filterForm.value['interval'] !== 'CUSTOM'">
          <button class="ya-button" (click)="jumpToNow()">
            Jump to now
          </button>
        </ng-container>

        <ya-dots *ngIf="dataSource.loading$ | async" />

        <div style="text-align: right; flex: 1 1 150px" *ngIf="dataSource.streaming$ | async">
          Listening for events
          <ya-dots fontSize="16px" color="#1b61b9" />
        </div>
      </div>
    </form>

    <div class="table-status" [ngSwitch]="appliedInterval">
      <span *ngSwitchCase="'PT1H'">
        Showing events from <b>the last hour</b> ending at <b>{{ validStop | datetime }}</b> (Mission Time)
      </span>
      <span *ngSwitchCase="'PT6H'">
        Showing events from <b>the last 6 hours</b> ending at <b>{{ validStop | datetime }}</b> (Mission Time)
      </span>
      <span *ngSwitchCase="'P1D'">
        Showing events from <b>the last 24 hours</b> ending at <b>{{ validStop | datetime }}</b> (Mission Time)
      </span>
      <span *ngSwitchCase="'NO_LIMIT'">
        Showing events from <b>all time</b>
      </span>
      <span *ngSwitchCase="'CUSTOM'">
        Showing events from <b>{{ validStart | datetime }}</b> to <b>{{ validStop | datetime }}</b> (Mission Time)
      </span>
    </div>

    <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
      <ng-container cdkColumnDef="severity">
        <th mat-header-cell *cdkHeaderCellDef>Severity</th>
        <td mat-cell *cdkCellDef="let row">
          <app-event-severity [severity]="row.severity" />
        </td>
      </ng-container>

      <ng-container cdkColumnDef="message">
        <th mat-header-cell *cdkHeaderCellDef>Message</th>
        <td mat-cell *cdkCellDef="let row" class="mono message expand">
          <app-event-message [message]="row.message"
                             [highlight]="filterForm.value.filter" />
        </td>
      </ng-container>

      <ng-container cdkColumnDef="type">
        <th mat-header-cell *cdkHeaderCellDef>Type</th>
        <td mat-cell *cdkCellDef="let row">
          {{ row.type || '-' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="source">
        <th mat-header-cell *cdkHeaderCellDef>Source</th>
        <td mat-cell *cdkCellDef="let row">
          {{ row.source || '-' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="gentime">
        <th mat-header-cell *cdkHeaderCellDef>Generation Time</th>
        <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
          {{ (row.generationTime | datetime) || '-' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="rectime">
        <th mat-header-cell *cdkHeaderCellDef>Reception Time</th>
        <td mat-cell *cdkCellDef="let row" style="white-space: nowrap">
          {{ (row.receptionTime | datetime) || '-' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="seqNumber">
        <th mat-header-cell *cdkHeaderCellDef>Sequence Number</th>
        <td mat-cell *cdkCellDef="let row">
          {{ row.seqNumber ?? '-' }}
        </td>
      </ng-container>

      <ng-container *ngFor="let extraColumn of extraColumns" [cdkColumnDef]="extraColumn.id">
        <th mat-header-cell *cdkHeaderCellDef>{{ extraColumn.label }}</th>
        <td mat-cell *cdkCellDef="let row">
          <ng-container *ngIf="row.extra">
            {{ row.extra[extraColumn.id] ?? '-' }}
          </ng-container>
          <ng-container *ngIf="!row.extra">-</ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
      <tr mat-row *cdkRowDef="let row; columns: (columnChooser.displayedColumns$ | async);"
          [ngClass]="row.severity"></tr>
    </table>

    <mat-toolbar>
      <span style="flex: 1 1 auto"></span>
      <button [disabled]="!dataSource.hasMore()"
              class="ya-button"
              (click)="loadMoreData()">Load More</button>
      <span style="flex: 1 1 auto"></span>
    </mat-toolbar>
  </div>
</app-instance-page>
