<div style="max-width: 600px">
  <ya-form [formGroup]="form">
    <h2>Edit view</h2>
    <ya-field label="Name" hint="(required)">
      <input type="text" formControlName="name" />
    </ya-field>

    <ya-field-divider />

    <h4>Bands</h4>
    <app-band-multi-select formControlName="bands" />
  </ya-form>
</div>

<div class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <ya-button mat-dialog-close>CANCEL</ya-button>
      &nbsp;&nbsp;
      <ya-button
        appearance="primary"
        [disabled]="!(dirty$ | async) || !form.valid"
        (click)="onConfirm()">
        SAVE CHANGES
      </ya-button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
