<h2 mat-dialog-title>Command clearance</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="ya-form">
    <label>
      <input type="radio" formControlName="level" value="DISABLED" />
      <span style="font-weight: normal">No clearance</span>
    </label>
    <label>
      <input type="radio" formControlName="level" value="NONE" />
      <app-significance-level level="NONE" [grayscale]="true" />
    </label>
    <label>
      <input type="radio" formControlName="level" value="WATCH" />
      <app-significance-level level="WATCH" [grayscale]="true" />
    </label>
    <label>
      <input type="radio" formControlName="level" value="WARNING" />
      <app-significance-level level="WARNING" [grayscale]="true" />
    </label>
    <label>
      <input type="radio" formControlName="level" value="DISTRESS" />
      <app-significance-level level="DISTRESS" [grayscale]="true" />
    </label>
    <label>
      <input type="radio" formControlName="level" value="CRITICAL" />
      <app-significance-level level="CRITICAL" [grayscale]="true" />
    </label>
    <label>
      <input type="radio" formControlName="level" value="SEVERE" />
      <app-significance-level level="SEVERE" [grayscale]="true" />
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="confirm()" [disabled]="!form.valid">
    SAVE CHANGES
  </ya-button>
</mat-dialog-actions>
