.table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

.table-status {
  background-color: #f2f2f2;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-left: 6px;
  margin-bottom: 20px;
}

.table-status .message-zone {
  float: right;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding-right: 6px;
}

.mat-row {
  cursor: pointer;
}

tr.failed td {
  color: red;
}

tr.success td.completion {
  background-color: #e6ffed;
  color: #00c752;
}

tr.failed td.completion {
  background-color: #ffeef0;
  color: red;
}

th.dense, td.dense {
  width: 1px;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}
