.command-text .args {
  margin: 0;
  margin-left: 10px;
}

.command-text .args .key {
  min-width: 80px;
  white-space: nowrap;
  vertical-align: top;
}

.command-text .args .value {
  color: grey;
  padding-left: 10px;
}

.block-title.first {
  padding-top: 0px;
}
