<table yaDataTable style="width: 100%" *ngIf="command">
    <tr>
        <td style="width: 16px">
            <app-acknowledgment-icon [ack]="command.queued"></app-acknowledgment-icon>
        </td>
        <td style="width: 150px">Queued</td>
        <td style="width: 70px">{{ command.queued?.status || '-' }}</td>
        <td>
            <span [matTooltip]="command.queued?.time">
                {{ (command.queued?.time | deltaWith:command.generationTime) || '-' }}
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <app-transmission-constraints-icon *ngIf="!command.released" [command]="command">
            </app-transmission-constraints-icon>
            <app-acknowledgment-icon *ngIf="command.released" [ack]="command.released"></app-acknowledgment-icon>
        </td>
        <td>Released</td>
        <td>
            {{ command.released?.status || command.transmissionConstraints?.status || '-' }}
        </td>
        <td>
            <span [matTooltip]="command.released?.time">
                {{ (command.released?.time | deltaWith:command.generationTime) || '-' }}
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <app-acknowledgment-icon [ack]="command.sent"></app-acknowledgment-icon>
        </td>
        <td>Sent</td>
        <td>{{ command.sent?.status || '-' }}</td>
        <td>
            <span [matTooltip]="command.sent?.time">
                {{ (command.sent?.time | deltaWith:command.generationTime) || '-' }}
            </span>
        </td>
    </tr>
</table>
