<div class="central-pane">
  <div class="mat-typography ya-form" *ngIf="data.band as band" style="max-width: 600px;">
    <h2>Edit Band</h2>

    <form [formGroup]="form"
          novalidate
          autocomplete="off">
      <app-edit-item-band *ngIf="band.type === 'ITEM_BAND'"
                          [form]="form"
                          [band]="band" />
      <app-edit-spacer *ngIf="band.type === 'SPACER'"
                       [form]="form"
                       [band]="band" />
      <app-edit-time-ruler *ngIf="band.type === 'TIME_RULER'"
                           [form]="form"
                           [band]="band" />
      <app-edit-command-band *ngIf="band.type === 'COMMAND_BAND'"
                             [form]="form"
                             [band]="band" />
    </form>
  </div>
</div>

<div class="footer mat-typography">
  <mat-toolbar>
    <mat-toolbar-row>
      <button class="ya-button" mat-dialog-close>Cancel</button>&nbsp;&nbsp;
      <button class="ya-button primary" type="submit"
              [disabled]="!(dirty$ | async) || !form.valid"
              (click)="doOnConfirm()">SAVE CHANGES</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
