<h2 mat-dialog-title>Select range</h2>

<mat-dialog-content>
  <ya-form [formGroup]="form">
    <ya-field label="Start">
      <ya-date-time-input formControlName="start" />
    </ya-field>

    <ya-field label="Stop">
      <ya-date-time-input formControlName="stop" />
    </ya-field>
  </ya-form>

  @if (form.errors?.dateRange) {
    <ya-warning-message>Start date must be before stop date</ya-warning-message>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="select()" [disabled]="!form.valid">OK</ya-button>
</mat-dialog-actions>
