<h2 mat-dialog-title>Select Range</h2>

<mat-dialog-content class="ya-form">
  <form [formGroup]="form">
    <label>
      Start
      <ya-date-time-input formControlName="start" />
    </label>
    <label>
      Stop
      <ya-date-time-input formControlName="stop" />
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="select()" [disabled]="!form.valid">OK</ya-button>
</mat-dialog-actions>
