<ya-panel>
  <ya-filter-bar [formGroup]="filter">
    <ya-select formControlName="interval" [options]="intervalOptions" icon="access_time" />

    @if (filter.value["interval"] === "CUSTOM") {
      <ya-date-time-input formControlName="customStart" />
      <ya-date-time-input formControlName="customStop" />
      <ya-button (click)="applyCustomDates()" [disabled]="filter.invalid">Apply</ya-button>
    } @else {
      <ya-button (click)="jumpToNow()">Jump to now</ya-button>
    }

    @if (dataSource.loading$ | async) {
      <ya-dots />
    }
  </ya-filter-bar>

  <ya-table-window [duration]="appliedInterval" [start]="validStart" [stop]="validStop" />

  <app-parameter-alarms-table [dataSource]="dataSource" />

  @if (dataSource.isEmpty()) {
    <ya-empty-message>
      No records found matching current filter in the selected time range.
    </ya-empty-message>
  }

  @if (!(dataSource.loading$ | async) && !dataSource.isEmpty()) {
    <ya-toolbar appearance="bottom" align="center">
      <ya-button [disabled]="!dataSource.hasMore()" (click)="loadMoreData()">Load more</ya-button>
    </ya-toolbar>
  }
</ya-panel>
