<!doctype html>
<html lang="en">
{% comment %}
    Template tags in this file are interpreted server-side.
    It looks a bit like Angular syntax, but it's not.
{% endcomment %}
<head>
  <base href="{{ contextPath }}/">
  <meta charset="utf-8">
  <title>{% if config.tag %}{{ config.tag }}{% else %}Yamcs{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if config.tag %}{{ config.tag }}: {% endif %}Yamcs Mission Control">
  <meta name="application-name" content="Yamcs">
  <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
  <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#0000001">
  <link rel="shortcut icon" href="static/favicon.ico">
</head>
<body>
  <script id="appConfig" type="application/json">
    {{ configJson }}
  </script>
  <app-root></app-root>
</body>
</html>
