<app-admin-page>
  <app-admin-toolbar>Action log</app-admin-toolbar>

  <div class="panel-content">
    <form [formGroup]="filterForm">
      <div class="filter-bar">
        <ya-search-filter formControlName="filter" placeholder="Filter by text search" />
        <ya-select [options]="intervalOptions" icon="access_time" formControlName="interval" />
        @if (filterForm.value["interval"] === "CUSTOM") {
          <ya-date-time-input formControlName="customStart" />
          <ya-date-time-input formControlName="customStop" />
          <ya-button (click)="applyCustomDates()" [disabled]="filterForm.invalid">Apply</ya-button>
        } @else {
          <ya-button (click)="jumpToNow()">Jump to now</ya-button>
        }
      </div>
    </form>

    @for (rowGroup of rowGroups$ | async; track rowGroup; let isFirst = $first) {
      <h4 [class.first]="isFirst">{{ rowGroup.grouper }}</h4>
      <table
        mat-table
        [dataSource]="rowGroup.dataSource"
        class="ya-data-table"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1)"
        multiTemplateDataRows>
        <ng-container matColumnDef="time">
          <td mat-cell *matCellDef="let row" style="width: 100px">
            {{ row.item.time.substring(11, 16) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <td mat-cell *matCellDef="let row" style="width: 200px">
            {{ row.item.user || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="summary">
          <td mat-cell *matCellDef="let row" style="width: 400px">
            <span [innerHTML]="(row.item.summary | actionLogFormat) || '-'"></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <td mat-cell *matCellDef="let row" style="text-align: right">
            @if (row.expanded) {
              <mat-icon>expand_less</mat-icon>
            } @else {
              <mat-icon>expand_more</mat-icon>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="detail">
          <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
            <dl class="dl-horizontal">
              <dt>Service</dt>
              <dd>{{ row.item.service }}</dd>
              <dt>Method</dt>
              <dd>{{ row.item.method }}</dd>
              @for (option of row.requestOptions; track option) {
                <dt style="white-space: pre">{{ option.key }}</dt>
                <dd>{{ option.value || "" }}</dd>
              }
            </dl>
          </td>
        </ng-container>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="item-row"
          [class.expanded]="row.expanded"
          (click)="row.expanded = !row.expanded"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['detail']"
          class="item-detail"
          [class.expanded]="row.expanded"
          (click)="row.expanded = !row.expanded"></tr>
      </table>
    }
    @if (!(rowGroups$ | async)!.length) {
      <ya-empty-message>No actions for the current filter criteria.</ya-empty-message>
    }
  </div>
</app-admin-page>
