<app-admin-page>
  <app-admin-toolbar>
    API routes &nbsp;&nbsp;&nbsp;
    <ya-page-icon-button (click)="refresh()" matTooltip="Refresh view" icon="refresh" />
  </app-admin-toolbar>

  <ya-detail-pane>
    @if (selectedRoute$ | async; as selectedItem) {
      <ya-detail-toolbar>Route Detail</ya-detail-toolbar>
      <div style="padding: 0 16px">
        <app-route-detail [route]="selectedItem" />
      </div>
    } @else {
      <ya-detail-toolbar>Select a route</ya-detail-toolbar>
    }
  </ya-detail-pane>

  <div class="table-wrapper">
    <div class="panel-content">
      <div class="filter-bar">
        <ya-search-filter [formControl]="filterControl" placeholder="Filter routes" />
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="ya-data-table expand"
        matSort
        matSortActive="requestCount"
        matSortDirection="desc"
        matSortDisableClear>
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
          <td mat-cell *matCellDef="let route">{{ route.service || "Other" }}</td>
        </ng-container>

        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Method</th>
          <td mat-cell *matCellDef="let route">{{ route.description || "-" }}</td>
        </ng-container>

        <ng-container matColumnDef="requestCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Requests</th>
          <td mat-cell *matCellDef="let route">{{ route.requestCount }}</td>
        </ng-container>

        <ng-container matColumnDef="errorCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Errors</th>
          <td mat-cell *matCellDef="let route">{{ route.errorCount }}</td>
        </ng-container>

        <ng-container matColumnDef="http">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>HTTP</th>
          <td mat-cell *matCellDef="let route">{{ route.httpMethod }} {{ route.url }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="selectRoute(row)"
          [ngClass]="{ selected: row === (selectedRoute$ | async) }"
          [class.deprecated]="row.deprecated"></tr>
      </table>
    </div>
  </div>
</app-admin-page>
