<div class="label">
  <div class="meta" [class.error]="err.invalid$ | async">
    @if (type.rangeMin !== undefined || type.rangeMax !== undefined) {
      <div class="item">
        <ya-interval [left]="type.rangeMin" [right]="type.rangeMax" />
      </div>
    }
    @if (type.unitSet) {
      <div class="item">
        {{ type.unitSet | units }}
      </div>
    }
    @if (type.signed === false) {
      <div class="item">unsigned</div>
    }
    <div class="item">{{ type.engType }}</div>
  </div>

  {{ label }}
  @if (description) {
    <ya-help>
      {{ description }}
    </ya-help>
  }

  <ya-errors #err [controlName]="controlName" />

  <input [formControl]="formControl" type="text" autocomplete="off" />
</div>
