tr.item-row:not(.nodetail) td {
  border-bottom-width: 0;
}

tr.item-detail td {
  padding-left: 40px !important;
}

.detail-layout {
  display: flex;
  align-items: center;
}

.detail-layout>* {
  margin-left: 20px;
}

.error {
  color: crimson;
}
