<mat-dialog-content class="ya-form">
  <label>
    Search parameter for comparison
    <input type="text" [formControl]="parameter" [matAutocomplete]="auto" />
    <mat-autocomplete class="ya-autocomplete" #auto>
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option | memberPath">
          {{ option | memberPath }}
        </mat-option>
      }
    </mat-autocomplete>
  </label>

  <br />
  <label>Color</label>
  <app-color-palette #palette />

  <br />
  <label>Thickness</label>
  <app-thickness #thickness [color]="palette.selectedColor" />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="select()" [disabled]="!parameter.valid">ADD</ya-button>
</mat-dialog-actions>
