.args {
  margin: 0;
  margin-left: 10px;
}

.args .key {
  min-width: 120px;
  white-space: nowrap;
}

.args .value {
  color: grey;
  padding-left: 10px;
}

.args td, .args th {
  border: none;
  font-size: 10px;
  line-height: 12px;
  font-family: 'Roboto Mono', monospace;
}
