@if (properties$ | async; as properties) {
  <app-admin-page>
    <app-admin-toolbar>
      <ya-page-icon-button routerLink="/admin/rocksdb/databases" icon="arrow_back" />
      {{ tablespace }}://{{ dbPath }}
      &nbsp;&nbsp;&nbsp;
      <ya-page-button [matMenuTriggerFor]="compactMenu" icon="fullscreen_exit" dropdown="true">
        Compact
      </ya-page-button>
      <mat-menu #compactMenu="matMenu" class="ya-menu">
        <button
          mat-menu-item
          (click)="compact('_metadata_')"
          matTooltip="Information about tables and partitions"
          matTooltipPosition="right">
          _metadata_
        </button>
        <button
          mat-menu-item
          (click)="compact('rt_data')"
          matTooltip="TM, PP and events"
          matTooltipPosition="right">
          rt_data
        </button>
        <button
          mat-menu-item
          (click)="compact('parameter_archive')"
          matTooltip="Parameter Archive"
          matTooltipPosition="right">
          parameter_archive
        </button>
        <button
          mat-menu-item
          (click)="compact('default')"
          matTooltip="Command history, alarms completeness, timeline, activities, users, buckets, ..."
          matTooltipPosition="right">
          default
        </button>
      </mat-menu>
    </app-admin-toolbar>
    <div class="panel-content">
      <dl class="dl-horizontal">
        <dt>Tablespace</dt>
        <dd>{{ tablespace || "-" }}</dd>
        <dt>DB Path</dt>
        <dd>{{ dbPath || "-" }}</dd>
      </dl>
      <pre style="font-size: 10px; margin: 0">{{ properties }}</pre>
    </div>
  </app-admin-page>
}
