@if (band$ | async; as band) {
  <ya-instance-page>
    <ya-instance-toolbar label="Edit band" />

    <ya-form-content>
      <form [formGroup]="form" novalidate autocomplete="off">
        @if (band.type === "ITEM_BAND") {
          <app-edit-item-band [form]="form" [band]="band" />
        } @else if (band.type === "SPACER") {
          <app-edit-spacer [form]="form" [band]="band" />
        } @else if (band.type === "TIME_RULER") {
          <app-edit-time-ruler [form]="form" [band]="band" />
        } @else if (band.type === "COMMAND_BAND") {
          <app-edit-command-band [form]="form" [band]="band" />
        } @else if (band.type === "PARAMETER_PLOT") {
          <app-edit-parameter-plot [form]="form" [band]="band" />
        } @else if (band.type === "PARAMETER_STATES") {
          <app-edit-parameter-states [form]="form" [band]="band" />
        }
      </form>

      <p>&nbsp;</p>
      <ya-toolbar appearance="bottom">
        <ya-button (click)="location.back()">Cancel</ya-button>
        <ya-button
          appearance="primary"
          (click)="doOnConfirm()"
          [disabled]="!(dirty$ | async) || !form.valid">
          SAVE CHANGES
        </ya-button>
      </ya-toolbar>
    </ya-form-content>
  </ya-instance-page>
}
