<h2 mat-dialog-title>Request playback</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="ya-form">
    <label>
      APID
      <input type="number" formControlName="apid">
    </label>
    <br>
    <label>
      Start time
      <ya-date-time-input formControlName="start" />
    </label>
    <br>
    <label>
      Stop time
      <ya-date-time-input formControlName="stop" />
    </label>
    <br>
    <label>
      DaSS link
      <ya-select formControlName="link" [options]="linkOptions$ | async" />
      <span class="hint">This link will send out the request, and handle data reception.</span>
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="ya-button" mat-dialog-close>CANCEL</button>
  <button class="ya-button primary" (click)="sendRequest()" [disabled]="!form.valid">SEND REQUEST</button>
</mat-dialog-actions>
