@if (service.state === "STARTING") {
  <mat-icon style="color: lightgreen" [matTooltip]="service.state"> check_circle </mat-icon>
}
@if (service.state === "RUNNING") {
  <mat-icon class="success" [matTooltip]="service.state"> check_circle </mat-icon>
}
@if (service.state === "STOPPING" || service.state === "FAILED") {
  <mat-icon class="alert" [matTooltip]="service.state"> highlight_off </mat-icon>
}
@if (service.state === "TERMINATED" || service.state === "NEW") {
  <mat-icon class="down" [matTooltip]="service.state"> lens </mat-icon>
}
