<table>
  @for (ack of command.extraAcks; track ack.name) {
    <tr>
      @if (showIcons) {
        <td style="width: 16px">
          <div style="display: flex; align-items: center">
            <app-acknowledgment-icon [ack]="ack" />
          </div>
        </td>
      }
      <td style="width: 150px">{{ ack.name?.replace("Acknowledge_", "") }}</td>
      <td style="width: 70px">{{ ack.status }}</td>
      <td>
        @switch (ack.status) {
          @case ("SCHEDULED") {
            <span>-</span>
          }
          @case ("PENDING") {
            <span>-</span>
          }
          @default {
            <span [matTooltip]="ack.time | datetime">
              {{ ack.time | deltaWith: command.generationTime }}
            </span>
          }
        }
      </td>
    </tr>
  }
</table>
