<mdb-pane active-pane="{{ vm.info.qualifiedName|spaceSystem }}" yamcs-instance="yamcsInstance" shell="shell" standalone="standalone">
  <h1 class="page-header">{{ vm.info.name }}</small></h1>
  <p>&nbsp;</p>

  <dl class="dl-horizontal">
    <dt>Qualified&nbsp;Name</dt>
    <dd>{{ vm.info.qualifiedName }}</dd>

    <dt>Aliases</dt>
    <dd>
      <table class="table table-condensed small" style="margin-bottom: 0;">
        <tr ng-repeat="id in vm.info.alias">
          <td style="border: none;"><span class="label label-default">{{ id.namespace }}</span></td>
          <td style="border: none;">{{ id.name }}</td>
        </tr>
      </table>
    </dd>
  </dl>

  <hr>

  <h2>Code</h2>
  <pre>
    <code class="javascript">
      {{ vm.info.text }}
    </code>
  </pre>

  <dl class="dl-horizontal">
    <dt>Scope</dt>
    <dd>{{ vm.info.scope | capitalize }}</dd>

    <dt>Description</dt>
    <dd>{{ vm.info.shortDescription | nvl:'-' }}</dd>
  </dl>

  <hr>

  <dl class="dl-horizontal">
    <dt>Trigger</dt>
    <dd>
      <ul ng-repeat="para in vm.info.onParameterUpdate">
        <li>{{ para.name }}</li>
      </ul>
      <ul ng-repeat="rate in vm.info.onPeriodicRate">
        <li>Every {{ rate }} ms</li>
      </ul>
    </dd>
  </dl>

  <hr>

  <dl class="dl-horizontal">
    <dt>Input</dt>
    <dd>
      <ul ng-repeat="inp in vm.info.inputParameter">
        <li>
          {{ inp.parameter.name }}
          <span class="label label-primary">{{ inp.parameter.type.engType }}</span>
        </li>
      </ul>
    </dd>
  </dl>

  <hr>

  <dl class="dl-horizontal">
    <dt>Output</dt>
    <dd>
      <ul ng-repeat="out in vm.info.outputParameter">
        <li>
          {{ out.parameter.name }}
          <span class="label label-primary">{{ out.parameter.type.engType }}</span>
        </li>
      </ul>
    </dd>
  </dl>
</mdb-pane>
