<mdb-pane active-pane="{{ vm.qname }}" yamcs-instance="yamcsInstance" shell="shell" standalone="standalone">
  <h1 class="page-header">{{ vm.qname }}</h1>
  <p>&nbsp;</p>

  <ng-include src="'/_static/_site/mdb/tabs.template.html'"></ng-include>

  <p>&nbsp;</p>

  <uib-alert type="info" ng-if="vm.algorithmsLoaded && !vm.algorithms.length">
    <span class="glyphicon glyphicon-info-sign"></span>
    No algorithms for this space system
  </uib-alert>
  <table class="table" ng-if="vm.algorithms.length">
    <tr>
      <th width="200">Name</th>
      <th width="200">Scope</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="algo in vm.algorithms | orderBy:'qualifiedName'">
      <td><a href="/{{ yamcsInstance }}/mdb{{ algo.qualifiedName | spaceSystem }}/algorithms/{{ algo.name }}">{{ algo.name }}</a></td>
      <td>{{ algo.scope | capitalize }}</td>
      <td>{{ algo.shortDescription | nvl:'-' }}</td>
    </tr>
  </table>
</mdb-pane>
