<mdb-pane active-pane="{{vm.info.qualifiedName | spaceSystem}}" yamcs-instance="yamcsInstance" shell="shell" standalone="standalone">
    <div>
        <h1 class="page-header">{{vm.info.name}} <small>{{vm.info.qualifiedName | spaceSystem}} </small></h1>
    </div>

    <p>&nbsp;</p>

    <div class="container-fluid">
        <div class="row" style="padding-left:1px;">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Qualified&nbsp;Name</dt>
                    <dd> {{vm.info.qualifiedName}}</dd>

                    <dt>Is Abstract</dt>
                    <dd>{{vm.info.abstract}} </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Significance&nbsp;Level</dt>
                    <dd>{{vm.info.significance.consequenceLevel}}</dd>
                    
                    <dt>Detailed</dt>
                    <dd>{{vm.info.significance.reasonForWarning}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-6 container">
                    <div class="section"><h2>Arguments</h1></div>
                    <div class="container-fluid">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>LE Byte Order</th>
                                <th>Encoding</th>
                            </tr>
                        </thead>
                        <body>
                            <tr ng-repeat="item in vm.info.argument">
                                <th>{{$index}} </th>
                                <td>{{item.name}} </td>
                                <td>{{item.type.engType}} </td>
                                <td>{{item.type.dataEncoding.littleEndian}} </td>
                                <td>{{item.type.dataEncoding.encoding}} </td>
                            </tr>
                        </body>
                    </table>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3" ng-if="vm.has._comparison">
                    <div class="section">
                        <h2>Parameter constraints</h1>
                    </div>                        
                    <div class="container-fluid">
                        <ul style="list-style-type: none;">
                            <li ng-repeat="item in vm.info.constraint">
                                <div class="card" ng-repeat="comp in item.comparison">
                                    <div class="card-block">
                                        <span class="card-text"> {{comp.parameter.name}} {{vm.stringToOperator(comp.operator)}} {{comp.value}}</span>
                                        <h2 class="card-text">Timeout: {{item.timeout}} </h2>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2"></div>

        </div>
        <div class="row">
                <div class="container col-md-8" ng-if="vm.has._baseCommand">
                    <div class="section">
                        <h2>Base Command Informations</h2>
                    </div>
                    <div class="container-fluid">
                        <dl class="dl-horizontal dl-left">
                            <dt>Base Command Name </dt>
                            <dd>{{vm.info.baseCommand.name}} </dd>  

                            <dt>SubName</dt>                          
                            <dd>{{vm.baseCommand.name}} </dd>
                        </dl>
                        <div class="section"> Base Command Arguments </div>
                        <div> 
                            <table class="table table-striped data-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Type</th>
                                        <th>BitSize</th>
                                        <th>Encoding</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="cmd in vm.baseCommand">
                                    <tr ng-repeat="arg in cmd.argument">
                                        <th>{{cmd.name}} </th>
                                        <td>{{arg.name }} </td>
                                        <td>{{vm.getArgumentValue( arg.name) }} </td>
                                        <td>{{arg.type.engType || 'N/A'}} </td>
                                        <td>{{arg.type.dataEncoding.sizeInBits || 'N/A'}} </td>
                                        <td>{{arg.type.dataEncoding.encoding ||'N/A'}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container col-md-4" ng-if="vm.has._baseCommand">
                   <div class="section">
                       <h2>Commands Control</h2>
                    </div>

                   <div class="container" ng-if="vm.has._trigger">
                        <form ng-repeat='req in vm.commands'> 
                            <div class="form-group" ng-hide='req.type === "enumeration"'>
                                <label for = "commandToSend{{$index}}">{{req.desc}} </label>
                                <input id = "commandToSend{{$index}}" 
                                       type = "{{vm.getRequestType(req.type)}}" ng-model='req.value'
                                       min="{{req.options.min}}" max="{{req.options.max}}">
                            </div>
                            <div class="form-group"  ng-if='req.type === "enumeration"'>
                                <label for = "selectToSend{{$index}}">{{req.desc}}</label>
                                <select id = "selectToSend{{$index}}" ng-model='req.value'> 
                                    <option ng-repeat='op in req.options.range' value='{{op.label}}'>{{op.label}}</option>
                                </select>
                            </div>
                        </form>  
                        <!--                     
                        <h2>DynamicForm inProgress {{vm.data}}</h2>
                        <div ng-repeat='req in vm.commands'>
                            <_dynamic-form ng-model='value' request='{{vm.data}}'>
                            </_dynamic-form>
                        </div>
                        -->
                        <hr/>

                       <button class="btn btn-warning" ng-click="vm.triggerCommand()">Send Command</button>
                        <div class="section" ng-if='vm.has._sentMsg'>
                            <h2>Last Message info</h2>
                            <div class="container">
                            <dl class="dl-horizontal dl-left">
                                <dt>Status</dt>
                                <dd>{{vm.sentMsg.statusText}}</dd>
                            </dl>
                            </div>
                        </div>                  
                   </div>
               </div>
        </div>
    </div>
</mdb-pane>