<mdb-pane active-pane="overview" yamcs-instance="yamcsInstance" shell="shell" standalone="standalone">
  <h1 class="page-header">{{ vm.title }}</h1>
  <p>&nbsp;</p>
  <div class="panel panel-default" ng-repeat="ss in vm.mdb.flatSpaceSystems | orderBy:'qualifiedName'">
    <div class="panel-heading">
      <div class="pull-right">
        <a href="/{{ yamcsInstance}}/mdb{{ ss.qualifiedName }}/parameters" ng-switch="ss.parameterCount">
          <small ng-switch-when="1">1 Parameter</small>
          <small ng-switch-default>{{ ss.parameterCount }} Parameters</small>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/{{ yamcsInstance }}/mdb{{ ss.qualifiedName }}/containers" ng-switch="ss.containerCount">
          <small ng-switch-when="1">1 Container</small>
          <small ng-switch-default>{{ ss.containerCount }} Containers</small>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/{{ yamcsInstance }}/mdb{{ ss.qualifiedName }}/commands" ng-switch="ss.commandCount">
          <small ng-switch-when="1">1 Command</small>
          <small ng-switch-default>{{ ss.commandCount }} Commands</small>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/{{ yamcsInstance }}/mdb{{ ss.qualifiedName }}/algorithms" ng-switch="ss.algorithmCount">
          <small ng-switch-when="1">1 Algorithm</small>
          <small ng-switch-default>{{ ss.algorithmCount }} Algorithms</small>
        </a>
      </div>

        <a href="/{{ yamcsInstance }}/mdb{{ ss.qualifiedName }}/parameters">{{ ss.qualifiedName }}</a>
        <!--span ng-if="ss.version" class="label label-primary">v{{ ss.version }}</span-->
    </div>

    <div class="panel-body">
      <p ng-if="ss.shortDescription">
        {{ ss.shortDescription }}
      </p>
      <div class="container-fluid" ng-if="ss.history">
        <div class="row" ng-repeat="h in ss.history | orderBy:'-'">
          <div class="col-md-1">v{{ h.version }}</div>
          <div class="col-md-2" style="white-space: nowrap">{{ h.date}}</div>
          <div class="col-md-9" ng-bind-html="h.message | nl2br"></div>
        </div>
      </div>
    </div>
  </div>
</mdb-pane>
