<mdb-pane active-pane="{{ vm.info.qualifiedName|spaceSystem }}" yamcs-instance="yamcsInstance" shell="shell">
  <div>
    <h1 class="page-header">{{ vm.info.name }} <small>{{ vm.info.qualifiedName | spaceSystem }}</small></h1>
  </div>
  <p>&nbsp;</p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <span style="font-size: 20px; font-weight: bolder; white-space: nowrap">
          <span ng-if="vm.para">{{ vm.para | stringValue }}</span>
          <span ng-if="!vm.para">---</span>
          {{ vm.info.type.unitSet | joinBy:'unit':' ' }}
        </span>
        <img ng-if="vm.para.monitoringResult && (vm.para.monitoringResult != 'DISABLED')" ng-src="/_static/_site/alarms/images/level{{ vm.para.monitoringResult | monitoringLevel }}.png" uib-tooltip="{{ vm.para.monitoringResult | monitoringValue }}"><br>
        <small style="color: #6f6f6f" ng-if="vm.para">{{ vm.para.generationTimeUTC | parseUTC | formatDate }}</small><br>
        <small style="color: #6f6f6f">Source: {{ vm.info.dataSource|capitalize }}</small>
      </div>

      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Qualified&nbsp;Name</dt>
          <dd>{{ vm.info.qualifiedName }}</dd>

          <dt ng-repeat-start="id in vm.info.alias" ng-if="!(id.namespace | startsWith:'/')">{{ id.namespace }}</dt>
          <dd ng-repeat-end ng-if="!(id.namespace | startsWith:'/')">{{ id.name }}</dd>

          <dt>Description</dt>
          <dd>{{ vm.info.shortDescription | nvl:'-' }}</dd>

          <dt>Type</dt>
          <dd>
            {{ vm.info.type.engType | capitalize | nvl:'-' }}
            <span ng-if="vm.info.type.engType == 'enumeration'" class="glyphicon glyphicon-list" style="cursor: pointer;" ng-click="vm.openEnumValuesModal()"></span>
          </dd>
        </dl>
      </div>

      <div class="col-md-4">
      </div>
    </div>

    <div class="section" ng-if="vm.isNumeric()">
      <div class="btn-toolbar pull-right" role="toolbar" style="margin-left: 0; padding-bottom: 0.5em;">
        <div id="parameter-detail-legend" style="float: left;"></div>
        <div class="btn-group btn-group-xs" role="group" style="float: left;">
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'1h'">1h</label>
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'5h'">5h</label>
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'1d'">1d</label>
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'1w'">1w</label>
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'1m'">1m</label>
          <label class="btn btn-default" ng-model="plotctx.range" uib-btn-radio="'3m'">3m</label>
        </div>
        <div class="btn-group" uib-dropdown style="float: left;">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>
          <ul class="uib-dropdown-menu dropdown-menu-right">
            <li><a href="#">&#x2713; {{ vm.info.name }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="vm.addParameterModal()">Add Parameter...</a></li>
          </ul>
        </div>
      </div>
      <h2>Plot</h2>
    </div>

    <plot ng-if="vm.isNumeric()"
      pinfo="vm.info"
      para="vm.para"
      range="plotctx.range"
      style="width: 100%; position: relative">
    </plot>
    <!-- the position: relative is needed for spin.js :-/ Not sure. -->

    <div class="section" style="margin-top: 1.5em;">
      <div class="btn-toolbar pull-right" role="toolbar" style="margin-left: 0; padding-bottom: 0.5em;">
        <button ng-if="vm.alarms.length" ng-click="vm.expandAlarms()" class="btn btn-default btn-xs">▼ Expand All</button>
        <button ng-if="vm.alarms.length" ng-click="vm.collapseAlarms()" class="btn btn-default btn-xs">▶ Collapse All</button>
      </div>
      <h2>Alarm History</h2>
    </div>

    <div class="container-fluid">
      <div class="row" ng-if="!vm.alarms.length">
        <div class="col-md-1">-</div>
      </div>
      <div class="row" ng-repeat-start="alarm in vm.alarms | filter:vm.filterTable" style="cursor: pointer; border-top: 1px solid #ddd;" ng-click="alarm.expanded = !alarm.expanded">
        <div class="col-md-3">
          <span ng-if="alarm.urgent" class="glyphicon glyphicon-flag" style="color: #c9302c"></span>
          <strong>Out of limits</strong>
          <img ng-src="/_static/_site/alarms/images/level{{ alarm.mostSevereLevel }}.png" uib-tooltip="{{ alarm.mostSevereValue.monitoringResult | monitoringValue }}"><br>
          <small>{{ (alarm.triggerValue.generationTimeUTC | parseUTC).fromNow() }}</small>
        </div>

        <div class="col-md-4">
          <small>{{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty' }} &ndash;
          {{ alarm.currentValue.generationTimeUTC | parseUTC | formatDate:'pretty' }}</small>
        </div>

        <div class="col-md-4">
          <div ng-if="alarm.acknowledgeInfo">
            <small>Acknowledged {{ alarm.acknowledgeInfo.acknowledgeTimeUTC | parseUTC | formatDate:'pretty_short':true }}</small>
          </div>
          <span ng-if="!alarm.acknowledgeInfo"><small>Unacknowledged</small></span>
        </div>

        <div class="col-md-1 text-right">
          <small>
            <span ng-if="!alarm.expanded">▶</span>
            <span ng-if="alarm.expanded">▼</span>
          </small>
        </div>
      </div>

      <div class="row" ng-repeat-end uib-collapse="!alarm.expanded">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Activation Level</dt>
            <dd>
              <img ng-src="/_static/_site/alarms/images/level{{ alarm.triggerLevel }}.png" uib-tooltip="{{ alarm.triggerValue.monitoringResult | monitoringValue }}">
              <small>
                Reached {{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
                with {{ alarm.triggerValue | stringValue }}<span ng-bind-html="alarm.triggerValue.monitoringResult | lohi"></span>
              </small>
            </dd>

            <dt>Highest Level</dt>
            <dd>
              <img ng-src="/_static/_site/alarms/images/level{{ alarm.mostSevereLevel }}.png" uib-tooltip="{{ alarm.mostSevereValue.monitoringResult | monitoringValue }}">
              <small>
                Reached {{ alarm.mostSevereValue.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
                with {{ alarm.mostSevereValue | stringValue }}<span ng-bind-html="alarm.mostSevereValue.monitoringResult | lohi"></span>
              </small>
            </dd>

            <dt>Last Record</dt>
            <dd>
              <img ng-src="/_static/_site/alarms/images/level{{ alarm.currentLevel }}.png" uib-tooltip="{{ alarm.currentValue.monitoringResult | monitoringValue }}">
              <small>
                <strong>{{ alarm.currentValue | stringValue }}</strong>
                <span ng-bind-html="alarm.currentValue.monitoringResult | lohi"></span>
                &ndash; {{ alarm.currentValue.generationTimeUTC | parseUTC | formatDate:'pretty_short':true }}
              </small>
            </dd>
          </dl>
        </div>
        <div class="col-md-5">
          <blockquote ng-if="alarm.acknowledgeInfo" style="font-size: small">
            <span class="glyphicon glyphicon-comment" style="color: #ccc;"></span>
            {{ alarm.acknowledgeInfo.acknowledgeMessage | nvl:'(without comment)' }}
            <footer>{{ alarm.acknowledgeInfo.acknowledgedBy }}</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="section" style="margin-top: 1em;">
      <div class="btn-toolbar pull-right" ng-if="false && vm.values.length">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs">Export CSV</button>
        </div>
      </div>
      <h2>Value History</h2>
    </div>
    <div class="container-fluid" ng-if="!vm.values.length">
      <div class="row">
        <div class="col-md-1">-</div>
      </div>
    </div>
    <table class="table table-condensed" ng-if="vm.values.length">
      <tr>
        <th width="200">Generated</th>
        <th width="200" title="Engineering Value">Eng. Value</th>
        <th width="200">Raw Value</th>
        <th></th>
        <th width="1">Monitoring</th>
      </tr>
      <tr ng-repeat="val in vm.values">
        <td style="white-space: nowrap">
          {{ val.generationTimeUTC | parseUTC | formatDate:'pretty_short' }}
        </td>
        <td>{{ val | stringValue }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}</td>
        <td>{{ val | stringValue:true }}</td>
        <td></td>
        <td ng-if="val.monitoringResult">
          <img ng-src="/_static/_site/alarms/images/level{{ val.monitoringResult | monitoringLevel }}.png" uib-tooltip="{{ val.monitoringResult | monitoringValue }}">
        </td>
        <td ng-if="!val.monitoringResult">
          -
        </td>
      </tr>
    </table>

    <div style="margin-top: 1em;" ng-if="vm.para.monitoringResult != 'DISABLED'">
      <h2 class="section">Monitoring Definition</h2>
      <span ng-if="!(vm.isNumeric())">-</span>
      <dl class="dl-horizontal" ng-if="vm.isNumeric()">
        <dt>High Limits</dt>
        <dd>
          <span ng-if="vm.info.severe | has:'maxInclusive'">
            Severe: {{ vm.info.severe.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.critical | has:'maxInclusive'">
            Critical: {{ vm.info.critical.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.distress | has:'maxInclusive'">
            Distress: {{ vm.info.distress.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.warning | has:'maxInclusive'">
            Warning: {{ vm.info.warning.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.watch | has:'maxInclusive'">
            Watch: {{ vm.info.watch.maxInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="!(vm.info.watch|has:'maxInclusive') && !(vm.info.warning|has:'maxInclusive') && !(vm.info.distress|has:'maxInclusive') && !(vm.info.critical|has:'maxInclusive') && !(vm.info.severe|has:'maxInclusive')">-</span>
        </dd>

        <dt>Low Limits</dt>
        <dd>
          <span ng-if="vm.info.watch | has:'minInclusive'">
            Watch: {{ vm.info.watch.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.warning | has:'minInclusive'">
            Warning: {{ vm.info.warning.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.distress | has:'minInclusive'">
            Distress: {{ vm.info.distress.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.critical | has:'minInclusive'">
            Critical: {{ vm.info.critical.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="vm.info.severe | has:'minInclusive'">
            Severe: {{ vm.info.severe.minInclusive }} {{ vm.info.type.unitSet | joinBy:'unit':' ' }}<br>
          </span>
          <span ng-if="!(vm.info.watch|has:'minInclusive') && !(vm.info.warning|has:'minInclusive') && !(vm.info.distress|has:'minInclusive') && !(vm.info.critical|has:'minInclusive') && !(vm.info.severe|has:'minInclusive')">-</span>
        </dd>
      </dl>
    </div>

    <div style="margin-top: 1em;" ng-if=vm.info.type.dataEncoding>
      <h2 class="section">Packet Definition</h2>
      <dl class="dl-horizontal">
        <dt>Raw Type</dt>
        <dd>
          {{ vm.info.type.dataEncoding.type | capitalize | nvl:'-' }}
        </dd>

        <dt>Size In Bits</dt>
        <dd>{{ vm.info.type.dataEncoding.sizeInBits | nvl:'-' }}</dd>

        <dt>Byte Order</dt>
        <dd ng-if="vm.info.type.dataEncoding.littleEndian">Little Endian</dd>
        <dd ng-if="!vm.info.type.dataEncoding.littleEndian">Big Endian</dd>

        <dt>Encoding</dt>
        <dd>{{ vm.info.type.dataEncoding.encoding | nvl:'-' }}</dd>

        <dt>Calibrator</dt>
        <dd>{{ vm.info.type.dataEncoding.defaultCalibrator | nvl:'-' }}</dd>
      </dl>
    </div>
  </div>
</mdb-pane>

<script type="text/ng-template" id="enumValuesModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 class="modal-title">List of Values</h3>
  </div>

  <div class="modal-body">
    <table class="table table-striped table-condensed">
      <tr ng-repeat="v in info.type.enumValue">
        <th>{{ v.value }}</th>
        <td>{{ v.label}} </td>
      </tr>
    </table>
  </div>
</script>

<script type="text/ng-template" id="addParameterModal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 class="modal-title">Add Parameter</h3>
  </div>

  <div class="modal-body">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search..." autofocus>
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>

    <select multiple style="width: 100%; margin-top: 0.5em;" size="15" ng-model="data.chosenParameters">
      <option value="{{ parameter.qualifiedName }}"
        ng-repeat="parameter in parameters | filter:{'qualifiedName': searchText} | orderBy:'qualifiedName'">
        {{ parameter.qualifiedName }}
      </option>
    </select>
      <!--table class="table table-condensed table-hover borderless">
        <tr ng-repeat="parameter in parameters | filter:{'qualifiedName': searchText} | orderBy:'qualifiedName'">
          <td style="padding: 0 5px 0 0">
            <small>{{ parameter.name }}</small>
          </td>
          <td style="padding: 0 5px 0 0"><small>{{ parameter.qualifiedName | spaceSystem }}</small></td>
          <td></td>
        </tr>
      </table-->
  </div>

  <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="ok()" ng-class="{ 'disabled': !(data.chosenParameters.length) }">Add</button>
      <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
