<mdb-pane active-pane="{{ vm.qname }}" yamcs-instance="yamcsInstance" shell="shell" standalone="standalone">
  <h1 class="page-header">{{ vm.qname }}</h1>
  <p>&nbsp;</p>

  <ng-include src="'/_static/_site/mdb/tabs.template.html'"></ng-include>

  <p>&nbsp;</p>

  <uib-alert type="info" ng-if="vm.parametersLoaded && !vm.hasParameters">
    <span class="glyphicon glyphicon-info-sign"></span>
    No parameters for this space system
  </uib-alert>
  <div ng-bind-html="::vm.rawParameterTable"></div>
  <!--table class="table" ng-if="vm.hasParameters">
    <tr>
      <th width="300" ng-if="vm.includesNested">Qualified Name</th>
      <th width="300" ng-if="!vm.includesNested">Name</th>
      <th width="100">Type</th>
      <th width="100">Units</th>
      <th width="100">Data Source</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="para in vm.parameters | orderBy:'qualifiedName'">
      <td>
        <a href="/{{ yamcsInstance }}/mdb{{ para.qualifiedName }}" ng-if="vm.includesNested">{{ para.qualifiedName }}</a>
        <a href="/{{ yamcsInstance }}/mdb{{ para.qualifiedName }}" ng-if="!vm.includesNested">{{ para.name }}</a>
      </td>
      <td>{{ para.type.engType | capitalize | nvl:'-' }}</td>
      <td>{{ para.type.unitSet | joinBy:'unit':' ' | nvl:'-' }}</td>
      <td>{{ para.dataSource | capitalize | nvl:'-' }}</td>
      <td>{{ para.shortDescription | nvl:'-' }}</td>
    </tr>
  </table-->
</mdb-pane>
