@if (data) {
  <div class="legend no-select">
    @for (trace of data.series; track trace; let i = $index) {
      <div
        class="legend-box"
        [style.backgroundColor]="backgroundColor"
        [style.border]="'1px solid ' + borderColor"
        [style.borderLeft]="'3px solid ' + trace.color"
        [style.paddingRight]="closable && i !== 0 ? '15px' : '5px'">
        <span class="label" (click)="select.emit(trace.label)">{{ trace.label }}</span>
        @if (trace.yHTML) {
          <span class="yvalue">{{ trace.yHTML }}</span>
        }
        @if (closable && i !== 0) {
          <div class="close-button" (click)="close.emit(trace.label)">
            <mat-icon class="icon12">close</mat-icon>
          </div>
        }
      </div>
    }
  </div>
}
