<ya-detail-pane>
  @if (table.selectedValue | async; as pval) {
    <ya-detail-toolbar>Value Detail</ya-detail-toolbar>
    <div style="padding: 0 16px">
      <div class="block-title">Severity</div>
      <div class="block">
        @if (pval.monitoringResult) {
          <app-alarm-level [level]="pval.monitoringResult" />
        }
        @if (!pval.monitoringResult) {
          <span>-</span>
        }
      </div>
      <div class="block-title">Generation time</div>
      <div class="block">
        {{ pval.generationTime | datetime }}
      </div>
      <div class="block-title">Valid for</div>
      <div class="block">
        {{ (pval.expireMillis | millisDuration) || "-" }}
      </div>
      <div class="block-title">
        Raw value
        <ng-container *ngTemplateOutlet="valueActionsTemplate; context: { value: pval.rawValue }" />
      </div>
      <div class="block">
        <ng-container *ngTemplateOutlet="valueTemplate; context: { value: pval.rawValue }" />
      </div>
      <div class="block-title">
        Engineering value
        <ng-container *ngTemplateOutlet="valueActionsTemplate; context: { value: pval.engValue }" />
      </div>
      <div class="block">
        <ng-container *ngTemplateOutlet="valueTemplate; context: { value: pval.engValue }" />
      </div>
      <div class="block-title">Range condition</div>
      <div class="block">
        {{ pval.rangeCondition || "-" }}
      </div>
      <div class="block-title">Acquisition status</div>
      <div class="block">
        {{ pval.acquisitionStatus || "-" }}
      </div>
    </div>
  } @else {
    <ya-detail-toolbar>Select a value</ya-detail-toolbar>
  }
</ya-detail-pane>
<div class="table-wrapper">
  <div class="panel-content">
    <form [formGroup]="filterForm">
      <div class="filter-bar">
        <ya-select icon="access_time" formControlName="interval" [options]="intervalOptions" />

        @if (filterForm.value["interval"] === "CUSTOM") {
          <ya-date-time-input formControlName="customStart" />
          <ya-date-time-input formControlName="customStop" />
          <ya-button (click)="applyCustomDates()" [disabled]="filterForm.invalid">Apply</ya-button>
        }

        @if (filterForm.value["interval"] !== "CUSTOM") {
          <ya-button (click)="jumpToNow()">Jump to now</ya-button>
        }

        @if (dataSource.loading$ | async) {
          <ya-dots />
        }

        <div style="flex: 1 1 auto"></div>

        <ya-button
          appearance="primary"
          class="no-margin"
          (click)="exportParameterData()"
          icon="download">
          Export CSV
        </ya-button>
      </div>
    </form>

    <div class="table-status">
      @switch (appliedInterval) {
        @case ("PT1H") {
          <span>
            Showing data from
            <b>the last hour</b>
            ending at
            <b>{{ validStop | datetime }}</b>
            (Mission Time)
          </span>
        }
        @case ("PT6H") {
          <span>
            Showing data from
            <b>the last 6 hours</b>
            ending at
            <b>{{ validStop | datetime }}</b>
            (Mission Time)
          </span>
        }
        @case ("P1D") {
          <span>
            Showing data from
            <b>the last 24 hours</b>
            ending at
            <b>{{ validStop | datetime }}</b>
            (Mission Time)
          </span>
        }
        @case ("NO_LIMIT") {
          <span>
            Showing data from
            <b>all time</b>
          </span>
        }
        @case ("CUSTOM") {
          <span>
            Showing data from
            <b>{{ validStart | datetime }}</b>
            to
            <b>{{ validStop | datetime }}</b>
            (Mission Time)
          </span>
        }
      }
    </div>

    <app-parameter-values-table #table [dataSource]="dataSource" />

    @if (dataSource.isEmpty()) {
      <ya-empty-message>
        No records found matching current filter in the selected time range.
      </ya-empty-message>
    }

    @if (!(dataSource.loading$ | async) && !dataSource.isEmpty()) {
      <mat-toolbar>
        <span style="flex: 1 1 auto"></span>
        <ya-button [disabled]="!dataSource.hasMore()" (click)="loadMoreData()">Load more</ya-button>
        <span style="flex: 1 1 auto"></span>
      </mat-toolbar>
    }
  </div>
</div>

<ng-template #valueActionsTemplate let-value="value">
  @switch (value?.type) {
    @case ("BINARY") {
      <ya-more icon="more_horiz">
        <button mat-menu-item (click)="copyHex(value.binaryValue)">Copy Hex</button>
        <button mat-menu-item (click)="copyBinary(value.binaryValue)">Copy Binary</button>
      </ya-more>
    }
  }
</ng-template>

<ng-template #valueTemplate let-value="value">
  @switch (value?.type) {
    @case ("BINARY") {
      <app-hex [base64String]="value.binaryValue" />
    }
    @default {
      <ya-value [value]="value" />
    }
  }
</ng-template>
