<app-instance-page>
  <app-instance-toolbar>
    Bands &nbsp;&nbsp;&nbsp;
    <ya-page-button
      routerLink="create"
      [queryParams]="{ c: yamcs.context }"
      icon="add_circle_outline">
      Create band
    </ya-page-button>
    <ya-page-button
      [disabled]="!isGroupDeleteEnabled()"
      (click)="deleteSelectedBands()"
      icon="close">
      Delete
    </ya-page-button>
  </app-instance-toolbar>

  <div class="panel-content">
    @if (dataSource) {
      <table
        mat-table
        class="ya-data-table expand"
        [dataSource]="dataSource"
        [trackBy]="tableTrackerFn"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear>
        <ng-container cdkColumnDef="select">
          <th mat-header-cell *cdkHeaderCellDef class="checkbox">
            <input
              type="checkbox"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()" />
          </th>
          <td mat-cell *cdkCellDef="let row" class="checkbox">
            <input
              type="checkbox"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
          <td mat-cell *matCellDef="let band">
            <a [routerLink]="band.id" [queryParams]="{ c: yamcs.context }">
              @if (band.name) {
                {{ band.name }}
              }
              @if (!band.name) {
                <i>(none)</i>
              }
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="wrap200">Description</th>
          <td mat-cell *matCellDef="let band">
            {{ band.description || "-" }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="tags">
          <th mat-header-cell *cdkHeaderCellDef>Tags</th>
          <td mat-cell *cdkCellDef="let row">
            @for (tag of row.tags || []; track tag) {
              <ya-label>{{ tag }}</ya-label>
            }
            @if (!row.tags) {
              -
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let band">
            {{ band.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let band"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.selected]="selection.isSelected(row)"
          (click)="toggleOne(row)"></tr>
      </table>
    }
  </div>
</app-instance-page>
