<app-led *ngIf="status.active && !status.errorMessage"
         matTooltip="Active"
         [color]="onColor"
         [fade]="false"
         [width]="size"
         [height]="size"></app-led>
<app-led *ngIf="!status.active && !status.errorMessage"
         matTooltip="Inactive"
         [color]="offColor"
         [fade]="false"
         [width]="size"
         [height]="size"></app-led>
<app-led *ngIf="status.errorMessage"
         [matTooltip]="status.errorMessage"
         color="red"
         [fade]="false"
         [width]="size"
         [height]="size"></app-led>
