.main-pane {
  position: relative;
  overflow: auto;
  height: 100%;
}

.timeline-container {
  line-height: 0;
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-controls {
  height: 36px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  column-gap: 7px;
  border-bottom: 1px solid var(--y-border-color);
  box-sizing: border-box;
}

.legend-wrapper {
  position: relative;
  z-index: 50;
}

.hide {
  visibility: hidden;
}

ya-stepper {
  --ya-stepper-outer-padding: 16px;
}
