@if (parameter$ | async; as parameter) {
  <div style="padding-left: 12px; padding-right: 12px; padding-top: 12px">
    @if (range$ | async; as range) {
      <div class="plot-top-actions">
        <ya-text-action icon="add_circle_outline" (click)="compareParameter()">
          Comparison
        </ya-text-action>
        <span class="separator"></span>
        <ya-text-action (click)="chooseRange()" icon="date_range" [active]="range === 'CUSTOM'">
          @if (range !== "CUSTOM") {
            <span>Date Range</span>
          }
          @if (customStart$ | async; as customStart) {
            @if (customStop$ | async; as customStop) {
              @if (range === "CUSTOM") {
                <span> {{ customStart | datetime }} - {{ customStop | datetime }} </span>
              }
            }
          }
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT1M')" [active]="range === 'PT1M'">
          1 minute
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT5M')" [active]="range === 'PT5M'">
          5 minutes
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT15M')" [active]="range === 'PT15M'">
          15 minutes
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT30M')" [active]="range === 'PT30M'">
          30 minutes
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT1H')" [active]="range === 'PT1H'">
          1 hour
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT6H')" [active]="range === 'PT6H'">
          6 hours
        </ya-text-action>
        <ya-text-action (click)="loadLatest('PT12H')" [active]="range === 'PT12H'">
          12 hours
        </ya-text-action>
        <ya-text-action (click)="loadLatest('P1D')" [active]="range === 'P1D'">
          1 day
        </ya-text-action>
        <ya-text-action (click)="loadLatest('P2D')" [active]="range === 'P2D'">
          2 days
        </ya-text-action>
        <ya-text-action (click)="loadLatest('P1W')" [active]="range === 'P1W'">
          7 days
        </ya-text-action>
        <ya-text-action (click)="loadLatest('P2W')" [active]="range === 'P2W'">
          14 days
        </ya-text-action>
        <ya-text-action (click)="loadLatest('P1M')" [active]="range === 'P1M'">
          30 days
        </ya-text-action>
      </div>
    }
  </div>
  <div class="plot-container">
    <app-parameter-plot
      #plot
      [xGrid]="true"
      [xAxisHeight]="24"
      duration=""
      [dataSource]="dataSource"
      [stop]="missionTime"
      [removableSeries]="true"
      (onVisibleRange)="onVisibleRange($event)"
      (onManualRangeChange)="onManualRangeChange()">
      <app-parameter-series [parameter]="parameter.qualifiedName" [grid]="true" />
    </app-parameter-plot>
    <div class="zoom-actions">
      <div class="zoom-actions-inner elevation-z1">
        <button mat-button (click)="plot.zoomIn()">
          <mat-icon>add</mat-icon>
        </button>
        <span class="separator"></span>
        <button mat-button (click)="plot.zoomOut()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    @if (dataSource.data$ | async; as data) {
      @if (!(dataSource.loading$ | async)) {
        @if (data.samples.length === 0) {
          <div class="no-data-message">
            @if (range$ | async; as range) {
              <span class="mat-caption" style="color: #777">
                There is no data for this chart in
                @switch (range) {
                  @case ("PT1M") {
                    <span>the last minute</span>
                  }
                  @case ("PT5M") {
                    <span>the last 5 minutes</span>
                  }
                  @case ("PT15M") {
                    <span>the last 15 minutes</span>
                  }
                  @case ("PT30M") {
                    <span>the last 30 minutes</span>
                  }
                  @case ("PT1H") {
                    <span>the last hour</span>
                  }
                  @case ("PT6H") {
                    <span>the last 6 hours</span>
                  }
                  @case ("PT12H") {
                    <span>the last 12 hours</span>
                  }
                  @case ("P1D") {
                    <span>the last 24 hours</span>
                  }
                  @case ("P2D") {
                    <span>the last 2 days</span>
                  }
                  @case ("P1W") {
                    <span>the last week</span>
                  }
                  @case ("P2W") {
                    <span>the last 2 weeks</span>
                  }
                  @case ("P1M") {
                    <span>the last month</span>
                  }
                  @default {
                    <span>the selected range</span>
                  }
                }
              </span>
            }
          </div>
        }
      }
    }
  </div>
}
