<ya-detail-pane>
  <ya-detail-toolbar closeIcon="right_panel_close" closeLabel="Toggle panel">
    Chart settings
    <ya-detail-toolbar-actions>
      @if (stepper.anyCollapsed()) {
        <ya-icon-action
          icon="expand_all"
          matTooltip="Expand all menus"
          (click)="stepper.expandAll()" />
      } @else {
        <ya-icon-action
          icon="collapse_all"
          matTooltip="Collapse all menus"
          (click)="stepper.collapseAll()" />
      }
    </ya-detail-toolbar-actions>
  </ya-detail-toolbar>

  <ya-form [formGroup]="form">
    <ya-stepper #stepper>
      <ya-stepper-step label="General" [expanded]="true">
        <table class="style-table">
          <tr>
            <td class="property">Show zero line</td>
            <td class="widget">
              <ya-slide-toggle formControlName="showZeroLine" />
            </td>
          </tr>
          <tr>
            <td class="property">
              Show alarm thresholds
              <ya-help>
                If the current parameter has any alarm limits, display horizontal lines for each.
              </ya-help>
            </td>
            <td class="widget">
              <ya-slide-toggle formControlName="showAlarmThresholds" />
            </td>
          </tr>
          <tr>
            <td class="property">Center zero</td>
            <td class="widget">
              <ya-slide-toggle formControlName="centerZero" />
            </td>
          </tr>
          <tr>
            <td class="property">
              Y-axis zoom
              <ya-help>Reset vertical zoom to activate automatic zoom</ya-help>
            </td>
            <td class="widget">
              <ya-button (click)="autoScale()" [disabled]="!resetZoomEnabled()">
                Reset zoom
              </ya-button>
            </td>
          </tr>
        </table>
      </ya-stepper-step>

      @for (traceForm of traces.controls; track traceForm; let i = $index) {
        <ya-stepper-step label="Trace {{ i + 1 }}" [expanded]="true">
          <ya-stepper-step-actions>
            <ya-icon-action
              icon="arrow_drop_up"
              matTooltip="Move up"
              [disabled]="i === 0"
              (click)="moveUp(i)" />
            <ya-icon-action
              icon="arrow_drop_down"
              matTooltip="Move down"
              [disabled]="i >= traces.controls.length - 1"
              (click)="moveDown(i)" />
            <ya-icon-action
              icon="delete_outline"
              matTooltip="Remove trace"
              [disabled]="traces.controls.length <= 1"
              (click)="removeTrace(i)" />
            <ya-icon-action icon="add_circle" matTooltip="Add trace below" (click)="addTrace(i)" />
          </ya-stepper-step-actions>

          <app-trace-config [form]="traceForm" />
        </ya-stepper-step>
      }
    </ya-stepper>
  </ya-form>
</ya-detail-pane>

<div class="main-pane">
  <div class="top-controls">
    Latest:
    <ya-button-group>
      <ya-button (click)="loadLatest('PT1M')" [toggled]="range() === 'PT1M'">1 m</ya-button>
      <ya-button (click)="loadLatest('PT5M')" [toggled]="range() === 'PT5M'">5 m</ya-button>
      <ya-button (click)="loadLatest('PT15M')" [toggled]="range() === 'PT15M'">15 m</ya-button>
      <ya-button (click)="loadLatest('PT30M')" [toggled]="range() === 'PT30M'">30 m</ya-button>
    </ya-button-group>
    <ya-button-group>
      <ya-button (click)="loadLatest('PT1H')" [toggled]="range() === 'PT1H'">1 h</ya-button>
      <ya-button (click)="loadLatest('PT6H')" [toggled]="range() === 'PT6H'">6 h</ya-button>
      <ya-button (click)="loadLatest('PT12H')" [toggled]="range() === 'PT12H'">12 h</ya-button>
    </ya-button-group>
    <ya-button-group>
      <ya-button (click)="loadLatest('P1D')" [toggled]="range() === 'P1D'">1 d</ya-button>
      <ya-button (click)="loadLatest('P2D')" [toggled]="range() === 'P2D'">2 d</ya-button>
      <ya-button (click)="loadLatest('P1W')" [toggled]="range() === 'P1W'">7 d</ya-button>
      <ya-button (click)="loadLatest('P2W')" [toggled]="range() === 'P2W'">14 d</ya-button>
    </ya-button-group>

    <ya-button (click)="openDateRangeDialog()" icon="date_range">Date range</ya-button>

    <ya-button-group>
      <ya-icon-button (click)="zoomIn()" icon="add" />
      <ya-icon-button (click)="zoomOut()" icon="remove" />
    </ya-button-group>

    @if (!range()) {
      <ya-button (click)="jumpToNow()" icon="double_arrow">Now</ya-button>
    }

    <div style="flex: 1 1 auto"></div>

    <ya-icon-action icon="photo_camera" matTooltip="Save image" (click)="saveImage()" />

    @if (!(detailPane$ | async)) {
      <ya-button icon="right_panel_open" (click)="openDetailPane()">Chart settings</ya-button>
    }
  </div>

  <div class="legend-wrapper">
    <app-legend
      [leftMargin]="5 + sidebarWidth()"
      [data]="legend"
      backgroundColor="#fff"
      [borderColor]="gridColor" />
  </div>

  <div #container class="timeline-container"></div>
</div>
