/*
 * DQI Colors match with defaults in mcs_dqistyle.xml
 */
/*/deep/ .uss-grid { display: none; }*/
/deep/ .dead-bg { fill: #912CEE; }
/deep/ .dead-fg { fill: black; }
/deep/ .disabled-bg { fill: black; }
/deep/ .disabled-fg { fill: white; }
/deep/ .undefined-bg { fill: black; }
/deep/ .undefined-fg { fill: white; }
/deep/ .in_limits-bg { fill: #00FF00; }
/deep/ .in_limits-fg { fill: black; }
/deep/ .nominal_limit_violation-bg { fill: yellow; }
/deep/ .nominal_limit_violation-fg { fill: black; }
/deep/ .danger_limit_violation-bg { fill: red; }
/deep/ .danger_limit_violation-fg { fill: black; }
/deep/ .expired-bg { fill: cyan; }
/deep/ .expired-fg { fill: black; }
