#
# Defines users. passwords, roles and privileges for integration test in Yamcs
#

# global parameters
passwordsHash: true     # if true, passwords hashes must use the algorithm PBKDF2WithHmacSHA1. Use the utilily hash-password.sh to hash users passords.

# user list
users:
    #   username: [password, role1, role2, ...]
    testuser: [password, Role1, EmptyRole]
    operator: [password, Operator]
    admin: [rootpassword, Administrator, Operator]

# roles and privileges
roles:
    Role1:
        tm_parameter_privileges: ["/REFMDB/SUBSYS1/IntegerPara.*"]
        tm_parameter_set_privileges: []
        tm_packet_privileges: ["PP_.*", ".*"]
        tc_privileges: ["INT_ARG_TC"]
        system_privileges: ["MayControlYProcessor", "MayModifyCommandHistory", "MayControlCommandQueue", "MayCommandPayload", "MayGetMissionDatabase", "MayControlArchiving"]

    Operator:
        tm_parameter_privileges: [".*"]
        tm_parameter_set_privileges: []
        tm_packet_privileges: [".*"]
        tc_privileges: [".*"]
        system_privileges: ["MayControlYProcessor", "MayModifyCommandHistory", "MayControlCommandQueue", "MayCommandPayload", "MayGetMissionDatabase", "MayControlArchiving"]

    Administrator:
        tm_parameter_privileges: [".*"]
        tm_parameter_set_privileges: [".*"]
        tm_packet_privileges: [".*"]
        tc_privileges: [".*"]
        system_privileges: ["MayControlYProcessor", "MayModifyCommandHistory", "MayControlCommandQueue", "MayCommandPayload", "MayGetMissionDatabase", "MayControlArchiving"]

    EmptyRole: []

