#
# Defines users. passwords, roles and privileges for Yamcs
#

# global parameters
passwordsHash: true     # if true, passwords hashes must use the algorithm PBKDF2WithHmacSHA1. Use the utilily hash-password.sh to hash users passords.

# user list
users:
    #   username: [password, role1, role2, ...]
    busocops: [k2, Operator]
    busocgc: ["1000:a5c76ad447ab5e5d1b968f51a294732df9a472664de6c9e8:e319171af2e66c7e266135565ff1454b45c44e296ab0d352", Operator, administrator]
    altec: [password, noInstrument]

# roles and privileges
roles:
    Operator:
        tm_parameter_privileges: [".*_PP", ".*"]
        tm_packet_privileges: ["PP_.*", ".*"]
        tc_privileges: [".*"]
        system_privileges: ["MayControlChannel", "MayModifyCommandHistory", "MayControlCommandQueue", "MayCommandPayload", "MayGetMissionDatabase", "MayControlArchiving"]

    administrator:
        tm_parameter_privileges: [".*_PP", ".*"]
        tm_packet_privileges: ["PP_.*", ".*", "cooladminstuff"]
        tc_privileges: [".*"]
        system_privileges: ["MayControlChannel", "MayModifyCommandHistory", "MayControlCommandQueue", "MayCommandPayload", "MayGetMissionDatabase", "MayControlArchiving"]

    noInstrument:
        tm_parameter_privileges: [".*_PP", "CGSHK_.*", "SOLAR_(?!INST).*"]
        tm_packet_privileges: ["SOLAR_(?!INST).*", "PP_.*"]
        tc_privileges: []
        system_privileges: []


   