#this is the config file for the EventProducer (injecting events into yamcs)
yamcsURL: "http://localhost:8090/simulator"

# Whether or not repeated messages should be reduced. If set to false, every event is sent
repeatedEventReduction: true
