refmdb:
    # Configuration of the active loaders
    # Valid loaders are: sheet, xtce or fully qualified name of the class
    xtceLoader: 
         type: "sheet"
         spec: "mdb/refmdb-ccsds.xls"
         subLoaders:
             - type: "sheet"
               spec: "mdb/refmdb-subsys1.xls"

    ############# Processed Parameter definitions ###########
    ppLoaders: 
        - type: sheet
          spec: "mdb/refmdb-subsys1.xls"

    # Custom algorithm functions available to XTCE algorithms
    # files must end with .js
    #libraries:
    #   - spec: "mdb/algolib.js