#configuration of the privileges
# if enabled is set to false, the connection to realm is not even
# attempted and hasPrivilege method always returns true
#
# if enabled is set to true, you need to enable security of hornetQ and ensure
# the hornetQ roles are assigned to user in the chosen realm.
enabled: false

# The name of the default user when privileges are not enabled
defaultUser: admin

#one of: LdapRealm, YamlRealm
realm: org.yamcs.security.YamlRealm

#maximum number of CIS sessions clients are allowed
maxNoSessions: 10

ldaphost:        host
userPath:        "ou=People,o=usoc"
rolePath:        "ou=Roles, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
systemPath:      "ou=System, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tmParameterPath: "ou=TM_PARAMETER, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tmPacketPath:    "ou=TM_PACKET, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tcPath:          "ou=TC, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"

# yaml file, if using YamlRealm
yamlRealmFilename:  credentials.yaml
