#configuration of the privileges
# if enabled is set to false, the connection to realm is not even
# attempted and hasPrivilege method always returns true
enabled: false

# The name of the default user when privileges are not enabled
defaultUser: admin

authModule:
    class: org.yamcs.security.DefaultAuthModule
    #one of: LdapRealm, YamlRealm
    config:
        realm: org.yamcs.security.YamlRealm

#ldap configuration of LdapRealm is specified above 
ldaphost:        host
userPath:        "ou=People,o=usoc"
rolePath:        "ou=Roles, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
systemPath:      "ou=System, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tmParameterPath: "ou=TM_PARAMETER, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tmPacketPath:    "ou=TM_PACKET, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
tcPath:          "ou=TC, ou=yamcs, ou=Applications, ou=Operation, ou=Columbus,ou=Projects,o=usoc"
