#configuration for the PactsLikeTmProvider and PactsLikeTcUplinker 
# they look for properties like 
# spec:
#     tmHost
#     tmPort
#     tcHost
#     tcPort
#     minimumTcPacketLength (by default 48)

local:
    tmHost: localhost
    tmPort: 10021
    tcHost: localhost
    tcPort: 10023
