# System-wide services
services:
  - class: org.yamcs.web.HttpServer
    args:
      port: 8090

      # Where to find the files for the web interface
      webRoot: lib/yamcs-web

      # Indicates whether zero-copy can be used to optimize non-ssl static file serving
      # Leave this true unless you encounter a specific deployment issue (e.g. some docker hosts)
      zeroCopyEnabled: true

      # Configure Cross—origin Resource Sharing for the REST API.
      # This facilitates use of the API in browser applications.
      # Note that as per W3C spec the exact allowed origin MUST be defined if credentials are to be passed.
      #cors:
      #  allowOrigin: "*"
      #  allowCredentials: false

      #WebSocket configurations
      webSocket:

        # Configure netty write buffers for the websockets. 
        # If the buffer is full, then websocket messages will be dropped and you see log messages:
        #    Dropping {} message for client [id={}, username={}] because channel is not or no longer writable
        # After a few consecutive dropped messages (the number can be configured below), the connection will be closed.
        # The clients can see that they lost a message from the sequence count in each received websocket data frame.
        #
        # The higher the values, the more memory may be consumed but the connections will be more resilient 
        # against unstable networks (i.e. high jitter).
        # Increasing the values also helps if a large number of messages(events, alarms, parameters, etc)
        # are generated in bursts.
        writeBufferWaterMark:
          low: 32768
          high: 65536

        # after how many consecutive lost messages the connection will be closed.
        connectionCloseNumDroppedMsg: 5

#instances (or domains). One yarch database will be created for each of them 
# instance specific properties go into the file yamcs.{instance}.yaml
#instances:
#  - simulator

#the location of the data and the incoming files
# inside there should be a different directory for each instance and for each data type (e.g. /storage/yamcs-data/testinst/tm)
dataDir: /storage/yamcs-data
incomingDir: /storage/yamcs-incoming

#max length of the data of type binary(e.g. tm packets)
maxBinaryLength: 1048576

#set the serverId if you want something else than hostname to be used in system parameters generated by yamcs
#serverId: yamcs1

#rocksdb table configuration
rdbConfig:
  tableConfig:
    # config for the "tm" table. Any regular expression can be used to match the table name
    # see https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h for an explanation on the various options
    - tableNamePattern: "tm"
      #Maximum number of open files that rocksdb will keep open at one time - it has to be at least 20.
      # Note that this applies to each rocksdb database 
      #  - in case the table is partitioned by time, there will be multiple rocksdb databases for each partition.
      # The actual number of open files may be temporarely exceeded in case there are many concurrent iterators open at the same time
      #  - this can happen for example when doing many replays in parallel.
      # It is threfore recommended to set the maximum number of open files at the OS level (ulimit -n on Linux) to at least 10k.
      maxOpenFiles: 100
      columnFamilyOptions:
        targetFileSizeBase: 10240     #KB
        targetFileSizeMultiplier: 10
        maxBytesForLevelBase: 102400  #KB
        maxBytesForLevelMultiplier: 10
        writeBufferSize: 50240        #KB
        maxWriteBufferNumber: 2
      tableFormatConfig:
        blockSize: 64 #KB
        noBlockCache: true
              
# Secret key unique to a particular Yamcs installation.
# This is used to provide cryptographic signing.
secretKey: "changeme"
