<app-instance-page>
  <app-instance-toolbar>
    Queues
    <ya-help>
      <p>
        A queue is a temporary holding location for issued commands that are waiting to enter the
        next stage of processing.
      </p>
      <p>Queues are an ordered list. Issued commands are offered to the first matching queue.</p>
      <p>A queue can perform these actions:</p>
      <table yaSimpleTable style="width: 100%">
        <tr>
          <th width="1">ACCEPT</th>
          <td>The queue accepts and releases commands.</td>
        </tr>
        <tr>
          <th>HOLD</th>
          <td>
            The queue accepts commands but does not release them. These commands may be released
            manually, or automatically as soon as the queue action changes to ACCEPT.
          </td>
        </tr>
        <tr>
          <th>REJECT</th>
          <td>The queue does not accept commands. Matching commands fail immediately.</td>
        </tr>
      </table>
    </ya-help>
    &nbsp;&nbsp;&nbsp;
    <ya-page-button
      [matMenuTriggerFor]="actionMenu"
      [disabled]="selection.isEmpty()"
      dropdown="true">
      Change action
    </ya-page-button>
    <mat-menu #actionMenu="matMenu" class="ya-menu">
      <button mat-menu-item (click)="enableSelectedQueues()">
        <mat-icon>check</mat-icon>
        ACCEPT
      </button>
      <button mat-menu-item (click)="blockSelectedQueues()">
        <mat-icon>pause</mat-icon>
        HOLD
      </button>
      <button mat-menu-item (click)="disableSelectedQueues()">
        <mat-icon>close</mat-icon>
        REJECT
      </button>
    </mat-menu>
  </app-instance-toolbar>

  <div class="panel-content">
    @if ((connectionInfo$ | async)?.processor?.hasCommanding) {
      @if (dataSource) {
        <table
          mat-table
          [dataSource]="dataSource"
          [trackBy]="tableTrackerFn"
          class="ya-data-table expand">
          <ng-container cdkColumnDef="select">
            <th mat-header-cell *cdkHeaderCellDef class="checkbox">
              <input
                type="checkbox"
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()" />
            </th>
            <td mat-cell *cdkCellDef="let row" class="checkbox">
              <input
                type="checkbox"
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" />
            </td>
          </ng-container>
          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let queue">
              {{ queue.order }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Queue</th>
            <td mat-cell *matCellDef="let queue">
              {{ queue.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="issuer">
            <th mat-header-cell *matHeaderCellDef>Issuer</th>
            <td mat-cell *matCellDef="let queue">
              @for (group of queue.groups; track group) {
                <ya-label icon="people">{{ group }}</ya-label>
              }
              @for (user of queue.users; track user) {
                <ya-label icon="person">{{ user }}</ya-label>
              }
              @if (!queue.groups && !queue.users) {
                any
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef>Min.&nbsp;level</th>
            <td mat-cell *matCellDef="let queue">
              <app-significance-level [level]="queue.minLevel" [grayscale]="true" />
            </td>
          </ng-container>
          <ng-container matColumnDef="patterns">
            <th mat-header-cell *matHeaderCellDef>Name&nbsp;patterns</th>
            <td mat-cell *matCellDef="let queue">
              @if (!queue.tcPatterns) {
                any
              }
              @for (tcPattern of queue.tcPatterns; track tcPattern) {
                {{ tcPattern }}
                <br />
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let queue">
              @if (queue.state === "ENABLED") {
                <span>ACCEPT</span>
              }
              @if (queue.state === "BLOCKED") {
                <span [style.visibility]="(visibility$ | async) ? 'visible' : 'hidden'">HOLD</span>
              }
              @if (queue.state === "DISABLED") {
                <span>REJECT</span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef>Pending</th>
            <td mat-cell *matCellDef="let queue" style="text-align: center">
              {{ queue.entries?.length || 0 | number }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="expand"></th>
            <td mat-cell *matCellDef="let queue">
              <ya-more>
                <button mat-menu-item (click)="enableQueue(queue)">
                  <mat-icon>check</mat-icon>
                  Accept mode
                </button>
                <button mat-menu-item (click)="blockQueue(queue)">
                  <mat-icon>pause</mat-icon>
                  Hold mode
                </button>
                <button mat-menu-item (click)="disableQueue(queue)">
                  <mat-icon>close</mat-icon>
                  Reject mode
                </button>
                <mat-divider />
                <a
                  mat-menu-item
                  routerLink="/commanding/history"
                  [queryParams]="{ c: yamcs.context, queue: queue.name }">
                  View command history
                </a>
              </ya-more>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="toggleOne(row)"
            [class.selected]="selection.isSelected(row)"></tr>
        </table>
      }
      <p>&nbsp;</p>
      <nav mat-tab-nav-bar class="secondary" [mat-stretch-tabs]="false" [tabPanel]="tabPanel">
        <a
          mat-tab-link
          routerLink="/commanding/queues/pending"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
          [queryParams]="{ c: yamcs.context }">
          Pending
        </a>
        <a
          mat-tab-link
          routerLink="/commanding/queues/log"
          routerLinkActive
          #rlb="routerLinkActive"
          [active]="rlb.isActive"
          [queryParams]="{ c: yamcs.context }">
          Action log
        </a>
      </nav>
      <div style="margin-top: 16px">
        <mat-tab-nav-panel #tabPanel>
          <router-outlet />
        </mat-tab-nav-panel>
      </div>
    } @else {
      @if (connectionInfo$ | async; as connectionInfo) {
        <ya-empty-message headerTitle="Queues">
          <p>
            You are connected to the
            @if (connectionInfo.processor?.replay) {
              replay
            }
            processor
            <strong>{{ connectionInfo.processor?.name }}</strong>
            .
          </p>
          <p>This processor does not support commanding.</p>
        </ya-empty-message>
      }
    }
  </div>
</app-instance-page>
