.storage-page-content {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--y-background-color);
}

.storage-page-content.message-bar-visible {
  top: 112px;
  /* 48 + 64*/
}

mat-toolbar {
  background-color: #fcfcfc;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: content-box;
  color: rgba(0, 0, 0, .654);
}
