.graph-container {
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  border: 1px solid #d3d3d3;
}

::ng-deep .annotation {
  background-color: lightpink;
  color: red !important;
}

::ng-deep .dygraph-axis-label {
  color: #aaa;
}
