.graph-container {
  overflow: hidden;
}

::ng-deep .annotation {
  background-color: lightpink;
  color: red !important;
  opacity: 0.7;
  border-color: red !important;
}

::ng-deep .dygraph-axis-label {
  color: #aaa;
}

::ng-deep .dygraph-legend {
  left: 60px !important;
  background-color: transparent;
}

::ng-deep .legend-box {
  margin-top: 2px;
  padding: 3px;
  border-radius: 2px;
  display: inline-block;
  font-size: 10px;
}
