<ng-container *ngIf="alarm.type === 'PARAMETER'">
  <h6>Parameter</h6>
  <div class="block">
    <a [routerLink]="['/telemetry/parameters/', alarm.id.namespace! + '/' + alarm.id.name]"
       [queryParams]="{instance: instance}"
       class="ya-link">
      {{ alarm.id.namespace }}/{{ alarm.id.name }}
    </a>
  </div>
</ng-container>

<ng-container *ngIf="alarm.type === 'EVENT'">
  <h6>Event</h6>
  <div class="block">
    {{ alarm.id.namespace }}/{{ alarm.id.name }}
  </div>
</ng-container>

<h6>Severity</h6>
<div class="block">
  <app-alarm-level [level]="alarm.severity"></app-alarm-level>
  {{ alarm.severity }}
</div>

<ng-container *ngIf="alarm.parameterDetail as parameterDetail">
  <br>
  <mat-divider></mat-divider>

  <h6>Trigger value</h6>
  <div class="block">
    <app-alarm-level [level]="alarm.severity" [grayscale]="true"></app-alarm-level>
    &nbsp;{{ parameterDetail.triggerValue.engValue | value }}
    <span *ngIf="parameterDetail.triggerValue.rangeCondition === 'LOW'">&#8595;</span>
    <span *ngIf="parameterDetail.triggerValue.rangeCondition === 'HIGH'">&#8593;</span>
  </div>

  <br>
  <mat-divider></mat-divider>

  <h6>Live value</h6>
  <div class="block">
    <app-expirable [pval]="parameterDetail.currentValue">
      <app-alarm-level [level]="parameterDetail.currentValue.monitoringResult" [grayscale]="true"></app-alarm-level>
      &nbsp;{{ parameterDetail.currentValue.engValue | value }}
      <span *ngIf="parameterDetail.currentValue.rangeCondition === 'LOW'">&#8595;</span>
      <span *ngIf="parameterDetail.currentValue.rangeCondition === 'HIGH'">&#8593;</span>
    </app-expirable>
  </div>
</ng-container>

<ng-container *ngIf="alarm.eventDetail as eventDetail">
  <br>
  <mat-divider></mat-divider>

  <h6>Trigger event</h6>
  <div class="block">
    {{ eventDetail.triggerEvent.message }}
  </div>
</ng-container>

<ng-container *ngIf="alarm.acknowledgeInfo">
  <br>
  <mat-divider></mat-divider>

  <h6>Acknowledged by {{ alarm.acknowledgeInfo.acknowledgedBy }}</h6>
  <div class="block">
    On {{ alarm.acknowledgeInfo.acknowledgeTime | datetime }}
    <ng-container *ngIf="alarm.acknowledgeInfo.acknowledgeMessage">
      <blockquote style="border-left: 4px solid #eee; padding-left: 1em; font-style: italic">
        {{ alarm.acknowledgeInfo.acknowledgeMessage }}
      </blockquote>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="alarm.shelveInfo">
  <br>
  <mat-divider></mat-divider>

  <h6>Shelved by {{ alarm.shelveInfo.shelvedBy }}</h6>
  <div class="block">
    On {{ alarm.shelveInfo.shelveTime | datetime }}
    <ng-container *ngIf="alarm.shelveInfo.shelveMessage">
      <blockquote style="border-left: 4px solid #eee; padding-left: 1em; font-style: italic">
        {{ alarm.shelveInfo.shelveMessage }}
      </blockquote>
    </ng-container>
  </div>

  <ng-container *ngIf="alarm.shelveInfo.shelveExpiration">
    <h6>Shelve Expiration</h6>
    <div class="block">
      {{ alarm.shelveInfo.shelveExpiration | datetime }}
    </div>
  </ng-container>
</ng-container>

<div class="action-bar" *ngIf="mayControl">
  <button class="ya-button"
          (click)="acknowledgeAlarm.emit(alarm)"
          *ngIf="!alarm.shelveInfo && !alarm.acknowledged">
    <mat-icon>notifications_off</mat-icon>
    ACKNOWLEDGE
  </button>
  <button class="ya-button"
          (click)="shelveAlarm.emit(alarm)"
          *ngIf="!alarm.shelveInfo">
    <mat-icon>timer</mat-icon>
    SHELVE
  </button>
  <button class="ya-button"
          (click)="unshelveAlarm.emit(alarm)"
          *ngIf="alarm.shelveInfo">
    <mat-icon>timer_off</mat-icon>
    UNSHELVE
  </button>
  <button class="ya-button"
          (click)="clearAlarm.emit(alarm)">
    <mat-icon>clear_all</mat-icon>
    CLEAR
  </button>
</div>
