<mat-toolbar color="primary" *ngIf="user$ | async as user">
  <mat-toolbar-row class="app-bar"
                   [class.replay]="(connectionInfo$ | async)?.processor?.replay">
    <div *ngIf="tag" class="tag">
      {{ tag }}
    </div>
    <button mat-icon-button
            *ngIf="showMenuToggle$ | async"
            (click)="toggleSidebar()">
      <mat-icon>{{ (sidebar$ | async) ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <div class="logo-wrapper" [class.nosidebar]="!(showMenuToggle$ | async)">
      <a routerLink="/">
        <img src="yamcs.png" style="margin-top: 12px">
      </a>
    </div>
    <ng-container *ngIf="connectionInfo$ | async as connectionInfo">
      <button mat-button (click)="openInstanceDialog()">
        <mat-icon>scatter_plot</mat-icon>
        {{ connectionInfo.instance?.name }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>

    <div style="flex: 1 1 auto"></div>

    <nav mat-tab-nav-bar class="top-tabs">
      <a mat-tab-link routerLink="storage" routerLinkActive="active">
        <mat-icon>perm_media</mat-icon>
        &nbsp;&nbsp;STORAGE
      </a>
      <a mat-tab-link routerLink="admin" routerLinkActive="active" *ngIf="user | superuser">
        <mat-icon>security</mat-icon>
        &nbsp;&nbsp;ADMIN AREA
      </a>
      <a mat-tab-link [matMenuTriggerFor]="userMenu">
        <mat-icon>support_agent</mat-icon>
        &nbsp;&nbsp;{{ (user.getDisplayName() || user.getName()) | uppercase }}
      </a>
    </nav>

    <mat-menu #userMenu="matMenu" overlapTrigger="false" xPosition="before">
      <a mat-menu-item routerLink="profile" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        &nbsp;Profile
      </a>
      <a mat-menu-item (click)="logout()" *ngIf="authInfo.requireAuthentication">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-print-zone></app-print-zone>
