mat-toolbar-row {
  height: 48px;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .26);
  z-index: 2;
}

.mat-toolbar-multiple-rows {
  min-height: 48px;
}

.app-bar {
  background-color: #24292e;
}

.app-bar.replay {
  background-color: darkviolet;
}

.logo-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.selected-instance.mat-button {
  border: 1px solid grey;
  border-radius: 40px;
  line-height: 24px;
}

::ng-deep .select-instance-dialog .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
