mat-toolbar-row {
  height: 48px;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .26);
  z-index: 2;
}

.mat-toolbar-multiple-rows {
  min-height: 48px;
}

.app-bar {
  background-color: #24292e;
}

.logo-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.logo-wrapper.nosidebar {
  padding-left: 6px;
}

.logo-wrapper:hover img {
  opacity: 0.8;
}

.tag {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  pointer-events: none;
}

.selected-instance.mat-button {
  border: 1px solid grey;
  border-radius: 40px;
  line-height: 24px;
}

::ng-deep .no-padding-dialog .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}

.mat-button:hover,
::ng-deep .top-tabs.mat-tab-nav-bar .mat-tab-link:hover,
::ng-deep .top-tabs.mat-tab-nav-bar .mat-tab-link.active {
  background-color: rgba(255, 255, 255, 0.1);
}

::ng-deep .top-tabs.mat-tab-nav-bar .mat-tab-link {
  color: #fff;
  opacity: 1;
  min-width: 0;
}
