mat-toolbar {
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  box-sizing: content-box;
  color: rgba(0, 0, 0, .654);
}

mat-toolbar-row {
  padding-left: 24px;
}

.toolbar-text {
  font-size: 12px;
}
