:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4,
:host ::ng-deep h5,
:host ::ng-deep h6 {
  margin-top: 0;
  line-height: 1em;
}

.main-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
}

.main-pane.with-info-pane {
  right: 450px;
}

.tab-content {
  position: absolute;
  top: calc(24px + 36px);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 24px;
}

.ya-data-table td {
  vertical-align: top;
}

div.entry {
  font-size: 12px;
  line-height: 17px;
  color: rgba(0, 0, 0, .654);
}

div.entry div.in {
  display: flex;
  border-left: 8px solid transparent;
  margin-bottom: 10px;
}

div.entry div.out {
  display: flex;
  border-left: 8px solid transparent;
  margin-bottom: 10px;
}

div.entry.selected div.in,
div.entry.selected div.out {
  border-color: var(--y-accent);
}

div.entry .seq {
  width: 64px;
  text-align: right;
  padding-top: 0;
  padding-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  font-family: 'Roboto Mono', monospace;
  color: #bdbdbd;
}

div.entry div.in .seq {
  cursor: move;
}

div.entry.selected .seq {
  color: var(--y-accent);
}

div.entry .body {
  flex-grow: 1;
  padding: 5px;
}

div.entry.display-text .body {
  padding: 0;
}

div.entry div.in .body {
  background-color: #fafafa;
  border: 1px solid rgb(224, 224, 224);
  font-family: 'Roboto Mono', monospace;
}

div.entry.display-text div.in .body {
  background-color: inherit;
  border-color: transparent;
}

div.entry div.out .body.err {
  background-color: #fcc;
  color: var(--y-error-color);
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

.comment {
  margin-top: 1em;
  margin-left: 5px;
  border-left: 5px solid rgb(224, 224, 224);
  padding: 1em;
}

.comment .title {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.comment .title .display-text {
  margin-left: 5px;
}
