<app-instance-page>
  <app-instance-toolbar>
    <ya-page-icon-button
      [routerLink]="folderLink"
      [queryParams]="{ c: yamcs.context }"
      icon="arrow_back" />
    {{ filename | basename }}
    &nbsp;&nbsp;&nbsp;
    <ya-page-button
      matTooltip="Save stack"
      (click)="saveStack()"
      [disabled]="!format || !(dirty$ | async)"
      icon="save">
      Save
    </ya-page-button>
    <mat-divider vertical style="height: 100%" />
    <ya-page-button
      matTooltip="Add a step below"
      [disabled]="!format || (running$ | async)"
      [matMenuTriggerFor]="addEntryMenu"
      icon="add_circle_outline"
      dropdown="true">
      Add step
    </ya-page-button>
    <mat-menu class="ya-menu" #addEntryMenu="matMenu">
      <a mat-menu-item (click)="addCommandEntry()">
        <mat-icon>rss_feed</mat-icon>
        Command
      </a>
      <a mat-menu-item (click)="addCheckEntry()">
        <mat-icon>speed</mat-icon>
        Check
      </a>
    </mat-menu>
    <ya-page-icon-button
      matTooltip="Edit the selected step"
      [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
      (click)="editSelectedEntry()"
      icon="edit" />
    <ya-page-icon-button
      matTooltip="Cut the selected step"
      [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
      (click)="cutSelectedEntry()"
      icon="content_cut" />
    <ya-page-icon-button
      matTooltip="Copy the selected step"
      [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
      (click)="copySelectedEntry()"
      icon="content_copy" />
    <ya-page-icon-button
      matTooltip="Paste entry from the clipboard"
      [disabled]="!format || (running$ | async) || !(clipboardEntry$ | async)"
      (click)="pasteEntry()"
      icon="content_paste" />
    <mat-divider vertical style="height: 100%" />
    <ya-page-icon-button
      matTooltip="Run the selected step"
      [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
      (click)="runSelection()"
      icon="play_arrow" />
    <ya-page-icon-button
      matTooltip="Stop current execution"
      [disabled]="!format || !(running$ | async)"
      (click)="stopRun()"
      icon="stop" />
    <ya-page-icon-button
      matTooltip="Clear all outputs"
      [disabled]="!format || (running$ | async) || !(hasOutputs$ | async)"
      (click)="clearOutputs()"
      icon="refresh" />
    <ya-page-icon-button
      matTooltip="Run all from selected step"
      [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
      (click)="runFromSelection()"
      icon="playlist_play" />
    <mat-divider vertical style="height: 100%" />
    @if (showSchedule()) {
      <ya-page-button
        matTooltip="Run stack at a later time"
        (click)="openScheduleStackDialog()"
        [disabled]="!loaded || format !== 'ycs' || !entries$.value.length"
        icon="schedule">
        Schedule
      </ya-page-button>
    }
    <mat-divider vertical style="height: 100%" />
    <ya-page-button
      matTooltip="Export stack"
      [matMenuTriggerFor]="exportMenu"
      [disabled]="!format"
      (click)="setExportURLs()"
      icon="open_in_new">
      Export
    </ya-page-button>
    @if (format === "xml") {
      <mat-divider vertical style="height: 100%" />
      <ya-page-button
        color="warn"
        matTooltip="Convert to the newer format"
        [disabled]="!format || converting"
        (click)="convertToJSON()"
        icon="auto_awesome">
        Convert to *.ycs file
      </ya-page-button>
    }
    <mat-menu class="ya-menu" #exportMenu="matMenu">
      <a mat-menu-item [href]="jsonBlobUrl" [download]="(filename | basename) + '.ycs'">
        <mat-icon>data_object</mat-icon>
        YCS FILE
      </a>
      <a mat-menu-item [href]="xmlBlobUrl" [download]="(filename | basename) + '.xml'">
        <mat-icon>code</mat-icon>
        <span style="vertical-align: middle">
          XML FILE
          <span style="color: #cc0000">(legacy)</span>
        </span>
      </a>
    </mat-menu>
  </app-instance-toolbar>

  <ya-detail-pane>
    @if (selectedEntry$ | async; as selectedEntry) {
      <ya-detail-toolbar>Command Info</ya-detail-toolbar>
      <div style="padding: 0 16px">
        <app-stacked-command-detail [entry]="selectedEntry" />
        <p>&nbsp;</p>
      </div>
    } @else {
      <ya-detail-toolbar>Select a step</ya-detail-toolbar>
    }
  </ya-detail-pane>

  <div class="panel-wrapper">
    @if (format === "ycs") {
      <form
        [formGroup]="stackOptionsForm"
        class="ya-form panel-content stack-options"
        [ngClass]="this.stackOptionsForm.disabled && 'disabled'">
        <div class="label">
          Advance when
          <app-advance-ack-help [extra]="extraAcknowledgments" />
          <br />
          <div style="display: flex; align-items: flex-start">
            <ya-select
              #ackSelect
              [options]="ackOptions"
              icon="check_circle_outline"
              formControlName="advancementAckDropDown" />
            @if (stackOptionsForm.get("advancementAckDropDown")?.value === "custom") {
              <input
                type="text"
                formControlName="advancementAckCustom"
                style="width: 200px; margin-left: -1px" />
            }
          </div>
        </div>
        <div class="label">
          Wait (ms)
          <ya-help dialogTitle="Wait time">
            <p>Wait time before advancing to the next command in the stack.</p>
            <p>This triggers after successful acknowledgment.</p>
          </ya-help>
          <br />
          <input
            type="number"
            formControlName="advancementWait"
            placeholder="0"
            step="1000"
            min="0"
            style="width: 120px" />
        </div>
        <div style="flex: 1 1 auto"></div>
        @if (running$ | async) {
          <ya-dots />
        }
      </form>
      <mat-divider horizontal />
    }

    @if (loaded && !format) {
      <ya-empty-message>
        <mat-icon style="vertical-align: bottom; margin-right: 10px">link_off</mat-icon>
        Unsupported stack format
      </ya-empty-message>
    }
    @if (loaded && format && !entries$.value.length) {
      <ya-empty-message>
        Empty stack
        <br />
        Click
        <mat-icon inline style="vertical-align: bottom">add_circle_outline</mat-icon>
        to start adding steps
      </ya-empty-message>
    }

    <div #entryParent class="panel-content" cdkDropList (cdkDropListDropped)="handleDrop($event)">
      <div id="drag-boundary">
        @for (entry of entries$ | async; track entry) {
          <div
            cdkDrag
            cdkDragBoundary="#drag-boundary"
            class="entry"
            [class.selected]="entry === (selectedEntry$ | async)"
            (click)="selectEntry(entry)"
            (dblclick)="editEntry(entry)">
            <div class="in">
              <div cdkDragHandle class="seq">
                @if (entry.executing) {
                  [*]:
                } @else if (entry.executionNumber === 0 || entry.executionNumber) {
                  [{{ entry.executionNumber }}]:
                } @else if (entry.executionNumber !== 0 && !entry.executionNumber) {
                  [ ]:
                }
              </div>
              <div class="body">
                @if (entry.type === "check") {
                  <app-stacked-check-entry [entry]="entry" [pvals]="pvals$ | async" />
                } @else if (entry.type === "command") {
                  <app-stacked-command-entry [entry]="entry" />
                }

                @if (entry.comment) {
                  <div class="comment">
                    <div class="title">
                      <mat-icon class="icon14">info</mat-icon>
                      <span class="text">Info</span>
                    </div>
                    <app-markdown [text]="entry.comment" />
                  </div>
                }
              </div>
            </div>
            @if (entry.hasOutputs()) {
              <div class="out">
                <div class="seq" (click)="selectEntry(entry)"></div>
                <div class="body" [class.err]="entry.err">
                  @if (entry.err) {
                    {{ entry.err }}
                  } @else if (entry.type === "command") {
                    <app-yamcs-acknowledgments-table [command]="entry.record" [inline]="true" />
                    @if ((entry.record?.extra || []).length) {
                      <div class="block">
                        <app-extra-acknowledgments-table [command]="entry.record" [inline]="true" />
                      </div>
                    }
                  } @else if (entry.type === "check") {
                    <table>
                      @for (namedPval of entry.pvals; track namedPval) {
                        <tr>
                          <td style="padding-right: 20px">{{ namedPval.parameter }}</td>
                          <td>{{ (namedPval.pval?.engValue | value) ?? "-" }}</td>
                        </tr>
                      }
                    </table>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</app-instance-page>
