:host {
  counter-reset: h1counter;
}

:host ::ng-deep app-markdown h1,
:host ::ng-deep app-markdown h2,
:host ::ng-deep app-markdown h3,
:host ::ng-deep app-markdown h4,
:host ::ng-deep app-markdown h5,
:host ::ng-deep app-markdown h6 {
  margin-top: 0;
}

:host ::ng-deep app-markdown h1:before {
  content: counter(h1counter) ".\0000a0\0000a0";
  counter-increment: h1counter;
}

:host ::ng-deep app-markdown h1 {
  counter-reset: h2counter;
}

:host ::ng-deep app-markdown h2:before {
  content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

:host ::ng-deep app-markdown h2 {
  counter-reset: h3counter;
}

:host ::ng-deep app-markdown h3:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

:host ::ng-deep app-markdown h3 {
  counter-reset: h4counter;
}

:host ::ng-deep app-markdown h4:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
  counter-increment: h4counter;
}

:host ::ng-deep app-markdown h4 {
  counter-reset: h5counter;
}

:host ::ng-deep app-markdown h5:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
  counter-increment: h5counter;
}

:host ::ng-deep app-markdown h5 {
  counter-reset: h6counter;
}

:host ::ng-deep app-markdown h6:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
  counter-increment: h6counter;
}
