<app-instance-page>
  <app-instance-toolbar>Containers</app-instance-toolbar>
  <span #top></span>

  <div class="panel-content">
    <div class="filter-bar">
      <ya-search-filter
        [formControl]="filterControl"
        placeholder="Filter containers"
        (onArrowDown)="selectNext()"
        (onArrowUp)="selectPrevious()"
        (onEnter)="applySelection()" />
      <ya-column-chooser #columnChooser [columns]="columns" preferenceKey="containers" />
    </div>

    @if (dataSource) {
      <table mat-table class="ya-data-table expand" [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let container">
            <a
              [routerLink]="['/mdb/containers', container.qualifiedName]"
              [queryParams]="{ c: yamcs.context }">
              <ya-highlight
                [text]="shortName ? container.name : container.qualifiedName"
                [term]="filterControl.value" />
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="maxInterval">
          <th mat-header-cell *matHeaderCellDef>Max interval</th>
          <td mat-cell *matCellDef="let container">
            {{ (container.maxInterval | millisDuration) || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sizeInBits">
          <th mat-header-cell *matHeaderCellDef>Size in bits</th>
          <td mat-cell *matCellDef="let container">{{ container.sizeInBits || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="baseContainer">
          <th mat-header-cell *matHeaderCellDef>Base container</th>
          <td mat-cell *matCellDef="let container">
            @if (container.baseContainer) {
              <a
                [routerLink]="['/mdb/containers/', container.baseContainer?.qualifiedName]"
                [queryParams]="{ c: yamcs.context }"
                class="secundary">
                {{ container.baseContainer?.qualifiedName || "-" }}
              </a>
            } @else {
              <span>-</span>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="restrictionCriteria">
          <th mat-header-cell *matHeaderCellDef>Restriction criteria</th>
          <td
            mat-cell
            *matCellDef="let container"
            [class.mono]="!!container.restrictionCriteriaExpression">
            {{ container.restrictionCriteriaExpression || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="archivePartition">
          <th mat-header-cell *matHeaderCellDef>Partition</th>
          <td mat-cell *matCellDef="let container">
            {{ container.archivePartition ? "Yes" : "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let container" class="wrap200">
            {{ container.shortDescription || "-" }}
          </td>
        </ng-container>
        @for (aliasColumn of aliasColumns$ | async; track aliasColumn) {
          <ng-container [matColumnDef]="aliasColumn.id">
            <th mat-header-cell *matHeaderCellDef>
              {{ aliasColumn.label }}
            </th>
            <td mat-cell *matCellDef="let parameter">
              @if (parameter | alias: aliasColumn.id; as name) {
                {{ name }}
              } @else {
                -
              }
            </td>
          </ng-container>
        }
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnChooser.displayedColumns$ | async"
          [class.selected]="selection.isSelected(row)"></tr>
      </table>
    }

    <mat-paginator
      [pageSize]="pageSize"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      [length]="dataSource.totalSize$ | async" />
  </div>
  <ng-template #empty>
    <div class="panel-content">
      The Mission Database for
      <i>{{ yamcs.instance }}</i>
      does not define any containers.
    </div>
  </ng-template>
</app-instance-page>
