code {
  display: block;
  background-color: #fafafa;
  padding: 1em;
  font-size: 10px;
  border: 1px solid #d3d3d3;
  white-space: pre;
}

.algorithm-text {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.override-annotation {
  font-style: italic;
  font-weight: 300;
}
