<dl class="dl-horizontal no-lead">
  <dt>Algorithm</dt>
  <dd>{{ algorithm.qualifiedName | shortName }}</dd>

  <dt>System</dt>
  <dd>
    @if (algorithm.qualifiedName | spaceSystemName; as spaceSystemName) {
      <a
        routerLink="/algorithms"
        [queryParams]="{ c: yamcs.context, system: spaceSystemName }"
        class="ya-link">
        {{ spaceSystemName }}
      </a>
    }
  </dd>

  @for (alias of algorithm.alias; track alias) {
    <dt>{{ alias.namespace }}</dt>
    <dd>{{ alias.name }}</dd>
  }

  @if (algorithm.longDescription) {
    <dt>Description</dt>
    <dd>
      <app-markdown [text]="algorithm.longDescription" />
    </dd>
  } @else {
    <dt>Description</dt>
    <dd>
      {{ algorithm.shortDescription || "-" }}
    </dd>
  }
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Scope</dt>
  <dd>{{ algorithm.scope || "-" }}</dd>

  <dt>Type</dt>
  <dd>{{ algorithm.type || "-" }}</dd>

  <dt>Language</dt>
  <dd>{{ algorithm.language || "-" }}</dd>
</dl>

@if (status && algorithm.scope === "GLOBAL") {
  <mat-divider />
  <dl class="dl-horizontal">
    <dt>Status</dt>
    <dd style="display: flex; align-items: center">
      <app-algorithm-status [status]="status" />
      &nbsp;
      @if (status.errorMessage) {
        {{ status.errorMessage }}
      } @else {
        OK
      }
    </dd>
    <dt>Run count</dt>
    <dd>{{ (status.runCount | number) || "-" }}</dd>
    <dt>Total run time</dt>
    <dd>
      {{ (status.execTimeNs | nanosDuration) || "-" }}
    </dd>
    <dt>Average run time</dt>
    <dd>
      @if (status.runCount) {
        <span>
          {{ status.execTimeNs / status.runCount | nanosDuration }}
        </span>
      } @else {
        <span>-</span>
      }
    </dd>
    <dt>Last run</dt>
    <dd>{{ (status.lastRun | datetime) || "-" }}</dd>
  </dl>
}

@if (algorithm.text) {
  <mat-divider />
  <dl class="dl-horizontal">
    <dt>
      Text
      @if (isChangeMissionDatabaseEnabled()) {
        <ya-help>
          You may override the MDB algorithm text. Such a change is scoped to the current processor
          only and will not persist across server restarts.
        </ya-help>
      }
      <br />
      @if ((overrides$ | async)?.textOverride) {
        <span class="override-annotation">MDB Override</span>
      }
    </dt>
    <dd>
      @if (isChangeMissionDatabaseEnabled()) {
        <div style="padding-bottom: 5px">
          <ya-button
            style="margin-right: 5px"
            [disabled]="!(dirty$ | async)"
            (click)="saveTextChanges()"
            icon="save">
            Save
          </ya-button>
          <ya-button
            [disabled]="!(overrides$ | async)?.textOverride"
            (click)="revertText()"
            icon="undo">
            Restore MDB text
          </ya-button>
        </div>
      }
      <div #text class="algorithm-text"></div>
    </dd>
  </dl>
}

@if (algorithm.mathElements) {
  <mat-divider />
  <dl class="dl-horizontal">
    <dt>Postfix Expression</dt>
    <dd>
      <table yaDataTable>
        <tr>
          <th>Type</th>
          <th>Value</th>
        </tr>
        @for (el of algorithm.mathElements; track el) {
          <tr>
            @switch (el.type) {
              @case ("VALUE_OPERAND") {
                <td>Operand</td>
                <td>{{ el.value }}</td>
              }
              @case ("OPERATOR") {
                <td>Operator</td>
                <td>{{ el.operator }}</td>
              }
              @case ("THIS_PARAMETER_OPERAND") {
                <td>Operand</td>
                <td>this</td>
              }
              @case ("PARAMETER") {
                <td>Operand</td>
                <td>
                  <a
                    [routerLink]="['/mdb/parameters/', el.parameter.qualifiedName]"
                    [queryParams]="{ c: yamcs.context }"
                    class="ya-link">
                    {{ el.parameter.qualifiedName }}
                  </a>
                </td>
              }
            }
          </tr>
        }
      </table>
    </dd>
  </dl>
}

<mat-divider />

<dl class="dl-horizontal">
  <dt>Input parameters</dt>
  <dd>
    @if (algorithm.inputParameter) {
      <table yaDataTable>
        <tr>
          <th>Input name</th>
          <th>Parameter</th>
          <th>Instance</th>
          <th>Mandatory</th>
        </tr>
        @for (inputParameter of algorithm.inputParameter; track inputParameter) {
          <tr>
            <td>{{ inputParameter.inputName || "-" }}</td>
            <td>
              <a
                [routerLink]="'/telemetry/parameters' + inputParameter.parameter.qualifiedName"
                [queryParams]="{ c: yamcs.context }">
                {{ inputParameter.parameter.qualifiedName }}
              </a>
            </td>
            <td style="text-align: center">
              {{ inputParameter.parameterInstance }}
            </td>
            <td style="text-align: center">
              {{ inputParameter.mandatory ? "Yes" : "No" }}
            </td>
          </tr>
        }
      </table>
    } @else {
      <span>-</span>
    }
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Output parameters</dt>
  <dd>
    @if (algorithm.outputParameter) {
      <table yaDataTable>
        <tr>
          <th>Output name</th>
          <th>Parameter</th>
        </tr>
        @for (outputParameter of algorithm.outputParameter; track outputParameter) {
          <tr>
            <td>{{ outputParameter.outputName || "-" }}</td>
            <td>
              <a
                [routerLink]="'/telemetry/parameters' + outputParameter.parameter.qualifiedName"
                [queryParams]="{ c: yamcs.context }">
                {{ outputParameter.parameter.qualifiedName }}
              </a>
            </td>
          </tr>
        }
      </table>
    } @else {
      <span>-</span>
    }
  </dd>
</dl>

<mat-divider />

<dl class="dl-horizontal">
  <dt>Triggers</dt>
  <dd>
    <table yaDataTable>
      <tr>
        <th>Type</th>
        <th>Value</th>
      </tr>
      @for (trigger of algorithm.onParameterUpdate; track trigger) {
        <tr>
          <td>OnParameterUpdate</td>
          <td>
            <a
              [routerLink]="'/telemetry/parameters' + trigger.qualifiedName"
              [queryParams]="{ c: yamcs.context }">
              {{ trigger.qualifiedName }}
            </a>
          </td>
        </tr>
      }
      @if (algorithm.onPeriodicRate) {
        <tr>
          <td>OnPeriodicRate</td>
          <td>{{ algorithm.onPeriodicRate }} ms</td>
        </tr>
      }
    </table>
  </dd>
</dl>
