.hasInitial {
  display: none;
}

.showAll .hasInitial {
  display: block;
}

.ya-form label .datatype {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  font-weight: normal;
  font-family: 'Roboto Mono', monospace;
  color: rgba(0, 0, 0, .654);
  padding-left: 2px;
  padding-right: 2px;
}
