<ng-container *ngIf="controlName$ | async as controlName"
              [formGroup]="formGroup"
              [ngSwitch]="argument.type?.engType">

  <label *ngSwitchCase="'enumeration'">
    <div class="meta">
      <div class="item">{{ argument.type.engType }}</div>
    </div>
    {{ argument.name }}
    <app-errors [controlName]="controlName"></app-errors>
    <div class="control-group">
      <app-select [formControlName]="controlName" [options]="selectOptions$ | async">
      </app-select>&nbsp;
      <button class="ya-button" matTooltip="Lookup enumeration state"
              (click)="openSelectEnumerationDialog()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </label>

  <label *ngSwitchCase="'boolean'">
    {{ argument.name }}
    <app-help *ngIf="argument.description">
      {{ argument.description }}
    </app-help>
    <app-errors [controlName]="controlName"></app-errors>
    <br>
    <input type="radio"
           [formControlName]="controlName"
           value="true"> {{ argument.type.oneStringValue }}
    <input type="radio"
           [formControlName]="controlName"
           value="false"> {{ argument.type.zeroStringValue }}
  </label>

  <label *ngSwitchCase="'time'">
    {{ argument.name }}
    <app-errors [controlName]="controlName"></app-errors>
    <app-date-time-input [formControlName]="controlName"></app-date-time-input>
  </label>

  <label *ngSwitchCase="'binary'">
    <div class="meta">
      <div class="item" [class.error]="err.invalid$ | async">{{ argument.type.engType }}</div>
    </div>
    {{ argument.name }}
    <app-errors #err [controlName]="controlName"></app-errors>
    <app-binary-input [formControlName]="controlName"></app-binary-input>
  </label>

  <label *ngSwitchCase="'aggregate'">
    <div class="meta">
      <div class="item">{{ argument.type.engType }}</div>
    </div>
    {{ argument.name }}
    <div class="members">
      <ng-container *ngFor="let member of argument.type?.member">
        <app-command-form-argument [argument]="member" [formGroup]="formGroup"
                                   [parent]="parent ? (parent + '.' + argument.name) : argument.name">
        </app-command-form-argument>
        <br>
      </ng-container>
    </div>
  </label>

  <label *ngSwitchDefault>
    <div class="meta" [class.error]="err.invalid$ | async">
      <div class="item"
           *ngIf="argument.type.rangeMin !== undefined || argument.type.rangeMax !== undefined">
        <app-interval [left]="argument.type.rangeMin"
                      [right]="argument.type.rangeMax">
        </app-interval>
      </div>
      <div class="item"
           *ngIf="argument.type.minChars !== undefined || argument.type.maxChars !== undefined">
        chars:
        <app-interval [left]="argument.type.minChars"
                      [right]="argument.type.maxChars">
        </app-interval>
      </div>
      <div class="item" *ngIf="argument.type?.unitSet">
        {{ argument.type?.unitSet | units }}
      </div>
      <div class="item" *ngIf="argument.type.signed === false">unsigned</div>
      <div class="item">{{ argument.type.engType }}</div>

      <mat-menu #argMenu="matMenu" class="ya-menu">
        <button mat-menu-item (click)="hexToggle$.next(true)">
          <mat-icon [style.visibility]="(hexToggle$ | async) ? 'visible' : 'hidden'">check</mat-icon>
          Hex input
        </button>
        <button mat-menu-item (click)="hexToggle$.next(false)">
          <mat-icon [style.visibility]="(hexToggle$ | async) ? 'hidden' : 'visible'">check</mat-icon>
          Decimal input
        </button>
      </mat-menu>
      <div class="item menu" matTooltip="Input options"
           [matMenuTriggerFor]="argMenu"
           (click)="$event.stopPropagation()"
           *ngIf="argument.type.signed === false">&#x2630;</div>
    </div>
    {{ argument.name }}
    <app-errors #err [controlName]="controlName"></app-errors>
    <input *ngIf="!(hexToggle$ | async)" type="text" [formControlName]="controlName">
    <app-hex-integer-input *ngIf="hexToggle$ | async" [formControlName]="controlName"></app-hex-integer-input>
  </label>
</ng-container>
