.evaluation {
  font-family: 'Roboto Mono', monospace;
  background-color: #ffeef0;
  color: red;
  padding-left: 2px;
  padding-right: 2px;
}

.evaluation.valid {
  background-color: #e6ffed;
  color: #00c752;
}
