<app-instance-page>
  <app-instance-toolbar>
    Send a command
  </app-instance-toolbar>

  <app-send-command-wizard-step step="1"></app-send-command-wizard-step>

  <div class="panel-content" *ngIf="connectionInfo$ | async as connectionInfo">
    <div [class.noDisplay]="!connectionInfo.processor?.hasCommanding">
      <div class="filter-bar">
        <app-search-filter [formControl]="filterControl"
                           placeholder="Filter by text search">
        </app-search-filter>
      </div>
      <app-table-container>
        <table mat-table
               [dataSource]="dataSource"
               class="ya-data-table">

          <ng-container matColumnDef="significance">
            <th mat-header-cell *matHeaderCellDef style="width: 1px">Significance</th>
            <td mat-cell *matCellDef="let command">
              <app-significance-level [level]="command.significance?.consequenceLevel"></app-significance-level>
            </td>
          </ng-container>

          <ng-container cdkColumnDef="name">
            <th mat-header-cell *cdkHeaderCellDef style="width: 400px">Name</th>
            <td mat-cell *cdkCellDef="let command">
              <a [routerLink]="['/commanding/send', command.qualifiedName]"
                 [queryParams]="{instance: instance}">
                {{ command.qualifiedName }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="shortDescription">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let command">
              {{ command.shortDescription || '-' }}
            </td>
          </ng-container>

          <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="pageSize"
                       [hidePageSize]="true"
                       [showFirstLastButtons]="true"
                       [length]="dataSource.totalSize$ | async">
        </mat-paginator>
      </app-table-container>
    </div>
    <app-empty-message *ngIf="!connectionInfo.processor?.hasCommanding"
                       headerTitle="Send a command">
      <p>
        You are connected to the
        <ng-container *ngIf="connectionInfo.processor?.replay">replay</ng-container>
        processor <strong>{{ connectionInfo.processor?.name }}</strong>.
      </p>
      <p>
        This processor does not support commanding.
      </p>
    </app-empty-message>
  </div>
</app-instance-page>
