<h2 mat-dialog-title>Export archive data</h2>

<mat-dialog-content class="ya-form">
  <form [formGroup]="form">
    <mat-tab-group class="small-tabs" [mat-stretch-tabs]="false">
      <mat-tab label="Content">
        <div style="margin-top: 1em">
          <div class="label">
            Start
            <ya-date-time-input cdkFocusRegionstart formControlName="start" />
          </div>
          <hr class="half-break" />
          <div class="label">
            Stop
            <ya-date-time-input formControlName="stop" />
          </div>
          <hr class="half-break" />
          <div class="label">
            Interval (ms)
            <span class="hint">(optional)</span>
            <br />
            <input formControlName="interval" class="ya-input" type="text" />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Format">
        <div style="margin-top: 1em">
          <div class="label">
            CSV column delimiter
            <br />
            <ya-select formControlName="delimiter" [options]="delimiterOptions" />
          </div>
          <hr class="half-break" />
          <div class="label">
            Header
            <br />
            <ya-select formControlName="header" [options]="headerOptions" />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-download-button
    [link]="downloadURL$ | async"
    appearance="primary"
    (click)="closeDialog()"
    [disabled]="!form.valid">
    DOWNLOAD
  </ya-download-button>
</mat-dialog-actions>
