<app-instance-page>
  <app-instance-toolbar>
    <ya-page-icon-button routerLink=".." [queryParams]="{ c: yamcs.context }" icon="arrow_back" />
    Create parameter list
  </app-instance-toolbar>

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate>
      <label>
        Name
        <br />
        <input formControlName="name" type="text" />
      </label>
      <br />
      <label>
        Description
        <textarea formControlName="description" rows="5" style="resize: none"></textarea>
      </label>
    </form>
    <p>&nbsp;</p>
    <ya-button (click)="showAddPatternDialog()" icon="add_circle_outline">
      Add parameter or pattern
    </ya-button>

    <p>&nbsp;</p>
    @if (patterns$ | async; as patterns) {
      <table yaDataTable style="width: 100%">
        <tr>
          <th>Pattern</th>
          <th></th>
        </tr>
        @if (!patterns.length) {
          <tr>
            <td colspan="3">No rows to display</td>
          </tr>
        }
        @for (pattern of patterns; track pattern; let i = $index) {
          <tr>
            <td>{{ pattern }}</td>
            <td style="text-align: right">
              <ya-icon-action
                (click)="moveDown(i); $event.stopPropagation()"
                icon="keyboard_arrow_down" />
              <ya-icon-action
                (click)="moveUp(i); $event.stopPropagation()"
                icon="keyboard_arrow_up" />
              <ya-text-action icon="delete" (click)="deletePattern(i)">DELETE</ya-text-action>
            </td>
          </tr>
        }
      </table>
    }

    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button (click)="location.back()">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-instance-page>
