<app-instance-page>
  <app-instance-toolbar>
    Links
  </app-instance-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       routerLink="/links"
       routerLinkActive
       [routerLinkActiveOptions]="{exact: true}"
       #rla="routerLinkActive"
       [active]="rla.isActive"
       [queryParams]="{c: yamcs.context}">
      STATUS
    </a>
    <a mat-tab-link
       routerLink="/links/log"
       routerLinkActive
       #rlb="routerLinkActive"
       [active]="rlb.isActive"
       [queryParams]="{c: yamcs.context}">
      ACTION LOG
    </a>
  </nav>

  <div class="panel-content">
    <form [formGroup]="filterForm">
      <div class="filter-bar">
        <app-select #intervalSelect
                    [options]="intervalOptions"
                    icon="access_time"
                    formControlName="interval"></app-select>
        <ng-container *ngIf="filterForm.value['interval'] === 'CUSTOM'">
          <app-date-time-input formControlName="customStart"></app-date-time-input>
          <app-date-time-input formControlName="customStop"></app-date-time-input>
          <button (click)="applyCustomDates()"
                  class="ya-button"
                  [disabled]="filterForm.invalid">Apply</button>
        </ng-container>
        <ng-container *ngIf="filterForm.value['interval'] !== 'CUSTOM'">
          <button class="ya-button" (click)="jumpToNow()">
            Jump to now
          </button>
        </ng-container>
      </div>
    </form>
    <table mat-table
           [dataSource]="dataSource"
           class="ya-data-table">

      <ng-container matColumnDef="time">
        <td mat-cell *matCellDef="let row" style="width: 170px">{{ row.time | datetime }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <td mat-cell *matCellDef="let row">{{ row.user || '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="summary">
        <td mat-cell *matCellDef="let row">{{ row.summary || '-' }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</app-instance-page>
