<div class="block-title">Name</div>
<div class="block">
  {{ link.name }}
</div>

<div class="block-title">Class</div>
<div class="block">
  {{ link.type }}
</div>

<!--div class="block-title">Args</div>
<div class="block">
  <span [innerHTML]="link.spec | printJson"></span>
</div-->

<br>
<mat-divider></mat-divider>

<div class="block-title">Status</div>
<div class="block">
  <app-link-status [link]="link"></app-link-status>
  {{ link.status }}
</div>

<div class="block-title">In count</div>
<div class="block">
  {{ link.dataInCount | number }}
</div>

<div class="block-title">Out count</div>
<div class="block">
  {{ link.dataOutCount | number }}
</div>

<div class="block-title">Detail</div>
<div class="block">
  {{ link.detailedStatus || '-' }}
</div>

<div class="action-bar" *ngIf="mayControlLinks()">
  <button class="ya-button"
          (click)="enableLink()"
          *ngIf="link.status === 'DISABLED'">
    ENABLE LINK
  </button>
  <button class="ya-button"
          (click)="disableLink()"
          *ngIf="link.status !== 'DISABLED'">
    DISABLE LINK
  </button>
</div>
