.detail {
  background-color: #fcfcfc;
  float: right;
  height: 100%;
  width: 450px;
  overflow: auto;
  border-left: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

mat-row {
  cursor: pointer;
}

mat-row:hover {
  background: #fafafa;
}
