<h2 mat-dialog-title>Add band</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="typeForm" class="ya-form">
    <label>
      Type<br>
      <app-select [options]="typeOptions" formControlName="type">
      </app-select>
    </label>
  </form>

  <mat-divider style="margin-top: 1em; margin-bottom: 1em"></mat-divider>

  <form *ngIf="typeForm.value.type === 'timescale'" [formGroup]="timescaleForm" class="ya-form">
    <label>
      Label<br>
      <input type="text" formControlName="name" style="width: 100%">
    </label>
    <br>
    <label>
      Timezone<br>
      <app-select [options]="tzOptions" formControlName="timezone">
      </app-select>
    </label>
  </form>

  <form *ngIf="typeForm.value.type === 'eventBand'" [formGroup]="eventBandForm" class="ya-form">
    <label>
      Name<br>
      <input type="text" formControlName="name" style="width: 100%">
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="ya-button" mat-dialog-close>CANCEL</button>
  <button class="ya-button primary"
          *ngIf="typeForm.value.type === 'timescale'"
          (click)="save()"
          [disabled]="!timescaleForm.valid">SAVE</button>
</mat-dialog-actions>
