@if (option(); as option) {
  <div class="label">
    <div class="meta" [class.error]="err.invalid$ | async">
      <div class="item">integer</div>
    </div>
    {{ option.name }}
    @if (!option.required) {
      <span class="hint">(optional)</span>
    }
    @if (option.description; as description) {
      <ya-help>
        {{ description }}
      </ya-help>
    }
    <ya-errors #err [controlName]="option.name" />
    <input [formControl]="formControl" type="text" autocomplete="off" />
  </div>
}
