@if (controlName$ | async; as controlName) {
  <ng-container [formGroup]="formGroup">
    @switch (parameter.type?.engType) {
      @case ("enumeration") {
        <ya-field [label]="parameter.name">
          <div class="meta">
            <div class="item">{{ parameter.type?.engType }}</div>
          </div>
          <ya-errors [controlName]="controlName" />
          <ya-select [formControlName]="controlName">
            @for (enumValue of parameter.type?.enumValues; track enumValue) {
              <ya-option [id]="enumValue.label" [label]="enumValue.label" />
            }
          </ya-select>
        </ya-field>
      }
      @case ("boolean") {
        <ya-field [label]="parameter.name">
          <ya-errors [controlName]="controlName" />
          <div class="radio-group">
            <label class="radio" [class.checked]="formGroup.controls[controlName].value === 'true'">
              <input type="radio" [formControlName]="controlName" value="true" />
              true
            </label>
            <label
              class="radio"
              [class.checked]="formGroup.controls[controlName].value === 'false'">
              <input type="radio" [formControlName]="controlName" value="false" />
              false
            </label>
          </div>
        </ya-field>
      }
      @case ("time") {
        <ya-field [label]="parameter.name">
          <ya-errors [controlName]="controlName" />
          <ya-date-time-input [formControlName]="controlName" />
        </ya-field>
      }
      @case ("binary") {
        <ya-field [label]="parameter.name">
          <div class="meta">
            <div class="item" [class.error]="err.invalid$ | async">
              {{ parameter.type?.engType }}
            </div>
          </div>
          <ya-errors #err [controlName]="controlName" />
          <ya-binary-input [formControlName]="controlName" />
        </ya-field>
      }
      @case ("aggregate") {
        <ya-field [label]="parameter.name">
          <div class="meta">
            <div class="item">{{ parameter.type?.engType }}</div>
          </div>
          <div class="members">
            @for (member of parameter.type?.member; track member) {
              <app-parameter-form
                [parameter]="member"
                [formGroup]="formGroup"
                [parent]="parent ? parent + '.' + parameter.name : parameter.name" />
              <br />
            }
          </div>
        </ya-field>
      }
      @case ("integer") {
        <ya-field [label]="parameter.name">
          <div class="meta" [class.error]="err.invalid$ | async">
            @if (parameter.type?.unitSet) {
              <div class="item">
                {{ parameter.type?.unitSet | units }}
              </div>
            }
            @if (parameter.type?.signed === false) {
              <div class="item">unsigned</div>
            }
            <div class="item">{{ parameter.type?.engType }}</div>
          </div>
          <ya-errors #err [controlName]="controlName" />
          <input type="text" [formControlName]="controlName" />
        </ya-field>
      }
      @case ("float[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("double[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("integer[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("enumeration[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("string[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("boolean[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("time[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("binary[]") {
        Setting array values via this website is not yet supported.
      }
      @case ("aggregate[]") {
        Setting array values via this website is not yet supported.
      }
      @default {
        <ya-field [label]="parameter.name">
          <div class="meta" [class.error]="err.invalid$ | async">
            @if (parameter.type?.unitSet) {
              <div class="item">
                {{ parameter.type?.unitSet | units }}
              </div>
            }
            <div class="item">{{ parameter.type?.engType }}</div>
          </div>
          <ya-errors #err [controlName]="controlName" />
          <input type="text" [formControlName]="controlName" />
        </ya-field>
      }
    }
  </ng-container>
}
