<h2 mat-dialog-title>Rename stack</h2>

<mat-dialog-content>
  <ya-form [formGroup]="filenameForm">
    <ya-field label="Name" [class.invalid]="filenameForm.get('name')?.invalid">
      <input #filename type="text" formControlName="name" />
    </ya-field>
  </ya-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="rename()" [disabled]="!filenameForm.valid">
    RENAME
  </ya-button>
</mat-dialog-actions>
