mat-sidenav-container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--y-background-color);
}

mat-sidenav-container.message-bar-visible {
  top: 96px;
  /* 48 + 48*/
}

mat-sidenav {
  width: 250px;
  background-color: #181818;
  border-right: 0 !important;
}

.sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-toolbar {
  background-color: #181818;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: content-box;
  color: #d3d3d3;
  font-weight: 300;
  font-size: 14px;
}

.navbar-logo {
  text-align: center;
  line-height: 0;
}

.navbar-logo img {
  max-width: 100%;
}
