<table mat-table
       [dataSource]="dataSource"
       [trackBy]="tableTrackerFn"
       class="ya-data-table expand"
       [class.hide]="dataSource.isEmpty()">

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Alarm type</th>
    <td mat-cell *matCellDef="let alarm">
      <ng-container *ngIf="alarm.type === 'EVENT'">
        <mat-icon style="vertical-align: middle">event_note</mat-icon>
      </ng-container>
      <ng-container *ngIf="alarm.type === 'PARAMETER'">
        <mat-icon style="vertical-align: middle">toll</mat-icon>
      </ng-container>
      {{ (alarm.type || '-') | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="alarm">
    <th mat-header-cell *matHeaderCellDef>Alarm name</th>
    <td mat-cell *matCellDef="let alarm">
      <ng-container *ngIf="alarm.id.namespace && alarm.id.name">
        <ng-container *ngIf="alarm.parameterDetail">
          <a [routerLink]="'/telemetry/parameters' + alarm.id.namespace + '/' + alarm.id.name"
             [queryParams]="{c: yamcs.context}">
            {{ alarm.id.namespace }}/{{ alarm.id.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="!alarm.parameterDetail">
          {{ alarm.id.namespace }}/{{ alarm.id.name }}
        </ng-container>
      </ng-container>

      <ng-container *ngIf="alarm.id.namespace && !alarm.id.name">
        <ng-container *ngIf="alarm.parameterDetail">
          <a [routerLink]="'/telemetry/parameters' + alarm.id.namespace"
             [queryParams]="{c: yamcs.context}">
            {{ alarm.id.namespace }}
          </a>
        </ng-container>
        <ng-container *ngIf="!alarm.parameterDetail">
          {{ alarm.id.namespace }}
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!alarm.id.namespace && alarm.id.name">
        <ng-container *ngIf="alarm.parameterDetail">
          <a [routerLink]="'/telemetry/parameters' + alarm.id.name"
             [queryParams]="{c: yamcs.context}">
            {{ alarm.id.name }}
          </a>
        </ng-container>
        <ng-container *ngIf="!alarm.parameterDetail">
          {{ alarm.id.name }}
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef class="status">State</th>
    <td mat-cell *matCellDef="let alarm" class="status">
      <app-alarm-state-icon [alarm]="alarm" />
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Alarm time</th>
    <td mat-cell *matCellDef="let alarm">
      <span [matTooltip]="alarm.triggerTime | datetime">
        <app-ago [time]="alarm.triggerTime" />
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef class="status">Severity</th>
    <td mat-cell *matCellDef="let alarm" class="status">
      <app-alarm-level [level]="alarm.severity" />
    </td>
  </ng-container>

  <ng-container matColumnDef="trip_value">
    <th mat-header-cell *matHeaderCellDef>Trip value</th>
    <td mat-cell *matCellDef="let alarm" class="wrap200">
      <ng-container *ngIf="alarm.parameterDetail as parameterDetail">
        {{ parameterDetail.triggerValue.engValue | value }}
        <span *ngIf="parameterDetail.triggerValue.rangeCondition === 'LOW'">&#8595;</span>
        <span *ngIf="parameterDetail.triggerValue.rangeCondition === 'HIGH'">&#8593;</span>
      </ng-container>
      <ng-container *ngIf="alarm.eventDetail as eventDetail">
        {{ eventDetail.triggerEvent.message || '-' }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="live_value">
    <th mat-header-cell *matHeaderCellDef>Live value</th>
    <td mat-cell *matCellDef="let alarm" class="wrap200">
      <ng-container *ngIf="alarm.parameterDetail as parameterDetail">
        {{ parameterDetail.currentValue.engValue | value }}
        <span *ngIf="parameterDetail.currentValue.rangeCondition === 'LOW'">&#8595;</span>
        <span *ngIf="parameterDetail.currentValue.rangeCondition === 'HIGH'">&#8593;</span>
      </ng-container>
      <ng-container *ngIf="alarm.eventDetail as eventDetail">
        {{ eventDetail.triggerEvent.message || '-' }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="violations">
    <th mat-header-cell *matHeaderCellDef>Violations</th>
    <td mat-cell *matCellDef="let alarm" style="text-align: right">
      {{ alarm.violations | number }}
      ({{ ((alarm.violations / alarm.count) * 100) | number: '1.2-2' }}%)
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 100%"></th>
    <td mat-cell *matCellDef="let alarm">
      <ya-more *ngIf="mayControl">
        <button mat-menu-item (click)="acknowledgeAlarm.emit(alarm)"
                [disabled]="alarm.shelveInfo || alarm.acknowledged">
          Acknowledge...
        </button>
        <button mat-menu-item (click)="shelveAlarm.emit(alarm)"
                [disabled]="alarm.shelveInfo">
          Shelve...
        </button>
        <button mat-menu-item (click)="unshelveAlarm.emit(alarm)"
                [disabled]="!alarm.shelveInfo">
          Unshelve
        </button>
      </ya-more>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="toggleOne(row)"
      [class.selected]="selection.isSelected(row)"
      [class.hide]="hideAlarm(row)">
  </tr>
</table>

<ng-template #dash>-</ng-template>
