<table
  mat-table
  [dataSource]="dataSource"
  [trackBy]="tableTrackerFn"
  class="ya-data-table expand"
  [class.hide]="dataSource.isEmpty()">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Alarm type</th>
    <td mat-cell *matCellDef="let alarm">
      @if (alarm.type === "EVENT") {
        <mat-icon style="vertical-align: middle">event_note</mat-icon>
      }
      @if (alarm.type === "PARAMETER") {
        <mat-icon style="vertical-align: middle">toll</mat-icon>
      }
      {{ alarm.type || "-" | titlecase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="alarm">
    <th mat-header-cell *matHeaderCellDef>Alarm name</th>
    <td mat-cell *matCellDef="let alarm">
      @if (alarm.id.namespace && alarm.id.name) {
        @if (alarm.parameterDetail) {
          <a
            [routerLink]="'/telemetry/parameters' + alarm.id.namespace + '/' + alarm.id.name"
            [queryParams]="{ c: yamcs.context }">
            {{ alarm.id.namespace }}/{{ alarm.id.name }}
          </a>
        } @else {
          {{ alarm.id.namespace }}/{{ alarm.id.name }}
        }
      }

      @if (alarm.id.namespace && !alarm.id.name) {
        @if (alarm.parameterDetail) {
          <a
            [routerLink]="'/telemetry/parameters' + alarm.id.namespace"
            [queryParams]="{ c: yamcs.context }">
            {{ alarm.id.namespace }}
          </a>
        } @else {
          {{ alarm.id.namespace }}
        }
      }

      @if (!alarm.id.namespace && alarm.id.name) {
        @if (alarm.parameterDetail) {
          <a
            [routerLink]="'/telemetry/parameters' + alarm.id.name"
            [queryParams]="{ c: yamcs.context }">
            {{ alarm.id.name }}
          </a>
        } @else {
          {{ alarm.id.name }}
        }
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef class="status">State</th>
    <td mat-cell *matCellDef="let alarm" class="status">
      <app-alarm-state-icon [alarm]="alarm" />
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Alarm time</th>
    <td mat-cell *matCellDef="let alarm">
      <span [matTooltip]="alarm.triggerTime | datetime">
        <app-ago [time]="alarm.triggerTime" />
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef class="status">Severity</th>
    <td mat-cell *matCellDef="let alarm" class="status">
      <app-alarm-level [level]="alarm.severity" />
    </td>
  </ng-container>

  <ng-container matColumnDef="trip_value">
    <th mat-header-cell *matHeaderCellDef>Trip value</th>
    <td mat-cell *matCellDef="let alarm" class="wrap200">
      @if (alarm.parameterDetail; as parameterDetail) {
        {{ parameterDetail.triggerValue.engValue | value }}
        @if (parameterDetail.triggerValue.rangeCondition === "LOW") {
          <span>&#8595;</span>
        }
        @if (parameterDetail.triggerValue.rangeCondition === "HIGH") {
          <span>&#8593;</span>
        }
      }
      @if (alarm.eventDetail; as eventDetail) {
        {{ eventDetail.triggerEvent.message || "-" }}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="live_value">
    <th mat-header-cell *matHeaderCellDef>Live value</th>
    <td mat-cell *matCellDef="let alarm" class="wrap200">
      @if (alarm.parameterDetail; as parameterDetail) {
        {{ parameterDetail.currentValue.engValue | value }}
        @if (parameterDetail.currentValue.rangeCondition === "LOW") {
          <span>&#8595;</span>
        }
        @if (parameterDetail.currentValue.rangeCondition === "HIGH") {
          <span>&#8593;</span>
        }
      }
      @if (alarm.eventDetail; as eventDetail) {
        {{ eventDetail.triggerEvent.message || "-" }}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="violations">
    <th mat-header-cell *matHeaderCellDef>Violations</th>
    <td mat-cell *matCellDef="let alarm" style="text-align: right">
      {{ alarm.violations | number }}
      ({{ (alarm.violations / alarm.count) * 100 | number: "1.2-2" }}%)
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 100%"></th>
    <td mat-cell *matCellDef="let alarm">
      @if (mayControl) {
        <ya-more>
          <button
            mat-menu-item
            (click)="acknowledgeAlarm.emit(alarm)"
            [disabled]="alarm.shelveInfo || alarm.acknowledged">
            Acknowledge...
          </button>
          <button mat-menu-item (click)="shelveAlarm.emit(alarm)" [disabled]="alarm.shelveInfo">
            Shelve...
          </button>
          <button mat-menu-item (click)="unshelveAlarm.emit(alarm)" [disabled]="!alarm.shelveInfo">
            Unshelve
          </button>
        </ya-more>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="toggleOne(row)"
    [class.selected]="selection.isSelected(row)"
    [class.hide]="hideAlarm(row)"></tr>
</table>

<ng-template #dash>-</ng-template>
