.data-table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

.detail {
  background-color: #fcfcfc;
  float: right;
  height: 100%;
  width: 450px;
  overflow: auto;
  border-left: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.data-table-wrapper th, .data-table-wrapper td {
  white-space: nowrap;
}

.data-table-wrapper tr:hover td {
  cursor: pointer;
}
