.tooltip {
  position: absolute;
  /*background-color: red;*/
  /*display: none;*/
}

.timeline-container {
  line-height: 0;
  border-top: 1px solid #d1d5da;
  position: absolute;
  top: 36px;
  bottom: 0;
  left: 0;
  right: 0;
}

.zoom-actions {
  position: absolute;
  bottom: 35px;
  left: 201px;
  right: 0;
  margin: 0 auto; /* sidebar width + border. Just so that the controls are exactly in middle of viewport */
  text-align: center;
}

.zoom-actions-inner {
  display: inline-block;
  background-color: #fafafa;
}

.zoom-actions .mat-button {
  line-height: inherit;
  min-width: 0;
}

.info {
  position: absolute;
  bottom: 35px;
  right: 0;
  padding: 0 16px;
  opacity: 0.75;
  font-size: small;
}
