<ng-container *ngIf="instance$ | async as instance">
  <ng-container *ngIf="acknowledgedAlarms$ | async as acknowledgedAlarms">
    <ng-container *ngIf="unacknowledgedAlarms$ | async as unacknowledgedAlarms">
      <app-slanted-label *ngIf="unacknowledgedAlarms.length"
                         color="#ff4100"
                         [icon]="(hasActiveUnacknowledged$ | async) ? 'notifications' : 'notifications_none'"
                         iconColor="black"
                         [shake]="true"
                         [highlight]="true"
                         [selectable]="true"
                         routerLink="/alarms"
                         [queryParams]="{instance: instance.name}">
        {{ unacknowledgedAlarms.length }} Unacked
      </app-slanted-label>
      <app-slanted-label *ngIf="!unacknowledgedAlarms.length && acknowledgedAlarms.length"
                         color="#ff4100"
                         [icon]="(hasActiveAcknowledged$ | async) ? 'check_circle' : 'check_circle_outline'"
                         iconColor="black"
                         [shake]="false"
                         [highlight]="false"
                         [selectable]="true"
                         routerLink="/alarms"
                         [queryParams]="{instance: instance.name}">
        {{ acknowledgedAlarms.length }} Acked
      </app-slanted-label>
    </ng-container>
  </ng-container>
</ng-container>
