<ng-container *ngIf="instance$ | async as instance">
  <ng-container *ngIf="status$ | async as status">
    <app-slanted-label *ngIf="status.unacknowledgedCount"
                       color="#ff4100"
                       [icon]="status.unacknowledgedActive ? 'notifications' : 'notifications_none'"
                       iconColor="black"
                       [highlight]="true"
                       [selectable]="true"
                       routerLink="/alarms"
                       [queryParams]="{instance: instance.name}">
      {{ status.unacknowledgedCount }} Unacked
    </app-slanted-label>
    <app-slanted-label *ngIf="!status.unacknowledgedCount && status.acknowledgedCount"
                       color="#ff4100"
                       [icon]="status.acknowledgedActive ? 'check_circle' : 'check_circle_outline'"
                       iconColor="black"
                       [highlight]="false"
                       [selectable]="true"
                       routerLink="/alarms"
                       [queryParams]="{instance: instance.name}">
      {{ status.acknowledgedCount }} Acked
    </app-slanted-label>
  </ng-container>
</ng-container>
