@if (context$ | async; as context) {
  <ya-sidenav-item
    activeWhen="/alarms"
    routerLink="/alarms"
    [queryParams]="{ c: yamcs.context }"
    icon="notifications_none"
    label="Alarms"
    [backgroundColor]="mini() ? (miniBackgroundColor$ | async) : undefined">
    @if (status$ | async; as status) {
      @if (status.unacknowledgedCount) {
        <div class="count unacked" [ngClass]="status.unacknowledgedSeverity | lowercase">
          {{ status.unacknowledgedCount }} unacked
        </div>
      } @else if (status.acknowledgedCount) {
        <div class="count acked">{{ status.acknowledgedCount }} acked</div>
      }
    }
  </ya-sidenav-item>
}
