@if (link$ | async; as link) {
  <app-instance-page>
    <app-instance-toolbar>
      <ya-page-icon-button routerLink=".." [queryParams]="{ c: yamcs.context }" icon="arrow_back" />
      Links / {{ link.name }}
      &nbsp;&nbsp;&nbsp;
      @if (mayControlLinks()) {
        <ya-page-button [disabled]="!link.disabled" (click)="enableLink(link.name)" icon="link">
          Enable
        </ya-page-button>
      }
      @if (mayControlLinks()) {
        <ya-page-button [disabled]="link.disabled" (click)="disableLink(link.name)" icon="link_off">
          Disable
        </ya-page-button>
      }
      @if (mayControlLinks()) {
        <ya-page-button [matMenuTriggerFor]="moreActions" dropdown="true">More</ya-page-button>
      }
      <mat-menu #moreActions class="ya-menu" yPosition="below" [overlapTrigger]="false">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="resetCounters(link.name)">Reset counters</button>
          @if (link.actions) {
            <mat-divider />
            @for (action of link.actions; track action) {
              <button
                mat-menu-item
                [disabled]="!action.enabled"
                (click)="runAction(link.name, action)">
                @if (action.style === "CHECK_BOX") {
                  <mat-icon [style.visibility]="action.checked ? 'visible' : 'hidden'">
                    check
                  </mat-icon>
                }
                {{ action.label }}
              </button>
            }
          }
        </ng-template>
      </mat-menu>
    </app-instance-toolbar>
    <div class="form-content">
      <dl class="dl-horizontal" style="margin-top: 0">
        <dt>Type</dt>
        <dd>{{ link.type }}</dd>
        <dt>Status</dt>
        <dd style="display: flex; align-items: center">
          <app-link-status [link]="link" />
          &nbsp;
          {{ link.status }}
        </dd>
        <dt>In count</dt>
        <dd>{{ link.dataInCount | number }}</dd>
        <dt>Out count</dt>
        <dd>{{ link.dataOutCount | number }}</dd>
        <dt>Detail</dt>
        <dd>{{ link.detailedStatus || "-" }}</dd>
      </dl>
      @if (link.extra) {
        <div class="section-divider">
          <mat-divider />
        </div>
        <dl class="dl-horizontal">
          @for (entry of link.extra | keyvalue; track entry) {
            <dt>{{ entry.key }}</dt>
            <dd>
              @if (getEntriesForValue(entry.value); as subentries) {
                @if (subentries.length) {
                  @for (subentry of subentries; track subentry) {
                    {{ subentry || "-" }}
                    <br />
                  }
                }
                @if (!subentries.length) {
                  -
                }
              }
            </dd>
          }
        </dl>
      }
      @if (link.parameters) {
        <div class="section-divider">
          <mat-divider />
        </div>
        <h4>System parameters</h4>
        @for (parameter of link.parameters; track parameter) {
          <mat-icon class="icon12" style="vertical-align: middle">toll</mat-icon>
          <a
            [routerLink]="'/telemetry/parameters' + parameter"
            [queryParams]="{ c: yamcs.context }"
            class="ya-link"
            style="margin-left: 0.5em">
            {{ parameter }}
          </a>
          <br />
        }
      }
      @if (cop1Config$ | async; as config) {
        @if (cop1Status$ | async; as status) {
          <div class="section-divider">
            <mat-divider />
          </div>
          <h4>
            COP-1
            @if (mayControlLinks()) {
              <div style="float: right">
                @if (!status.cop1Active) {
                  <ya-text-action icon="adjust" (click)="openInitiateCop1Dialog(link.name)">
                    INITIATE AD
                  </ya-text-action>
                }
                @if (status.state === "SUSPENDED") {
                  <ya-text-action icon="redo" (click)="resumeCop1(link.name)">
                    RESUME AD
                  </ya-text-action>
                }
                @if (status.cop1Active) {
                  <ya-text-action icon="not_interested" (click)="disableCop1(link.name)">
                    TERMINATE AD
                  </ya-text-action>
                }
              </div>
            }
          </h4>
          <dl class="dl-horizontal">
            <dt>
              Service
              <ya-help>
                <p>
                  COP-1 provides two service modes that determine how reliably frames are
                  transmitted:
                </p>
                <table class="ya-data-table">
                  <tr>
                    <td width="1" style="white-space: nowrap">AD (Sequence-controlled)</td>
                    <td>Sends Type-AD and Type-BC Transfer Frames.</td>
                  </tr>
                  <tr>
                    <td width="1" style="white-space: nowrap">BD (Expedited)</td>
                    <td>Sends Type-BD Transfer Frames. There are no retransmissions.</td>
                  </tr>
                </table>
              </ya-help>
            </dt>
            <dd>
              @if (status.cop1Active) {
                AD (Sequence-controlled service)
              }
              @if (!status.cop1Active) {
                BD (Expedited service)
              }
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Wait queue</dt>
            <dd>{{ status.waitQueueNumTC || 0 }} TCs</dd>
            <dt>Enqueue TCs with bypass</dt>
            <dd>
              {{ !config.bdAbsolutePriority | nvl: "-" }}
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>TX state</dt>
            <dd>{{ status.state || "-" }}</dd>
            <dt>V(S)</dt>
            <dd>{{ status.vS | nvl: "-" }}</dd>
            <dt>Sent queue</dt>
            <dd>{{ status.sentQueueNumFrames || 0 }} frames (limit: {{ config.windowWidth }})</dd>
            <dt>Out queue</dt>
            <dd>{{ status.outQueueNumFrames || 0 }}</dd>
            <dt>Last frame TX attempts</dt>
            <dd>
              {{ status.txCount | nvl: "-" }}
              @if (status.txCount) {
                of {{ config.txLimit }}
              }
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>On TX timeout</dt>
            <dd>{{ config.timeoutType || "-" }}</dd>
            <dt>Retransmission delay</dt>
            <dd>{{ config.t1 }} ms</dd>
          </dl>
          <h4>CLCW</h4>
          <dl class="dl-horizontal" style="margin-top: 0">
            <dt>Received</dt>
            <dd>{{ (status.clcw?.receptionTime | datetime) || "-" }}</dd>
            <dt>Lockout</dt>
            <dd>
              {{ status.clcw?.lockout | nvl: "-" }}
            </dd>
            <dt>Wait</dt>
            <dd>
              {{ status.clcw?.wait | nvl: "-" }}
            </dd>
            <dt>Retransmit</dt>
            <dd>
              {{ status.clcw?.retransmit | nvl: "-" }}
            </dd>
            <dt>N(R)</dt>
            <dd>{{ status.clcw?.nR | nvl: "-" }}</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>NN(R)</dt>
            <dd>{{ status.nnR | nvl: "-" }}</dd>
          </dl>
        }
      }
    </div>
  </app-instance-page>
}
