td {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

tr:hover td {
  cursor: pointer;
  background: #ffffd6;
}

td.icon {
  padding-left: 10px;
  padding-right: 10px;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
}
