<app-monitor-page>
  <app-monitor-toolbar>
    Displays

    <button *ngIf="navigatorOpen$ | async"
            mat-button
            color="primary"
            (click)="toggleNavigator()">
      <mat-icon>first_page</mat-icon>
      Hide Navigator
    </button>
    <button *ngIf="!(navigatorOpen$ | async)"
             mat-button
             color="primary"
             (click)="toggleNavigator()">
      <mat-icon>last_page</mat-icon>
      Show Navigator
    </button>

    <button mat-button color="primary">
      <mat-icon>save</mat-icon>
      Save Layout
    </button>

    <mat-menu #arrangeMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="tileDisplays()">Tile Displays</button>
      <button mat-menu-item (click)="cascadeDisplays()">Cascade Displays</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="arrangeMenu" color="primary">
      Arrange
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </app-monitor-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="navigatorOpen$ | async">
      <app-display-navigator [displayInfo]="displayInfo$ | async"
                             (select)="openDisplay($event.filename)">
      </app-display-navigator>
    </mat-sidenav>

    <mat-sidenav-content>
      <div #displayContainer></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-monitor-page>
