<app-monitor-page>
  <app-monitor-toolbar>
    Displays

    <button *ngIf="navigatorOpen$ | async"
            mat-button
            color="primary"
            (click)="toggleNavigator()">
      <mat-icon>first_page</mat-icon>
      Hide Navigator
    </button>
    <button *ngIf="!(navigatorOpen$ | async)"
             mat-button
             color="primary"
             (click)="toggleNavigator()">
      <mat-icon style="transform: rotate(180deg)">chrome_reader_mode</mat-icon>
      Show Navigator
    </button>

    <button mat-button
            color="primary"
            (click)="saveLayout()">
      <mat-icon>save</mat-icon>
      Save Layout
    </button>

    <mat-menu #arrangeMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item (click)="tileDisplays()">Tile Displays</button>
      <button mat-menu-item (click)="cascadeDisplays()">Cascade Displays</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="arrangeMenu" color="primary">
      Arrange
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </app-monitor-toolbar>

  <app-layout-component #layout
                        [showNavigator]="navigatorOpen$ | async"
                        (stateChange)="onStateChange($event)">
  </app-layout-component>
</app-monitor-page>
