<table yaSimpleTable class="mat-typography" *ngIf="displayInfo">
  <tr *ngFor="let folder of displayInfo.folder; even as isEven">
    <td>
      <mat-icon class="icon16">folder</mat-icon>
    </td>
    <td>
      {{ folder.filename }}/
    </td>
  </tr>
  <tr class="action-item no-select"
      *ngFor="let file of displayInfo.file; even as isEven"
      [class.even]="isEven"
      (click)="selectFile(file)">
    <td>
      <mat-icon class="icon16">widgets</mat-icon>
    </td>
    <td>
      {{ file.filename }}
    </td>
  </tr>
</table>
