<div class="label">
  <div class="meta" [class.error]="err.invalid$ | async">
    <div class="item"
         *ngIf="type.minBytes !== undefined || type.maxBytes !== undefined">
      bytes:
      <app-interval [left]="type.minBytes"
                    [right]="type.maxBytes"
                    [singleValueIfEqual]="true">
      </app-interval>
    </div>
    <div class="item" [class.error]="err.invalid$ | async">{{ type.engType }}</div>
  </div>

  {{ label }}
  <app-help *ngIf="description">
    {{ description }}
  </app-help>

  <app-errors #err [controlName]="controlName"></app-errors>

  <app-binary-input [formControl]="formControl">
  </app-binary-input>
</div>
