<app-instance-page>
  <app-instance-toolbar>
    Displays &nbsp;&nbsp;&nbsp;
    @if (mayManageDisplays()) {
      <ya-page-button (click)="createDisplay()" icon="add_circle_outline">
        Create display
      </ya-page-button>
    }
    @if (mayManageDisplays()) {
      <ya-page-button (click)="uploader.click()" icon="file_upload">
        Upload files
        <input #uploader type="file" hidden multiple (change)="uploadFiles()" />
      </ya-page-button>
    }
    @if (mayManageDisplays()) {
      <ya-page-button (click)="createFolder()" icon="create_new_folder">
        Create folder
      </ya-page-button>
    }
    @if (mayManageDisplays()) {
      <ya-page-button
        (click)="deleteSelectedDisplays()"
        [disabled]="!selection.hasValue()"
        icon="delete">
        Delete
      </ya-page-button>
    }
  </app-instance-toolbar>

  <div
    #droparea
    class="droparea"
    [class.active]="dragActive$ | async"
    (dragenter)="dragEnter($event)">
    <div
      class="droparea-overlay"
      [class.hide]="!(dragActive$ | async)"
      (dragover)="dragOver($event)"
      (dragleave)="dragLeave($event)"
      (drop)="drop($event)"></div>

    <div class="panel-content">
      @if (breadcrumb$ | async; as breadcrumb) {
        @if (breadcrumb.length) {
          <ya-breadcrumb-trail>
            <ya-breadcrumb
              link="/telemetry/displays/browse"
              [queryParams]="{ c: yamcs.context }"
              icon="account_tree" />
            @for (item of breadcrumb; track item) {
              <ya-breadcrumb
                [link]="item.route"
                [queryParams]="{ c: yamcs.context }"
                [label]="item.name" />
            }
          </ya-breadcrumb-trail>
        }
      }
      @if (dataSource && dataSource.data.length) {
        <table mat-table [dataSource]="dataSource" class="ya-data-table expand">
          <ng-container cdkColumnDef="select">
            <th mat-header-cell *cdkHeaderCellDef class="checkbox">
              @if (mayManageDisplays()) {
                <input
                  type="checkbox"
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()" />
              }
            </th>
            <td mat-cell *cdkCellDef="let row" class="checkbox">
              @if (mayManageDisplays()) {
                <input
                  type="checkbox"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" />
              }
            </td>
          </ng-container>
          <ng-container cdkColumnDef="name">
            <th mat-header-cell *cdkHeaderCellDef>Name</th>
            <td mat-cell *cdkCellDef="let item">
              @if (item.folder) {
                <mat-icon class="icon12" style="vertical-align: middle; margin-right: 7px">
                  folder
                </mat-icon>
                <a
                  [routerLink]="'/telemetry/displays/browse/' + item.name"
                  [queryParams]="{ c: yamcs.context }"
                  (click)="$event.stopPropagation()">
                  {{ item.name | filename }}
                </a>
              } @else {
                <mat-icon class="icon12" style="vertical-align: middle; margin-right: 7px">
                  description
                </mat-icon>
                <a
                  [routerLink]="'/telemetry/displays/files/' + item.name"
                  [queryParams]="{ c: yamcs.context }"
                  (click)="$event.stopPropagation()">
                  {{ item.name | filename }}
                </a>
              }
            </td>
          </ng-container>
          <ng-container cdkColumnDef="type">
            <th mat-header-cell *cdkHeaderCellDef>Type</th>
            <td mat-cell *cdkCellDef="let item">
              @if (item.folder) {
                Folder
              } @else {
                {{ (item.name | displayType) || "-" }}
              }
            </td>
          </ng-container>
          <ng-container cdkColumnDef="visibility">
            <th mat-header-cell *cdkHeaderCellDef>Visibility</th>
            <td mat-cell *cdkCellDef="let item">Private</td>
          </ng-container>
          <ng-container cdkColumnDef="modified">
            <th mat-header-cell *cdkHeaderCellDef>Date modified</th>
            <td mat-cell *cdkCellDef="let item">
              {{ (item.modified | datetime) || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="expand"></th>
            <td mat-cell *matCellDef="let item">
              @if (!item.folder) {
                @if (mayManageDisplays()) {
                  <ya-more>
                    <button mat-menu-item (click)="renameFile(item)">Rename</button>
                    <a mat-menu-item [href]="item.objectUrl" download>Download</a>
                    <mat-divider />
                    <button mat-menu-item (click)="deleteFile(item)">Delete</button>
                  </ya-more>
                }
              }
            </td>
          </ng-container>
          <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *cdkRowDef="let row; columns: displayedColumns"
            [class.selected]="selection.isSelected(row)"
            (click)="toggleOne(row)"></tr>
        </table>
      } @else {
        <ya-empty-message>Empty directory.</ya-empty-message>
      }
    </div>
  </div>
</app-instance-page>
