.main-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
}

.tab-content {
  position: absolute;
  top: calc(24px + 36px);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 24px;
}

table {
  line-height: 12px;
}

table td {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.654);
  vertical-align: top;
}

table td.time {
  opacity: 0.8;
}

table td.message {
  white-space: pre-wrap;
}
