<app-instance-page *ngIf="ptype$ | async as ptype">
  <app-instance-toolbar>
    <ng-container *ngIf="(ptype.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/parameter-types"
         [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
         class="ya-link ya-header-link">
        {{ spaceSystemName }}
      </a>/{{ ptype.qualifiedName | shortName }}
      <ya-title-copy [text]="ptype.qualifiedName" />
    </ng-container>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-parameter-type-detail [parameterType]="ptype" />
  </div>
</app-instance-page>
