@if (ptype$ | async; as ptype) {
  <ya-instance-page>
    <ya-instance-toolbar>
      <ng-template ya-instance-toolbar-label>
        @if (ptype.qualifiedName | spaceSystemName; as spaceSystemName) {
          <a
            routerLink="/mdb/parameter-types"
            [queryParams]="{ c: yamcs.context, filter: spaceSystemName }"
            class="ya-link ya-header-link">
            {{ spaceSystemName }}
          </a>
          /{{ ptype.qualifiedName | shortName }}
          <ya-title-copy [text]="ptype.qualifiedName" />
        }
      </ng-template>
    </ya-instance-toolbar>

    <ya-panel>
      <app-parameter-type-detail [parameterType]="ptype" />
    </ya-panel>
  </ya-instance-page>
}
