Package: yamcs
Version: @@VERSION@@-@@RELEASE@@
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Space Applications Services <yamcs@spaceapplications.com>
Homepage: https://www.yamcs.org
Installed-Size: @@INSTALLEDSIZE@@
Description: Yet another mission control system
