<app-instance-page>
  <app-instance-toolbar>Home</app-instance-toolbar>

  <div class="panel-content">
    <div class="card-list-container">
      <div class="card-list">
        <div class="card big" *ngIf="showPackets()">
          <mat-card>
            <mat-card-subtitle>Packets</mat-card-subtitle>
            <mat-card-content>
              <app-tmstats-table [tmstats$]="tmstats$"></app-tmstats-table>
            </mat-card-content>
            <div class="actions" *ngIf="config.features.tmArchive">
              <a mat-button
                 color="primary"
                 routerLink="/telemetry/packets"
                 [queryParams]="{c: yamcs.context}">VIEW PACKETS &gt;</a>
            </div>
          </mat-card>
        </div>
        <div class="card" *ngIf="showAlarms()">
          <mat-card>
            <mat-card-subtitle>Alarms</mat-card-subtitle>
            <div class="table-wrapper">
              <ng-container *ngIf="alarmsDataSource.unacknowledgedAlarms$ | async as alarms">
                <ng-container *ngIf="alarms.length">
                  Unacknowledged:<br>
                  <table yaDataTable>
                    <tr *ngFor="let alarm of alarms">
                      <td>
                        <app-alarm-level [level]="alarm.severity"></app-alarm-level>
                      </td>
                      <td [ngSwitch]="alarm.type">
                        <ng-container *ngSwitchCase="'PARAMETER'">
                          <a [routerLink]="['/telemetry/parameters/', alarm.id.namespace! + '/' + alarm.id.name]"
                             [queryParams]="{c: yamcs.context}">
                            {{ alarm.id.namespace }}/{{ alarm.id.name }}
                          </a>
                        </ng-container>
                        <ng-container *ngSwitchCase="'EVENT'">
                          {{ alarm.id.namespace }}/{{ alarm.id.name }}
                        </ng-container>
                      </td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                </ng-container>
              </ng-container>
              <div class="fade"></div>
            </div>
            <dl class="dl-horizontal">
              <dt>Unacknowledged alarms:</dt>
              <dd>
                <a routerLink="/alarms"
                   class="ya-link"
                   [queryParams]="{c: yamcs.context, view: 'unacknowledged'}">
                  <strong>{{ (alarmsDataSource.unacknowledgedAlarms$ | async)?.length }}</strong>
                </a><br>
              </dd>
              <dt>Acknowledged alarms:</dt>
              <dd>
                <a routerLink="/alarms"
                   class="ya-link"
                   [queryParams]="{c: yamcs.context, view: 'acknowledged'}">
                  <strong>{{ (alarmsDataSource.acknowledgedAlarms$ | async)?.length }}</strong>
                </a>
              </dd>
              <dt>Shelved alarms:</dt>
              <dd>
                <a routerLink="/alarms"
                   class="ya-link"
                   [queryParams]="{c: yamcs.context, view: 'shelved'}">
                  <strong>{{ (alarmsDataSource.shelvedAlarms$ | async)?.length }}</strong>
                </a>
              </dd>
            </dl>
            <div class="actions">
              <a mat-button
                 color="primary"
                 routerLink="/alarms"
                 [queryParams]="{c: yamcs.context}">VIEW ALARMS &gt;</a>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</app-instance-page>
