<table mat-table
       *ngIf="dataSource"
       [dataSource]="dataSource"
       class="ya-data-table"
       style="width: 100%"
       matSort
       matSortActive="packetName"
       matSortDirection="asc"
       matSortDisableClear>

  <ng-container matColumnDef="packetName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let tmstats">
      <a *ngIf="config.features.tmArchive"
         routerLink="/telemetry/packets"
         [queryParams]="{instance: instance, filter: tmstats.packetName}">
        {{ tmstats.packetName }}
      </a>
      <ng-container *ngIf="!config.features.tmArchive">{{ tmstats.packetName }}</ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastReceived">
    <th mat-header-cell *matHeaderCellDef style="width: 100px">Received</th>
    <td mat-cell *matCellDef="let tmstats" style="text-align: right">
      {{ (tmstats.lastReceived | deltaWith:tmstats.lastPacketTime) || '-' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastPacketTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px">Packet Time</th>
    <td mat-cell *matCellDef="let tmstats">
      {{ (tmstats.lastPacketTime | datetime) || '-' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="packetRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Packet&nbsp;Rate</th>
    <td mat-cell *matCellDef="let tmstats" style="text-align: right;">
      {{ tmstats.packetRate }} p/s
    </td>
  </ng-container>

  <ng-container matColumnDef="dataRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px">Data&nbsp;Rate
    </th>
    <td mat-cell *matCellDef="let tmstats" style="text-align: right">
      {{ tmstats.dataRate | dataRate }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
