<app-instance-page>
  <app-instance-toolbar>
    Items &nbsp;&nbsp;&nbsp;
    <ya-page-button [matMenuTriggerFor]="itemMenu" icon="add_circle_outline">
      Create item
    </ya-page-button>
    <mat-menu #itemMenu="matMenu" class="ya-menu" [overlapTrigger]="false">
      <button
        mat-menu-item
        (click)="openCreateItemDialog('EVENT')"
        matTooltipShowDelay="1000"
        matTooltip="Events are items that simply appear on the timeline">
        Event item
      </button>
      <button
        mat-menu-item
        (click)="openCreateItemDialog('ACTIVITY')"
        matTooltipShowDelay="1000"
        matTooltip="Activities are like events, but in addition have an execution status">
        Activity item
      </button>
    </mat-menu>
    <ya-page-button
      [disabled]="!isGroupDeleteEnabled()"
      (click)="deleteSelectedItems()"
      icon="close">
      Delete
    </ya-page-button>
  </app-instance-toolbar>

  <div class="panel-content">
    @if (dataSource) {
      <table
        mat-table
        class="ya-data-table expand"
        [dataSource]="dataSource"
        [trackBy]="tableTrackerFn"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        matSortDisableClear>
        <ng-container cdkColumnDef="select">
          <th mat-header-cell *cdkHeaderCellDef class="checkbox">
            <input
              type="checkbox"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()" />
          </th>
          <td mat-cell *cdkCellDef="let row" class="checkbox">
            <input
              type="checkbox"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
          <td mat-cell *matCellDef="let item">
            <a [routerLink]="item.id" [queryParams]="{ c: yamcs.context }">
              @if (item.name) {
                {{ item.name }}
              }
              @if (!item.name) {
                <i>(none)</i>
              }
            </a>
          </td>
        </ng-container>
        <ng-container cdkColumnDef="tags">
          <th mat-header-cell *cdkHeaderCellDef mat-sort-header>Tags</th>
          <td mat-cell *cdkCellDef="let row">
            @for (tag of row.tags || []; track tag) {
              <ya-label>{{ tag }}</ya-label>
            }
            @if (!row.tags) {
              -
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
          <td mat-cell *matCellDef="let item">
            {{ (item.start | datetime) || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
          <td mat-cell *matCellDef="let item">
            {{ item.duration }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let item">
            {{ item.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let item"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.selected]="selection.isSelected(row)"
          (click)="toggleOne(row)"></tr>
      </table>
    }
  </div>
</app-instance-page>
