<app-instance-page noscroll="true">
  <app-instance-toolbar>
    Archive browser &nbsp;&nbsp;&nbsp;
    <ya-page-button
      (click)="replayRange()"
      [disabled]="!(rangeSelection$ | async)"
      icon="video_settings">
      Replay range
    </ya-page-button>

    @if (processor$ | async; as processor) {
      @if (processor.replayRequest; as replayRequest) {
        <ya-page-button
          (click)="enableLoop(processor, replayRequest.endAction !== 'LOOP')"
          [disabled]="!replayRequest.start || !replayRequest.stop"
          [icon]="replayRequest.endAction === 'LOOP' ? 'repeat_on' : 'repeat'">
          Repeat: {{ replayRequest.endAction === "LOOP" ? "on" : "off" }}
        </ya-page-button>
      }
    }

    <ya-page-button
      (click)="downloadDump()"
      [disabled]="!(rangeSelection$ | async)"
      icon="file_download">
      Download dump
    </ya-page-button>

    <ya-page-icon-button (click)="refreshData()" matTooltip="Refresh view" icon="refresh" />
  </app-instance-toolbar>

  <div style="height: 24px; margin: 6px">
    <form [formGroup]="filterForm">
      <ya-button (click)="pageLeft()" icon="west" />
      <ya-button
        (mousedown)="toggleMove(-50)"
        (mouseup)="untoggleMove()"
        (mouseleave)="untoggleMove()"
        icon="chevron_left"></ya-button>
      <ya-button
        (mousedown)="toggleMove(50)"
        (mouseup)="untoggleMove()"
        (mouseleave)="untoggleMove()"
        icon="chevron_right"></ya-button>
      <ya-button (click)="pageRight()" icon="east" />
      &nbsp;
      <ya-button (click)="fitAll()" matTooltip="Show all archive data" icon="fit_screen">
        Fit all
      </ya-button>
      @if ((tool$ | async) === "range-select") {
        <ya-button
          (click)="fitSelection()"
          [disabled]="!(rangeSelection$ | async)"
          matTooltip="Zoom to selected range"
          icon="fit_screen">
          Fit selection
        </ya-button>
      }
      <ya-button (click)="jumpToToday()" icon="today">Today</ya-button>
      <ya-button (click)="jumpToNow()" icon="my_location" />
      <ya-button (click)="openJumpToDialog()" icon="directions">Jump to...</ya-button>
      &nbsp;
      <ya-button (click)="zoomIn()" icon="add" />
      <ya-button (click)="zoomOut()" icon="remove" />
      &nbsp;
      <ya-button
        [toggled]="(tool$ | async) === 'hand'"
        (click)="setTool('hand')"
        matTooltip="Use pan tool"
        icon="pan_tool" />
      <ya-button
        [toggled]="(tool$ | async) === 'range-select'"
        (click)="setTool('range-select')"
        matTooltip="Use range selection tool"
        icon="highlight_alt" />

      &nbsp;&nbsp;&nbsp;&nbsp;
      @for (option of legendOptions; track option) {
        <label class="legend no-select" [style.background]="option.bg" [style.color]="option.fg">
          <input type="checkbox" [formControlName]="option.id" (change)="updateLegend()" />
          {{ option.name }}
        </label>
      }
    </form>
  </div>

  <div #container class="timeline-container"></div>
  <div class="zoom-actions">
    <div class="zoom-actions-inner elevation-z1">
      <button mat-button (click)="zoomIn()">
        <mat-icon>add</mat-icon>
      </button>
      <span class="separator"></span>
      <button mat-button (click)="zoomOut()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <div class="info">
    @if (viewportRange$ | async; as viewportRange) {
      <span>
        {{ viewportRange?.start | datetime: false }} &ndash; {{ viewportRange?.stop | datetime }}
      </span>
    }
    &nbsp;&nbsp;
    <ya-help>
      <p>
        This view allows inspecting the content of the TM Archive, as well as retrieving data as
        packets. Data is grouped by packet name in bands. For each band, index blocks indicate the
        presence of data at a particular time range. Note that a single index block does not
        necessarily mean that there was no gap in the data. When zooming in, more gaps may appear.
      </p>
      <p>Pan around by grabbing the canvas.</p>
    </ya-help>
  </div>
</app-instance-page>
