@if (dataSource) {
  <table
    mat-table
    [dataSource]="dataSource"
    class="ya-data-table expand no-frame"
    [class.no-select]="noSelect">
    <ng-container cdkColumnDef="actions">
      <th mat-header-cell *cdkHeaderCellDef class="status" width="1"></th>
      <td mat-cell *cdkCellDef="let item" class="status">
        <ya-more [padding]="false">
          @for (action of fileActions; track action) {
            <button
              mat-menu-item
              [disabled]="!action.enabled"
              (click)="runFileAction(item.name, action)">
              @if (action.style === "CHECK_BOX") {
                <mat-icon [style.visibility]="action.checked ? 'visible' : 'hidden'">
                  check
                </mat-icon>
              }
              {{ action.label }}
            </button>
          }
        </ya-more>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef style="width: 400px">Name</th>
      <td mat-cell *cdkCellDef="let item">
        @if (item.folder) {
          <mat-icon class="icon12" style="vertical-align: middle">folder</mat-icon>
          {{ item.displayName ?? (item.name | filename) }}/
        } @else {
          <mat-icon class="icon12" style="vertical-align: middle">description</mat-icon>
          <span [ngClass]="foldersOnly ? 'disabled' : ''">
            {{ item.displayName ?? (item.name | filename) }}
          </span>
        }
      </td>
    </ng-container>

    <ng-container cdkColumnDef="modified">
      <th mat-header-cell *cdkHeaderCellDef style="width: 200px">Date modified</th>
      <td mat-cell *cdkCellDef="let item">
        <span [ngClass]="!item.folder && foldersOnly ? 'disabled' : ''">
          {{ (item.modified | datetime) || "-" }}
        </span>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="size">
      <th mat-header-cell *cdkHeaderCellDef style="width: 70px">Size</th>
      <td mat-cell *cdkCellDef="let item">
        <span [ngClass]="!item.folder && foldersOnly ? 'disabled' : ''">
          {{ (item.size | formatBytes) || "-" }}
        </span>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="parent">
      <td mat-header-cell *cdkHeaderCellDef [attr.colspan]="(displayedColumns$ | async)?.length">
        <mat-icon class="icon12" style="vertical-align: middle; visibility: hidden">
          description
        </mat-icon>
        ..
      </td>
    </ng-container>

    <ng-container cdkColumnDef="progress">
      <td mat-footer-cell *cdkFooterCellDef [attr.colspan]="(displayedColumns$ | async)?.length">
        {{ progressMessage() }}
        <ya-dots style="vertical-align: middle" />
      </td>
    </ng-container>

    @for (extraColumn of extraColumns$ | async; track extraColumn) {
      <ng-container [cdkColumnDef]="extraColumn.id">
        <th mat-header-cell *cdkHeaderCellDef width="1">{{ extraColumn.label }}</th>
        <td mat-cell *cdkCellDef="let item">
          @if (item.extra) {
            {{ item.extra[extraColumn.id] ?? "-" }}
          } @else {
            -
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *cdkHeaderRowDef="displayedColumns$ | async" (click)="clearSelection()"></tr>
    <tr
      mat-row
      *cdkHeaderRowDef="['parent']"
      class="parent-row"
      [class.hide]="!(currentPrefix$ | async)"
      (click)="selectParent()"></tr>
    <tr
      mat-row
      *cdkRowDef="let row; columns: displayedColumns$ | async"
      [class.selected]="isSelected(row)"
      (click)="selectFile($event, row)"></tr>
    <tr
      mat-footer-row
      *cdkFooterRowDef="['progress']"
      class="progress-row"
      [class.hide]="!progressMessage()"></tr>
  </table>
}
