<div class="main" style="padding: 40px;">
    <div class="container-fluid">

        <h2>Commands History</h2>
        <table class="table table-condensed" infinite-scroll="vm.loadMore()" 
        infinite-scroll-distance="0" 
        infinite-scroll-disable="vm.scrollOptions.disable"
        infinite-scroll-use-document-bottom="vm.scrollOptions.use_bottom">
            <thead>
                <tr>
                    <th>#</th>
                    <th>GenerationTime</th>
                    <th>Command</th>
                    <th>Source</th>
                    <th>Seq.ID</th>
                    <th ng-repeat="(key,value) in vm.history.dynamic_hops">{{value || N/A}} </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.history.data | orderBy:'-info.time'">
                    <th> {{$index}} </th>
                    <td>{{item.info.time | date:'yyyy-MM-dd HH:mm:ss.sss Z'}}</td>
                    <td>{{item.info.source}}</td>
                    <td>{{item.info.name}}</td>
                    <td>{{item.info.sequence}}</td>
                    <td ng-repeat="(key,value) in vm.history.dynamic_hops" style="width: 30px;" ng-class="{'highlight-dark':vm.verifyStatusClass(item.hops[key])}"> {{vm.getDelay(item.hops[key].time, item.info.time) | date:'ss.sss'}}s</td>
                </tr>
            </tbody>
        </table>
        <tr ng-show="vm.scrollOptions.show_loader">Fetching older commands from server...</tr>
    </div>
    
</div>