<!doctype html>
<html lang="en">

<head>
  <base href="{{ contextPath }}/">
  <meta charset="utf-8">
  <title>{% if config.tag %}{{ config.tag }}{% else %}Yamcs{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if config.tag %}{{ config.tag }}: {% endif %}Yamcs Mission Control">
  <meta name="application-name" content="Yamcs">
  <meta name="theme-color" content="#212121">
  <meta name="robots" content="noindex,nofollow">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ contextPath }}/apple-touch-icon.png">
  <link rel="mask-icon" href="{{ contextPath }}/safari-pinned-tab.svg" color="#0000001">
  <link rel="shortcut icon" href="{{ contextPath }}/favicon.ico">
  <!--link rel="manifest" href="{{ contextPath }}/manifest.webmanifest" crossorigin="use-credentials"-->
  <!--[[ EXTRA_HEADER_HTML ]]-->
</head>

<body>
  <script id="appConfig" type="application/json">
    {{ configJson }}
  </script>
  <app-root></app-root>
</body>

</html>
