@if (dataSource.data.length) {
  <table mat-table [dataSource]="dataSource" class="ya-data-table expand" [class.paused]="paused">
    <ng-container cdkColumnDef="generationTime">
      <th mat-header-cell *cdkHeaderCellDef>Generation time</th>
      <td mat-cell *cdkCellDef="let row">{{ (row.generationTime | datetime) || "-" }}</td>
    </ng-container>
    @for (parameter of model.parameters; track parameter; let i = $index) {
      <ng-container [cdkColumnDef]="parameter">
        <th mat-header-cell *cdkHeaderCellDef>
          <a
            [routerLink]="'/telemetry/parameters' + parameter"
            [queryParams]="{ c: yamcs.context }">
            {{ parameter }}
          </a>
          @if (showActions) {
            <ya-more>
              <button mat-menu-item (click)="moveLeft.emit(i)">Move left</button>
              <button mat-menu-item (click)="moveRight.emit(i)">Move right</button>
              <mat-divider />
              <button mat-menu-item (click)="removeColumn.emit(parameter)">Remove column</button>
            </ya-more>
          }
        </th>
        <td mat-cell *cdkCellDef="let row">
          @if (row.pvals[parameter]; as pval) {
            @if (pval) {
              <ya-expirable [pval]="pval">
                {{ (pval.engValue | value) || "-" }}
                @if (pval.rangeCondition === "LOW") {
                  <span>&#8595;</span>
                }
                @if (pval.rangeCondition === "HIGH") {
                  <span>&#8593;</span>
                }
              </ya-expirable>
            }
          } @else {
            <span>-</span>
          }
        </td>
      </ng-container>
    }
    <ng-container cdkColumnDef="actions">
      <th mat-header-cell *cdkHeaderCellDef class="expand"></th>
      <td mat-cell *cdkCellDef="let row"></td>
    </ng-container>
    <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
}

@if (showActions) {
  <p>&nbsp;</p>
  Buffer size:
  <select [formControl]="bufferSizeControl">
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
    <option value="75">75</option>
    <option value="100">100</option>
  </select>
}
