<h2 mat-dialog-title>Export parameter data</h2>

<mat-dialog-content>
  <ya-form [formGroup]="form">
    <ya-field label="Start" hint="(optional)">
      <ya-date-time-input formControlName="start" />
    </ya-field>

    <ya-field label="Stop" hint="(optional)">
      <ya-date-time-input formControlName="stop" />
    </ya-field>

    <ya-field label="CSV column delimiter">
      <ya-select formControlName="delimiter" [options]="delimiterOptions" />
    </ya-field>

    <ya-field label="Interval (ms)" hint="(optional)">
      <input formControlName="interval" class="ya-input" type="text" />
    </ya-field>
  </ya-form>

  @if (form.errors?.dateRange) {
    <ya-warning-message>Start date must be before stop date</ya-warning-message>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-download-button
    [link]="downloadURL$ | async"
    appearance="primary"
    (click)="closeDialog()"
    [disabled]="!form.valid">
    DOWNLOAD
  </ya-download-button>
</mat-dialog-actions>
