.detail {
  background-color: #fafafa;
  float: right;
  height: 100%;
  width: 450px;
  overflow: auto;
  border-left: 1px solid #d3d3d3;
  box-sizing: border-box;
}

.table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

tr.disabled td,
tr.disabled td a {
  font-style: italic;
  color: #aaa;
}

.legend {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend-item ya-led {
  margin-right: 4px;
}
