<ya-field [label]="label">
  <div class="meta" [class.error]="err.invalid$ | async">
    <div class="item">{{ type.engType }}</div>
  </div>

  @if (description) {
    <ya-help>
      {{ description }}
    </ya-help>
  }

  <ya-errors #err [controlName]="controlName" />
  <div class="control-group">
    <ya-select [formControl]="formControl" [options]="selectOptions$ | async" />
    &nbsp;
    <ya-icon-button
      matTooltip="Lookup enumeration state"
      (click)="openSelectEnumerationDialog()"
      icon="search" />
  </div>
</ya-field>
