<div class="label">
  <div class="meta" [class.error]="err.invalid$ | async">
    <div class="item">{{ type.engType }}</div>
  </div>

  {{ label }}
  @if (description) {
    <ya-help>
      {{ description }}
    </ya-help>
  }

  <ya-errors #err [controlName]="controlName" />
  <div class="control-group">
    <ya-select [formControl]="formControl" [options]="selectOptions$ | async" />&nbsp;
    <button
      class="ya-button"
      matTooltip="Lookup enumeration state"
      (click)="openSelectEnumerationDialog()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
