<ng-container *ngIf="algorithm$ | async as algorithm">
  <ng-container *ngIf="status$ | async as status">
    <ng-container *ngIf="status.traceEnabled; else notrace">
      <div class="extra-bar-container">
        <div class="extra-bar">
          <button class="ya-button" (click)="stopTrace()">Stop trace</button>&nbsp;
          <button class="ya-button" (click)="refreshData()">Refresh</button>&nbsp;
          <ng-container *ngIf="section$ | async as section">
            <span class="separator" style="margin-left: 10px; margin-right: 10px"></span>
            <ya-text-action icon="directions_run"
                            [active]="section === 'runs'"
                            (click)="switchToSection('runs')">
              Runs
            </ya-text-action>
            &nbsp;&nbsp;
            <ya-text-action icon="menu_book"
                            [active]="section === 'logs'"
                            (click)="switchToSection('logs')">
              Logs
            </ya-text-action>
          </ng-container>
        </div>
      </div>
      <div class="panel-content">
        <ng-container *ngIf="(section$ | async) === 'runs'">
          <ng-container *ngIf="trace$ | async as trace; else empty">
            <table yaDataTable class="expand" *ngIf="trace.runs?.length; else empty">
              <tr>
                <th class="status"></th>
                <th>Started</th>
                <th>Inputs</th>
                <th>Outputs</th>
                <th>Return value</th>
                <th>Error</th>
                <th></th>
              </tr>
              <tr *ngFor="let run of trace.runs; index as index">
                <td class="status">
                  <mat-icon *ngIf="!run.error" class="success">check_circle</mat-icon>
                  <mat-icon *ngIf="run.error" class="alert">error</mat-icon>
                </td>
                <td style="width: 200px">{{ run.time | datetime }}</td>

                <td style="width: 400px">
                  <ng-container *ngFor="let input of (run.inputs || []); last as last">
                    <a [routerLink]="'/telemetry/parameters' + input.id.name"
                       [queryParams]="{c: yamcs.context}"
                       class="secundary">
                      {{ input.id.name }}</a>:
                    <ya-value [value]="input.engValue" />
                    <br *ngIf="!last">
                  </ng-container>
                  <ng-container *ngIf="!run.inputs?.length">-</ng-container>
                </td>

                <td style="width: 400px">
                  <ng-container *ngFor="let output of (run.outputs || []); last as last">
                    <a [routerLink]="'/telemetry/parameters' + output.id.name"
                       [queryParams]="{c: yamcs.context}"
                       class="secundary">
                      {{ output.id.name }}</a>:
                    <ya-value [value]="output.engValue" />
                    <br *ngIf="!last">
                  </ng-container>
                  <ng-container *ngIf="!run.outputs?.length">-</ng-container>
                </td>

                <td style="width: 200px">{{ run.returnValue | nvl:'-' }}</td>
                <td style="width: 200px">{{ run.error || '-' }}</td>
                <td></td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="(section$ | async) === 'logs'">
          <ng-container *ngIf="trace$ | async as trace; else empty">
            <table class="logs mono" *ngIf="trace.logs?.length; else empty" style="width: 100%">
              <tr *ngFor="let log of trace.logs">
                <td class="time" style="white-space: nowrap" width="1">[{{ log.time | datetime }}]</td>
                <td class="msg" style="white-space: pre">{{ log.msg }}</td>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #notrace>
  <ya-empty-message headerTitle="Trace">
    <p>
      The trace tool captures runs, inputs, outputs and log messages of this algorithm.
    </p>
    <p>
      <button class="ya-button primary" (click)="startTrace()">Start trace</button>
    </p>
  </ya-empty-message>
</ng-template>

<ng-template #empty>
  <ya-empty-message>
    <p>
      Tracing has started.
    </p>
    <p>
      This page does <strong>not</strong> update automatically.
    </p>
    <p>
      Hit refresh, or check back at a later time when you think there should be trace entries.
    </p>
    <p>
      <button class="ya-button primary" (click)="refreshData()">Refresh</button>
    </p>
  </ya-empty-message>
</ng-template>
