<h2 mat-dialog-title>Start replay processor</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="ya-form">
    <label>
      Start time
      <br />
      <ya-date-time-input formControlName="start" />
    </label>
    <br />
    <label>
      Stop time
      <span class="hint">(optional)</span>
      <ya-date-time-input formControlName="stop" />
    </label>
    <br />
    <label>
      Processor name
      <input type="text" formControlName="name" />
      <span class="hint">Must be unique. Other users can join your replay via this name</span>
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="start()" [disabled]="!form.valid">START</ya-button>
</mat-dialog-actions>
