<app-instance-page>
  <app-instance-toolbar> Algorithms </app-instance-toolbar>
  <span #top></span>

  <div class="panel-content">
    <form [formGroup]="filterForm">
      @if (breadcrumb$ | async; as breadcrumb) {
        @if (breadcrumb.length) {
          <div class="filter-bar">
            <ya-breadcrumb-trail>
              <ya-breadcrumb
                link="/algorithms"
                [queryParams]="{ c: yamcs.context }"
                icon="account_tree" />
              @for (item of breadcrumb; track item) {
                <ya-breadcrumb
                  [link]="item.route"
                  [queryParams]="item.queryParams"
                  [label]="item.name" />
              }
            </ya-breadcrumb-trail>
          </div>
        }
      }
      <div class="filter-bar">
        <ya-search-filter
          [formControl]="filterForm.controls['filter']"
          placeholder="Search by name"
          icon="search"
          (onArrowDown)="selectNext()"
          (onArrowUp)="selectPrevious()"
          (onEnter)="applySelection()" />
        <ya-select [options]="scopeOptions" formControlName="scope" />
      </div>
    </form>

    @if (dataSource) {
      <table mat-table class="ya-data-table expand" [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let item" class="primary-td">
            @if (item.system) {
              <mat-icon class="icon12" style="vertical-align: middle">folder</mat-icon>
              <a
                [routerLink]="['/algorithms']"
                [queryParams]="{ c: yamcs.context, system: item.name }"
                >{{ item.name | filename }}/
              </a>
            }
            @if (item.algorithm) {
              <mat-icon class="icon12" style="vertical-align: middle">transform</mat-icon>
              <a
                [routerLink]="'/algorithms' + item.algorithm.qualifiedName"
                [queryParams]="{ c: yamcs.context }">
                @if (!system) {
                  <ya-highlight
                    [text]="item.algorithm.qualifiedName"
                    [term]="filterForm.value.filter" />
                }
                @if (system) {
                  <ya-highlight
                    [text]="item.algorithm.qualifiedName | slice: system!.length + 1"
                    [term]="filterForm.value.filter" />
                }
              </a>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let item">{{ item.algorithm?.type || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let item">{{ item.algorithm?.language || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="scope">
          <th mat-header-cell *matHeaderCellDef>Scope</th>
          <td mat-cell *matCellDef="let item">{{ item.algorithm?.scope || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let item" class="wrap200">
            @if (item.system) {
              {{ item.system.shortDescription || "-" }}
            }
            @if (item.algorithm) {
              {{ item.algorithm.shortDescription || "-" }}
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.selected]="selection.isSelected(row)"></tr>
      </table>
    }

    <mat-paginator
      [pageSize]="pageSize"
      [hidePageSize]="true"
      [showFirstLastButtons]="true"
      [length]="dataSource.totalSize$ | async" />
  </div>
  <ng-template #empty>
    <div class="panel-content">
      The Mission Database for <i>{{ yamcs.instance }}</i> does not define any algorithms.
    </div>
  </ng-template>
</app-instance-page>
