::ng-deep .mat-dialog-container {
  border-radius: 0;
  position: relative;
}

.wrapper {
  position: relative;
  height: calc(100% - 48px);
  overflow: auto;
}

.command-table-wrapper {
  position: absolute;
  overflow: auto;
  /* 24 + 32 */
  top: 56px;
  bottom: 1em;
  left: 0;
  right: 0;
}

.command-detail {
  max-width: 600px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 64px;
  left: 0;
  right: 0;
  border-top: 1px solid #d3d3d3;
}
