.panel-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

.ya-data-table td {
  vertical-align: top;
}

table.args {
  margin: 0;
  margin-left: 10px;
  font-size: 10px;
}

table.args td {
  padding: 0;
  border: 0;
}

table.args td.key {
  min-width: 120px;
  white-space: nowrap;
}

table.args td.value {
  color: grey;
  padding-left: 10px;
}

div.entry {
  font-size: 13px;
  line-height: 17px;
}

div.entry div.in {
  display: flex;
  border-left: 8px solid transparent;
  margin-bottom: 10px;
}

div.entry div.out {
  display: flex;
  border-left: 8px solid transparent;
  margin-bottom: 10px;
}

div.entry.selected div.in,
div.entry.selected div.out {
  border-color: #009e87;
}

div.entry .seq {
  width: 64px;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  font-family: 'Roboto Mono', monospace;
  color: #bdbdbd;
}

div.entry div.in .seq {
  cursor: move;
}

div.entry.selected .seq {
  color: #009e87;
}

div.entry .body {
  flex-grow: 1;
  padding: 5px;
}

div.entry div.in .body {
  background-color: #fafafa;
  border: 1px solid rgb(224, 224, 224);
  font-family: 'Roboto Mono', monospace;
}

div.entry div.out .body.err {
  background-color: #fcc;
  color: crimson;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}


.advance-on {
  color: grey;
  font-size: 12px;
}

.advance-on>* {
  vertical-align: middle;
}

.advance-on>mat-icon {
  transform: rotate(180deg);
  font-size: 12px;
  height: 12px;
  width: 12px;
}

.stack-options {
  display: grid;
  padding-top: 12px;
  padding-bottom: 12px;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.stack-options>h2,
.stack-options>p {
  grid-column: 1 / span 2;
}

.disabled .label {
  opacity: 0.6;
}
