.evaluation {
  font-family: 'Roboto Mono', monospace;
  background-color: crimson;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
}

.evaluation.valid {
  background-color: greenyellow;
  color: black;
}
