<app-instance-page>
  <app-instance-toolbar [hasDetailPane]="true">
    <a mat-icon-button
       [routerLink]="folderLink"
       [queryParams]="{c: yamcs.context}"
       color="primary">
      <mat-icon>arrow_back</mat-icon>
    </a> {{ filename | basename }}
    &nbsp;&nbsp;&nbsp;
    <button mat-button color="primary" matTooltip="Save stack"
            (click)="saveStack()"
            [disabled]="!(dirty$ | async)">
      <mat-icon>save</mat-icon>
      SAVE
    </button>
    <mat-divider vertical style="height: 100%"></mat-divider>
    <button mat-icon-button color="primary" matTooltip="Add a command below"
            [disabled]="running$ | async"
            (click)="addCommand()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Edit the selected command"
            [disabled]="(running$ | async) || !(selectedEntry$ | async)"
            (click)="editSelectedCommand()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Cut the selected command"
            [disabled]="(running$ | async) || !(selectedEntry$ | async)"
            (click)="cutSelectedCommand()">
      <mat-icon>content_cut</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Copy the selected command"
            [disabled]="(running$ | async) || !(selectedEntry$ | async)"
            (click)="copySelectedCommand()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Paste command from the clipboard"
            [disabled]="(running$ | async) || !(clipboardEntry$ | async)"
            (click)="pasteCommand()">
      <mat-icon>content_paste</mat-icon>
    </button>
    <mat-divider vertical style="height: 100%"></mat-divider>
    <button mat-icon-button color="primary" matTooltip="Run the selected command"
            [disabled]="(running$ | async) || !(selectedEntry$ | async)"
            (click)="runSelection()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Stop current execution"
            [disabled]="!(running$ | async)"
            (click)="stopRun()">
      <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Clear all outputs"
            [disabled]="(running$ | async) || !(hasOutputs$ | async)"
            (click)="clearOutputs()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Run all from selected command"
            [disabled]="(running$ | async) || !(selectedEntry$ | async)"
            (click)="runFromSelection()">
      <mat-icon>playlist_play</mat-icon>
    </button>
  </app-instance-toolbar>

  <app-detail-pane>
    <ng-container *ngIf="selectedEntry$ | async as selectedEntry; else noSelection">
      <app-detail-toolbar>
        Command Info
      </app-detail-toolbar>
      <div style="padding: 0 16px">
        <app-stacked-command-detail [entry]="selectedEntry">
        </app-stacked-command-detail>
        <p>&nbsp;</p>
      </div>
    </ng-container>
    <ng-template #noSelection>
      <app-detail-toolbar>
        Select an entry
      </app-detail-toolbar>
    </ng-template>
  </app-detail-pane>

  <div class="panel-wrapper">
    <div #entryParent class="panel-content" cdkDropList (cdkDropListDropped)="handleDrop($event)">
      <div id="drag-boundary">
        <div cdkDrag cdkDragBoundary="#drag-boundary"
             class="entry"
             *ngFor="let entry of entries$ | async"
             [class.selected]="entry === (selectedEntry$ | async)">

          <div class="in">
            <div cdkDragHandle class="seq" (click)="selectEntry(entry)">
              <ng-container *ngIf="entry.executionNumber === 0 || entry.executionNumber">
                [{{ entry.executionNumber }}]:
              </ng-container>
              <ng-container *ngIf="entry.executionNumber !== 0 && !entry.executionNumber">
                [ ]:
              </ng-container>
            </div>
            <div class="body" (dblclick)="editCommand(entry)">
              {{ entry.name }}
              <mat-icon *ngIf="entry.comment"
                        [matTooltip]="entry.comment"
                        class="icon14"
                        style="vertical-align: middle;">
                comment
              </mat-icon>
              <span *ngFor="let item of entry.extra | keyvalue">
                [{{ item.key}}: {{ item.value | value }}]
              </span>
              <table class="args">
                <tr *ngFor="let arg of entry.args | keyvalue">
                  <td class="key" width="1">
                    {{ arg.key }}
                  </td>
                  <td class="value">{{ arg.value }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="out" *ngIf="entry.executionNumber === 0 || entry.executionNumber">
            <div class="seq" (click)="selectEntry(entry)"></div>
            <div class="body" [class.err]="entry.err">
              <ng-container *ngIf="entry.err">
                {{ entry.err }}
              </ng-container>
              <ng-container *ngIf="!entry.err">
                <app-yamcs-acknowledgments-table [command]="entry.record"
                                                 [inline]="true">
                </app-yamcs-acknowledgments-table>

                <ng-container *ngIf="entry.record?.extra.length">
                  <div class="block">
                    <app-extra-acknowledgments-table [command]="entry.record"
                                                     [inline]="true">
                    </app-extra-acknowledgments-table>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-instance-page>
