<h6 style="padding-top: 0">Command</h6>
<div class="block">
  {{ entry.name | shortName }}
</div>

<h6>Space system</h6>
<div class="block">
  {{ (entry.name | spaceSystemName) || '-' }}
</div>

<ng-container *ngFor="let alias of entry.command?.alias">
  <h6>{{ alias.namespace }}</h6>
  <div class="block">
    {{ alias.name }}
  </div>
</ng-container>

<h6>Description</h6>
<div class="block">
  {{ entry.command?.longDescription || entry.command?.shortDescription || '-' }}
</div>

<mat-divider style="margin-top: 1em; margin-bottom: 1em"></mat-divider>

<h6>Significance</h6>
<div class="block">
  <ng-container *ngIf="entry.command?.significance as significance">
    <app-significance-level [level]="significance.consequenceLevel"></app-significance-level>
    {{ significance.reasonForWarning }}
  </ng-container>
  <ng-container *ngIf="!entry.command?.significance">-</ng-container>
</div>

<mat-divider style="margin-top: 1em; margin-bottom: 1em"></mat-divider>

<h6 style="padding-top: 0">Constraints</h6>
<div class="block">
  <ng-container *ngIf="entry.command?.constraint as constraints">
    <table yaDataTable>
      <tr>
        <th>Constraint</th>
        <th>Timeout</th>
      </tr>
      <tr *ngFor="let constraint of constraints">
        <td>
          <ng-container *ngFor="let comparison of constraint.comparison">
            {{ comparison.parameter.qualifiedName }}
            {{ comparison.operator | operator }}
            {{ comparison.value }}
          </ng-container>
        </td>
        <td>{{ constraint.timeout || '-' }}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="!entry.command?.constraint">-</ng-container>
</div>
