<app-instance-page>
  <app-instance-toolbar>
    <a mat-icon-button
       [routerLink]="folderLink"
       [queryParams]="{c: yamcs.context}"
       color="primary">
      <mat-icon>arrow_back</mat-icon>
    </a> {{ filename | basename }}
    &nbsp;&nbsp;&nbsp;
    <button mat-button color="primary" matTooltip="Save stack"
            (click)="saveStack()"
            [disabled]="!format || !(dirty$ | async)">
      <mat-icon>save</mat-icon>
      SAVE
    </button>
    <mat-divider vertical style="height: 100%"></mat-divider>
    <button mat-icon-button color="primary" matTooltip="Add a command below"
            [disabled]="!format || (running$ | async)"
            (click)="addCommand()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Edit the selected command"
            [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
            (click)="editSelectedCommand()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Cut the selected command"
            [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
            (click)="cutSelectedCommand()">
      <mat-icon>content_cut</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Copy the selected command"
            [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
            (click)="copySelectedCommand()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Paste command from the clipboard"
            [disabled]="!format || (running$ | async) || !(clipboardEntry$ | async)"
            (click)="pasteCommand()">
      <mat-icon>content_paste</mat-icon>
    </button>
    <mat-divider vertical style="height: 100%"></mat-divider>
    <button mat-icon-button color="primary" matTooltip="Run the selected command"
            [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
            (click)="runSelection()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Stop current execution"
            [disabled]="!format || !(running$ | async)"
            (click)="stopRun()">
      <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Clear all outputs"
            [disabled]="!format || (running$ | async) || !(hasOutputs$ | async)"
            (click)="clearOutputs()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Run all from selected command"
            [disabled]="!format || (running$ | async) || !(selectedEntry$ | async)"
            (click)="runFromSelection()">
      <mat-icon>playlist_play</mat-icon>
    </button>
    <mat-divider vertical style="height: 100%"></mat-divider>
    <button *ngIf="format === 'xml'" mat-button color="primary" matTooltip="Convert to the newer format"
            [disabled]="!format || converting"
            (click)="convertToJSON()">
      <mat-icon>sync_alt</mat-icon>
      CONVERT TO JSON
    </button>
    <mat-divider *ngIf="format === 'xml'" vertical style="height: 100%"></mat-divider>
    <button mat-button color="primary" matTooltip="Export command stack" [matMenuTriggerFor]="exportMenu"
            [disabled]="!format"
            (click)="setExportURLs()">
      <mat-icon>open_in_new</mat-icon>
      EXPORT
    </button>
    <mat-menu #exportMenu="matMenu">
      <a mat-menu-item [href]="JSONblobURL" [download]="(filename | basename) + '.json'">
        <mat-icon style="margin:0; vertical-align: middle;">data_object</mat-icon>
        <span style="vertical-align: middle;"> JSON</span>
      </a>
      <a mat-menu-item [href]="XMLblobURL" [download]="(filename | basename) + '.xml'"
         title="Certain features are not implemented for XML, the format will be phased out gradually">
        <mat-icon style="margin:0; vertical-align: middle;">code</mat-icon>
        <span style="vertical-align: middle;"> XML <span
                style="color: #CC0000; cursor: help;">(deprecated)</span></span>
      </a>
    </mat-menu>
  </app-instance-toolbar>

  <app-detail-pane>
    <ng-container *ngIf="selectedEntry$ | async as selectedEntry; else noSelection">
      <app-detail-toolbar>
        Command Info
      </app-detail-toolbar>
      <div style="padding: 0 16px">
        <app-stacked-command-detail [entry]="selectedEntry">
        </app-stacked-command-detail>
        <p>&nbsp;</p>
      </div>
    </ng-container>
    <ng-template #noSelection>
      <app-detail-toolbar>
        Select an entry
      </app-detail-toolbar>
    </ng-template>
  </app-detail-pane>

  <div class="panel-wrapper">
    <form [formGroup]="stackOptionsForm" class="ya-form panel-content stack-options"
          [ngClass]="this.stackOptionsForm.disabled && 'disabled'"
          *ngIf="format">
      <h2>Global stack options</h2>
      <p *ngIf="format !== 'json'" style="color: #CC0000">These options are only available for JSON fomatted
        command stacks</p>
      <div class="label">
        Advance stack on acknowledgement
        <app-help dialogTitle="Advance On Acknowledgement">
          Acknowledgement to wait for to advance to the next command in the stack.
          If a delay is also specified, the next command is exectuded after this time from the recieval of the
          acknowledgement.<br>
          (Default value: Queued)
        </app-help>
        <br>
        <select formControlName="advanceOnAckDropDown">
          <option *ngFor="let ack of predefinedAcksArray" [value]="ack.name">{{ ack.verboseName }}</option>
          <option value="custom">Custom</option>
        </select>
        <input type="text" formControlName="advanceOnAckCustom"
               *ngIf="stackOptionsForm.get('advanceOnAckDropDown')?.value === 'custom'">
      </div>
      <div class="label">
        Advance stack on delay (ms)
        <app-help dialogTitle="Advance On Delay">
          Delay to wait for to advance to the next command in the stack.
          If an acknowledgements also specified, the next command is exectuded after this time from the recieval of
          the acknowledgement.<br>
          (Default value: 0)
        </app-help>
        <br>
        <input type="number" formControlName="advanceOnDelay" placeholder="0">
      </div>
    </form>
    <mat-divider horizontal></mat-divider>

    <app-empty-message *ngIf="loaded && !format">
      <mat-icon style="vertical-align: bottom; margin-right: 10px;">link_off</mat-icon>
      Unsupported command stack format
    </app-empty-message>
    <app-empty-message *ngIf="loaded && format && !entries$.value.length">
      Empty command stack<br>
      Click <mat-icon inline style="vertical-align: bottom;">add_circle_outline</mat-icon> to start adding
      commands
    </app-empty-message>

    <div #entryParent class="panel-content" cdkDropList (cdkDropListDropped)="handleDrop($event)">
      <div id="drag-boundary">
        <div cdkDrag cdkDragBoundary="#drag-boundary"
             class="entry"
             *ngFor="let entry of entries$ | async"
             [class.selected]="entry === (selectedEntry$ | async)"
             (click)="selectEntry(entry)"
             (dblclick)="editCommand(entry)">

          <div class="in">
            <div cdkDragHandle class="seq">
              <ng-container *ngIf="entry.executionNumber === 0 || entry.executionNumber">
                [{{ entry.executionNumber }}]:
              </ng-container>
              <ng-container *ngIf="entry.executionNumber !== 0 && !entry.executionNumber">
                [ ]:
              </ng-container>
            </div>
            <div class="body">
              {{ entry.name }}
              <mat-icon *ngIf="entry.comment"
                        [matTooltip]="entry.comment"
                        class="icon14"
                        style="vertical-align: middle;">
                comment
              </mat-icon>
              <span *ngFor="let item of entry.extra | keyvalue">
                [{{ item.key }}: {{ item.value | value }}]
              </span>
              <table class="args">
                <tr *ngFor="let arg of entry.args | keyvalue">
                  <td class="key" width="1">
                    {{ arg.key }}
                  </td>
                  <td class="value">
                    <app-value [value]="arg.value | tovalue"></app-value>
                  </td>
                </tr>
              </table>
              <div *ngIf="entry.advanceOn" class="advance-on">
                <mat-icon>reply</mat-icon>
                <span>
                  Advance{{ entry.advanceOn.ack != null ? " on " + entry.advanceOn.ack: null}}
                  {{ entry.advanceOn.delay != null ? "after " + entry.advanceOn.delay + " ms" : null}}
                </span>
              </div>
            </div>
          </div>
          <div class="out" *ngIf="entry.executionNumber === 0 || entry.executionNumber">
            <div class="seq" (click)="selectEntry(entry)"></div>
            <div class="body" [class.err]="entry.err">
              <ng-container *ngIf="entry.err">
                {{ entry.err }}
              </ng-container>
              <ng-container *ngIf="!entry.err">
                <app-yamcs-acknowledgments-table [command]="entry.record"
                                                 [inline]="true">
                </app-yamcs-acknowledgments-table>

                <ng-container *ngIf="entry.record?.extra.length">
                  <div class="block">
                    <app-extra-acknowledgments-table [command]="entry.record"
                                                     [inline]="true">
                    </app-extra-acknowledgments-table>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-instance-page>
