<app-instance-page>
  <app-instance-toolbar>
    Alarms
    <ya-help>
      An alarm can be in these states:
      <table class="ya-data-table">
        <tr>
          <td width="1">
            <mat-icon class="icon16" style="vertical-align: middle">notifications</mat-icon>
          </td>
          <td>The alarm is unacknowledged and the cause of the alarm still exists.</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="icon16" style="vertical-align: middle">notifications_none</mat-icon>
          </td>
          <td>
            The alarm is unacknowledged and the cause that generated the alarm no longer exists.
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon class="icon16" style="vertical-align: middle">check_circle</mat-icon>
          </td>
          <td>The alarm is acknowledged and the cause of the alarm still exists.</td>
        </tr>
        <tr>
          <td>
            <mat-icon class="icon16" style="vertical-align: middle">check_circle_outline</mat-icon>
          </td>
          <td>
            The alarm is acknowledged and the cause that generated the alarm no longer exists.
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon class="icon16" style="vertical-align: middle">timer</mat-icon>
          </td>
          <td>The alarm was shelved.</td>
        </tr>
      </table>
    </ya-help>
    &nbsp;&nbsp;&nbsp;
    @if (mayControlAlarms()) {
      <ya-page-button
        (click)="acknowledgeAlarms(selection.selected)"
        [disabled]="!selection.hasValue()"
        icon="notifications_off">
        Acknowledge
      </ya-page-button>
    }
    @if (mayControlAlarms()) {
      <ya-page-button
        (click)="shelveAlarms(selection.selected)"
        [disabled]="!selection.hasValue()"
        icon="timer">
        Shelve
      </ya-page-button>
    }
  </app-instance-toolbar>

  <ya-detail-pane>
    @if (detailAlarm$ | async; as detailAlarm) {
      <ya-detail-toolbar>Alarm Detail</ya-detail-toolbar>
      <div style="padding: 0 16px">
        <app-alarm-detail
          [alarm]="detailAlarm"
          [mayControl]="mayControlAlarms()"
          (acknowledgeAlarm)="acknowledgeAlarms([$event])"
          (shelveAlarm)="shelveAlarms([$event])"
          (unshelveAlarm)="unshelveAlarms([$event])"
          (clearAlarm)="clearAlarms([$event])" />
      </div>
    } @else {
      <ya-detail-toolbar>Select an alarm</ya-detail-toolbar>
    }
  </ya-detail-pane>

  <div class="table-wrapper">
    @if (dataSource) {
      <div class="panel-content">
        <app-alarms-page-tabs />
        <dl class="dl-horizontal">
          <dt>Unacknowledged alarms:</dt>
          <dd>
            <strong>{{ (dataSource.unacknowledgedAlarms$ | async)?.length }}</strong>
          </dd>
          <dt>Acknowledged alarms:</dt>
          <dd>
            <strong>{{ (dataSource.acknowledgedAlarms$ | async)?.length }}</strong>
          </dd>
          <dt>Shelved alarms:</dt>
          <dd>
            <strong>{{ (dataSource.shelvedAlarms$ | async)?.length }}</strong>
          </dd>
        </dl>
        <form [formGroup]="filterForm">
          <div class="filter-bar">
            <ya-search-filter formControlName="filter" placeholder="Filter by text search" />
            <ya-select [options]="viewOptions" formControlName="view" />
          </div>
        </form>
        <app-alarms-table
          [dataSource]="dataSource"
          [selection]="selection"
          [view]="view$ | async"
          [mayControl]="mayControlAlarms()"
          (acknowledgeAlarm)="acknowledgeAlarms([$event])"
          (shelveAlarm)="shelveAlarms([$event])"
          (unshelveAlarm)="unshelveAlarms([$event])" />
      </div>
    }
  </div>
</app-instance-page>
