@if (alarm.shelveInfo) {
  <mat-icon matTooltip="Shelved">timer</mat-icon>
} @else {
  @if (alarm.pending) {
    <mat-icon matTooltip="Pending">pending</mat-icon>
  } @else if (alarm.processOK) {
    @if (alarm.acknowledged) {
      <mat-icon matTooltip="RTN, acknowledged">check_circle_outline</mat-icon>
    } @else {
      <mat-icon matTooltip="RTN, unacknowledged" class="unacked">notifications_none</mat-icon>
    }
  } @else {
    @if (alarm.acknowledged) {
      <mat-icon matTooltip="Active, acknowledged">check_circle</mat-icon>
    } @else {
      <mat-icon matTooltip="Active, unacknowledged" class="unacked">
        notification_important
      </mat-icon>
    }
  }
}
