<app-admin-page>
  <app-admin-toolbar>
    Services &nbsp;&nbsp;&nbsp;
    <ya-page-icon-button (click)="refresh()" matTooltip="Refresh view" icon="refresh" />
  </app-admin-toolbar>

  <div class="panel-content">
    <form [formGroup]="filterForm">
      <div class="filter-bar">
        <ya-select [options]="instanceOptions$ | async" formControlName="instance" />
      </div>
    </form>
    <app-services-table
      [dataSource]="dataSource"
      (startService)="startService($event)"
      (stopService)="stopService($event)" />
  </div>
</app-admin-page>
