<div class="block-title">Name</div>
<div class="block">
  {{ link.name }}
</div>

<div class="block-title">Class</div>
<div class="block">
  {{ link.type }}
</div>

<br />
<mat-divider />

<div class="block-title">Status</div>
<div class="block">
  <app-link-status [link]="link" />
  {{ link.status }}
</div>

<div class="block-title">In count</div>
<div class="block">
  {{ link.dataInCount | number }}
</div>

<div class="block-title">Out count</div>
<div class="block">
  {{ link.dataOutCount | number }}
</div>

<div class="block-title">Detail</div>
<div class="block">
  {{ link.detailedStatus || "-" }}
</div>

@if (link.extra) {
  <br />
  <mat-divider />
  @for (entry of link.extra | keyvalue; track entry) {
    <div class="block-title">{{ entry.key }}</div>
    <div class="block">
      @if (getEntriesForValue(entry.value); as subentries) {
        @if (subentries.length) {
          @for (subentry of subentries; track subentry) {
            {{ subentry || "-" }}
            <br />
          }
        }
        @if (!subentries.length) {
          -
        }
      }
    </div>
  }
}

@if (mayControlLinks()) {
  <div class="action-bar">
    @if (link.status === "DISABLED") {
      <ya-button (click)="enableLink()">ENABLE LINK</ya-button>
    }
    @if (link.status !== "DISABLED") {
      <ya-button (click)="disableLink()">DISABLE LINK</ya-button>
    }
    <ya-button [matMenuTriggerFor]="moreActions" dropdown="true">MORE</ya-button>
    <mat-menu #moreActions class="ya-menu" yPosition="below" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <button mat-menu-item (click)="resetCounters()">Reset counters</button>
        @if (link.actions) {
          <mat-divider />
          @for (action of link.actions; track action) {
            <button mat-menu-item [disabled]="!action.enabled" (click)="runAction(action)">
              @if (action.style === "CHECK_BOX") {
                <mat-icon [style.visibility]="action.checked ? 'visible' : 'hidden'">
                  check
                </mat-icon>
              }
              {{ action.label }}
              @if (action.spec) {
                ...
              }
            </button>
          }
        }
      </ng-template>
    </mat-menu>
  </div>
}
