<app-admin-page>
  <app-admin-toolbar> Replication </app-admin-toolbar>

  <div class="panel-content">
    <h4>Inbound</h4>
    @if (hasSlaves$ | async) {
      <table mat-table [dataSource]="slavesDataSource" class="ya-data-table expand">
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="status"></th>
          <td mat-cell *matCellDef="let slave" class="status">
            <app-replication-state [connected]="!!slave.localAddress && !!slave.remoteAddress" />
          </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef style="min-width: 130px">Instance</th>
          <td mat-cell *matCellDef="let row">{{ row.instance }}</td>
        </ng-container>
        <ng-container matColumnDef="streams">
          <th mat-header-cell *matHeaderCellDef style="min-width: 100px">Streams</th>
          <td mat-cell *matCellDef="let row">
            <span
              (click)="showReplicationStreams(row.streams || [])"
              matTooltip="Show streams"
              class="streams"
              >{{ (row.streams || []).length }} streams</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef style="min-width: 70px">Mode</th>
          <td mat-cell *matCellDef="let row" style="text-align: center">
            {{ row.push ? "PUSH" : "PULL" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="localAddress">
          <th mat-header-cell *matHeaderCellDef style="min-width: 200px">Local Address</th>
          <td mat-cell *matCellDef="let row">
            {{ row.localAddress || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remoteAddress">
          <th mat-header-cell *matHeaderCellDef style="min-width: 200px">Remote Address</th>
          <td mat-cell *matCellDef="let row">
            {{ row.remoteAddress || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pullFrom">
          <th mat-header-cell *matHeaderCellDef style="min-width: 130px">Pull From</th>
          <td mat-cell *matCellDef="let row">{{ row.pullFrom || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="tx">
          <th mat-header-cell *matHeaderCellDef style="width: 130px">TX</th>
          <td mat-cell *matCellDef="let row">{{ (row.tx | number) || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="slaveColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: slaveColumns"></tr>
      </table>
    } @else {
      <ya-empty-message marginTop="0">Not configured</ya-empty-message>
    }
    <p>&nbsp;</p>

    <div class="section-divider">
      <mat-divider />
    </div>
    <h4>Outbound</h4>
    @if (hasMasters$ | async) {
      <table mat-table [dataSource]="mastersDataSource" class="ya-data-table">
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="status"></th>
          <td mat-cell *matCellDef="let master" class="status">
            <app-replication-state [connected]="!!master.localAddress && !!master.remoteAddress" />
          </td>
        </ng-container>
        <ng-container matColumnDef="instance">
          <th mat-header-cell *matHeaderCellDef style="min-width: 130px">Instance</th>
          <td mat-cell *matCellDef="let row">{{ row.instance }}</td>
        </ng-container>
        <ng-container matColumnDef="streams">
          <th mat-header-cell *matHeaderCellDef style="min-width: 100px">Streams</th>
          <td mat-cell *matCellDef="let row">
            <span
              (click)="showReplicationStreams(row.streams || [])"
              matTooltip="Show streams"
              class="streams"
              >{{ (row.streams || []).length }} streams</span
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="mode">
          <th mat-header-cell *matHeaderCellDef style="min-width: 70px">Mode</th>
          <td mat-cell *matCellDef="let row">
            {{ row.push ? "PUSH" : "PULL" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="localAddress">
          <th mat-header-cell *matHeaderCellDef style="min-width: 200px">Local Address</th>
          <td mat-cell *matCellDef="let row">
            {{ row.localAddress || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="remoteAddress">
          <th mat-header-cell *matHeaderCellDef style="min-width: 200px">Remote Address</th>
          <td mat-cell *matCellDef="let row">
            {{ row.remoteAddress || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pushTo">
          <th mat-header-cell *matHeaderCellDef style="min-width: 130px">Push To</th>
          <td mat-cell *matCellDef="let row">{{ row.pushTo || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="localTx">
          <th mat-header-cell *matHeaderCellDef>Local&nbsp;TX</th>
          <td mat-cell *matCellDef="let row">
            @if (row.localTx >= 0) {
              {{ (row.localTx | number) || "-" }}
            }
            @if (row.localTx < 0) {
              -
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="nextTx">
          <th mat-header-cell *matHeaderCellDef>
            Next&nbsp;TX
            <ya-help> Next Transaction ID expected by the remote Yamcs instance </ya-help>
          </th>
          <td mat-cell *matCellDef="let row">{{ (row.nextTx | number) || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="expand"></th>
          <td mat-cell *matCellDef="let row"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="masterColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: masterColumns"></tr>
      </table>
    } @else {
      <ya-empty-message marginTop="0">Not configured</ya-empty-message>
    }
  </div>
</app-admin-page>
