@if (formConfigured$ | async) {
  <form [formGroup]="form">
    <label>
      Label <span class="hint">(required)</span><br />
      <input type="text" formControlName="name" />
    </label>
    <br />
    <label>
      Description <span class="hint">(optional)</span><br />
      <textarea formControlName="description" rows="3"></textarea>
    </label>
    <br />
    <label>
      Tags<br />
      <ya-tag-select formControlName="tags" />
    </label>
    <br />
    <div class="section-divider">
      <mat-divider />
    </div>
    <h4>Styles</h4>
    <app-item-band-styles [form]="form" />
  </form>
}
