@if (formConfigured$ | async) {
  <form [formGroup]="form">
    <ya-field label="Label" hint="(required)">
      <input type="text" formControlName="name" />
    </ya-field>

    <ya-field label="Description" hint="(optional)">
      <textarea formControlName="description" rows="3"></textarea>
    </ya-field>

    <ya-field label="Tags">
      <ya-tag-select formControlName="tags" />
    </ya-field>

    <ya-field-divider />

    <h4>Styles</h4>
    <app-item-band-styles [form]="form" />
  </form>
}
