{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "bracketSameLine": true,
        "printWidth": 100,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
