<app-instance-page *ngIf="container$ | async as container">
  <app-instance-toolbar>
    <ng-container *ngIf="(container.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/mdb/containers"
         [queryParams]="{instance: instance.name, filter: spaceSystemName}"
         class="ya-link ya-header-link">
        {{ spaceSystemName }}
      </a>/{{ container.qualifiedName | shortName }}
    </ng-container>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-container-detail [instance]="instance"
                          [container]="container">
    </app-container-detail>
  </div>
</app-instance-page>
