<app-instance-page>
  <app-instance-toolbar>Containers</app-instance-toolbar>
  <span #top></span>

  <div class="panel-content">
    <div class="filter-bar">
      <app-search-filter [formControl]="filterControl"
                         placeholder="Filter containers">
      </app-search-filter>
      <app-column-chooser #columnChooser
                          [columns]="columns"
                          preferenceKey="containers"></app-column-chooser>
    </div>

    <app-table-container>
      <table mat-table
             *ngIf="dataSource"
             class="ya-data-table"
             [dataSource]="dataSource">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="width: 400px">Name</th>
          <td mat-cell *matCellDef="let container">
            <a [routerLink]="['/mdb/containers', container.qualifiedName]"
               [queryParams]="{instance: instance}">
              {{ shortName ? container.name : container.qualifiedName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="maxInterval">
          <th mat-header-cell *matHeaderCellDef style="width: 100px">Max Interval</th>
          <td mat-cell *matCellDef="let container">{{ container.maxInterval || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="sizeInBits">
          <th mat-header-cell *matHeaderCellDef style="width: 100px">Size in Bits</th>
          <td mat-cell *matCellDef="let container">{{ container.sizeInBits || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="baseContainer">
          <th mat-header-cell *matHeaderCellDef style="width: 300px">Base Container</th>
          <td mat-cell *matCellDef="let container">
            <a *ngIf="container.baseContainer"
               [routerLink]="['/mdb/containers/', container.baseContainer?.qualifiedName]"
               [queryParams]="{instance: instance}"
               class="secundary">
              {{ container.baseContainer?.qualifiedName || '-' }}
            </a>
            <span *ngIf="!container.baseContainer">-</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="restrictionCriteria">
          <th mat-header-cell *matHeaderCellDef style="width: 300px">Restriction Criteria</th>
          <td mat-cell *matCellDef="let container">
            <ng-container *ngFor="let criteria of container.restrictionCriteria">
              <a [routerLink]="['/mdb/parameters/', criteria.parameter.qualifiedName]"
                 [queryParams]="{instance: instance}"
                 class="secundary">
                {{ criteria.parameter.qualifiedName }}
              </a>
              {{ criteria.operator | operator }}
              {{ criteria.value }}
              <br>
            </ng-container>
            <ng-container *ngIf="!container.restrictionCriteria">-</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef style="width: 400px">Description</th>
          <td mat-cell *matCellDef="let container">{{ container.shortDescription || '-' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: (columnChooser.displayedColumns$ | async);"></tr>
      </table>

      <mat-paginator [pageSize]="pageSize"
                     [hidePageSize]="true"
                     [showFirstLastButtons]="true"
                     [length]="dataSource.totalSize$ | async">
      </mat-paginator>
    </app-table-container>
  </div>
  <ng-template #empty>
    <div class="panel-content">
      The Mission Database for <i>{{ instance }}</i> does not define any containers.
    </div>
  </ng-template>
</app-instance-page>
