<div class="transfer-files mat-typography">
<form [formGroup]="filesForm" class="ya-form">
  <h2>New Transfer</h2>

  <div class="header-container">
    <div class="bucket-caption-wrapper">
      <label class="table-caption">Buckets</label>
    </div>

    <div class="object-breadcrumb" *ngIf="breadcrumb$ | async as breadcrumb">
      <app-breadcrumb-trail>
        <app-breadcrumb icon="account_tree" [action]="true"
                        (click)="changeLocalPrefix('')"></app-breadcrumb>
        <app-breadcrumb *ngFor="let item of breadcrumb"
                        [label]="item.name"
                        [action]="true"
                        (click)="changeLocalPrefix(item.prefix)"></app-breadcrumb>
      </app-breadcrumb-trail>
    </div>

    <div class="remote-breadcrumb" *ngIf="remoteBreadcrumb$ | async as breadcrumb">
      <app-breadcrumb-trail>
        <app-breadcrumb icon="account_tree" [action]="true"
                        (click)="changeRemotePrefix('')"></app-breadcrumb>
        <app-breadcrumb *ngFor="let item of breadcrumb"
                        [label]="item.name"
                        [action]="true"
                        (click)="changeRemotePrefix(item.prefix)"></app-breadcrumb>
      </app-breadcrumb-trail>
    </div>
  </div>

  <div class="tables-container">
    <div class="bucket-table-wrapper">
      <table mat-table [dataSource]="dataSource" class="ya-data-table">

        <ng-container cdkColumnDef="name">
          <td mat-cell *cdkCellDef="let bucket">
            <mat-icon style="vertical-align: middle">shopping_basket</mat-icon>&nbsp;
            {{ bucket.name }}
          </td>
        </ng-container>

        <tr mat-row *cdkRowDef="let row; columns: displayedColumns;"
            [ngClass]="{selected: (row === (selectedBucket$ | async))}"
            (click)="selectBucket(row)"></tr>
      </table>
    </div>

    <div class="object-table-wrapper">
      <ng-container *ngIf="selectedBucket$ | async as bucket">
        <app-object-selector #selector
                             formControlName="object"
                             [bucket]="bucket"
                             [isMultiSelect]="false"
                             [foldersOnly]="false"
                             (prefixChange)="updateLocalBreadcrumb($event)">
        </app-object-selector>
      </ng-container>
    </div>

    <div class="remote-table-wrapper">
      <ng-container *ngIf="service.capabilities.fileList">
        <remote-file-selector #remoteSelector
                             formControlName="remoteFile"
                             [isMultiSelect]="false"
                             [foldersOnly]="false"
                             (prefixChange)="updateRemoteBreadcrumb($event)">
        </remote-file-selector>
      </ng-container>
    </div>
  </div>

</form>
</div>

<div class="transfer-options mat-typography">
  <form [formGroup]="optionsForm" class="ya-form">

  <div *ngIf="service.capabilities.remotePath">
    <label>
      Filename
      <input type="text" formControlName="remotePath" id="filename" placeholder="Filename.dat">
    </label>
  </div>

  <div *ngIf="service.capabilities.reliability">
    <label>
      <input type="checkbox" formControlName="reliable"> Reliable
    </label>
  </div>

  <div>
    <label>
      Local Entity
      <select formControlName="source">
        <option *ngFor="let entity of service.localEntities"
                [value]="entity.name">{{ entity.name }} [id={{ entity.id}}]</option>
      </select>
    </label>
  </div>

  <div>
    <label>
      Remote Entity
      <select formControlName="destination">
        <option *ngFor="let entity of service.remoteEntities"
                [value]="entity.name">{{ entity.name }} [id={{ entity.id}}]</option>
      </select>
    </label>
  </div>

  </form>
</div>

<div class="footer mat-typography">
  <mat-toolbar>
    <mat-toolbar-row>
      <button class="ya-button" mat-dialog-close>CLOSE</button>&nbsp;&nbsp;
      <button class="ya-button primary"
              [disabled]="!isUploadEnabled"
              (click)="startUpload()">UPLOAD</button>&nbsp;&nbsp;
      <button class="ya-button primary"
              [disabled]="!isDownloadEnabled"
              (click)="startDownload()">DOWNLOAD</button>&nbsp;&nbsp;
      <button class="ya-button primary" *ngIf="service.capabilities.fileList"
              (click)="requestFileList()">RELOAD FILE LIST</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
