<div class="transfer-files mat-typography">
  <form [formGroup]="form" class="ya-form">
    <h2>
      <button class="close-button mat-button" mat-dialog-close><mat-icon>close</mat-icon></button>
      New Transfer
    </h2>

    <div class="grid-container">
      <!-- BUCKETS COLUMN -->
      <div class="buckets-column header">
        <label class="table-caption">Buckets</label>
      </div>

      <div class="buckets-column table-wrapper">
        <table mat-table [dataSource]="dataSource" class="ya-data-table">
          <ng-container cdkColumnDef="name">
            <td mat-cell *cdkCellDef="let bucket">
              <mat-icon style="vertical-align: middle">shopping_basket</mat-icon>&nbsp;
              {{ bucket.name }}
            </td>
          </ng-container>

          <tr mat-row *cdkRowDef="let row; columns: displayedColumns;"
              [ngClass]="{selected: (row === (selectedBucket$ | async))}"
              (click)="selectBucket(row)"></tr>
        </table>
      </div>

      <div class="buckets-column footer" *ngIf="selectedBucket$ | async as bucket">
        <div>
          <label>Target bucket</label>
          {{bucket.name}}
        </div>
      </div>

      <!-- LOCAL COLUMN -->
      <div class="local-column header">
        <label class="table-caption">Local Entity
          <select formControlName="localEntity">
            <option *ngFor="let entity of service.localEntities"
                    [value]="entity.name">{{ entity.name }} [id={{ entity.id }}]</option>
          </select>
        </label>

        <app-breadcrumb-trail [showMargin]="false" *ngIf="breadcrumb$ | async as breadcrumb">
          <app-breadcrumb icon="account_tree" [action]="true"
                          (click)="changeLocalPrefix('')"></app-breadcrumb>
          <app-breadcrumb *ngFor="let item of breadcrumb"
                          [label]="item.name"
                          [action]="true"
                          (click)="changeLocalPrefix(item.prefix)"></app-breadcrumb>
        </app-breadcrumb-trail>
      </div>

      <div class="local-column table-wrapper" [ngClass]="{'no-filelist': !service.capabilities.fileList}">
        <ng-container *ngIf="selectedBucket$ | async as bucket">
          <app-object-selector #selector
                               formControlName="localFilenames"
                               [bucket]="bucket"
                               [isMultiSelect]="true"
                               [foldersOnly]="false"
                               [noSelect]="true"
                               [allowFolderSelection]="true"
                               (prefixChange)="updateLocalBreadcrumb($event)">
          </app-object-selector>
        </ng-container>
      </div>

      <div class="local-column footer">
        <div>
          <label>Local entity</label>
          {{ form.get("localEntity")?.value }}
        </div>
        <div>
          <label>Reliability</label>
          <label class="checkbox-label">
            <input type="checkbox" formControlName="reliable">Reliable
          </label>
        </div>

        <input type="text" formControlName="localFilenames" placeholder="Local filename"
               [value]="form.get('localFilenames')?.value">

        <button class="ya-button primary"
                *ngIf="service.capabilities.upload"
                [disabled]="!isUploadEnabled"
                (click)="startUpload()">UPLOAD <mat-icon>chevron_right</mat-icon></button>
      </div>

      <!-- REMOTE COLUMN -->
      <div class="remote-column header" [ngClass]="{'no-filelist': !service.capabilities.fileList}">
        <label class="table-caption">Remote Entity
          <select formControlName="remoteEntity">
            <option *ngFor="let entity of service.remoteEntities"
                    [value]="entity.name">{{ entity.name }} [id={{ entity.id }}]</option>
          </select>
        </label>

        <app-breadcrumb-trail [showMargin]="false" *ngIf="remoteBreadcrumb$ | async as breadcrumb">
          <app-breadcrumb icon="account_tree" [action]="true"
                          (click)="changeRemotePrefix('')"></app-breadcrumb>
          <app-breadcrumb *ngFor="let item of breadcrumb"
                          [label]="item.name"
                          [action]="true"
                          (click)="changeRemotePrefix(item.prefix)"></app-breadcrumb>
        </app-breadcrumb-trail>

        <a class="lastFileListTime mat-button mat-primary" title="Refresh file list" (click)="requestFileList()"
           *ngIf="service.capabilities.fileList">
          <mat-icon>refresh</mat-icon> {{ lastFileListTime$ | async | datetime }}
        </a>
      </div>

      <div class="remote-column table-wrapper" *ngIf="service.capabilities.fileList">
        <ng-container *ngIf="service.capabilities.fileList">
          <remote-file-selector #remoteSelector
                                formControlName="remoteFilenames"
                                [isMultiSelect]="true"
                                [foldersOnly]="false"
                                [noSelect]="true"
                                [allowFolderSelection]="true"
                                (prefixChange)="updateRemoteBreadcrumb($event)">
          </remote-file-selector>
        </ng-container>
      </div>


      <div class="remote-column footer">
        <button class="ya-button primary"
                *ngIf="service.capabilities.download"
                [disabled]="!isDownloadEnabled"
                (click)="startDownload()"><mat-icon>chevron_left</mat-icon> DOWNLOAD</button>

        <input type="text" formControlName="remoteFilenames" placeholder="Remote filename"
               [value]="form.get('remoteFilenames')?.value">

        <div>
          <label>Remote entity</label>
          {{ form.get("remoteEntity")?.value }}
        </div>
      </div>
    </div>

  </form>
</div>
