.DEAD-foreground {
	fill: black;
}
.DEAD-background {
	fill: #912CEE;
}

.DISABLED-foreground {
	fill: white; 
}
.DISABLED-background {
	fill: black; 
}

.UNDEFINED-foreground {
	fill: white; 
}
.UNDEFINED-background {
	fill: black; 
}


.IN_LIMITS-foreground {
	fill: black;
}
.IN_LIMITS-background {
	fill: #00FF00;
}

.NOMINAL_LIMIT_VIOLATION-foreground {
	fill: black;
}
.NOMINAL_LIMIT_VIOLATION-background {
	fill: yellow;
}

.DANGER_LIMIT_VIOLATION-foreground {
    fill: black;
}
.DANGER_LIMIT_VIOLATION-background {
    fill: red;
}


.STATIC-foreground {
    fill: black;
}
.STATIC-background {
    fill: cyan;
}

