<h2 mat-dialog-title>Update item</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="ya-form">
    <mat-tab-group animationDuration="0ms" class="small-tabs" [mat-stretch-tabs]="false">
      <mat-tab label="General">
        <div style="margin-top: 1em">
          <label>
            Name
            <br />
            <input cdkFocusRegionstart type="text" formControlName="name" style="width: 100%" />
          </label>
          <hr class="half-break" />
          <label>
            Tags
            <ya-help dialogTitle="Tags">
              Tags allow to categorise items per band. Bands only show items for which one of the
              tags is matching.
            </ya-help>
            <br />
            <ya-tag-select formControlName="tags" />
          </label>
          <hr class="half-break" />
          <label>
            Duration
            <ya-duration-input formControlName="duration" />
          </label>
          <div class="section-divider half-break">
            <mat-divider />
          </div>
          <label>
            Start
            <br />
            <ya-date-time-input formControlName="start" />
          </label>
        </div>
      </mat-tab>

      <mat-tab label="Styles">
        <div style="margin-top: 1em">
          <app-item-styles [form]="form" />
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button (click)="delete()">DELETE THIS ITEM</ya-button>
  <div style="flex: 1 1 auto"></div>
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="save()" [disabled]="!form.valid">SAVE</ya-button>
</mat-dialog-actions>
