<h2 mat-dialog-title>Update item</h2>

<mat-dialog-content>
  <ya-form [formGroup]="form">
    <mat-tab-group animationDuration="0ms" class="small-tabs" [mat-stretch-tabs]="false">
      <mat-tab label="General">
        <div style="margin-top: 1em">
          <ya-field label="Name">
            <input cdkFocusRegionstart type="text" formControlName="name" style="width: 100%" />
          </ya-field>

          <ya-field label="Tags">
            <ya-help dialogTitle="Tags">
              Tags allow to categorise items per band. Bands only show items for which one of the
              tags is matching.
            </ya-help>
            <ya-tag-select formControlName="tags" />
          </ya-field>

          <ya-field label="Duration">
            <ya-duration-input formControlName="duration" />
          </ya-field>

          <ya-field-divider />

          <ya-field label="Start">
            <ya-date-time-input formControlName="start" />
          </ya-field>
        </div>
      </mat-tab>

      <mat-tab label="Styles">
        <div style="margin-top: 1em">
          <app-item-styles [form]="form" />
        </div>
      </mat-tab>

      @if (data.item.activityDefinition; as activity) {
        <mat-tab label="Activity">
          <div style="margin-top: 1em">
            <dl class="dl-horizontal no-lead">
              <dt>Activity ID</dt>
              <dd>{{ activity.id || "-" }}</dd>
              <dt>Status</dt>
              <dd>{{ activity.status || "-" }}</dd>
              <dt>Started</dt>
              <dd>{{ (activity.start | datetime) || "-" }}</dd>
              <dt>Finished</dt>
              <dd>
                {{ (activity.stop | datetime) ?? "-" }}
                @if (activity.stop) {
                  ({{ activity.stop | deltaWith: activity.start }})
                }
              </dd>
              <dt>User</dt>
              <dd>{{ activity.startedBy || "-" }}</dd>
            </dl>
            <div class="section-divider">
              <mat-divider />
            </div>
            <dl class="dl-horizontal">
              <dt>Activity type</dt>
              <dd>{{ activity.type }}</dd>
              <dt>Arguments</dt>
              <dd></dd>
              @for (kv of activity.args | keyvalue; track kv) {
                <dt>&nbsp;&nbsp;{{ kv.key }}</dt>
                <dd>{{ kv.value | printObj }}</dd>
              }
            </dl>
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  </ya-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button (click)="delete()">DELETE THIS ITEM</ya-button>
  <div style="flex: 1 1 auto"></div>
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="save()" [disabled]="!form.valid">SAVE</ya-button>
</mat-dialog-actions>
