<app-instance-page *ngIf="algorithm$ | async as algorithm">
  <app-instance-toolbar>
    <ng-container *ngIf="(algorithm.qualifiedName | spaceSystemName) as spaceSystemName">
      <a routerLink="/algorithms"
         [queryParams]="{c: yamcs.context, filter: spaceSystemName}"
         class="ya-link ya-header-link">
        {{ spaceSystemName }}
      </a>/{{ algorithm.qualifiedName | shortName }}
      <ya-title-copy [text]="algorithm.qualifiedName" />
    </ng-container>
  </app-instance-toolbar>

  <nav #tabs mat-tab-nav-bar class="secondary" [mat-stretch-tabs]="false" [tabPanel]="tabPanel">
    <a mat-tab-link
       routerLink="summary"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive"
       [queryParams]="{c: yamcs.context}">
      Summary
    </a>
    <a mat-tab-link
       routerLink="trace"
       routerLinkActive #rlb="routerLinkActive"
       [active]="rlb.isActive"
       [queryParams]="{c: yamcs.context}"
       [disabled]="algorithm.scope !== 'GLOBAL'">
      Trace
    </a>
  </nav>

  <div class="tab-content-wrapper">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet />
    </mat-tab-nav-panel>
  </div>
</app-instance-page>
