<h2 mat-dialog-title>Select instance</h2>

<mat-dialog-content>
  <div class="filter-bar">
    <ya-search-filter
      [formControl]="filterControl"
      placeholder="Filter instances"
      width="100%"
      (onArrowDown)="selectNext()"
      (onArrowUp)="selectPrevious()"
      (onEnter)="applySelection()" />
  </div>
  <div class="scrollpane">
    <table mat-table [dataSource]="dataSource" class="ya-data-table" style="width: 100%">
      <ng-container cdkColumnDef="selected">
        <th mat-header-cell *cdkHeaderCellDef class="iconcol"></th>
        <td mat-cell *cdkCellDef="let row" class="iconcol">
          @if (yamcs.instance === row.name) {
            <mat-icon matTooltip="Current">check</mat-icon>
          }
        </td>
      </ng-container>

      <ng-container cdkColumnDef="name">
        <th mat-header-cell *cdkHeaderCellDef>Instance</th>
        <td mat-cell *cdkCellDef="let row">
          <strong>{{ row.name }}</strong>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="processor">
        <th mat-header-cell *cdkHeaderCellDef>Default processor</th>
        <td mat-cell *cdkCellDef="let row">
          {{ row | defaultProcessor | nvl: "-" }}
        </td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *cdkRowDef="let row; columns: displayedColumns"
        [class.selected]="selection.isSelected(row)"
        (click)="selection.toggle(row)"></tr>
    </table>

    @if (isCreateInstanceEnabled()) {
      <a mat-button routerLink="/create-instance" mat-dialog-close color="primary">NEW INSTANCE</a>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <mat-paginator [pageSize]="100" [hidePageSize]="true" [showFirstLastButtons]="true" />
  <div style="flex: 1 1 auto"></div>

  <ya-button mat-dialog-close>CANCEL</ya-button>

  <ya-button appearance="primary" [disabled]="selection.isEmpty()" (click)="applySelection()">
    SELECT
  </ya-button>
</mat-dialog-actions>
