<app-instance-page>
  <app-instance-toolbar>
    Gaps
    &nbsp;&nbsp;&nbsp;
    <button mat-button
            color="primary"
            (click)="openPlaybackDialog()">
      <mat-icon>redo</mat-icon>
      Request playback
    </button>

    <button mat-icon-button
            matTooltip="Reload data"
            color="primary"
            (click)="loadData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </app-instance-toolbar>

  <div class="panel-content">
    <app-gaps-page-tabs />
    <form [formGroup]="filterForm">
      <div class="filter-bar" style="margin-top: 16px">
        <ya-multi-select [options]="apidOptions$ | async"
                         formControlName="apid"
                         emptyOption="Any APID" />
        <ya-select #intervalSelect
                   [options]="intervalOptions"
                   icon="access_time"
                   formControlName="interval" />
        <ng-container *ngIf="filterForm.value['interval'] === 'CUSTOM'">
          <ya-date-time-input formControlName="customStart" />
          <ya-date-time-input formControlName="customStop" />
          <button (click)="applyCustomDates()"
                  class="ya-button"
                  [disabled]="filterForm.invalid">Apply</button>
        </ng-container>
      </div>
    </form>

    <ng-container *ngIf="filterForm.valid">
      <ya-empty-message *ngIf="!dataSource.data.length">
        No data for the current filter criteria.
      </ya-empty-message>
      <ya-empty-message *ngIf="hasMore$ | async">
        Too many results. Please narrow down the request range.
      </ya-empty-message>
    </ng-container>

    <table mat-table
           [dataSource]="dataSource"
           class="ya-data-table expand"
           *ngIf="!(hasMore$ | async) && dataSource.data.length">

      <ng-container cdkColumnDef="select">
        <th mat-header-cell *cdkHeaderCellDef class="checkbox">
          <input type="checkbox" (change)="$event ? masterToggle() : null"
                 [checked]="selection.hasValue() && isAllSelected()">
        </th>
        <td mat-cell *cdkCellDef="let gap" class="checkbox">
          <input type="checkbox" (click)="$event.stopPropagation()"
                 (change)="$event ? selection.toggle(gap) : null"
                 [checked]="selection.isSelected(gap)"
                 [disabled]="!gap.start || !gap.stop">
        </td>
      </ng-container>

      <ng-container matColumnDef="apid">
        <th mat-header-cell *matHeaderCellDef>APID</th>
        <td mat-cell *matCellDef="let gap">
          {{ gap.apid }}
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let gap">
          {{ (gap.start | datetime) || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stop">
        <th mat-header-cell *matHeaderCellDef>Stop</th>
        <td mat-cell *matCellDef="let gap">
          {{ (gap.stop | datetime) || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="startSequence">
        <th mat-header-cell *matHeaderCellDef>Start sequence</th>
        <td mat-cell *matCellDef="let gap">
          {{ gap.startSequenceCount || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stopSequence">
        <th mat-header-cell *matHeaderCellDef>Stop sequence</th>
        <td mat-cell *matCellDef="let gap">
          {{ gap.stopSequenceCount || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef class="vdiv">Duration</th>
        <td mat-cell *matCellDef="let gap" class="vdiv">
          {{ (gap.stop | deltaWith:gap.start:false) || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="packetCount">
        <th mat-header-cell *matHeaderCellDef>Missing packets</th>
        <td mat-cell *matCellDef="let gap">
          {{ gap.missingPacketCount || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="expand"></th>
        <td mat-cell *matCellDef="let row">
          <ya-more *ngIf="row.start && row.stop">
            <button mat-menu-item
                    (click)="openPlaybackDialog(row)">
              Request playback
            </button>
          </ya-more>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          [class.selected]="selection.isSelected(row)"
          (click)="toggleOne(row)"></tr>
    </table>
  </div>
</app-instance-page>
