<app-entry-label icon="toll" text="Parameters:" />
@if (entry(); as entry) {
  <table mat-table [dataSource]="dataSource" class="ya-data-table no-frame">
    <ng-container matColumnDef="parameter">
      <td mat-cell *matCellDef="let item" style="width: 400px">
        {{ item.parameter }}
      </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <td mat-cell *matCellDef="let item" style="width: 80px">
        @if (item.pval?.engValue; as value) {
          <ya-alarm-level [level]="item.pval.monitoringResult" />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <td mat-cell *matCellDef="let item">
        @if (item.pval?.engValue; as value) {
          <ya-parameter-status [pval]="item.pval">
            <ya-value [value]="item.pval.engValue" [alwaysExpand]="true" />
          </ya-parameter-status>
        } @else {
          -
        }
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
}
