<h2 mat-dialog-title>Create event</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="ya-form">
    <label>
      Message
      <textarea formControlName="message" rows="3"></textarea>
    </label>
    <br>
    <label>
      Severity<br>
      <ya-select formControlName="severity" [options]="severityOptions" />
    </label>
    <br>
    <label>
      Event time
      <ya-date-time-input formControlName="time" step="1" />
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="ya-button" mat-dialog-close>CANCEL</button>
  <button class="ya-button primary" (click)="save()" [disabled]="!form.valid">SAVE</button>
</mat-dialog-actions>
