<h2 mat-dialog-title>Create event</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="ya-form">
    <label>
      Message
      <textarea formControlName="message" rows="3"></textarea>
    </label>
    <br />
    <label>
      Severity
      <br />
      <ya-select formControlName="severity" [options]="severityOptions" />
    </label>
    <br />
    <label>
      Event time
      <ya-date-time-input formControlName="time" step="1" [showNow]="true" />
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="save()" [disabled]="!form.valid">SAVE</ya-button>
</mat-dialog-actions>
