@for (column of table.keyColumn; track column) {
  <div class="block-title">
    <mat-icon class="icon12" style="color: gold" matTooltip="Key Column">vpn_key</mat-icon>
    {{ column.name }}
  </div>
  <div class="block">
    {{ (record.column | columnValue: column.name | value) || "-" }}
  </div>
}

@for (column of table.valueColumn; track column) {
  <div class="block-title">{{ column.name }}</div>
  <div class="block">
    @if (
      column.type !== "BINARY" &&
      (column.type === "PROTOBUF(com.google.protobuf.Struct)" ||
        !column.type.startsWith("PROTOBUF"))
    ) {
      {{ (record.column | columnValue: column.name | value) || "-" }}
    }
    @if (
      column.type === "BINARY" ||
      (column.type !== "PROTOBUF(com.google.protobuf.Struct)" && column.type.startsWith("PROTOBUF"))
    ) {
      @if (record.column | columnValue: column.name; as value) {
        <app-hex [base64String]="value.binaryValue" />
      } @else {
        -
      }
    }
  </div>
}

<p>&nbsp;</p>
