@if (entry$ | async; as entry) {
  @if (offset) {
    <dl class="dl-horizontal no-lead no-trail">
      <dt>Entry</dt>
      <dd>{{ parameter.qualifiedName | shortName }}{{ offset }}</dd>

      <dt>System</dt>
      <dd>
        @if (parameter.qualifiedName | spaceSystemName; as spaceSystemName) {
          <a
            routerLink="/mdb/parameters"
            [queryParams]="{ c: yamcs.context, filter: spaceSystemName }"
            class="ya-link">
            {{ spaceSystemName }}
          </a>
        }
      </dd>

      @for (alias of entry.alias; track alias) {
        <dt>{{ alias.namespace }}</dt>
        <dd>{{ alias.name }}</dd>
      }

      <dt>Type</dt>
      <dd>
        @if (entry.type?.engType; as engType) {
          <span class="mono">
            {{ engType }}
          </span>
        } @else {
          -
        }
      </dd>

      <dt>Source</dt>
      <dd>{{ (parameter.dataSource | titlecase) || "-" }}</dd>

      <dt>Short description</dt>
      <dd>
        {{ entry.shortDescription || "-" }}
      </dd>

      <dt>Long description</dt>
      <dd>
        @if (entry.longDescription) {
          <app-markdown [text]="entry.longDescription" />
        } @else {
          -
        }
      </dd>
    </dl>
  }

  <dl class="dl-horizontal no-trail" [class.no-lead]="!offset">
    @if (offset) {
      <dt>Host parameter</dt>
      <dd>
        <a
          [routerLink]="['/mdb/parameters', parameter.qualifiedName]"
          [queryParams]="{ c: yamcs.context }"
          class="ya-link">
          {{ parameter.qualifiedName | shortName }}
        </a>
      </dd>
    }

    @if (!offset) {
      <dt>Parameter</dt>
      <dd>{{ parameter.qualifiedName | shortName }}</dd>
    }

    @if (!offset) {
      <dt>System</dt>
      <dd>
        @if (parameter.qualifiedName | spaceSystemName; as spaceSystemName) {
          <a
            routerLink="/mdb/parameters"
            [queryParams]="{ c: yamcs.context, filter: spaceSystemName }"
            class="ya-link">
            {{ spaceSystemName }}
          </a>
        }
      </dd>
    }

    @for (alias of parameter.alias; track alias) {
      <dt>{{ alias.namespace }}</dt>
      <dd>{{ alias.name }}</dd>
    }

    <dt>Type</dt>
    <dd>
      @if (parameter.type?.engType; as engType) {
        <span class="mono">
          {{ engType }}
        </span>
      } @else {
        -
      }
    </dd>

    <dt>Units</dt>
    <dd>
      @if (parameter.type?.unitSet; as unitSet) {
        {{ unitSet | units }}
      } @else {
        -
      }
    </dd>

    @if (parameter.type?.signed !== undefined) {
      <dt>Signed</dt>
      <dd>
        {{ parameter.type?.signed ?? "-" }}
      </dd>
    }
    @if (parameter.type?.sizeInBits !== undefined) {
      <dt>Size in bits</dt>
      <dd>
        {{ parameter.type?.sizeInBits }}
      </dd>
    }

    @if (!offset) {
      <dt>Source</dt>
      <dd>{{ (parameter.dataSource | titlecase) || "-" }}</dd>
    }

    <dt>Short description</dt>
    <dd>
      {{ parameter.shortDescription || "-" }}
    </dd>

    <dt>Long description</dt>
    <dd>
      @if (parameter.longDescription) {
        <app-markdown [text]="parameter.longDescription" />
      } @else {
        -
      }
    </dd>
  </dl>

  @if ($any(entry).usedBy?.algorithm || $any(entry).usedBy?.container) {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Used By</h4>
    <table yaDataTable>
      <tr>
        <th>Type</th>
        <th>Ref</th>
      </tr>
      @for (algorithm of $any(entry).usedBy?.algorithm; track algorithm) {
        <tr>
          <td>Algorithm</td>
          <td>
            <a
              [routerLink]="['/mdb/algorithms/', algorithm.qualifiedName]"
              [queryParams]="{ c: yamcs.context }">
              {{ algorithm.qualifiedName }}
            </a>
          </td>
        </tr>
      }
      @for (container of $any(entry).usedBy?.container; track container) {
        <tr>
          <td>Container</td>
          <td>
            <a
              [routerLink]="['/mdb/containers/', container.qualifiedName]"
              [queryParams]="{ c: yamcs.context }">
              {{ container.qualifiedName }}
            </a>
          </td>
        </tr>
      }
    </table>
    <p>&nbsp;</p>
  }

  @if (entry.type?.dataEncoding; as dataEncoding) {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Data Encoding</h4>
    <dl class="dl-horizontal no-trail">
      <dt>Size in bits</dt>
      <dd>{{ dataEncoding?.sizeInBits | nvl: "-" }}</dd>
      @if (dataEncoding?.littleEndian !== undefined) {
        <dt>Byte order</dt>
        <dd>
          @if (dataEncoding?.littleEndian !== undefined) {
            {{ dataEncoding?.littleEndian ? "Little Endian" : "Big Endian" }}
          }
          @if (dataEncoding?.littleEndian === undefined) {
            -
          }
        </dd>
      }
      <dt>Encoding</dt>
      <dd>{{ dataEncoding?.encoding || "-" }}</dd>
    </dl>
  }

  @if (entry.type?.engType === "integer" || entry.type?.engType === "float") {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Calibration</h4>
    <app-parameter-calibration [ptype]="entry.type" />
    <p>&nbsp;</p>
  }

  @if (entry.type?.engType === "enumeration") {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Enumeration</h4>
    @if (entry.type?.engType === "enumeration") {
      <table yaDataTable>
        <tr>
          <th style="width: 50px">Value</th>
          <th style="width: 100px">Label</th>
          <th style="width: 300px">Description</th>
          <th>Alarm level (default)</th>
          @for (context of entry.type?.contextAlarm; track context) {
            <th>
              @for (comparison of context.comparison; track comparison; let first = $first) {
                @if (!first) {
                  ,
                }
                <a
                  [routerLink]="['/mdb/parameters/', comparison.parameter.qualifiedName]"
                  [queryParams]="{ c: yamcs.context }"
                  class="secundary">
                  {{ comparison.parameter.name }}
                </a>
                {{ comparison.operator | operator }}
                {{ comparison.value }}
              }
            </th>
          }
        </tr>
        @for (enumValue of entry.type?.enumValue; track enumValue) {
          <tr>
            <td style="white-space: nowrap">{{ enumValue.value }}</td>
            <td style="white-space: nowrap">{{ enumValue.label }}</td>
            <td>{{ enumValue.description || "-" }}</td>
            <td>
              @if (getDefaultAlarmLevel(entry.type!, enumValue); as level) {
                <app-alarm-level [level]="level" [grayscale]="true" />
                {{ level }}
              } @else {
                <span>-</span>
              }
            </td>
            @for (context of entry.type!.contextAlarm; track context) {
              <td>
                @if (getEnumerationAlarmLevel(context, enumValue); as level) {
                  <app-alarm-level [level]="level" [grayscale]="true" />
                  {{ level }}
                } @else {
                  <span>-</span>
                }
              </td>
            }
          </tr>
        }
      </table>
    }
    <p>&nbsp;</p>
  }

  @if (entry.type?.engType === "integer" || entry.type?.engType === "float") {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Alarm Info</h4>
    @if (entry.type?.defaultAlarm || entry.type?.contextAlarm) {
      @if (entry.type?.defaultAlarm; as alarm) {
        <dl class="dl-horizontal">
          <dt>Min. violations</dt>
          <dd>{{ alarm.minViolations }}</dd>
        </dl>
        <table yaDataTable>
          <tr>
            <th>Alarm level (default)</th>
            <th>Range</th>
          </tr>
          @for (range of alarm.staticAlarmRanges; track range) {
            <tr>
              <td>
                <app-alarm-level [level]="range.level" [grayscale]="true" />
                {{ range.level }}
              </td>
              <td>
                @if (
                  range.minInclusive !== undefined ||
                  range.minExclusive !== undefined ||
                  range.maxInclusive !== undefined ||
                  range.maxExclusive !== undefined
                ) {
                  <ya-interval
                    [left]="range.minInclusive | nvl: range.minExclusive"
                    [right]="range.maxInclusive | nvl: range.maxExclusive"
                    [leftInclusive]="range.minInclusive !== undefined"
                    [rightInclusive]="range.maxInclusive !== undefined"
                    [outside]="true" />
                } @else {
                  -
                }
              </td>
            </tr>
          }
        </table>
      }
      @for (contextAlarm of entry.type?.contextAlarm; track contextAlarm; let first = $first) {
        @if (!first) {
          <p>&nbsp;</p>
        }
        <h5>
          Context:
          <code>{{ contextAlarm.context }}</code>
        </h5>
        <dl class="dl-horizontal">
          <dt>Min. violations</dt>
          <dd>{{ contextAlarm.alarm.minViolations }}</dd>
        </dl>
        <table yaDataTable>
          <tr>
            <th>Level</th>
            <th>Range</th>
          </tr>
          @for (range of contextAlarm.alarm.staticAlarmRanges; track range) {
            <tr>
              <td>
                <app-alarm-level [level]="range.level" [grayscale]="true" />
                {{ range.level }}
              </td>
              <td>
                @if (
                  range.minInclusive !== undefined ||
                  range.minExclusive !== undefined ||
                  range.maxInclusive !== undefined ||
                  range.maxExclusive !== undefined
                ) {
                  <ya-interval
                    [left]="range.minInclusive | nvl: range.minExclusive"
                    [right]="range.maxInclusive | nvl: range.maxExclusive"
                    [leftInclusive]="range.minInclusive !== undefined"
                    [rightInclusive]="range.maxInclusive !== undefined"
                    [outside]="true" />
                } @else {
                  -
                }
              </td>
            </tr>
          }
        </table>
      }
    } @else {
      None
    }

    <p>&nbsp;</p>
  }

  @if (entry.type?.engType === "time") {
    <div class="section-divider">
      <mat-divider />
    </div>
    <h4>Time Info</h4>
    <dl class="dl-horizontal">
      @if ((entry.type?.absoluteTimeInfo)!.epoch) {
        <dt>Epoch</dt>
        <dd>{{ (entry.type?.absoluteTimeInfo)!.epoch }}</dd>
      }
      @if ((entry.type?.absoluteTimeInfo)!.offsetFrom) {
        <dt>Offset from</dt>
        <dd>
          <a
            [routerLink]="[
              '/mdb/parameters/',
              (entry.type?.absoluteTimeInfo)!.offsetFrom.qualifiedName,
            ]"
            [queryParams]="{ c: yamcs.context }"
            class="ya-link">
            {{ (entry.type?.absoluteTimeInfo)!.offsetFrom.qualifiedName }}
          </a>
        </dd>
      }
      @if ((entry.type?.absoluteTimeInfo)!.offset !== undefined) {
        <dt>Offset</dt>
        <dd>{{ (entry.type?.absoluteTimeInfo)!.offset }}</dd>
      }
      @if ((entry.type?.absoluteTimeInfo)!.scale !== undefined) {
        <dt>Scale</dt>
        <dd>{{ (entry.type?.absoluteTimeInfo)!.scale }}</dd>
      }
      @if ((entry.type?.absoluteTimeInfo)!.initialValue !== undefined) {
        <dt>Initial value</dt>
        <dd>{{ (entry.type?.absoluteTimeInfo)!.initialValue }}</dd>
      }
    </dl>
  }

  @if (entry.type?.engType === "aggregate") {
    <div class="section-divider">
      <mat-divider />
    </div>

    <h4>Members</h4>
    <table yaDataTable>
      <tr>
        <th>Member</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
      @for (member of entry.type?.member; track member) {
        <tr>
          @if ((offset || "") + "." + member.name; as memberOffset) {
            <td>
              <a
                [routerLink]="['/mdb/parameters', parameter.qualifiedName + memberOffset]"
                [queryParams]="{ c: yamcs.context }">
                {{ member.name }}
              </a>
            </td>
            <td>
              @if ((parameter | entryForOffset: memberOffset)?.type?.engType; as engType) {
                <span class="mono">
                  {{ engType }}
                </span>
              } @else {
                -
              }
            </td>
            <td>{{ (parameter | entryForOffset: memberOffset)?.shortDescription || "-" }}</td>
          }
        </tr>
      }
    </table>
  }
}
