@if (option(); as option) {
  <div class="label">
    <div class="meta" [class.error]="err.invalid$ | async">
      <div class="item">boolean</div>
    </div>
    {{ option.name }}
    @if (!option.required) {
      <span class="hint">(optional)</span>
    }
    @if (option.description?.length) {
      <ya-help>
        @for (description of option.description; track description) {
          <p>{{ description }}</p>
        }
      </ya-help>
    }
    <ya-errors #err [controlName]="option.name" />
    <br />
    <ng-container [formGroup]="formGroup">
      <input type="radio" formControlName="enabled" value="true" /> True
      <input type="radio" formControlName="enabled" value="false" /> False
    </ng-container>
  </div>
}
