<span #top></span>
<ng-container *ngIf="breadcrumb$ | async as breadcrumb">
  <app-breadcrumb-trail>
    <ng-container *ngIf="breadcrumb.length">
      <app-breadcrumb icon="account_tree" [action]="true"
                      (click)="changeSystem('')"></app-breadcrumb>
      <app-breadcrumb *ngFor="let item of breadcrumb"
                      [action]="true"
                      (click)="changeSystem(item.system)"
                      [label]="item.name"></app-breadcrumb>
    </ng-container>
    <app-search-filter #searchFilter
                       [formControl]="filterControl"
                       placeholder="Search by name"
                       icon="search"
                       [class.pullRight]="breadcrumb.length">
    </app-search-filter>
  </app-breadcrumb-trail>
</ng-container>
<table mat-table
       *ngIf="dataSource"
       [dataSource]="dataSource"
       class="ya-data-table"
       style="width: 100%">

  <ng-container cdkColumnDef="name">
    <th mat-header-cell *cdkHeaderCellDef style="width: 400px">Name</th>
    <td mat-cell *cdkCellDef="let item" class="primary-td">
      <ng-container *ngIf="item.spaceSystem">
        <mat-icon class="icon12" style="vertical-align: middle">folder</mat-icon>
        <a href="" (click)="selectRow(item)">
          {{ item.name | filename }}/
        </a>
      </ng-container>
      <ng-container *ngIf="!item.spaceSystem">
        <mat-icon class="icon12" style="vertical-align: middle">rss_feed</mat-icon>
        <a href="" (click)="selectRow(item)">
          <ng-container *ngIf="!system">{{ item.command.qualifiedName }}</ng-container>
          <ng-container *ngIf="system">{{ item.command.qualifiedName | slice:(system!.length + 1) }}
          </ng-container>
        </a>
      </ng-container>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="description">
    <th mat-header-cell *cdkHeaderCellDef>Description</th>
    <td mat-cell *cdkCellDef="let item">
      {{ item.command?.shortDescription || '-' }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="significance">
    <th mat-header-cell *cdkHeaderCellDef style="width: 1px">Significance</th>
    <td mat-cell *cdkCellDef="let item">
      <ng-container *ngIf="(item.command | effectiveSignificance) as significance; else dash">
        <app-significance-level [level]="significance.consequenceLevel"></app-significance-level>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="pageSize"
               [hidePageSize]="true"
               [showFirstLastButtons]="true"
               [length]="dataSource.totalSize$ | async">
</mat-paginator>

<ng-template #dash>
  -
</ng-template>
