<div class="container-fluid" ng-controller="DisplaysTemplateController as templateVm">
  <div ng-if="!standalone" class="sidebar" style="width: 230px;">
    <ul class="nav nav-sidebar">
      <li ng-repeat="item in templateVm.displays">
        <a ng-if="item.name" href="/{{ yamcsInstance }}/displays/{{ item.display }}">{{ item.name }}</a>
        <a ng-if="item.group"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;{{ item.group }}</a>
        <ul ng-if="item.displays.length" class="nav nav-sidebar-sub">
          <li ng-repeat="subitem in item.displays">
            <a ng-if="subitem.name" href="/{{ yamcsInstance }}/displays/{{ subitem.display }}">{{ subitem.name }}</a>
            <a ng-if="subitem.group"><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;{{ subitem.group }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="main" ng-class="{ 'with-sidebar': !standalone }">
    <uib-alert ng-repeat="msg in shell.messages" type="{{ msg.type }}" close="shell.closeMessage($index)">{{ msg.msg }}</uib-alert>
    <h1 class="page-header" ng-if="!standalone && headerTitle">
      {{ headerTitle }}
      <!--button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-new-window"></span>
      </button-->
    </h1>
    <ng-transclude></ng-transclude>
  </div>
</div>
