<div class="block-title" style="padding-top: 0">ID</div>
<div class="block">
  {{ command.id }}
</div>

<div class="block-title">Command</div>
<div class="block command-text">
  {{ command.commandName }}
  <app-command-arguments [command]="command" />
</div>

<ng-container *ngIf="command.unprocessedBinary && (command.unprocessedBinary !== command.binary)">
  <div class="block-title">
    Unprocessed binary
    <ya-more icon="more_horiz">
      <button mat-menu-item (click)="copyHex(command.unprocessedBinary)">
        Copy Hex
      </button>
      <button mat-menu-item (click)="copyBinary(command.unprocessedBinary)">
        Copy Binary
      </button>
    </ya-more>
  </div>
  <div class="block no-print" style="margin-top: 4px">
    <app-hex [base64String]="command.unprocessedBinary" />
  </div>
  <div class="block print-only">
    <pre>{{ (command.unprocessedBinary | hexDump) || '-' }}</pre>
  </div>
</ng-container>

<ng-container *ngIf="command.binary">
  <div class="block-title">
    Binary
    <ya-more icon="more_horiz">
      <button mat-menu-item (click)="copyHex(command.binary)">
        Copy Hex
      </button>
      <button mat-menu-item (click)="copyBinary(command.binary)">
        Copy Binary
      </button>
    </ya-more>
  </div>
  <div class="block no-print" style="margin-top: 4px">
    <app-hex [base64String]="command.binary" />
  </div>
  <div class="block print-only">
    <pre>{{ (command.binary | hexDump) || '-' }}</pre>
  </div>
</ng-container>

<mat-divider style="margin-top: 1em; margin-bottom: 1em" />

<div class="block-title" style="padding-top: 0">Time</div>
<div class="block">
  {{ command.generationTime | datetime }}
</div>

<div class="block-title">Issuer</div>
<div class="block">
  {{ command.username }}<ng-container *ngIf="command.origin">&#64;{{ command.origin }}
  </ng-container>
</div>

<ng-container *ngIf="command.queue">
  <div class="block-title">Queue</div>
  <div class="block">
    {{ command.queue || '-' }}
  </div>
</ng-container>

<ng-container *ngIf="command.comment">
  <mat-divider style="margin-top: 1em; margin-bottom: 1em" />
  <div class="block-title" style="padding-top: 0">Comment</div>
  <div class="block">
    {{ command.comment }}
  </div>
</ng-container>

<ng-container *ngIf="command.extra.length">
  <mat-divider style="margin-top: 1em; margin-bottom: 1em" />
  <ng-container *ngFor="let extra of command.extra; let first=first">
    <div class="block-title" [class.first]="first">
      {{ extra.name }}
      <ya-more *ngIf="extra.value.type === 'BINARY'" icon="more_horiz">
        <button mat-menu-item (click)="copyHex(extra.value.binaryValue)">
          Copy Hex
        </button>
        <button mat-menu-item (click)="copyBinary(extra.value.binaryValue)">
          Copy Binary
        </button>
      </ya-more>
    </div>
    <ng-container [ngSwitch]="extra.value.type">
      <ng-container *ngSwitchCase="'BINARY'">
        <div class="block no-print" style="margin-top: 4px">
          <app-hex [base64String]="extra.value.binaryValue" />
        </div>
        <div class="block print-only">
          <pre>{{ (extra.value.binaryValue | hexDump) || '-' }}</pre>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="block">
          {{ extra.value | value }}
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<mat-divider style="margin-top: 1em; margin-bottom: 1em" />
<div class="block-title" style="padding-top: 0">Yamcs acknowledgments</div>
<div class="block">
  <app-yamcs-acknowledgments-table [command]="command"
                                   [showIcons]="showIcons" />
</div>

<ng-container *ngIf="command.extraAcks.length">
  <div class="block-title">Extra acknowledgments</div>
  <div class="block">
    <app-extra-acknowledgments-table [command]="command"
                                     [showIcons]="showIcons" />
  </div>
</ng-container>

<ng-container *ngIf="command.completed?.returnValue as value">
  <mat-divider style="margin-top: 1em; margin-bottom: 1em" />
  <div class="block-title" style="padding-top: 0">
    Return value
    <ya-more *ngIf="value.type === 'BINARY'" icon="more_horiz">
      <button mat-menu-item (click)="copyHex(value.binaryValue)">
        Copy Hex
      </button>
      <button mat-menu-item (click)="copyBinary(value.binaryValue)">
        Copy Binary
      </button>
    </ya-more>
  </div>
  <ng-container [ngSwitch]="value.type">
    <ng-container *ngSwitchCase="'BINARY'">
      <div class="block no-print" style="margin-top: 4px">
        <app-hex [base64String]="value.binaryValue" />
      </div>
      <div class="block print-only">
        <pre>{{ (value.binaryValue | hexDump) || '-' }}</pre>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'STRING'">
      <div class="block">
        <pre style="margin: 0; line-height: 1em">{{ value.stringValue }}</pre>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="block">
        {{ value | value }}
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<div class="block-title">Completion</div>
<div class="block">
  <ng-container *ngIf="command.completed?.status === 'OK'">SUCCESS</ng-container>
  <ng-container *ngIf="command.completed?.status === 'NOK'">
    FAILURE: {{ command.completed?.message }}
  </ng-container>
  <ng-container *ngIf="!command.completed">-</ng-container>
</div>

<ng-container *ngFor="let upstream of command.cascadedRecordsByPrefix | keyvalue">
  <mat-divider style="margin-top: 1em; margin-bottom: 1em" />
  <div class="block-title" style="padding-top: 0">{{ upstream.key | cascadingPrefix }} acknowledgments</div>
  <div class="block">
    <app-yamcs-acknowledgments-table [command]="upstream.value"
                                     [showIcons]="showIcons" />
  </div>

  <ng-container *ngIf="upstream.value.extraAcks.length">
    <div class="block-title">{{ upstream.key | cascadingPrefix }} extra acknowledgments</div>
    <div class="block">
      <app-extra-acknowledgments-table [command]="upstream.value"
                                       [showIcons]="showIcons" />
    </div>
  </ng-container>

  <div class="block-title">{{ upstream.key | cascadingPrefix }} completion</div>
  <div class="block">
    <ng-container *ngIf="upstream.value.completed?.status === 'OK'">SUCCESS</ng-container>
    <ng-container *ngIf="upstream.value.completed?.status === 'NOK'">
      FAILURE: {{ upstream.value.completed?.message }}
    </ng-container>
    <ng-container *ngIf="!upstream.value.completed">-</ng-container>
  </div>
</ng-container>
