<ya-attr-list>
  <ya-attr label="ID">
    {{ command.id }}
  </ya-attr>

  <ya-attr label="Command">
    {{ command.commandName }}
    <app-command-arguments [command]="command" />
  </ya-attr>

  @if (command.unprocessedBinary && command.unprocessedBinary !== command.binary) {
    <ya-attr>
      <ng-template ya-attr-label>
        Unprocessed binary
        <ya-more icon="more_horiz" yaPrintZoneHide>
          <button mat-menu-item (click)="copyHex(command.unprocessedBinary)">Copy hex</button>
          <button mat-menu-item (click)="copyBinary(command.unprocessedBinary)">Copy binary</button>
        </ya-more>
      </ng-template>
      <app-hex [base64String]="command.unprocessedBinary" />
    </ya-attr>
  }

  @if (command.binary) {
    <ya-attr>
      <ng-template ya-attr-label>
        Binary
        <ya-more icon="more_horiz" yaPrintZoneHide>
          <button mat-menu-item (click)="copyHex(command.binary)">Copy hex</button>
          <button mat-menu-item (click)="copyBinary(command.binary)">Copy binary</button>
        </ya-more>
      </ng-template>
      <app-hex [base64String]="command.binary" />
    </ya-attr>
  }

  <ya-attr-divider />

  <ya-attr label="Time">
    {{ command.generationTime | datetime }}
  </ya-attr>

  <ya-attr label="Issuer">
    @if (command.origin) {
      {{ command.username }}&#64;{{ command.origin }}
    } @else {
      {{ command.username }}
    }
  </ya-attr>

  @if (command.queue) {
    <ya-attr label="Queue">
      {{ command.queue || "-" }}
    </ya-attr>
  }

  @if (command.comment) {
    <ya-attr-divider />
    <ya-attr label="Comment">
      {{ command.comment }}
    </ya-attr>
  }

  @if (command.extra.length) {
    <ya-attr-divider />
    @for (extra of command.extra; track extra.name; let first = $first) {
      <ya-attr>
        <ng-template ya-attr-label>
          {{ extra.name }}
          @if (extra.value.type === "BINARY") {
            <ya-more icon="more_horiz" yaPrintZoneHide>
              <button mat-menu-item (click)="copyHex(extra.value.binaryValue!)">Copy hex</button>
              <button mat-menu-item (click)="copyBinary(extra.value.binaryValue!)">
                Copy binary
              </button>
            </ya-more>
          }
        </ng-template>

        @switch (extra.value.type) {
          @case ("BINARY") {
            <app-hex [base64String]="extra.value.binaryValue" />
          }
          @default {
            {{ extra.value | value }}
          }
        }
      </ya-attr>
    }
  }

  <ya-attr-divider />
  <ya-attr label="Yamcs acknowledgments">
    <app-yamcs-acknowledgments-table [command]="command" [showIcons]="showIcons" />
  </ya-attr>

  @if (command.extraAcks.length) {
    <ya-attr label="Extra acknowledgments">
      <app-extra-acknowledgments-table [command]="command" [showIcons]="showIcons" />
    </ya-attr>
  }

  @if (command.completed?.returnValue; as value) {
    <ya-attr-divider />
    <ya-attr>
      <ng-template ya-attr-label>
        Return value
        @if (value.type === "BINARY") {
          <ya-more icon="more_horiz" yaPrintZoneHide>
            <button mat-menu-item (click)="copyHex(value.binaryValue!)">Copy hex</button>
            <button mat-menu-item (click)="copyBinary(value.binaryValue!)">Copy binary</button>
          </ya-more>
        }
      </ng-template>

      @switch (value.type) {
        @case ("BINARY") {
          <app-hex [base64String]="value.binaryValue" />
        }
        @case ("STRING") {
          <pre style="margin: 0; line-height: 1em">{{ value.stringValue }}</pre>
        }
        @default {
          {{ value | value }}
        }
      }
    </ya-attr>
  }

  <ya-attr label="Completion">
    @if (command.completed?.status === "OK") {
      SUCCESS
    } @else if (command.completed?.status === "NOK") {
      FAILURE: {{ command.completed?.message }}
    } @else {
      -
    }
  </ya-attr>

  @for (upstream of command.cascadedRecordsByPrefix | keyvalue; track upstream.key) {
    <ya-attr-divider />
    <ya-attr>
      <ng-template ya-attr-label>{{ upstream.key | cascadingPrefix }} acknowledgments</ng-template>
      <app-yamcs-acknowledgments-table [command]="upstream.value" [showIcons]="showIcons" />
    </ya-attr>

    @if (upstream.value.extraAcks.length) {
      <ya-attr>
        <ng-template ya-attr-label>
          {{ upstream.key | cascadingPrefix }} extra acknowledgments
        </ng-template>
        <app-extra-acknowledgments-table [command]="upstream.value" [showIcons]="showIcons" />
      </ya-attr>
    }

    <ya-attr>
      <ng-template ya-attr-label>{{ upstream.key | cascadingPrefix }} completion</ng-template>

      @if (upstream.value.completed?.status === "OK") {
        SUCCESS
      } @else if (upstream.value.completed?.status === "NOK") {
        FAILURE: {{ upstream.value.completed?.message }}
      } @else {
        -
      }
    </ya-attr>
  }
</ya-attr-list>
