<app-instance-page>
  <app-instance-toolbar>
    Send a command
  </app-instance-toolbar>

  <app-send-command-wizard-step step="2" />

  <div class="form-content">

    <dl class="dl-horizontal no-lead no-trail" *ngIf="command$ | async as command">
      <dt>Command</dt>
      <dd>{{ command.qualifiedName | shortName }}</dd>

      <dt>System</dt>
      <dd>{{ (command.qualifiedName | spaceSystemName) || '-' }}</dd>

      <ng-container *ngFor="let alias of command.alias">
        <dt>{{ alias.namespace }}</dt>
        <dd>{{ alias.name }}</dd>
      </ng-container>

      <ng-container *ngIf="command.longDescription || command.shortDescription">
        <ng-container *ngIf="command.longDescription">
          <dt>Description</dt>
          <dd>
            <app-markdown [text]="command.longDescription" />
          </dd>
        </ng-container>
        <ng-container *ngIf="!command.longDescription">
          <dt>Description</dt>
          <dd>
            {{ command.shortDescription || '-' }}
          </dd>
        </ng-container>
      </ng-container>

      <dt>Significance</dt>
      <dd>
        <ng-container *ngIf="command?.effectiveSignificance as significance; else dash">
          <app-significance-level [level]="significance.consequenceLevel" />
          &nbsp;&nbsp;{{ significance.reasonForWarning }}
        </ng-container>
      </dd>
    </dl>

    <ya-warning-message *ngIf="!(cleared$ | async)">
      You're not cleared to send this command
    </ya-warning-message>

    <ng-container *ngIf="command$ | async as command">
      <ng-container *ngIf="command.constraint">
        <p>&nbsp;</p>
        <h3>Constraints</h3>
        <table yaDataTable>
          <tr>
            <th>Constraint</th>
            <th>Timeout</th>
            <th>Live Evaluation</th>
          </tr>
          <tr *ngFor="let constraint of command.constraint">
            <td>{{ constraint.expression }}</td>
            <td>{{ constraint.timeout || '-' }}</td>
            <td>
              <span class="evaluation valid" *ngIf="(expr.result$ | async) === true">
                satisfied
              </span>
              <span class="evaluation invalid" *ngIf="(expr.result$ | async) === false">
                not satisfied
              </span>
              <app-live-expression #expr
                                   [expression]="constraint.expression"
                                   [style.display]="'none'" />
            </td>
          </tr>
        </table>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="commandForm.hasArguments$ | async">
      <p>&nbsp;</p>
      <h3>Arguments</h3>
    </ng-container>
    <app-command-form #commandForm [command]="command$ | async"
                      [templateProvider]="templateProvider$ | async" />
    <p>&nbsp;</p>
    <mat-toolbar>
      <button class="ya-button"
              (click)="goBack()">
        Cancel
      </button>
      <span style="flex: 1 1 auto"></span>
      <mat-slide-toggle *ngIf="config.twoStageCommanding"
                        [formControl]="armControl" color="primary">
        Arm
      </mat-slide-toggle>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="ya-button primary"
              [disabled]="(config.twoStageCommanding && !armControl.value) || !(cleared$ | async) || !commandForm.form.valid"
              (click)="sendCommand()">
        <mat-icon>send</mat-icon>
        Send
      </button>
      <ng-container *ngIf="showSchedule()">
        &nbsp;
        <ya-icon-action [matMenuTriggerFor]="((config.twoStageCommanding && !armControl.value) || !(cleared$ | async) || !commandForm.form.valid)?null:sendMenu"
                        icon="arrow_drop_down"
                        [padding]="false"
                        [disabled]="(config.twoStageCommanding && !armControl.value) || !(cleared$ | async) || !commandForm.form.valid"
                        style="line-height: 12px" />
        <mat-menu #sendMenu="matMenu"
                  class="ya-menu"
                  [overlapTrigger]="false">
          <button mat-menu-item (click)="sendCommand()">
            Send now
          </button>
          <button mat-menu-item (click)="openScheduleCommandDialog()">
            Send later...
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
  </div>
</app-instance-page>

<ng-template #dash>
  -
</ng-template>
