<ya-detail-pane>
  <ng-container *ngIf="selectedStreamData$ | async as selectedStreamData; else noSelection">
    <ya-detail-toolbar>
      Tuple
    </ya-detail-toolbar>
    <div style="padding: 0 16px">
      <app-stream-data [streamData]="selectedStreamData" />
    </div>
  </ng-container>
  <ng-template #noSelection>
    <ya-detail-toolbar>
      Select a tuple
    </ya-detail-toolbar>
  </ng-template>
</ya-detail-pane>
<div class="data-table-wrapper">
  <div class="panel-content">
    <table mat-table #table [dataSource]="dataSource" class="ya-data-table expand">

      <ng-container *ngFor="let column of (availableColumns$ | async)" [cdkColumnDef]="column">
        <th mat-header-cell *cdkHeaderCellDef>{{ column }}</th>
        <td mat-cell *cdkCellDef="let item">
          {{ (item.column | columnValue:column | value) || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *cdkHeaderCellDef class="expand"></th>
        <td mat-cell *cdkCellDef="let row"></td>
      </ng-container>

      <tr mat-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *cdkRowDef="let row; columns: displayedColumns;"
          [ngClass]="{selected: (row === (selectedStreamData$ | async))}"
          (click)="selectStreamData(row)"></tr>
    </table>
  </div>
</div>
