<app-instance-page>
  <app-instance-toolbar>Create band</app-instance-toolbar>

  <app-create-band-wizard-step step="2" />

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate autocomplete="off">
      <ya-field label="Label" hint="(required)">
        <input type="text" formControlName="name" />
      </ya-field>

      <ya-field label="Description" hint="(optional)">
        <textarea formControlName="description" rows="3"></textarea>
      </ya-field>

      <ng-container formGroupName="properties">
        <ya-field label="Timezone">
          <ya-timezone-select formControlName="timezone" />
        </ya-field>
      </ng-container>
    </form>
    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button routerLink="../.." [queryParams]="{ c: yamcs.context }">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-instance-page>
