@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html

$yamcs-blue: (
  50: #aec5d9,
  100: #9db9d1,
  200: #8bacc9,
  300: #7aa0c1,
  400: #6893b9,
  500: #5787b1,
  600: #4c7aa3,
  700: #446d91,
  800: #3b6080,
  900: #33536f,
  A100: #bfd2e2,
  A200: #d1deea,
  A400: #e2ebf2,
  A700: #2b465d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$app-primary: mat-palette($yamcs-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

body.dark-theme {
  @include angular-material-theme($dark-theme);
  @import 'dark-theme';

  background-color: #111;
}
