html, body {
  margin: 0;
  padding: 0;
}

/* Disable dashed border in menus etc. Only FF does this */

::-moz-focus-inner {
  border: 0;
}

body {
  background-color: #fff;
  /* Without this FF font are too crispy */
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.icon12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
}

.material-icons.icon14 {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
}

.material-icons.icon16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.material-icons.icon18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}

.material-icons.icon24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.material-icons.icon32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}

.material-icons.icon36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}

.material-icons.icon48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  padding: 24px;
}

.form-content {
  padding: 24px;
  max-width: 600px;
}

.form-content mat-toolbar {
  background-color: #fff;
  font-size: 12px;
  padding: 0;
}

.ya-data-table tr.mat-header-row {
  height: auto;
}

.ya-data-table tr.mat-row {
  height: auto;
}

.ya-data-table tr.mat-row:hover {
  background: #fafafa;
}

.ya-data-table td.mat-cell, .ya-data-table th.mat-cell, .ya-data-table-placeholder {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, .654);
  padding: 7px 8px 8px 0;
}

.ya-data-table td.vdiv, .ya-data-table th.vdiv {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

dd, dt {
  font-size: 12px;
  color: rgba(0, 0, 0, .654);
}

dt {
  font-weight: bold;
}

/*.ya-data-table-placeholder {
  border-bottom: 1.1px solid rgba(0, 0, 0, .08);
}*/

.ya-data-table th.mat-header-cell {
  padding-right: 8px;
}

.ya-data-table mat-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.ya-data-table .selected {
  background-color: #f0f4fd !important;
}

.ya-data-table .mat-button, .ya-data-table .mat-stroked-button, .ya-data-table .mat-raised-button {
  line-height: 16px;
  min-width: 0;
}

.ya-data-table .mat-button.icon {
  padding: 0;
  width: 30px;
}

.ya-data-table a, .ya-link a, a.ya-link {
  color: #5787b1;
  text-decoration: none;
}

.ya-data-table .mat-row:hover a:not(.secundary) {
  text-decoration: underline;
}

.ya-data-table a:hover, .ya-link a:hover, a.ya-link:hover {
  /*color: #1b61b9;*/
  text-decoration: underline;
}

.ya-data-table td.checkbox, .ya-data-table th.checkbox {
  width: 1px;
  text-align: left;
}

.ya-data-table td.status, .ya-data-table th.status, .ya-data-table td.iconcol, .ya-data-table th.iconcol {
  width: 1px;
  text-align: left;
}

.ya-data-table td.status .material-icons, .ya-data-table th.status .material-icons {
  vertical-align: middle;
}

.ya-data-table td:first-child, .ya-data-table th:first-child {
  padding-left: 8px !important;
}

.ya-data-table td:last-child, .ya-data-table th:last-child {
  padding-right: 8px !important;
}

.ya-data-table td.checkbox+td, .ya-data-table th.checkbox+th, .ya-data-table td.status+td, .ya-data-table th.status+th {
  padding-left: 4px;
}

.ya-data-table td:not(:first-child), .ya-data-table th:not(:first-child) {
  padding-left: 24px;
}

.ya-link a .material-icons, a.ya-link .material-icons {
  text-decoration: none !important;
}

a.ya-link.ya-header-link {
  color: inherit;
}

.ya-menu .mat-menu-item {
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  padding: 0 8px;
}

.ya-menu .mat-menu-item .material-icons {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
  margin-right: 3px;
  font-weight: 600;
}

.ya-menu.mat-menu-panel {
  min-height: 24px;
}

.ya-form label {
  margin: -3px 0 20px 0;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .02em;
  line-height: 12px;
  color: black;
  text-transform: inherit;
  cursor: default;
}

.ya-form label.invalid {
  color: crimson;
}

.ya-form label, .ya-form label input[type="text"], .ya-form input[type="number"], .ya-form label input[type="password"], .ya-form label textarea, .ya-form label select, .ya-form label .date-time-input {
  margin: 5px 0 0;
  display: block;
  width: 100%;
}

.ya-form input[type="text"], .ya-form input[type="number"], .ya-form input[type="password"], .ya-input {
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  padding: 0 7px 1px;
  box-sizing: border-box;
  outline: none;
}

.ya-form input[type="text"]:focus, .ya-form input[type="number"]:focus, .ya-form input[type="password"]:focus, .ya-input:focus, .ya-form textarea:focus {
  border-color: #5787b1;
}

.ng-invalid :not(.ng-pristine)>.date-time-input>input, .ng-invalid :not(.ng-pristine)>.binary-input>input {
  border-color: crimson !important;
}

.ya-form input[type="radio"] {
  margin-right: 10px;
  /*vertical-align: baseline;*/
}

.ya-form textarea {
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 400;
  padding: 0 7px 1px;
  box-sizing: border-box;
  outline: none;
}

.ya-form .error-message {
  color: crimson;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.ya-form .hint {
  color: grey;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
}

.ya-autocomplete .mat-option {
  height: auto;
  line-height: 16px;
  font-size: 12px;
}

.dl-horizontal {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

.dl-horizontal.no-lead {
  margin-top: 0;
}

.dl-horizontal.no-trail {
  margin-bottom: 0;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, .654);
}

.dl-horizontal dd {
  margin-left: 180px;
}

.dl-horizontal dd:after {
  clear: both;
}

.down {
  color: lightgrey;
}

.success {
  color: #00c752;
}

.warning, .WATCH td, .WARNING td {
  color: orange !important;
}

.alert, .ERROR td, .DISTRESS td, .CRITICAL td, .SEVERE td {
  color: crimson !important;
}

/*
 * Fix for scrollbar being invisible on Safari.
 * https://github.com/ajaxorg/ace/issues/2872
 */

.ace_scrollbar-inner {
  background-color: white;
  opacity: 0.01;
}

button.expandable {
  margin-left: 0.5em;
  padding: 0 8px;
}

.hide, .noDisplay {
  display: none;
}

.section-divider {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mat-toolbar.top {
  min-height: 48px;
}

.mat-toolbar.top .mat-toolbar-row {
  height: 48px;
  font-weight: 400;
}

button.ya-button {
  height: 24px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  outline: none;
  color: rgba(0, 0, 0, .75);
  margin: 0;
  border-radius: 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
  cursor: pointer;
}

button.ya-button:active {
  border-color: #bbb;
  color: rgba(0, 0, 0, .75);
  background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04))
}

button.ya-button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button.ya-button:disabled {
  /*color: rgba(0, 0, 0, .25);*/
  opacity: 0.6;
}

button.ya-button .material-icons {
  font-size: 14px;
  height: 14px;
  width: 14px;
  /*display: inline-flex;*/
  vertical-align: middle;
}

button.ya-button.primary {
  background-color: #222d4b;
  color: white;
  border-color: #5787b1;
}

.shake {
  animation: yshake 0.82s infinite cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.filter-bar {
  height: 24px;
  margin-bottom: 12px;
  display: flex;
}

.action-bar {
  padding-top: 16px;
}

.action-bar .ya-button, .mat-dialog-actions .ya-button, .filter-bar .date-time-input, .filter-bar .ya-button, .filter-bar .search-input {
  margin-right: 7px;
}

.spin {
  animation: yspin 2s infinite linear;
}

@keyframes yshake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes yspin {
  0% {
    -webkit-transform: rotate(0deg) scaleX(-1);
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    -webkit-transform: rotate(359deg) scaleX(-1);
    transform: rotate(359deg) scaleX(-1);
  }
}

.blink {
  animation: yblink 1s linear infinite;
}

@keyframes yblink {
  50% {
    opacity: 0;
  }
}

@media print {
  .mat-drawer, .mat-toolbar, button.expandable, .filter-bar {
    display: none !important;
  }
  .page-content, .mat-sidenav-container {
    position: static !important;
  }
  .mat-drawer-content {
    margin: 0 !important;
  }
  .panel-content {
    padding: 0;
  }
  .ya-data-table {
    width: auto !important;
  }
  * {
    overflow: visible !important;
  }
  .ya-data-table td.mat-cell, .ya-data-table th.mat-header-cell {
    padding: 0 7px 0 0;
    width: auto !important;
  }
}
