<div class="label">
  <div class="meta">
    <div class="item">aggregate</div>
  </div>

  {{ label }}
  <ya-help *ngIf="description">
    {{ description }}
  </ya-help>

  <div class="members" [formGroupName]="controlName">
    <div *ngFor="let member of type.member; index as i; first as isFirst"
         [ngSwitch]="member.type.engType"
         [style.paddingTop.px]="isFirst ? 0 : 5">

      <app-aggregate-argument *ngSwitchCase="'aggregate'"
                              [name]="member.name"
                              [type]="member.type"
                              [description]="member.shortDescription"
                              [initialValue]="memberInitialValues[i]" />

      <app-binary-argument *ngSwitchCase="'binary'"
                           [name]="member.name"
                           [type]="member.type"
                           [description]="member.shortDescription"
                           [formControlName]="member.name" />

      <app-boolean-argument *ngSwitchCase="'boolean'"
                            [name]="member.name"
                            [type]="member.type"
                            [description]="member.shortDescription"
                            [formControlName]="member.name" />

      <app-enumeration-argument *ngSwitchCase="'enumeration'"
                                [name]="member.name"
                                [type]="member.type"
                                [description]="member.shortDescription"
                                [formControlName]="member.name" />

      <app-float-argument *ngSwitchCase="'float'"
                          [name]="member.name"
                          [type]="member.type"
                          [description]="member.shortDescription"
                          [formControlName]="member.name" />

      <app-integer-argument *ngSwitchCase="'integer'"
                            [name]="member.name"
                            [type]="member.type"
                            [description]="member.shortDescription"
                            [formControlName]="member.name" />

      <app-string-argument *ngSwitchCase="'string'"
                           [name]="member.name"
                           [type]="member.type"
                           [description]="member.shortDescription"
                           [formControlName]="member.name" />

      <app-time-argument *ngSwitchCase="'time'"
                         [name]="member.name"
                         [type]="member.type"
                         [description]="member.shortDescription"
                         [formControlName]="member.name" />

      <app-array-argument *ngSwitchCase="member.type.engType.endsWith('[]') ? member.type.engType : ''"
                          [name]="member.name"
                          [type]="member.type"
                          [description]="member.shortDescription"
                          [initialValue]="memberInitialValues[i]" />
    </div>
  </div>
</div>
