<app-instance-page>
  <app-instance-toolbar> Send a command </app-instance-toolbar>
  <span #top></span>

  <app-send-command-wizard-step step="1" />

  @if (connectionInfo$ | async; as connectionInfo) {
    <div class="panel-content">
      <div [class.noDisplay]="!connectionInfo.processor?.hasCommanding">
        @if (breadcrumb$ | async; as breadcrumb) {
          @if (breadcrumb.length) {
            <div class="filter-bar">
              <ya-breadcrumb-trail>
                <ya-breadcrumb
                  link="/commanding/send"
                  [queryParams]="{ c: yamcs.context }"
                  icon="account_tree" />
                @for (item of breadcrumb; track item) {
                  <ya-breadcrumb
                    [link]="item.route"
                    [queryParams]="item.queryParams"
                    [label]="item.name" />
                }
              </ya-breadcrumb-trail>
            </div>
          }
        }
        <div class="filter-bar">
          <ya-search-filter
            [formControl]="filterControl"
            placeholder="Search by name"
            icon="search"
            (onArrowDown)="selectNext()"
            (onArrowUp)="selectPrevious()"
            (onEnter)="applySelection()" />
          <ya-column-chooser #columnChooser [columns]="columns" preferenceKey="sendCommand" />
        </div>
        @if (dataSource) {
          <table mat-table class="ya-data-table expand" [dataSource]="dataSource">
            <ng-container matColumnDef="significance">
              <th mat-header-cell *matHeaderCellDef>Significance</th>
              <td mat-cell *matCellDef="let item">
                @if (item.command?.effectiveSignificance; as significance) {
                  <app-significance-level [level]="significance.consequenceLevel" />
                } @else {
                  -
                }
              </td>
            </ng-container>
            <ng-container cdkColumnDef="name">
              <th mat-header-cell *cdkHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let item" class="primary-td">
                @if (item.system) {
                  <mat-icon class="icon12" style="vertical-align: middle">folder</mat-icon>
                  <a
                    routerLink="/commanding/send"
                    [queryParams]="{ c: yamcs.context, system: item.name }"
                    >{{ item.name | filename }}/
                  </a>
                }
                @if (item.command) {
                  <mat-icon class="icon12" style="vertical-align: middle">rss_feed</mat-icon>
                  <a
                    [routerLink]="'/commanding/send' + item.command.qualifiedName"
                    [queryParams]="{ c: yamcs.context }">
                    @if (!system) {
                      <ya-highlight
                        [text]="item.command.qualifiedName"
                        [term]="filterControl.value" />
                    }
                    @if (system) {
                      <ya-highlight
                        [text]="item.command.qualifiedName | slice: system!.length + 1"
                        [term]="filterControl.value" />
                    }
                  </a>
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="shortDescription">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let item" class="wrap400">
                @if (item.system) {
                  {{ item.system.shortDescription || "-" }}
                }
                @if (item.command) {
                  @if (item.command?.shortDescription; as desc) {
                    <ya-highlight [text]="desc" [term]="filterControl.value" />
                  } @else {
                    -
                  }
                }
              </td>
            </ng-container>
            @for (aliasColumn of aliasColumns$ | async; track aliasColumn) {
              <ng-container [matColumnDef]="aliasColumn.id">
                <th mat-header-cell *matHeaderCellDef>
                  {{ aliasColumn.label }}
                </th>
                <td mat-cell *matCellDef="let item">
                  @if (item.command | alias: aliasColumn.id; as name) {
                    <ya-highlight [text]="name" [term]="filterControl.value" />
                  } @else {
                    -
                  }
                </td>
              </ng-container>
            }
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="expand"></th>
              <td mat-cell *matCellDef="let row"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: columnChooser.displayedColumns$ | async"
              [class.selected]="selection.isSelected(row)"></tr>
          </table>
        }
        <mat-paginator
          [pageSize]="pageSize"
          [hidePageSize]="true"
          [showFirstLastButtons]="true"
          [length]="dataSource.totalSize$ | async" />
      </div>
      @if (!connectionInfo.processor?.hasCommanding) {
        <ya-empty-message headerTitle="Send a command">
          <p>
            You are connected to the
            @if (connectionInfo.processor?.replay) {
              replay
            }
            processor <strong>{{ connectionInfo.processor?.name }}</strong
            >.
          </p>
          <p>This processor does not support commanding.</p>
        </ya-empty-message>
      }
    </div>
  }
</app-instance-page>
