<app-instance-page>
  <app-instance-toolbar>Commands</app-instance-toolbar>
  <span #top></span>

  <div class="panel-content">
    <div class="filter-bar">
      <app-search-filter [formControl]="filterControl"
                         placeholder="Filter commands">
      </app-search-filter>
      <app-column-chooser #columnChooser
                          [columns]="columns"
                          preferenceKey="commands"></app-column-chooser>
    </div>

    <app-table-container>
      <table mat-table
             *ngIf="dataSource"
             class="ya-data-table"
             [dataSource]="dataSource">

        <ng-container matColumnDef="significance">
          <th mat-header-cell *matHeaderCellDef style="width: 1px">Significance</th>
          <td mat-cell *matCellDef="let command">
            <app-significance-level [level]="command.significance?.consequenceLevel"></app-significance-level>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="width: 400px">Name</th>
          <td mat-cell *matCellDef="let command">
            <a [routerLink]="['/mdb/commands', command.qualifiedName]"
               [queryParams]="{instance: instance}">
              {{ shortName ? command.name : command.qualifiedName }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="abstract">
          <th mat-header-cell *matHeaderCellDef>Abstract</th>
          <td mat-cell *matCellDef="let command">
            <mat-icon *ngIf="command.abstract">check</mat-icon>
            <mat-icon *ngIf="!command.abstract">close</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="shortDescription">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let command">{{ command.shortDescription || '-' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnChooser.displayedColumns$ | async"></tr>
        <tr mat-row *matRowDef="let row; columns: (columnChooser.displayedColumns$ | async);"></tr>
      </table>

      <mat-paginator [pageSize]="pageSize"
                     [hidePageSize]="true"
                     [showFirstLastButtons]="true"
                     [length]="dataSource.totalSize$ | async">
      </mat-paginator>
    </app-table-container>
  </div>
  <ng-template #empty>
    <div class="panel-content">
      The Mission Database for <i>{{ instance }}</i> does not define any commands.
    </div>
  </ng-template>
</app-instance-page>
