.breadcrumb {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 12px;
  margin-bottom: 24px;
}

.droparea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.droparea-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(27, 97, 185, 0.1);
  border: 1px solid rgba(27, 97, 185, 1);
  z-index: 10;
}

::ng-deep .progress-dialog .mat-dialog-container {
  box-shadow: none;
  padding: 0;
  overflow: hidden;
}

::ng-deep .progress-dialog .mat-dialog-content {
  overflow: hidden;
}
