<ya-instance-page>
  <ya-instance-toolbar label="Search results" />

  <ya-panel>
    @if (result$ | async; as result) {
      <div style="margin-bottom: 1em">
        Showing {{ result.resources.length }} of {{ result.totalSize }}
        @if (result.totalSize !== 1) {
          results
        } @else {
          result
        }
        for "{{ term$ | async }}".
      </div>
      @for (resource of result.resources; track resource) {
        <div>
          <mat-icon class="icon12" style="vertical-align: middle; margin-right: 4px">toll</mat-icon>
          <a class="ya-link" [routerLink]="resource.link" [queryParams]="{ c: yamcs.context }">
            {{ resource.label }}
          </a>
          <br />
        </div>
      }
      @if (result.resources.length) {
        <ya-toolbar appearance="bottom" align="center">
          <ya-button [disabled]="!result.continuationToken" (click)="loadMoreData()">
            Load more
          </ya-button>
        </ya-toolbar>
      }
    }
  </ya-panel>
</ya-instance-page>
