<ya-attr-list>
  @if (alarm.type === "PARAMETER") {
    <ya-attr label="Parameter">
      <a
        [routerLink]="'/telemetry/parameters/' + alarm.id.namespace! + '/' + alarm.id.name"
        [queryParams]="{ c: yamcs.context }"
        class="ya-link">
        {{ alarm.id.namespace }}/{{ alarm.id.name }}
      </a>
    </ya-attr>
  }

  @if (alarm.type === "EVENT") {
    <ya-attr label="Event">
      @if (alarm.id.name) {
        {{ alarm.id.namespace }}/{{ alarm.id.name }}
      } @else {
        {{ alarm.id.namespace }}
      }
    </ya-attr>
  }

  <ya-attr label="Severity">
    <ya-alarm-level [level]="alarm.severity" />
    {{ alarm.severity }}
  </ya-attr>

  <ya-attr label="Violations">
    {{ alarm.violations | number }}
  </ya-attr>

  @if (alarm.parameterDetail; as parameterDetail) {
    <ya-attr-divider />
    <ya-attr label="Trigger value">
      <ya-alarm-level [level]="alarm.severity" [grayscale]="true" />
      &nbsp;{{ parameterDetail.triggerValue.engValue | value }}
      @if (parameterDetail.triggerValue.rangeCondition === "LOW") {
        <span>&#8595;</span>
      } @else if (parameterDetail.triggerValue.rangeCondition === "HIGH") {
        <span>&#8593;</span>
      }
    </ya-attr>

    <ya-attr-divider />
    <ya-attr label="Live value">
      <ya-parameter-status [pval]="parameterDetail.currentValue">
        <ya-alarm-level
          [level]="parameterDetail.currentValue.monitoringResult"
          [grayscale]="true" />
        &nbsp;{{ parameterDetail.currentValue.engValue | value }}
      </ya-parameter-status>
    </ya-attr>
  }

  @if (alarm.eventDetail; as eventDetail) {
    <ya-attr-divider />
    <ya-attr label="Trigger event">
      {{ eventDetail.triggerEvent.message }}
    </ya-attr>
  }

  @if (alarm.acknowledgeInfo) {
    <ya-attr-divider />
    <ya-attr>
      <ng-template ya-attr-label>
        Acknowledged by {{ alarm.acknowledgeInfo.acknowledgedBy }}
      </ng-template>

      On {{ alarm.acknowledgeInfo.acknowledgeTime | datetime }}
      @if (alarm.acknowledgeInfo.acknowledgeMessage) {
        <blockquote style="border-left: 4px solid #eee; padding-left: 1em; font-style: italic">
          {{ alarm.acknowledgeInfo.acknowledgeMessage }}
        </blockquote>
      }
    </ya-attr>
  }

  @if (alarm.shelveInfo; as shelveInfo) {
    <ya-attr-divider />
    <ya-attr>
      <ng-template ya-attr-label>Shelved by {{ shelveInfo.shelvedBy }}</ng-template>

      On {{ shelveInfo.shelveTime | datetime }}
      @if (shelveInfo.shelveMessage) {
        <blockquote style="border-left: 4px solid #eee; padding-left: 1em; font-style: italic">
          {{ shelveInfo.shelveMessage }}
        </blockquote>
      }
    </ya-attr>

    @if (shelveInfo.shelveExpiration) {
      <ya-attr label="Shelve expiration">
        {{ shelveInfo.shelveExpiration | datetime }}
      </ya-attr>
    }
  }
</ya-attr-list>

@if (mayControl && !alarm.readonly) {
  <ya-toolbar appearance="bottom">
    @if (!alarm.shelveInfo && !alarm.acknowledged) {
      <ya-button (click)="acknowledgeAlarm.emit(alarm)" icon="notifications_off">
        ACKNOWLEDGE
      </ya-button>
    }
    @if (!alarm.shelveInfo) {
      <ya-button (click)="shelveAlarm.emit(alarm)" icon="timer">SHELVE</ya-button>
    }
    @if (alarm.shelveInfo) {
      <ya-button (click)="unshelveAlarm.emit(alarm)" icon="timer_off">UNSHELVE</ya-button>
    }
    <ya-button (click)="clearAlarm.emit(alarm)" icon="clear_all">CLEAR</ya-button>
  </ya-toolbar>
}
