html, body {
  margin: 0;
  padding: 0;
}

.material-icons.icon12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
}
.material-icons.icon14 {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
}
.material-icons.icon16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}
.material-icons.icon18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.material-icons.icon24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.material-icons.icon32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}
.material-icons.icon36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}
.material-icons.icon48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  padding: 24px;
}

.ya-data-table mat-header-row {
  min-height: 0;
}

.ya-data-table mat-row:hover {
  background: #fafafa;
}

.ya-data-table mat-row {
  min-height: 0;
}

.ya-data-table mat-cell {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, .654);
  padding: 7px 0 8px 0;
}

.ya-data-table mat-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.ya-data-table .mat-button, .ya-data-table .mat-stroked-button {
  line-height: 16px;
  min-width: 0;
}

.ya-data-table a, .ya-link a, a.ya-link {
  color: #1b61b9;
  text-decoration: none;
}

.ya-data-table mat-row:hover a {
  text-decoration: underline;
}

.ya-data-table a:hover, .ya-link a:hover, a.ya-link:hover {
  /*color: #1b61b9;*/
  text-decoration: underline;
}

.ya-link a .material-icons, a.ya-link .material-icons {
  text-decoration: none !important;
}

a.ya-link.ya-header-link {
  color: inherit;
}

.ya-menu .mat-menu-item {
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  padding: 0 8px;
}

.ya-menu .mat-menu-item .material-icons {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
  margin-right: 3px;
  font-weight: 600;
}

.vmiddle {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.dl-horizontal {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

.dl-horizontal.no-lead {
  margin-top: 0;
}

.dl-horizontal.no-trail {
  margin-bottom: 0;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, .654);
}

.dl-horizontal dd {
  margin-left: 180px;
}

.dl-horizontal dd:after {
  clear: both;
}

.down {
  color: lightgrey;
}

.success {
  color: green;
}

.warning, .WATCH mat-cell, .WARNING mat-cell {
  color: orange !important;
}

.alert, .ERROR mat-cell, .DISTRESS mat-cell, .CRITICAL mat-cell, .SEVERE mat-cell {
  color: red !important;
}
