html, body {
  margin: 0;
  padding: 0;
}

/* Disable dashed border in menus etc. Only FF does this */
::-moz-focus-inner {
  border:0;
}

body {
  background-color: #fff;

  /* Without this FF font are too crispy */
  -moz-osx-font-smoothing: grayscale;
}

.material-icons.icon12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
}
.material-icons.icon14 {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
}
.material-icons.icon16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}
.material-icons.icon18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
}
.material-icons.icon24 {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
.material-icons.icon32 {
  font-size: 32px !important;
  height: 32px !important;
  width: 32px !important;
}
.material-icons.icon36 {
  font-size: 36px !important;
  height: 36px !important;
  width: 36px !important;
}
.material-icons.icon48 {
  font-size: 48px !important;
  height: 48px !important;
  width: 48px !important;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  padding: 24px;
}

.ya-data-table tr.mat-header-row {
  height: auto;
}

.ya-data-table tr.mat-row {
  height: auto;
}

.ya-data-table tr.mat-row:hover {
  background: #fafafa;
}

.ya-data-table td.mat-cell, .ya-data-table th.mat-cell {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, .654);
  padding: 7px 0 8px 0;
}

.ya-data-table mat-icon {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.ya-data-table .selected {
  background-color: #f0f4fd !important;
}

.ya-data-table .mat-button, .ya-data-table .mat-stroked-button {
  line-height: 16px;
  min-width: 0;
}

.ya-data-table a, .ya-link a, a.ya-link {
  color: #1b61b9;
  text-decoration: none;
}

.ya-data-table .mat-row:hover a {
  text-decoration: underline;
}

.ya-data-table a:hover, .ya-link a:hover, a.ya-link:hover {
  /*color: #1b61b9;*/
  text-decoration: underline;
}

.ya-link a .material-icons, a.ya-link .material-icons {
  text-decoration: none !important;
}

a.ya-link.ya-header-link {
  color: inherit;
}

.ya-menu .mat-menu-item {
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  padding: 0 8px;
}

.ya-menu .mat-menu-item .material-icons {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
  margin-right: 3px;
  font-weight: 600;
}

.ya-form label {
  margin: -3px 0 20px 0;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: .02em;
  line-height: 12px;
  color: black;
  text-transform: inherit;
  cursor: default;
}

.ya-form label.invalid {
  color: crimson;
}

.ya-form label,
.ya-form label input[type="text"],
.ya-form label textarea,
.ya-form label select {
  margin: 5px 0 0;
  display: block;
  width: 100%;
}

.ya-form input[type="text"] {
  background: white;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  padding: 0 7px 1px;
}

/*.ya-form input[type="radio"] {
  vertical-align: baseline;
}*/

.ya-form .error-message {
  color: crimson;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.ya-form .hint {
  color: grey;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: normal;
}

.ya-autocomplete .mat-option {
  height: auto;
  line-height: 16px;
  font-size: 12px;
}

.vmiddle {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.dl-horizontal {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

.dl-horizontal.no-lead {
  margin-top: 0;
}

.dl-horizontal.no-trail {
  margin-bottom: 0;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(0, 0, 0, .654);
}

.dl-horizontal dd {
  margin-left: 180px;
}

.dl-horizontal dd:after {
  clear: both;
}

.down {
  color: lightgrey;
}

.success {
  color: green;
}

.warning, .WATCH td, .WARNING td {
  color: orange !important;
}

.alert, .ERROR td, .DISTRESS td, .CRITICAL td, .SEVERE td {
  color: red !important;
}

/*
 * Fix for scrollbar being invisible on Safari.
 * https://github.com/ajaxorg/ace/issues/2872
 */
.ace_scrollbar-inner {
  background-color: white;
  opacity: 0.01;
}
