<div class="container">
    <h1 class="page-header"> {{vm.title}}</h1>
    <p>&nbsp;</p>
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-bottom:5px;">
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="section">
                <h2> The links </h2>
            </div>
            <div class="container">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th> #</th>
                        <th> Name </th>
                        <th> Instance</th>
                        <th> Type</th>
                        <th> Spec</th>
                        <th> Stream</th>
                        <th> Disabled</th>
                        <th> Status</th>
                        <th> Data Count</th>
                        <th> Detailed</th>
                        <th> Change status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="link in vm.active_links">
                        <th>{{$index}}</th>
                        <td>{{ link.name}}</td>
                        <td>{{ link.instance}} </td>
                        <td>{{ link.type}} </td>
                        <td>{{ link.spec}} </td>
                        <td>{{ link.stream}} </td>
                        <td>{{ link.disabled}}  </td>
                        <td ng-class="{'highlight-light':link.highlight==true, 'highlight-dark':link.highlight==false}">{{ link.status}}</td>
                        <td>{{ link.dataCount}} </td>
                        <td>{{ link.detailedStatus}} </td>
                        <td><button class="btn btn-default" ng-click="vm.patchLink(link.name, link.status)">CHANGE</button></td>
            
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>