<h2 mat-dialog-title>Rename stack</h2>

<mat-dialog-content>
  <form [formGroup]="filenameForm" class="ya-form">
    <label [class.invalid]="filenameForm.get('name')?.invalid">
      Name
      <input #filename type="text" formControlName="name" />
    </label>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>CANCEL</ya-button>
  <ya-button appearance="primary" (click)="rename()" [disabled]="!filenameForm.valid">
    RENAME
  </ya-button>
</mat-dialog-actions>
