.meter-size-constrainer {
  display: inline-block;
  width: 160px;
  position: relative;
}

.dl-horizontal dt {
  text-align: left;
}

span.pval {
  font-size: 16px;
  line-height: 20px;
  margin: -8px 0 16px;
  bottom: -5px;
  color: rgba(0, 0, 0, .987);
  font-weight: 400;
}

.pval-frame {
  display: inline-block;
  min-width: 412px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.pval-frame .header {
  border-bottom: 1px solid #d3d3d3;
  height: 64px;
  line-height: 64px;
  padding-left: 24px;
  position: relative;
}

.pval-frame .header .action {
  position: absolute;
  top: 0;
  right: 0;
}

.pval-frame .body {
  padding: 24px;
}

.mat-icon.unchecked {
  visibility: hidden;
}
