.hl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b61b9;
  opacity: 0;
}

a.subitem, a.subitem .hl {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

a.subitem.mat-list-item {
  height: 32px;
}

.link-active .hl {
  opacity: 0.1;
}

:host:focus {
  outline: none;
}

a {
  color: rgba(0, 0, 0, .654) !important;
}

::ng-deep .item-icon {
  padding-right: 16px;
}

::ng-deep .item-icon.material-icons {
  font-size: 18px !important;
  height: 24px !important;
  width: 24px !important;
  line-height: 24px;
  text-align: center;
}
