<ya-instance-page>
  <ya-instance-toolbar label="Create band" />

  <app-create-band-wizard-step step="2" />

  <ya-form-content>
    <form [formGroup]="form" novalidate autocomplete="off">
      <ya-field label="Label" hint="(required)">
        <input type="text" formControlName="name" />
      </ya-field>

      <ya-field label="Description" hint="(optional)">
        <textarea formControlName="description" rows="3"></textarea>
      </ya-field>

      <ya-field label="Tags">
        <ya-tag-select formControlName="tags" />
      </ya-field>

      <ya-field-divider />

      <h4>Styles</h4>
      <app-item-band-styles [form]="form" />
    </form>

    <p>&nbsp;</p>
    <ya-toolbar appearance="bottom">
      <ya-button routerLink="../.." [queryParams]="{ c: yamcs.context }">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </ya-toolbar>
  </ya-form-content>
</ya-instance-page>
