<app-instance-page>
  <app-instance-toolbar>Create band</app-instance-toolbar>

  <app-create-band-wizard-step step="2" />

  <div class="form-content ya-form">
    <form [formGroup]="form" novalidate autocomplete="off">
      <label>
        Label
        <span class="hint">(required)</span>
        <br />
        <input type="text" formControlName="name" />
      </label>
      <br />
      <label>
        Description
        <span class="hint">(optional)</span>
        <br />
        <textarea formControlName="description" rows="3"></textarea>
      </label>
      <br />
      <label>
        Tags
        <br />
        <ya-tag-select formControlName="tags" />
      </label>

      <br />
      <div class="section-divider">
        <mat-divider />
      </div>

      <h4>Styles</h4>
      <app-item-band-styles [form]="form" />
    </form>
    <p>&nbsp;</p>
    <div class="action-bar">
      <ya-button routerLink="../.." [queryParams]="{ c: yamcs.context }">Cancel</ya-button>
      <ya-button appearance="primary" (click)="onConfirm()" [disabled]="!form.valid">
        CREATE
      </ya-button>
    </div>
  </div>
</app-instance-page>
