<form [formGroup]="form">
  <table class="style-table" yaSimpleTable formGroupName="properties">
    <tr>
      <td class="property">
        Frozen
        <ya-help dialogTitle="Frozen">
          Fix this line to the top of the view. Frozen bands are always rendered above other bands.
        </ya-help>
      </td>
      <td class="widget">
        <mat-slide-toggle formControlName="frozen" />
      </td>
    </tr>
    <tr>
      <td class="property">
        Multiline
        <ya-help dialogTitle="Multiline">
          Draw items on multiple lines if otherwise there would be collisions.
        </ya-help>
      </td>
      <td class="widget">
        <mat-slide-toggle formControlName="multiline" />
      </td>
    </tr>
    <tr>
      <td class="property">
        Space Between Lines
        <ya-help dialogTitle="Space Between Lines">
          In case of multilining, this indicates the vertical space between lines.
        </ya-help>
      </td>
      <td class="widget">
        <input type="number" formControlName="spaceBetweenLines" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">
        Space Between Items
        <ya-help dialogTitle="Space Between Items">
          In case of multilining, this indicates the minimum horizontal space between items. If an
          item does not meet this treshold, it gets rendered on a different line.
        </ya-help>
      </td>
      <td class="widget">
        <input type="number" formControlName="spaceBetweenItems" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Margin Top</td>
      <td class="widget">
        <input type="number" formControlName="marginTop" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Margin Bottom</td>
      <td class="widget">
        <input type="number" formControlName="marginBottom" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Height</td>
      <td class="widget">
        <input type="number" formControlName="itemHeight" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Background Color</td>
      <td class="widget">
        <input type="color" formControlName="itemBackgroundColor" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Text Color</td>
      <td class="widget">
        <input type="color" formControlName="itemTextColor" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Text Overflow</td>
      <td class="widget">
        <ya-select [options]="itemTextOverflowOptions" formControlName="itemTextOverflow" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Text Size</td>
      <td class="widget">
        <input type="number" formControlName="itemTextSize" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Margin Left</td>
      <td class="widget">
        <input type="number" formControlName="itemMarginLeft" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Border Color</td>
      <td class="widget">
        <input type="color" formControlName="itemBorderColor" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Border Width</td>
      <td class="widget">
        <input type="number" formControlName="itemBorderWidth" style="width: 100px" min="0" />
      </td>
    </tr>
    <tr>
      <td class="property">Item Corner Radius</td>
      <td class="widget">
        <input type="number" formControlName="itemCornerRadius" style="width: 100px" min="0" />
      </td>
    </tr>
  </table>
</form>
