@if (initialized$ | async) {
  @if (viewer.model$ | async; as model) {
    @if (mayManageDisplays()) {
      <button
        mat-button
        color="primary"
        [disabled]="!(viewer.hasUnsavedChanges$ | async)"
        (click)="save()">
        <mat-icon>save</mat-icon>
        SAVE
      </button>
    }
    @if (!(viewer.paused$ | async)) {
      <button mat-button color="primary" (click)="viewer.pause()" matTooltip="Pause value updates">
        <mat-icon>pause</mat-icon>
        PAUSE
      </button>
    }
    @if (viewer.paused$ | async) {
      <button
        mat-button
        color="primary"
        (click)="viewer.unpause()"
        matTooltip="Unpause value updates">
        <mat-icon>play_arrow</mat-icon>
        UNPAUSE
      </button>
    }
    <button mat-button color="primary" (click)="addParameter()">
      <mat-icon>playlist_add</mat-icon>
      ADD
    </button>
    @if (!model.scroll) {
      <button
        mat-button
        color="primary"
        (click)="viewer.delete()"
        [disabled]="viewer.selection.isEmpty()">
        <mat-icon>delete</mat-icon>
        DELETE
      </button>
    }
    @if (!model.scroll) {
      <button mat-button color="primary" (click)="viewer.enableScrollView()">
        <mat-icon style="transform: rotate(90deg)">view_headline</mat-icon>
        SCROLL VIEW
      </button>
    }
    @if (model.scroll) {
      <button mat-button color="primary" (click)="viewer.enableStandardView()">
        <mat-icon>view_headline</mat-icon>
        STANDARD VIEW
      </button>
    }
    <mat-menu #moreMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item [disabled]="!model.parameters.length" (click)="exportArchiveData()">
        Export archive data...
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
  }
}
