@if (initialized$ | async) {
  @if (viewer.model$ | async; as model) {
    @if (mayManageDisplays()) {
      <ya-page-button
        [disabled]="!(viewer.hasUnsavedChanges$ | async)"
        (click)="save()"
        icon="save">
        SAVE
      </ya-page-button>
    }
    @if (!(viewer.paused$ | async)) {
      <ya-page-button (click)="viewer.pause()" matTooltip="Pause value updates" icon="pause">
        PAUSE
      </ya-page-button>
    }
    @if (viewer.paused$ | async) {
      <ya-page-button
        (click)="viewer.unpause()"
        matTooltip="Unpause value updates"
        icon="play_arrow">
        UNPAUSE
      </ya-page-button>
    }
    <ya-page-button (click)="addParameter()" icon="playlist_add">ADD</ya-page-button>
    @if (!model.scroll) {
      <ya-page-button
        (click)="viewer.delete()"
        [disabled]="viewer.selection.isEmpty()"
        icon="delete">
        DELETE
      </ya-page-button>
    }
    @if (!model.scroll) {
      <ya-page-button (click)="viewer.enableScrollView()" icon="view_headline" iconRotate90="true">
        SCROLL VIEW
      </ya-page-button>
    }
    @if (model.scroll) {
      <ya-page-button (click)="viewer.enableStandardView()" icon="view_headline">
        STANDARD VIEW
      </ya-page-button>
    }
    <mat-menu #moreMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item [disabled]="!model.parameters.length" (click)="exportArchiveData()">
        Export archive data...
      </button>
    </mat-menu>
    <ya-page-button
      [matMenuTriggerFor]="moreMenu"
      (click)="$event.stopPropagation()"
      icon="more_vert" />
  }
}
