<ng-container *ngFor="let column of table.keyColumn">
  <div class="block-title">
    <mat-icon class="icon12" style="color: gold;" matTooltip="Key Column">vpn_key</mat-icon>
    {{ column.name }}
  </div>
  <div class="block">
    {{ (record.column | columnValue:column.name | value) || '-' }}
  </div>
</ng-container>

<ng-container *ngFor="let column of table.valueColumn">
  <div class="block-title">{{ column.name }}</div>
  <div class="block">
    <ng-container
                  *ngIf="column.type !== 'BINARY' &&
                        (column.type === 'PROTOBUF(com.google.protobuf.Struct)' || !column.type.startsWith('PROTOBUF'))">
      {{ (record.column | columnValue:column.name | value) || '-' }}
    </ng-container>
    <ng-container
                  *ngIf="column.type === 'BINARY' ||
                         (column.type !== 'PROTOBUF(com.google.protobuf.Struct)' && column.type.startsWith('PROTOBUF'))">
      <ng-container *ngIf="(record.column | columnValue:column.name) as value; else dash">
        <app-hex [base64String]="value.binaryValue" />
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<p>&nbsp;</p>

<ng-template #dash>-</ng-template>
