.table-wrapper {
  position: relative;
  overflow: auto;
  height: 100%;
}

.mat-row {
  cursor: pointer;
}

h6 {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 0;
  padding-top: 1em;
  margin: 0;
}

.block {
  font-weight: normal;
  font-size: 12px;
}

.step {
  margin-right: 8px;
}

.step.mat-icon {
  font-size: 14px !important;
  vertical-align: middle;
}
