<h2 mat-dialog-title>Create task</h2>

<mat-dialog-content>
  <ya-form [formGroup]="form">
    <div style="margin-top: 1em">
      <ya-field label="Title">
        <input cdkFocusRegionstart type="text" formControlName="name" />
      </ya-field>

      <ya-field label="Planned start">
        <ya-date-time-input formControlName="start" />
      </ya-field>

      <ya-slide-toggle formControlName="autoStart">Start automatically</ya-slide-toggle>

      <ya-field-divider />

      <ya-field label="Expected duration" hint="(optional)">
        <ya-duration-input formControlName="duration" />
      </ya-field>

      <ya-field label="Tags" hint="(optional)">
        <ya-help dialogTitle="Tags">
          Tags allow to categorise items per band. Bands only show items for which one of the tags
          is matching.
        </ya-help>
        <ya-tag-select formControlName="tags" />
      </ya-field>
    </div>
  </ya-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <ya-button mat-dialog-close>Cancel</ya-button>
  <ya-button appearance="primary" (click)="save()" [disabled]="!form.valid">Save</ya-button>
</mat-dialog-actions>
