.card-list-container {
  max-width: 1500px;
  margin: auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.card {
  display: inline-flex;
  flex-direction: column;
}

.card .mat-card {
  width: 300px;
  height: 500px;
  margin: 8px;
  position: relative;
  overflow: hidden;
}

.card.big .mat-card {
  width: 996px;
}

.card .mat-card .table-wrapper {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

.card .mat-card .fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 255));
}

.card .mat-card .actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  border-top: 1px solid #d3d3d3;
}
