name: Code Quality

on:
  push:
    branches:
      - master

jobs:
  sonar:
    name: Sonar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Scan code
        run: mvn -B --no-transfer-progress -Dsurefire.useFile=false -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=yamcs -Dsonar.projectKey=yamcs org.jacoco:jacoco-maven-plugin:prepare-agent verify sonar:sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
           name: hs_err_pid
           path: yamcs-core/hs_err*
