<mat-table [dataSource]="dataSource">
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>Message</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      {{ row.message }}
    </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="elapsed">
    <mat-header-cell *cdkHeaderCellDef>
      abc
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      def
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
  [length]="events.length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
