<div class="row">
  <div class="col-md-12">
    <div class="row" style="cursor: pointer; border-top: 1px solid #ddd;" ng-click="alarm.expanded = !alarm.expanded">
      <div class="col-md-3">
        <span ng-if="alarm.urgent" class="glyphicon glyphicon-flag" style="color: #c9302c"></span>
        <strong><a href="/{{ yamcsInstance }}/mdb{{ alarm.triggerValue.id.name }}" class="subtle">{{ alarm.triggerValue.id.name | name }}</a> out of limits</strong>
        <img ng-src="/_static/_site/alarms/images/level{{ alarm.mostSevereLevel }}.png" uib-tooltip="{{ alarm.mostSevereValue.monitoringResult | monitoringValue }}"><br>
        <small>{{ alarm.triggerValue.id.name | spaceSystem }}</small>
      </div>

      <div class="col-md-4">
        <small>{{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty' }} &ndash;
        {{ alarm.currentValue.generationTimeUTC | parseUTC | formatDate:'pretty' }}</small>
      </div>

      <div class="col-md-4">
        <div ng-if="alarm.acknowledgeInfo">
          Acknowledged on {{ alarm.acknowledgeInfo.acknowledgeTimeUTC | parseUTC | formatDate:'pretty' }}
        </div>
        <span ng-if="!alarm.acknowledgeInfo"><i>Unacknowledged</i></span>
      </div>

      <div class="col-md-1 text-right">
        {{ (alarm.triggerValue.generationTimeUTC | parseUTC).fromNow() }}
      </div>
    </div>

    <div class="row" uib-collapse="toggleable && !alarm.expanded" ng-class="{ 'no-animate': !toggleable }">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <dl class="dl-horizontal">
          <dt>Activation Level</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.triggerLevel }}.png" uib-tooltip="{{ alarm.triggerValue.monitoringResult | monitoringValue }}">
            <small>
              Reached {{ alarm.triggerValue.generationTimeUTC | parseUTC | formatDate:'pretty' }}
              with {{ alarm.triggerValue | stringValue }}<span ng-bind-html="alarm.triggerValue.monitoringResult | lohi"></span>
            </small>
          </dd>

          <dt>Highest Level</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.mostSevereLevel }}.png" uib-tooltip="{{ alarm.mostSevereValue.monitoringResult | monitoringValue }}">
            <small>
              Reached {{ alarm.mostSevereValue.generationTimeUTC | parseUTC | formatDate:'pretty' }}
              with {{ alarm.mostSevereValue | stringValue }}<span ng-bind-html="alarm.mostSevereValue.monitoringResult | lohi"></span>
            </small>
          </dd>

          <dt>Last Record</dt>
          <dd>
            <img ng-src="/_static/_site/alarms/images/level{{ alarm.currentLevel }}.png" uib-tooltip="{{ alarm.currentValue.monitoringResult | monitoringValue }}">
            <small>
              {{ alarm.currentValue | stringValue }}<span ng-bind-html="alarm.currentValue.monitoringResult | lohi"></span>
              on {{ alarm.currentValue.generationTimeUTC | parseUTC | formatDate:'pretty' }}
            </small>
          </dd>
        </dl>
      </div>
      <div class="col-md-5" ng-if="!toggleable && !alarm.acknowledgeInfo">
        <button class="btn btn-default" type="button" ng-click="openAcknowledge(alarm)">Acknowledge</button>
      </div>
    </div>
  </div>
</div>
